[2018-02-03 00:43] #268 closed

[2018-02-03 00:44] Eilon commented on #273
@georgiosd can you provide more info on what you'd like help with?

[2018-02-03 00:45] jbagga commented on #286
Reverted for now: https://github.com/aspnet/templating/pull/294.
We will keep an eye on these (and skip again) and investigate if required.

[2018-02-03 00:47] Eilon commented on #274
@SteveSandersonMS thoughts?

[2018-02-03 00:54] Eilon commented on #276
Let's remove all the BOMs from all the JSON files in this repo.

@jbagga can you also log a bug in VS (talk to our Web Tooling friends to find out where) to check any JSON files that are part of VS templates that aren't in this repo>

[2018-02-03 00:58] Eilon commented on #276
We should also add a test for this repo that checks that all our content JSON files don't have a BOM in them. Need to figure out how to figure out how to find

[2018-02-03 00:59] Eilon commented on #276
how to figure out which JSON files we should scan. Something like `content/**/*.json` in MSBuild terms.

[2018-02-03 01:28] javiercn opened #295 "sslPort in IIS settings is not set correctly when creating the templates through visual studio"
@DamianEdwards can you fill in the details about the build you were trying out?

@phenning I spoke to @mlorbetske about this and he mentioned that all the logic for checking for available ports is already present on the templating engine so we don't really need to pass in any port to VS and we can get rid of all the ports in the vs2017.3-host.json.

Can you help me try this out? I can make the cha

[2018-02-03 15:28] peterblazejewicz commented on #290
Just for the records, to myself:

- create a project (`dotnet new mvc`)
- init a repo (no .gitignore, I'm the junior) and initialize (`git init && git add . && git commit -m'Initial commit')

- I build and run a project
[code]
- so I end with debug/binary content added to repo:
[code]

Also just for records: is that behaviour aligned with TFS default behavior (if no `.tfIgnore` is added):
https://

[2018-02-03 15:46] peterblazejewicz commented on #292
Yes, the error is delivered, but we could do better. At the moment it starts on the very edge of the viewport.
I think people don't print (or kindle) books with text spanning from the very edge of the page, the same we do on the web:
https://www.smashingmagazine.com/2009/09/10-useful-usability-findings-and-guidelines/

To be more academic:
http://www.humanfactors.com/newsletters/yeah_but_can_you_g

[2018-02-03 15:58] peterblazejewicz commented on #278
I'm aware of this:
https://github.com/peterblazejewicz/aspnet-5-bootstrap-4
I'll update the content. Thanks!

[2018-02-03 17:06] peterblazejewicz opened #298 "Introduce subresource integrity tokens for production resources"
They are there to improve security and creditability of resources:
https://www.w3.org/TR/SRI/
Current:
[code]
Expected:
[code]

I understand the `ajax.aspnetcdn.com` status can be important player here.

Thanks!

[2018-02-03 21:32] kakins opened #299 "How do I re-run webpack?"
First, my apologies as I'm pretty new to the node/webpack world.  I've added a .css file to my configuration, and I'd like to reload the bundle.

I've gone through some other tutorials and it's hard to get a clear answer for re-running webpack.

I added the following as a script in the package.json:
`"wbp" : 'npm run webpack --config webpack.config.vendor.js"
`

Then I just run the following from

[2018-02-04 09:01] peterblazejewicz commented on #292
And that mostly valid for:
- SPA templates - there is no page layout which adds the white space, so when the error hit in production mode the content is rendered without white space
- MVC templates, when there is an problem with rendering template for some reason - usually in MVC templates the error page is used with layout, which has white space, but on some (one I've done a screenshot) it render

[2018-02-04 15:06] peterblazejewicz commented on #299
Which SPA template you're stuck with?

[2018-02-05 18:12] muratg opened #302 "Vue CLI SPA Template"
_From @jarrodldavis on February 5, 2018 0:19_

Hello ASP.NET Team,

I'd like to work on updating the [existing Vue SPA template] to use the new `3.0` version of [`@vue/cli`].

Before I just jumped in, I had some questions:

- Does updating this template align with your roadmap? If so, what release should I target for/when should I start? I would assume at the very least once `@vue/cli` releases a

[2018-02-05 18:12] muratg commented on #302
cc @SteveSandersonMS

[2018-02-05 20:47] peterblazejewicz opened #305 "Consider adding [Display(Prompt="...")] attribute to show how to include placeholders in form inputs"
It appears (I could be wrong about this), that Razor samples come without using placeholders for form inputs.
Using them could be beneficial for various reason,
Based on sample expected markup from this pending issue:
https://github.com/aspnet/templating/issues/106
the changes could be as simple as:

[code]
Thanks!

[2018-02-05 21:02] peterblazejewicz opened #306 "Use action specific call-to-action label for forgot password form"
The form bears a generic 'Submit' button, while most of the others (or all) have action-specific call to user (Log In, Register, etc)

![image](https://user-images.githubusercontent.com/14539/35828413-adb3a2a2-0abf-11e8-90b8-4458d84b9979.png)

It could be labelled as `Reset Password` to comply with docs section:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?tabs=a

[2018-02-05 21:15] Eilon commented on #305
Given that the template UI has labels outside of each textbox, I'm not sure this adds much value.

[2018-02-05 21:15] #305 closed

[2018-02-05 21:29] peterblazejewicz commented on #305
Yes, I understand. I think the added value is most user have a problem on how to add placeholder (in ASP MVC pattern) and to follow good practises, otherwise the same can be said about any docs/template:
http://getbootstrap.com/docs/4.0/components/forms/
I just though it could be useful, the docs are not discussing the topic:
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro

[2018-02-05 21:33] Eilon commented on #305
@peterblazejewicz understood, but the templates are not meant to be a way of showing features; rather, it's meant as a way to include a useful piece of functionality to get apps up and running quickly.

[2018-02-05 22:45] jbagga commented on #286
@ryanbrandenburg @Eilon Closing for now. I'll reopen if we need to revert again.

[2018-02-05 22:55] Eilon commented on #286
Do we know anything about the cause? Did we change anything that would make us think they would no longer be flaky?

[2018-02-05 23:02] jbagga commented on #286
@javiercn can confirm but he made changes to the Identity UI package responding to RazorPages changes related to UI as a library. And the errors were:

`Could not find the precompiled views assembly for 'Microsoft.AspNetCore.Identity.UI'`

[2018-02-05 23:05] javiercn commented on #295
This turned out to be a  bug in VS that should already be fixed.

[2018-02-05 23:05] #295 closed

[2018-02-05 23:41] javiercn commented on #286
I believe I fixed this already during the weekend

[2018-02-06 01:01] Eilon commented on #286
Ah ok.

[2018-02-06 01:57] javiercn commented on #286
![image](https://user-images.githubusercontent.com/6995051/35838012-023f68aa-0a9e-11e8-8ffb-6b4d8c4d4e52.png)

This was fixed

[2018-02-06 01:57] #286 closed

[2018-02-07 00:10] HaoK opened #309 "Switch from checked in initial migration to running Add-Migration as part of build"
Currently the migrations are constantly getting stale and broken.  We should look into switching to generating the initial migration during project creation since its just running the "Add-Migration Initial" command.  This guarantees the content will be fresh unlike today where the migration will just be broken if it becomes stale.

[2018-02-07 02:22] Eilon commented on #18
Hold on, I think @DamianEdwards and I need to triage this first, no? Or was there a separate discussion on this?

[2018-02-07 15:01] SteveSandersonMS commented on #274
Duplicate of https://github.com/aspnet/JavaScriptServices/issues/1499

[2018-02-07 15:01] #274 closed

[2018-02-07 17:37] jbagga commented on #18
@mkArtakMSFT and @DamianEdwards had a discussion I believe. I will be updating jQuery to 3.3.1 btw (the latest)

[2018-02-07 18:11] Eilon commented on #18
Just chatted with @DamianEdwards and in order for this to work we have to update Bootstrap to the latest patch version of the current major/minor we're using, or else it won't work.

We also have to update some license info to use the new version. I'll provide the new license info, and it'll need to go in as part of the PR you send.

[2018-02-07 18:47] jbagga commented on #18
We currently have bootstrap 3.3.7. The next version is 4.0.0. Trying to get a version in this range: 3.3.0 <3.4.0 does not change the version to a patch after 3.3.7. @DamianEdwards Is there a patch version after 3.3.7 I should be able to update the templates to?
Updating to 4.0.0 will be more involved. There are breaking changes.

[2018-02-07 18:54] Eilon commented on #18
Yeah we don't want Bootstrap 4.x yet. @DamianEdwards had said that we need the latest patch of the current we're using, which already seems to be 3.3.7 per their GitHub repo. So maybe that's already fine?

[2018-02-07 19:00] thepill opened #312 "Vue single file components"
Is it possible to create single file components using the vue template and typescript?

like: https://vuejs.org/v2/guide/single-file-components.html

Currently what i see is the html code out of the typescript files.

Thanks in advice.

[2018-02-07 19:16] jbagga commented on #238
Will it be too presumptuous to add `[AllowAnonymous]` to `Index.cshtml` in the templates by default? The landing page is usually safe to be allowed to viewed anonymously and it can be easily deleted to go back to requiring auth. @javiercn

[2018-02-07 19:23] javiercn commented on #238
This is related to the login, register and logout pages I would presume (check if there is anything else that needs to be available without authorization). because you need to be able to access them in all cases.
If you are doing [Authorize] globally that's likely what you want.
If we add [AllowAnonymous] to random pages that defeats the purpose of having [authorize] applied globally.

Does it mak

[2018-02-07 19:27] jbagga commented on #238
I don't think Logout should be included. You should be logged in to log out, right? Am I missing an edge case? I'll add it to Login and Register and check for others.

[2018-02-07 19:31] javiercn commented on #238
When you logout you are unauthorized and you shouldn't be sent back to the login page.
Please try out all possibilities and come up with a list (Social login, 2FA, etc.)

[2018-02-07 19:36] Rick-Anderson commented on #238
Login and Register. Don't put it on Index, folks know to do that.

[2018-02-07 19:47] jbagga commented on #238
This issue was moved to aspnet/Identity#1617

[2018-02-07 20:03] peterblazejewicz commented on #18
You need to fit into this sem-ver:
https://github.com/twbs/bootstrap/blob/v3.3.7/bower.json#L32
that AFAIK resolves  to `<4.0.0`
Thx!

[2018-02-07 20:21] DamianEdwards commented on #18
If you use a bootstrap version that's too low, with jQuery 3.x, you'll get an error printed in the browser console telling you. I believe 3.3.7 is the version where they added support for jQuery 3+ so we should be OK, but of course we just need to verify in the running app.

[2018-02-07 22:31] #271 closed

[2018-02-07 23:06] jbagga commented on #18
I don't see any console logs in the browser with the PR I sent above updating jQuery to 3.3.1 and not updating bootstrap. @Eilon let me know what license info needs to change

[2018-02-08 09:29] SteveSandersonMS commented on #312
The template in the `SpaTemplates` package doesn't use single-file components. I'm sure it's possible to amend the Webpack config to make it build single-file components, but you'd have to check Vue and Webpack docs to find out how.

Also we're no longer making changes to the Vue template in this repo, so closing. Hope that's OK!

[2018-02-08 09:29] #312 closed

[2018-02-08 09:31] SteveSandersonMS commented on #302
Thanks @jarrodldavis for suggesting this!

We're now recommending that interested community members [publish their own Vue templates separately](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates). The `dotnet new` system is extensible for this exact reason. We're no longer updating the Vue template in this repo ([details](https://github.com/aspnet/Announcements/issues/289)).

[2018-02-08 09:31] #302 closed

[2018-02-08 09:33] SteveSandersonMS commented on #299
@kakins Your approach is fine. Alternatively you can run `webpack` on the command line directly, if you've installed it as a global tool (`npm install -g webpack`).

[2018-02-08 09:33] #299 closed

[2018-02-08 09:43] SteveSandersonMS commented on #7
Since we moved to the new Angular CLI-based templates, the issue should no longer be applicable. If anyone is still hitting this with the Angular CLI-based template, please let us know.

[2018-02-08 09:43] #7 closed

[2018-02-08 09:44] SteveSandersonMS commented on #176
The next step will be to remove the sources and tests for that template following [this announcement](https://github.com/aspnet/Announcements/issues/289).

[2018-02-08 09:47] SteveSandersonMS commented on #215
See #216 for info

[2018-02-08 09:47] #215 closed

[2018-02-08 09:48] SteveSandersonMS commented on #239
We're no longer updating the Aurelia template in this repo ([details](https://github.com/aspnet/Announcements/issues/289)).

We're now recommending that interested community members [publish their own Aurelia templates separately](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates).

[2018-02-08 09:48] #239 closed

[2018-02-08 11:04] SteveSandersonMS commented on #255
It's possible there was some breaking change in the `ng` tooling between 1.6.1 and 1.6.5. However, the Angular CLI template is now updated to 1.6.8 so this should no longer be applicable.

[2018-02-08 11:04] #255 closed

[2018-02-08 11:16] SteveSandersonMS commented on #289
Fixed via #296

[2018-02-08 11:16] #289 closed

[2018-02-08 11:22] SteveSandersonMS commented on #287
I don't think this was really broken. It looks like you were trying to run in production mode without having built in production mode (i.e., having actually published, or at least run Webpack with the `--prod` flag, which causes it to run the `new ExtractTextPlugin('site.css')` logic).

In any case, the newer React templates are based on create-react-app and don't even have any custom Webpack conf

[2018-02-08 11:22] #287 closed

[2018-02-08 16:47] mjrousos opened #316 "Mismatch between logging configuration in appsettings.json and appsettings.development.json"
In a new ASP.NET Core web api application (created with `dotnet new webapi` with .NET CLI v. 2.1.4), running in development mode does not show informational/debug logs as expected.

The problem is that the logging configuration in appsettings.json is in a different format (Logging.[Debug|Console].LogLevel) than appsettings.Development.json (Logging.LogLevel.Default), so the settings in appsettings

[2018-02-08 18:51] Eilon commented on #316
@mjrousos thanks for the report, we will take a look.

[2018-02-09 21:35] javiercn opened #318 "Set minimumsamesitemode version on cookie policy options to none in the templates"
The default version is lax and upgrades the oAuth cookies which breaks the flow entirely.

[2018-02-09 21:47] Eilon commented on #318
Approved for Preview1

[2018-02-09 21:47] HaoK commented on #309
Met with @seancpeters @Eilon @javiercn yesterday and discussed with @ajcvickers today.

We agreed that the best long term plan is for the templating repo to produce the migrations during build.

Rough thinking is to:
1. Build the templates like today.
2. Instantiate each flavor of the template via `dotnet new razor -au Individual` and one with `--use_local_db` specifying the project name to match

[2018-02-09 21:47] Eilon commented on #318
And:
* [ ] Port change to `dev`

[2018-02-09 22:20] javiercn commented on #318
6bb798d2b77c62aa849119399bb2da78f8eee461

[2018-02-09 22:20] #318 closed

[2018-02-11 15:40] kakins commented on #7
@SteveSandersonMS when you say Angular CLI-based templates, does this include the templates that we can use in the latest Visual Studio version (15.5.6)?

[2018-02-11 15:44] kakins commented on #7
I think I just answered my previous question, and I see these new docs:
https://docs.microsoft.com/en-us/aspnet/core/spa/angular?tabs=visual-studio

It looks like project generation has changed a bit.

[2018-02-12 22:03] natemcmaster opened #320 "Tests fail with "Certificate error: Navigation blocked""
Currently, all templates tests are failing on my machine with "Certificate error: Navigation blocked"

example:
[code]

@javiercn any ideas? Do CI machines need to trust the dev-cert?

[2018-02-12 22:25] javiercn commented on #320
You need to trust the cert on your machine, cuz the tests are running on edge.
We run the tests on Firefox on travis and using httpclient on the CI machine (both of which are setup so that it ignores invalid certs).
On your dev box you need to trust the cert so that they can run on edge, given that edge doesn't have support in selenium to tell it to ignore certificate errors.

[2018-02-12 23:10] natemcmaster commented on #320
This will be problematic for our CI machines. This workaround appears to work: https://github.com/aspnet/templating/pull/321

[2018-02-12 23:15] javiercn commented on #320
This will not be problematic for our CI machines as they don't run Selenium tests. They only run using HTTP Client and there is a workaround for that one. If we were to run selenium tests on our CI machines we would do so using Firefox which has explicit support for doing this through the WebDriver API.
________________________________
From: Nate McMaster <notifications@github.com>
Sent: Monday, F

[2018-02-12 23:24] danroth27 opened #322 "Add option to remove HTTPS support"
We should provide a `--no-https` option for backend services that don't require HTTPS.

[2018-02-12 23:42] #320 closed

[2018-02-13 00:02] DamianEdwards opened #323 "Add a Razor class library project template"
This would be the equivalent of the existing "Class library" template ([here](https://github.com/dotnet/templating/blob/rel/2.1.0-preview2/template_feed/Microsoft.DotNet.Common.ProjectTemplates.2.1/content/ClassLibrary-CSharp/.template.config/template.json)) but be pre-configured to support authoring Razor files. It would need the following:
- It should target .NET Standard 2: `<TargetFramework>ne

[2018-02-13 10:35] vaalgrind opened #324 "dotnet react template & office fabric UI - Invariant Violation: addComponentAsRefTo(...)"
Hello everyone,
when I try use office fabric ui in my project and import component for example panel I have this error https://i.stack.imgur.com/YofNd.png. I also recorded this behavior https://giphy.com/gifs/3ohjV6gZTxE8TiqVfa

Steps:

1. I created project by _dotnet new react_
2. I install office by _npm --save install office-ui-fabric-react_
3. I import Fabric component to _boot.tsx_ and I use

[2018-02-13 17:48] Eilon commented on #324
Hi, it looks like this is a general question about using React and some other components. Is this question specific to ASP.NET Core's templates?

cc @SteveSandersonMS

[2018-02-13 17:57] DamianEdwards opened #325 "Add 'webapp' short name to Razor Pages web application template"
So that folks can do `dotnet new webapp`

[2018-02-13 18:02] DamianEdwards commented on #325
This might not be possible with the current features of `dotnet new` 😢

[2018-02-14 07:44] vaalgrind commented on #324
This problem occurs in dotnet react template, and when I created project without dotnet (by https://www.npmjs.com/package/create-react-app) this problem dissapear. I also have problem with template when I try install material ui. I guess thats problem with webpack configuration.

[2018-02-14 19:04] DamianEdwards opened #326 "Remove bundleconfig.json from project templates"
This file is for configuring the various incantations of the BundlerMinifier tool, which isn't actually shipped in the templates, or supported by Microsoft. As such, we're going to remove it from the templates. In its place, we'll add the following comment to the top of the `site.js` and `site.css` files that link people to our documentation regarding bundling and minification:

`Please see docume

[2018-02-14 19:06] DamianEdwards commented on #267
@poke thanks for the detailed write up on this. You're absolutely right, and this is an area we've struggled to nail down over the past few years due to the somewhat volatile nature of the beast in the industry. For the next update we're going to remove the bundleconfig.json from the templates (see https://github.com/aspnet/templating/issues/326) and add a comment to the top of the JS and CSS file

[2018-02-14 20:26] poke commented on #267
@DamianEdwards Thank you for the feedback and for your response!

While I’m a bit sad that we’re not going to ship a real solution with the templates then, I do appreciate that something is done to change the current (broken) state. And I totally agree that the client-side ecosystem is just too complex to handle *properly* in a template.

With PackMan, are you referring to [this VS extension](http

[2018-02-15 06:24] DamianEdwards commented on #267
@poke yep, that's the extension. That will essentially get rolled in to VS (with a few changes I'm guessing).

[2018-02-16 19:24] javiercn opened #327 "Move B2C and AAD template support into their own packages"
Goals:
* Simplify our own template development.
* Reduce the bugs caused by unintended changes on these templates.
* Create Nuget packages for our B2C and AAD functionallity using our new Razor in class libraries support.
  * Do some code/api cleanup.
* Integrate these packages with the build system.
* Remove the files used by AAD and B2C from the templates.
* Optional: Provide scaffolders for the

[2018-02-16 20:21] pranavkm commented on #222
We never got around to addressing this. That said, I'm not entirely sure how we would use the TFM version to pivot this feature. Could we just have the template set `DebugType = Full` if the TFM is desktop?

[2018-02-16 20:51] Eilon commented on #222
Hmm yeah this is a bit gross...

[2018-02-16 23:25] pranavkm commented on #222
Moving this to the preview2 milestone so we don't missing triaging this.

[2018-02-17 00:14] danroth27 opened #328 "Set the applicationUrl property instead of using the ASPNETCORE_URLS env var"
In VS tooling the application URLs are specified using the applicationUrl property and is preferred to using the ASPNETCORE_URLS env var.

[2018-02-17 00:14] danroth27 commented on #328
@BillHiebert @javiercn

[2018-02-17 00:43] javiercn commented on #328
@danroth27 This is a temporary workaround due to the lack of tooling support in preview1.

[2018-02-19 15:11] SteveSandersonMS commented on #324
@vaalgrind I don't know what specific aspect of the Webpack config is tripping up your integration, but we're just about to move to a newer React template that doesn't have any Webpack config at all. I'd recommend you try out the new create-react-app-based template, because whatever works with create-react-app will work with this too: https://docs.microsoft.com/en-us/aspnet/core/spa/index

However

[2018-02-19 15:11] #324 closed

[2018-02-20 11:19] Booster2ooo opened #329 "IntelliSense vs Angular conflict"
Hello, I'm not really sure where the issue comes from (VS IntelliSense, TypeScript, Angular, Webpack ...) but there is an unconsistancy between TypeScript and Angular when adding paths in the tsconfig.json

## Environment info
- Win 10 x64
- Visual Studio Community 2017 15.5.6
- .Net Core 2.1.4
- Using Microsoft.DotNet.Web.Spa.ProjectTemplates::2.0.0-rc2-final
- Project created using "dotnet new a

[2018-02-20 22:00] Eilon opened #330 "Create and use new Third Party Notices URL for templates"
Currently the 2.1 templates use a URL that was meant for earlier versions of the template, and links to the dotnet/templating repo. The ASP.NET Core templates need to have their own notices file with its own URL.

We need to:
* [ ] Create a Git **tag** for a version of https://github.com/aspnet/templating/blob/dev/src/THIRD-PARTY-NOTICES that has what we want for the 2.1.0 (previews, RC, RTM, shou

[2018-02-20 22:01] Eilon commented on #330
@jbagga - let's chat about this because we each need to do part of this work item.

[2018-02-22 02:34] seancpeters opened #331 "Files under wwwroot getting incorrect replacements"
The templates RazorPagesWeb-CSharp, StarterWeb-CSharp, and StarterWeb-FSharp all define the "HttpPortReplacer" symbol in their template.json files, setup to replace "8080". But the value "8080" appears in various files under the wwwroot directory in each of these templates, and thus have their instances of 8080 replaced by the value assigned to HttpPortReplacer.

The easiest way to deal with this

[2018-02-22 06:07] Eilon commented on #331
@seancpeters do you have an example of where `8080` shows up? I just did a quick search on GitHub and it didn't find anything, but I hardly trust its search...

[2018-02-22 18:53] seancpeters commented on #331
With the current dev branch, or the current release/2.1 branch, these paths are relative to src\ (output from `findstr /SIPM 8080 *`):
[code]
The template.json & launchsettings.json are listed, but those files are ok - the 8080 is supposed to be replaced in launchsettings.json.

[2018-02-22 18:59] Eilon commented on #331
Got it, thanks!

[2018-02-22 22:39] #18 closed

[2018-02-27 11:53] veikkoeeva commented on #274
I'll add here also due to the referenced issue about Aurelia that @jods4 writes in http://aurelia.io/

I'll leave here for the benefit of search engine queries. :)

[2018-02-27 14:29] dasMulli opened #332 "SPA templates contain invalid exception handler middleware"
The SPA templates' `Startup` contain

[code]

but when an exception occurs, `/Home/Error` cannot be resolved to anything useful.

IMHO the templates should contain a small error page, even if it is just a controller action rendering a text or an error route in the SPA.

[2018-02-27 16:54] atmike opened #333 "Debuging with IIS in Angular SPA Template"
Hi
I have created a new angular5 / dotnet cor 2.0 Project with the latest version of the angular spa template=> dotnet new --install Microsoft.DotNet.Web.Spa.ProjectTemplates::2.0.0
But when I create a Project with => dotnet new angular -o IISTest and switch the debug settings to the following =>
![image](https://user-images.githubusercontent.com/22487185/36742014-e315a3a4-1be6-11e8-842b-7fcbeb4ab

[2018-02-27 18:21] Eilon commented on #332
Ah, seems like a good idea, we will investigate.

[2018-02-28 15:02] mzhukovs opened #334 "Vue Template - Invalid TypeScript Errors if both .vue.html and .ts file are open for the same component"
If for any of the components in the Vue template, you open BOTH the .vue.html file AND the .ts file, TypeScript goes crazy and spews false errors b/c it gets set to Miscellaneous project type (and you can't even manually flip it back to tsconfig project). Searched online some say to delete .vs folder and reload but that doesn't fix anything for me. Any ideas?

Makes no diff if I change them to .vu

[2018-03-01 14:40] atmike commented on #333
can any one help me???

[2018-03-01 18:47] Eilon commented on #333
@atmike sorry you're running into this.

@SteveSandersonMS can you take a look? Any idea on this?

[2018-03-02 00:30] #326 closed

[2018-03-02 00:42] mkArtakMSFT commented on #322
@jbagga, can you please look into this? Thanks!

[2018-03-02 06:28] Eilon commented on #322
How hard is it to manually remove HTTPS? And what about template combinations that require IIS, such as auth?

[2018-03-02 06:28] Eilon commented on #322
cc @DamianEdwards

[2018-03-02 06:42] danroth27 commented on #322
You would need to remove the HSTS and HTTPS redirection middleware. Also you need to remove the HTTPS server URL and HTTPS port configuration.

In tooling we will require HTTPS for cases where authentication is enabled. I think the templates shoudl do the same.

[2018-03-02 07:14] Eilon commented on #322
I'm OK with doing this, but I'd like to remind everyone that *options for templates is what makes templates so difficult to write*. Any time we add an optional cross-cutting concern, the cost ends up being an order of magnitude more than the initial work.

[2018-03-05 17:46] Eilon commented on #334
Hi @mzhukovs , we have stopped working on the Vue template per the announcement at https://github.com/aspnet/Announcements/issues/289. For that reason we are unable to provide specific support for that project. However, this does sound like more of a Visual Studio issue, so I recommend using VS's built-in "Report a Problem" tool so that the feedback gets sent to the appropriate team. Thanks!

[2018-03-05 17:46] #334 closed

[2018-03-05 17:49] Eilon commented on #325
@mlorbetske / @seancpeters - would you guys need to build a feature in order to make this possible? Does it boil down to adding some sort of "alias" feature or allowing multiple short names for templates?

[2018-03-05 17:52] Eilon commented on #44
Moving this to 2.2.0.

[2018-03-05 18:10] Eilon commented on #329
@SteveSandersonMS - would you suspect that this is a VS issue and not a runtime issue?

[2018-03-05 18:12] Eilon commented on #273
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-05 18:12] #273 closed

[2018-03-05 18:14] Eilon commented on #176
Ah, yes, let's get those deleted.

[2018-03-05 18:20] Eilon commented on #221
@DamianEdwards - do you feel the F# template needs this? I couldn't anywhere that the F# templates use any cookies by default.

[2018-03-05 18:22] Eilon commented on #126
@javiercn - thoughts on this?

[2018-03-05 18:23] Eilon commented on #118
This issue was moved to aspnet/Identity#1661

[2018-03-05 18:23] #118 closed

[2018-03-05 18:24] Eilon commented on #115
This issue was moved to aspnet/Identity#1662

[2018-03-05 18:24] #115 closed

[2018-03-05 18:26] Eilon commented on #109
No plans to do this.

[2018-03-05 18:26] #109 closed

[2018-03-05 18:35] javiercn commented on #126
Our account controller returns action results to signal the middleware what to do. Using action results makes it easier to unit test and its the recommended pattern. Updating from an MVC5 app will already require you to significantly change the auth code, so I don't think we should neither do this nor that there is value here.

I'm closing it.

[2018-03-05 18:35] #126 closed

[2018-03-05 18:40] Eilon commented on #26
@ajcvickers / @divega - thoughts on this proposed change?

[2018-03-05 18:54] ajcvickers commented on #26
This ties in with the conversations we have been having about targeting SQL Server/SQLite by default in Identity. The SQL Server provider and localdb are not necessarily the correct thing to use just because the dev machine is Windows, and SQLite is probably not the correct thing to use on any platform except for very simple apps.

The work here is more than just being able to specify different co

[2018-03-05 18:58] Eilon commented on #5
Closing because we don't have plans to update the files mentioned here w/ regard to BOMs. We haven't heard any other feedback on these files, so it seems like this is not a broad issue.

[2018-03-05 18:58] #5 closed

[2018-03-05 18:59] Eilon commented on #3
Dup of https://github.com/aspnet/templating/issues/15.

[2018-03-05 18:59] #3 closed

[2018-03-05 19:04] seancpeters commented on #325
I actually recently made a PR to allow templates to have multiple short names, here:
https://github.com/dotnet/templating/pull/1431

As noted in that PR, with this change:

Short name can be either a string or an array of strings. When in array context, the first entry in the array will be the “preferred” short name for the template.

**Displaying a list of templates using dotnet new**: when there

[2018-03-05 19:13] Eilon commented on #4
I think this is covered by https://github.com/aspnet/templating/issues/309 now, which has more details, so closing this.

[2018-03-05 19:13] #4 closed

[2018-03-05 21:44] jbagga opened #337 "[PATCH] Add VS hosts file for F# templates"
See https://github.com/aspnet/templating/pull/336#issuecomment-370572137

Include this change in the next patch release for 2.0

[2018-03-05 23:03] Eilon commented on #325
@seancpeters sounds cool! We'll look at using that feature once it's available in builds.

[2018-03-05 23:04] Eilon commented on #26
@ajcvickers what, if anything, do you propose that we do for 2.1.0?

[2018-03-05 23:05] Eilon commented on #112
Closing because we are not planning to make these changes at this time. We did move almost all the "Individual Auth" logic into a pre-built package, so most people won't even see the controllers (though you can add them back in if you want).

[2018-03-05 23:05] #112 closed

[2018-03-05 23:07] Eilon commented on #309
@HaoK can you take a crack at this? I chatted with @ajcvickers and he said you probably can fit this in.

[2018-03-05 23:11] ajcvickers commented on #26
@Eilon That's a tough one. I think, realistically, we should attempt to communicate that there is a SQL Server option which is intended for Windows with Localdb, and there is a SQLite option that should be usable anywhere. I'm not sure what exactly that translates into in regard to options in the templates.

[2018-03-05 23:15] Eilon commented on #96
This issue was moved to aspnet/Identity#1663

[2018-03-05 23:15] #96 closed

[2018-03-06 01:00] Eilon commented on #221
Talked to @DamianEdwards and we don't need this.

[2018-03-06 01:00] #221 closed

[2018-03-06 01:03] Eilon commented on #94
No plans to do this for MVC templates. Razor Pages already does this automatically.

[2018-03-06 01:03] #94 closed

[2018-03-06 01:05] Eilon commented on #52
@glennc - what are your thoughts on this?

[2018-03-06 01:11] Eilon commented on #26
Discussed with @ajcvickers and @DamianEdwards and we don't plan to do anything in 2.1.0.

Post-2.1.0 we need to revisit which database options are available on which platforms.

[2018-03-06 01:13] Eilon commented on #14
No plans to add it by default. It's left as an exercise to the reader.

[2018-03-06 01:13] #14 closed

[2018-03-06 05:12] DamianEdwards opened #338 "Replace all uses of Html.PartialAsync, etc. with the new <partial /> Tag Helper instead"
Seems there's at least one straggler: https://github.com/aspnet/templating/blob/acc2147ac5b3092df194fd9ce043263b091ae4ae/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml#L38

[2018-03-06 05:13] DamianEdwards commented on #338
@Eilon @javiercn

[2018-03-06 06:27] DamianEdwards opened #339 "Update ValuesController in Web API project template to use ActionResult<T>"
The `ValuesController` in the Web API project template should be updated to return `ActionResult<T>` from the two object returning actions it has:

[code]

@Eilon @danroth27

[2018-03-06 06:37] javiercn commented on #338
https://github.com/aspnet/templating/blob/acc2147ac5b3092df194fd9ce043263b091ae4ae/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/_Layout.cshtml#L38

https://github.com/aspnet/templating/blob/acc2147ac5b3092df194fd9ce043263b091ae4ae/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml#L38

I did a github search. These are the

[2018-03-06 07:24] DamianEdwards opened #340 "Move all partial & layout views in Razor Pages project template to Shared folder"
In 2.1 we added support for the *Shared* folder under the configured Pages root. In the project templates however we have a mix of shared assets (partials, layouts, etc.) in the pages root itself, and the shared folder.

We should make this consistent and move all these assets into the new */Pages/Shared* folder in the project template.

@Eilon

[2018-03-06 19:08] seancpeters opened #341 "Template type update for RazorPage, MVC ViewImports, & MVC ViewStart"
**Updated**

The templates in the repo directory  templating/src/Microsoft.DotNet.Web.ItemTemplates are currently configured without a 'type' in the tags section of their template.json files. These templates should be classified as `"type": "item"`.

[2018-03-06 19:12] javiercn opened #342 "Update the templates to cleanup the auth parameters from the template"
The whole goal here is to remove parameters that are not commonly used from the CLI experience. (Visual studio experience doesn't change).

[2018-03-06 20:40] seancpeters commented on #341
On a similar note, these same templates should be given a language specification of C# in their tags section. Specifically, this can be added to all 3 template.json's:
[code]

[2018-03-06 21:33] HaoK commented on #309
Looks like we've come full circle, I spent some time with @natemcmaster trying to figure out how we would do this...  The problem with build time, is the conditional logic between SqlServer/SqlLite, even if we generate the correct migration for each, we'd have to merge them back somehow into a single one.  This was why the runtime approach where we created the migrations after dotnet new was bette

[2018-03-06 22:18] ajcvickers commented on #309
@HaoK That sounds reasonable to me. @Eilon?

[2018-03-06 22:27] javiercn commented on #309
I believe this might be possible. You can have them be
Data/Migrations/SqlLite/... and Data/Migrations/SqlServer/... in the template content and move them to Data/Migrations/... when we instantiate the template.

@mlorbetske Can you teach us the ways of the template engine?

[2018-03-06 22:31] HaoK commented on #309
Well adding the test is super cheap, I'll have the PR out shortly, I'm inclined to just go with this for now since its going to take much longer and require some of @natemcmaster time as well for us to get that to work.

[2018-03-06 22:43] javiercn commented on #309
@HaoK Fair enough

[2018-03-06 22:59] ajcvickers commented on #309
@HaoK Test is certainly worthwhile regardless, but I think it's worth exploring @javiercn's suggestion, partly be cause it would be nice if the migration that ended up in the project didn't have the conditionals for SQL Server/SQLite. This would then align with what people would get if they ran add-migration manually.

That being said, if this whole thing ends up in significant additional complexi

[2018-03-06 23:12] HaoK commented on #309
The migration in a user's project doesn't have it today anyways, the templating engine strips that out during dotnet new... or are you talking about not having the conditional in the checked in migration?

[2018-03-06 23:13] HaoK commented on #309
Nothing we are currently considering will affect the output/resulting project or migration after a dotnet new...

[2018-03-06 23:18] Eilon commented on #309
I'm OK with whatever for now...

[2018-03-06 23:32] Eilon opened #345 "AppVeyor and Travis failing on MvcTemplate_NoAuth_Works_NetCore(languageOverride: "F#")"
Examples:
* https://ci.appveyor.com/project/aspnetci/templating/build/1.0.362
* https://travis-ci.org/aspnet/templating/builds/350051730?utm_source=github_status&utm_medium=notification

[2018-03-06 23:36] Eilon commented on #25
This issue was moved to aspnet/Identity#1665

[2018-03-06 23:36] #25 closed

[2018-03-06 23:39] Eilon commented on #88
Closing because this seems to be a very narrow scenario to include in the default templates. Apps are free to customize their login behavior however they wish.

[2018-03-06 23:39] #88 closed

[2018-03-06 23:41] Eilon commented on #99
@bricelam / @ajcvickers - any thoughts on this? Not sure if this still applies to 2.1 (not looking to patch any older versions).

These are examples of the places where the reference exists:
* https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
* https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/R

[2018-03-06 23:41] Eilon commented on #103
This issue was moved to aspnet/Identity#1666

[2018-03-06 23:41] #103 closed

[2018-03-06 23:42] Eilon commented on #108
This issue was moved to aspnet/Identity#1667

[2018-03-06 23:42] #108 closed

[2018-03-06 23:43] jbagga commented on #345
I saw this on the CI and it seemed like an issue with the Razor package https://travis-ci.org/aspnet/templating/jobs/350051731#L911 @pranavkm Have you seen this elsewhere?

[2018-03-06 23:46] pranavkm commented on #345
The Ubuntu failure is known and fixed in a newer build of the runtime - https://github.com/dotnet/core-setup/issues/3762.
I've seen the OSX one in Razor builds too - my guess is it's likely a runtime \ JIT issue. Haven't dug in to it as yet.

[2018-03-06 23:49] jbagga commented on #345
Is there a work item to track this on our side? I am guessing templating is not the only repo that may be affected?

[2018-03-06 23:54] Eilon commented on #316
@mjrousos I took a closer look at this and I'm not sure I see the behavior you're describing.

Here are the default files in the project template:

### `appsettings.json`

[code]

### `appsettings.Development.json`

[code]

The two files have the same format as best I can tell, but the Development one overrides the "Default" log level, and then sets a couple of other explicit log levels.

Can you

[2018-03-07 00:33] mjrousos commented on #316
Thanks, @Eilon, for taking a look. I agree those files look correct. Here's what I'm seeing after running `dotnet new webapi`:

**appsettings.json**
[code]

**appsettings.Development.json**
[code]

Experimenting some more, though, I get the same files as you if I run `dotnet net mvc`. I think there must be a difference between the *webapi* and *mvc* templates.

[2018-03-07 00:41] mjrousos commented on #316
I dug around and it looks like [this](https://github.com/aspnet/templating/blob/release/2.0/src/Microsoft.DotNet.Web.ProjectTemplates/content/WebApi-CSharp/appsettings.json) may be the offending file. It appears to be [fixed](https://github.com/aspnet/templating/commit/e5a9bd3dd7407b28eb568906cd505f8740a5e132) in the dev branch, though, so perhaps that means the issue is already addressed going fo

[2018-03-07 03:19] bricelam commented on #99
You don't need it if you reference `Microsoft.EntityFrameworkCore.Tools`. It's always been that way and probably always will be that way.

[2018-03-07 14:36] guardrex commented on #88
Sure, I was just pointing out that ...

[code]

... no-ops due to the behavior defined in the controller. I'll check our latest doc sample and see if we still have it configured as I described above. Perhaps, what we should do in the doc sample is just have a little note there to inform the reader why it will always go Home no matter how the `LogoutPath` is set. I'll take care of it on our end. ht

[2018-03-07 19:05] seancpeters commented on #309
Dealing with only including the correct migration in the template output is handled in the "sources" section of the template.json file. Here's an example which should be close to what you need (assuming I understand the requirement correctly). In this example, I'm using a choice symbol named "Migration" to control which migration is included with the template - you can change the conditions in the

[2018-03-07 20:06] HaoK commented on #309
Cool I think i might make this change regardless of whether we automate this process...since its much easier to update the baselines if we can just blindly copy the entire file over twice instead of hand merging changes...

[2018-03-07 20:08] HaoK commented on #309
I can then just add a little batch file to automate the update..., so if the test fails you'd just have to build templating and run the patch file and commit the diffs.

dotnet new ...
dotnet ef migrations add update
copy Data/Migrations/*-update* ...

[2018-03-07 21:28] Eilon commented on #341
@jbagga - I've assigned PR https://github.com/aspnet/templating/pull/343 to you to review. SHould be pretty straightforward.

[2018-03-07 21:35] Eilon commented on #316
Ah, yes, indeed it appears to be fixed in 2.1, so closing this issue.

[2018-03-07 21:35] #316 closed

[2018-03-07 23:08] ajcvickers commented on #309
@HaoK I like that plan.

[2018-03-08 16:26] btorrild opened #346 "LaunchSettings profile Company.WebApplication1 is created insted of profile <AppName>"
Hello, when applying a new angular project template using 2.1 preview1-final the default non IIS launch profile is called Company.WebApplication1.

Should that not be the name of the console app?

[2018-03-08 18:19] Eilon commented on #346
@btorrild hmm that certainly doesn't look right, we might be missing a substitution parameter somewhere. Can you show a screenshot or share more info about exactly where you're seeing this? Thanks!

[2018-03-08 18:51] btorrild commented on #346
Does this help.
[code]
I tried some preview templates for 2.0, could that be an issue

[2018-03-08 20:43] btorrild opened #347 "Inconsistency with missing "launchUrl" and present "launchBrowser" in WebApi template"
When running a project from VS2017 created using dotnet new webapi, a browser is launched due to the `"launchBrowser": true,` setting in the `.\Properties\launchSettings.json`

It could save some time wondering why nothing happens when running a project out of the box if adding `"launchUrl": "api/values"` to the profiles in WebApi projects, or remove launchBrowser setting

[2018-03-09 18:58] natemcmaster opened #350 "Ensure 2.0.x SPA templates changes are merged into release/2.0 for servicing"
It looks like the changes from the SpaTemplates OOB may not be in the release/2.0 branch.

https://github.com/aspnet/templating/compare/release/2.0...rel/2.0.x-spa-templates-oob

![image](https://user-images.githubusercontent.com/2696087/37224469-712c12b0-2388-11e8-811d-35f2f2c5b699.png)

@Eilon @muratg @SteveSandersonMS - are we supposed to be servicing this package and updating it on NuGet.org?

[2018-03-12 00:58] Eilon commented on #346
@btorrild thanks for the details, that is very helpful. This indeed looks like a bug so we'll take a look at it.

[2018-03-12 00:58] Eilon commented on #346
Note: We'll need to investigate whether we should consider patching this or if it's a regression in 2.1.

[2018-03-12 16:24] Eilon commented on #347
@btorrild ah, interesting point.

@DamianEdwards - thoughts on this regarding the user experience?

[2018-03-12 16:31] Eilon commented on #350
@SteveSandersonMS can you comment on this? I thought everything was already as up-to-date as it needed to be.

[2018-03-12 16:35] SteveSandersonMS commented on #350
The changes were made in the `rel/2.0.x-spa-templates-oob` branch, and were all also ported to `dev` to ensure they would ship in 2.1.0 as well.

I haven't also ported them to `release/2.0`, but now I understand that's necessary I will do that.

@natemcmaster Is there a specific deadline this needs to be done by? I'm trying to wrap up the Blazor 0.1.0 stuff this week so it would be handy if I coul

[2018-03-12 16:36] natemcmaster commented on #350
I don't have deadlines for the next 2.0.x patch. Eilon might know.

[2018-03-12 16:37] SteveSandersonMS commented on #350
Hold on, after several seconds of further consideration, do we *really* want the entirely new templates to ship in 2.0.x servicing releases? Shouldn't those releases just contain any minor updates to the existing templates (of which there are none)?

[2018-03-12 16:40] SteveSandersonMS commented on #350
i.e.,

[code]

It's marked shipoob because it's a template package that ships inside the SDK, just the same as `Microsoft.DotNet.Web.ProjectTemplates.2.0`. So that's already correct, isn't it?

[2018-03-12 16:43] Eilon commented on #350
Hmm I don't think we need these in 2.0 do we? Otherwise they'd randomly show up in the next patch, even though they were never part of 2.0.

[2018-03-12 16:46] natemcmaster commented on #350
Re: shipoob

How did this get published? https://www.nuget.org/packages/Microsoft.DotNet.Web.Spa.ProjectTemplates/ When should it be updated?

[2018-03-12 16:50] SteveSandersonMS commented on #350
It was published manually so that people could install it into their existing 2.0.0 SDKs, i.e., to support these installation instructions: https://docs.microsoft.com/en-us/aspnet/core/spa/#installation

It only needs to be updated on NuGet.org if/when we choose to do OOB releases (which people then need to install manually if they want the update). That doesn't need to be automated.

More typical

[2018-03-12 16:51] Eilon commented on #350
Yeah I don't think we'd ever update it. The 2.1.0 release will supersede it.

[2018-03-12 17:34] mkArtakMSFT commented on #346
@jbagga can you please look into this? Thanks! Also, assign a cost, please.

[2018-03-12 17:37] mkArtakMSFT commented on #342
@jbagga, can you please look into this? Thanks!

[2018-03-12 17:40] mkArtakMSFT commented on #237
Hi @SteveSandersonMS. Have you tried it out? Any findings? Thanks!

[2018-03-12 18:22] #341 closed

[2018-03-12 19:59] ajcvickers opened #353 "Update EF version in migrations in templates for RTM"
See discussion here: https://github.com/aspnet/templating/pull/348

[2018-03-12 20:27] mkArtakMSFT commented on #340
@jbagga , can you please handle this? Thanks!

[2018-03-12 20:37] mkArtakMSFT commented on #338
Thanks @javiercn. @jbagga, can you please handle this? Thanks!

[2018-03-12 20:38] mkArtakMSFT commented on #332
@jbagga, can you please look into this? Thanks!

[2018-03-12 20:39] mkArtakMSFT commented on #331
@kichalla, can you please look into this? Thanks!

[2018-03-12 20:42] mkArtakMSFT commented on #325
@kichalla, can you please look into this? Thanks!

[2018-03-12 20:44] mkArtakMSFT commented on #323
@jbagga, can you please handle this? Thanks!

[2018-03-12 20:48] mkArtakMSFT commented on #243
@ryanbrandenburg, can you please look into this? Thanks!

[2018-03-12 20:50] mkArtakMSFT commented on #237
@jbagga, please follow up on this one to make sure it's handled. Thanks!

[2018-03-12 20:51] mkArtakMSFT commented on #201
@javiercn, can you please look into this? Thanks!

[2018-03-12 20:52] mkArtakMSFT commented on #15
@kichalla, can you please handle this? Thanks!

[2018-03-12 20:54] jbagga commented on #346
launchSettings.json was added in 2.1.0-preview1 https://github.com/aspnet/templating/commit/4d2e642b94ad6c2e152e09005c33bac7543bcf04
Sending a PR for dev

[2018-03-12 20:56] Eilon commented on #15
We might want to wait a tiny bit until we know what versions of the jQuery unobtrusive scripts we want to use.

[2018-03-12 20:59] mkArtakMSFT commented on #176
@kichalla, can you please look into this? Thanks!

[2018-03-12 21:13] mkArtakMSFT commented on #222
@pranavkm, can you please handle this? Thanks!

[2018-03-12 21:23] pranavkm commented on #222
@DamianEdwards ping - confirming that this is something we'd like to do for desktop templates. If you'd like to do a refresher on why we need this I can drop by and go over.

[2018-03-12 22:00] mkArtakMSFT commented on #201
Closing this one, as this will be covered by: https://github.com/aspnet/templating/issues/277

[2018-03-12 22:00] #201 closed

[2018-03-12 22:01] mkArtakMSFT commented on #323
@kichalla, assigning to you, as it seems @jbagga is overloaded.

[2018-03-12 22:07] jbagga commented on #345
This has been resolved after updating dependencies. Closing for now.

[2018-03-12 22:07] #345 closed

[2018-03-13 06:56] Eilon commented on #222
@pranavkm yeah @DamianEdwards wants this.

[2018-03-13 16:40] mkArtakMSFT commented on #339
@jbagga, assigning this to you so you can keep it on your radar and merge when ready.

[2018-03-13 16:50] #339 closed

[2018-03-13 18:42] HaoK commented on #309
Test and splitting of template files done.  Last remaining work is to add the manual script to run that will generate new migrations in the repo enlistement

[2018-03-13 22:45] pranavkm commented on #222
Looks like support for portable pdbs did not land in 4.7.1. It'll be available in 4.7.2, but the app has to opt in it to it - https://github.com/dotnet/designs/blob/master/accepted/diagnostics/debugging-with-symbols-and-sources.md#stack-traces.

So the plan of action is to enable this by default for all desktop targeting projects. I filed https://github.com/aspnet/Home/issues/2956 to see if we can

[2018-03-13 23:41] jbagga commented on #322
To clarify, for templates with IndividualLocal, IndividualB2C or OrganizationalAuth options, the option to remove HTTPS is only available when there is no auth? So check if any auth is on, if it is, HTTPS is on by default; else we use the user specified --no-https option @javiercn @Eilon am I understanding this correctly?

[2018-03-14 00:25] Eilon commented on #322
I'm actually not sure, so I'd like @danroth27 or @DamianEdwards to confirm.

[2018-03-14 01:21] #346 closed

[2018-03-14 17:37] pranavkm commented on #222
In addition to changing the DebugType, we should also explicitly reference the `Microsoft.DiaSymReader.Native` package. According to the Roslyn folks, using this package is the recommended way to get a reference to the DiaSymReader component that is required to produce full pdbs. The template seems like a better place to add this reference rather than adding a reference to `Microsoft.AspNetCore.Mv

[2018-03-14 19:32] DamianEdwards opened #357 "Remove references to Microsoft.VisualStudio.Web.CodeGeneration.Tools in 2.1 project templates"
Now that the scaffolder tool is a global tool, we need to remove the references to it as a project tool from all our 2.1 project templates, e.g. like here https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in#L45

@Eilon

[2018-03-14 19:54] pranavkm commented on #222
Spoke to the powers to be - we'll reference the package from Razor.

[2018-03-14 21:28] danroth27 opened #358 "Add ctor that sets up Configuration property in the ASP.NET Core Empty web app template"
All of the ASP.NET Core templates should setup a Configuration property in Startup.cs, but the Empty template is currently missing it:

[code]

[2018-03-14 23:02] Eilon commented on #358
@DamianEdwards and @davidfowl said to close this. Empty is empty.

[2018-03-14 23:02] #358 closed

[2018-03-14 23:34] ryanbrandenburg commented on #243
Moreover, neither Mac nor Linux tests have passed in at least 2 months for templating. Not sure if retention just doesn't go back that far or if they're literally never passed for this repo.

[2018-03-14 23:36] ryanbrandenburg commented on #243
To be clear, by the above I mean on Travis, not that they've also failed on AspNetCI.

[2018-03-15 00:48] jbagga commented on #243
I have seen this error frequently for Travis Linux runs:
[code]

ITestOutputHelper on Linux seems to be causing an issue.

[2018-03-15 16:24] mikes-gh opened #361 "public (static?) class Program"
I am wondering why the `public class Program` that contains the `public static void Main(string[] args)` entry point is not marked as static.
It only contains static members.  I see it written in some samples as static but the templates do not have the static modifier

Running any template against FxCop gives

[code]

[2018-03-15 19:40] jbagga commented on #322
I have a desing PR out for RazorPages for now https://github.com/aspnet/templating/pull/362
Once approved I can do the same for other templates.

[2018-03-15 21:14] mkArtakMSFT commented on #237
This will be handled as part of https://github.com/aspnet/templating/issues/277.

[2018-03-15 21:15] #237 closed

[2018-03-15 21:15] mkArtakMSFT commented on #277
For the #237 issue make sure it is also resolved as part of these changes.

[2018-03-15 22:17] kakins opened #364 "New angular templates do not support (some) bootstrap intellisense"
I just created a new project from the angular template using `dotnet new`.  I noticed now in Visual Studio I do not see some pretty common Bootstrap classes when I type.

![image](https://user-images.githubusercontent.com/14915247/37493924-af2a58ce-2874-11e8-9c43-384b99fa644b.png)

[2018-03-15 22:53] jbagga opened #365 "Razor View compilation error leads to F# NetFx test failure"
`'"bin\Release\net461\Microsoft.AspNetCore.Mvc.Razor.ViewCompilation-AnyCPU.exe"' is not recognized as an internal or external command, operable program or batch file.`

http://aspnetci/viewLog.html?buildId=422171&tab=buildResultsDiv&buildTypeId=Lite_Templating

[2018-03-16 01:26] Eilon commented on #364
@kakins for this type of Intellisense issue please use Visual Studio's built-in "Send Feedback" feature (located in the upper-right of VS's window:

![image](https://user-images.githubusercontent.com/202643/37498949-56852b22-287e-11e8-8f38-f6dee5339199.png)

That will ensure that the feedback goes to the VS team that works on that feature. Thanks!

[2018-03-16 01:26] #364 closed

[2018-03-16 13:04] kakins commented on #364
@Eilon Ok I can do that.  I just found it strange that it **only** happens when I switch to the new Angular CLI-based templates.  The previous templates installed with Visual Studio have the bootstrap intellisense support.  Are we sure this is not an issue with the template project itself?

[2018-03-16 17:27] ajcvickers commented on #357
Also for the EF global tool: see https://github.com/aspnet/EntityFrameworkCore/issues/10554

[2018-03-16 19:08] kakins opened #366 "Deploying to multiple environments?"
Does the current template setup facilitate easy deployment to multiple environments?

For instance, I've run into an issue where after deploying the latest template to a server, I received 404 errors due to incorrect path of *.bundle.js files.  The server was trying to access them at the root server path (e.g. http://myserver/*.bundle.js instead of http://test/myserver/*.bundle.js).

After some di

[2018-03-16 20:24] Eilon commented on #171
Discussed with @DamianEdwards and this is not worth patching for 1.x.

[2018-03-16 20:24] #171 closed

[2018-03-16 20:24] Eilon commented on #172
Discussed with @DamianEdwards and this is not worth patching for 1.x.

[2018-03-16 20:24] #172 closed

[2018-03-16 20:56] mkArtakMSFT commented on #357
Moving to `RC` milestone as we don't have enough capacity to handle it during `preview2`.

[2018-03-16 20:58] mkArtakMSFT commented on #323
Moving this out to the `RC` milestone

[2018-03-16 21:15] seancpeters opened #367 "Can't use Angular CLI commands (ng) #"
_From @lukyer on March 16, 2018 13:48_

I'm trying to use newest ASP.NET Core 2.1 with Angular template. It works as is but i'm unable to scaffold components using ng command. Actually no ng command is working because of missing .angular-cli.json in default template. It also makes impossible to ng serve manually out of ASP.NET Core application. It is important because now angular http server is al

[2018-03-16 21:18] Eilon commented on #367
@SteveSandersonMS can you take a look?

[2018-03-16 21:19] Eilon commented on #366
@kakins I would recommend having the dev and production environments have similar configurations with regard to paths.

[2018-03-16 21:52] DamianEdwards commented on #357
This has to be done in preview2 as the tools have already been converted to global tools and thus leaving the project tools in the templates will cause issues.

[2018-03-16 22:24] jbagga commented on #276
Web Tools tracking bug https://devdiv.visualstudio.com/DevDiv/_workitems/edit/585217

[2018-03-19 16:24] Eilon commented on #323
@DamianEdwards - was this the one you wanted in Preview2 as opposed to RC1?

[2018-03-19 16:26] Eilon commented on #243
Moving to RC1. We'll hopefully just switch to dotnet test anyway and we should be able to close this.

[2018-03-19 16:26] Eilon commented on #325
Moving to RC1.

[2018-03-19 16:26] Eilon commented on #332
Moving to RC1.

[2018-03-19 16:51] Eilon opened #371 "Add conditional RootNamespace property to web projects"
See https://github.com/dotnet/templating/pull/1478 for details.

cc @mlorbetske

[2018-03-19 16:52] Eilon commented on #364
@kakins understood, but one way or another as far as I know that's where to report almost all Intellisense issues for CSS/JS (there might be a few exceptions to that, but I don't think this is one of them).

[2018-03-19 17:06] DamianEdwards commented on #323
It was another that was required, but this is still desired.

[2018-03-19 17:13] #276 closed

[2018-03-19 17:18] shinkarmv commented on #276
Thank you team for addressing the issue.

Will look forward to contribute more.

Regards,
Mukesh

[2018-03-19 17:53] livarcocc opened #373 "Webapi template - logging set up incorrectly for Development"
_From @jankalfus on March 18, 2018 12:2_

There's a problem with the webapi template when it comes to logging. It sets up the json settings in a way a programmer does not expect - info and debug messages don't get logged in Development environment.

## Steps to reproduce
run `dotnet new webapi`
Then put some logging using `ILogger.LogInformation()` in the app.
run `dotnet run`

## Expected  behavi

[2018-03-19 18:56] jbagga commented on #338
There is one in Identity UI as well.

https://github.com/aspnet/Identity/blob/df4db2f49c80ef310067af0808b04b0acf87e148/src/UI/Areas/Identity/Pages/Account/Manage/_Layout.cshtml

[2018-03-19 21:55] jbagga opened #378 "Re-enable Auth tests"
Waiting for dotnet-ef to be in the CLI so it can be consumed from our Auth tests in templating.

See https://github.com/aspnet/templating/pull/370

cc @ryanbrandenburg FYI

[2018-03-19 23:26] #331 closed

[2018-03-20 01:19] #99 closed

[2018-03-20 01:20] #357 closed

[2018-03-20 01:49] kakins opened #384 "Latest Angular template throws Razor page exception when refreshing home page"
When I load my home page, or main component, of the angular app and click refresh, I see the following error:

![image](https://user-images.githubusercontent.com/14915247/37631242-ca967454-2bb6-11e8-8fd5-001262fcac3d.png)

This is a 'fresh' instance of the template that I started from the dotnet CLI.  As far as I can tell, there are no references to any razor views in the app.  I can only think th

[2018-03-20 16:46] #309 closed

[2018-03-20 17:36] #338 closed

[2018-03-20 20:48] kichalla commented on #176
https://github.com/aspnet/templating/commit/69f52cc3b6dee462fa76d471478f287565da3ad0
https://github.com/aspnet/templating/commit/88f8f977022681a15d3d6700ac311cc01aaa9cf2

[2018-03-20 20:48] #176 closed

[2018-03-20 21:02] Eilon commented on #373
I believe this is a dup of https://github.com/aspnet/templating/issues/316.

[2018-03-20 21:02] #373 closed

[2018-03-20 21:30] Eilon commented on #384
@kakins can you upload your app to GitHub so we can take a look?

[2018-03-20 21:45] Eilon commented on #337
This patch is *approved* for 2.0.7. I'll start an email thread to offer steps/instructions.

[2018-03-21 17:10] phenning opened #388 "Include fully qualified namespace on @model directive in Razor Page cshtml template."
This is needed to avoid errors in the cshtml file after adding a Razor Page to an Empty ASP.NET Core project, since no _ViewImports.cshtml exists.

Scaffolding already explicitly does this currently, so we should be consistent.

[2018-03-21 17:17] Eilon commented on #388
@phenning which template specifically has this problem?

[2018-03-21 17:34] #340 closed

[2018-03-21 17:38] kakins commented on #384
Perhaps I modified something when updated to the latest CLI-based template, but changing `action=Index` to `action=Home` seemed to resolve the issue.

There is no route in my app the corresponds to "Index", but for some reason MVC was looking for it when refreshing the home page, e.g. "localhost://myapp/home".

[code]

[2018-03-21 17:55] Eilon commented on #384
The name of the action by default is what's used to look up the view name (unless the view name is explicitly specified).

[2018-03-21 17:57] Eilon commented on #384
If this issue is resolved for you, can we close it?

[2018-03-21 19:05] phenning commented on #388
@Eilon The problem is here.

https://github.com/aspnet/templating/blob/1d00bb449fa0b65b0bf39348993ff195c9f89138/src/Microsoft.DotNet.Web.ItemTemplates/content/RazorPage/Index.cshtml#L3

This should be:
@model MyApp.Namespace.IndexModel
instead of
@model IndexModel

[2018-03-22 00:18] #337 closed

[2018-03-22 04:22] mlorbetske commented on #371
I talked this over with @vijayrkn and the thinking is to make this change for 2.0 and 2.1 templates only

[2018-03-22 04:30] chgi commented on #242
@SteveSandersonMS
Is there / will there be a simple way to enable typescript support after creating the project?
Something like eject CRA, then add these three lines at this place in webpack config?

[2018-03-22 05:17] Eilon commented on #388
Got it!

[2018-03-22 05:46] Eilon commented on #371
The bar for patching 2.0 templates is quite high. Are customers complaining about this loudly? It does have an easy workaround, no?

[2018-03-22 11:55] SteveSandersonMS commented on #242
@chgi For the templates themselves, our aim is consistency with the SPA frameworks' de-facto standards, not extending them to include other technologies. You should be able to use whatever tutorials exist online for ejecting from CRA and adding custom build configs, but it's independent from what we're aiming to provide here.

[2018-03-22 16:14] natemcmaster commented on #176
Should Microsoft.AspNetCore.SpaTemplates also be removed from the 2.0.x patches?

[2018-03-22 16:20] Eilon commented on #176
@natemcmaster I think it's fine to keep it there.

[2018-03-22 17:14] Tratcher opened #392 "F# Add HostFiltering middleware to non-empty templates"
Port of https://github.com/aspnet/templating/pull/374 to F# templates

[2018-03-22 17:58] #328 closed

[2018-03-22 19:11] DamianEdwards opened #394 "Remove the BrowserLink package and middleware line references from the project templates"
It's disabled by default in VS today and we don't want to have an extra package ref and code in the project for the limited utility BrowserLink provides right now. We'll revisit how to make enabling it easy in the future.

[2018-03-22 19:11] DamianEdwards commented on #394
@Eilon to triage & assign pls

[2018-03-22 20:12] Eilon commented on #394
@jbagga - all yours.

[2018-03-22 21:24] jbagga commented on #394
BrowserLink package is brought in and the middleware is used only when UseBrowserLink is set to true
https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json#L230

By default it is false and therefore not used. Are we removing the UseBrowserLink option? @DamianEdwards

[2018-03-22 23:07] HaoK commented on #353
Note: Need to update updateMigrations.cmd to run dotnet ef

[2018-03-22 23:24] Eilon commented on #394
Just to make sure it's documented: we decided to keep the option, but turn it off by default for VS scenarios.

[2018-03-22 23:43] JunTaoLuo opened #396 "Remove references to Microsoft.EntityFrameworkCore.Tools from the project templates where Microsoft.AspNetCore.App is referenced."
As titled. Microsoft.EntityFrameworkCore.Tools is a dependency of Microsoft.AspNetCore.App and the explicit reference to Microsoft.EntityFrameworkCore.Tools is redundant.

[2018-03-23 00:04] #394 closed

[2018-03-23 10:10] SteveSandersonMS commented on #367
Your command prompt has to be in the `ClientApp` subdirectory. That's where `.angular-cli.json` is, and where all the Angular CLI commands will work from. Scaffolding and all other `ng` commands work as normal from there.

[2018-03-23 10:10] #367 closed

[2018-03-23 10:44] lukyer commented on #367
Thank you for your response. It seems working now, but different template was served by `dotnet new angular` command a week ago. ClientApp content:

[code]

Doesn't matter anymore.
Thanks.

[2018-03-23 10:51] SteveSandersonMS commented on #329
@Eilon Yes, I would.

@Booster2ooo Sorry this is not working out conveniently. I'm afraid that the VS intellisense and Angular CLI compilation behaviors are both out of our control in this repo. If you change the config and it doesn't work, you'd have to contact VS and/or Angular CLI folks to determine whether your custom config is meant to be supported and if it's a bug, whether that can be fixed

[2018-03-23 10:51] #329 closed

[2018-03-23 13:26] SteveSandersonMS commented on #333
In development mode, Angular CLI needs to execute `node` and `npm`. It looks like you haven't given the IIS worker the necessary permissions to access whatever directories they are installed into.

You could start by giving it permission to read the AppData\Roaming\npm directory and then look out for any different error that could indicate which other directories it needs permissions to access.

O

[2018-03-23 13:26] #333 closed

[2018-03-23 13:33] SteveSandersonMS commented on #350
OK, since these changes shouldn't be in `release/2.0`, I'll close this.

[2018-03-23 13:33] #350 closed

[2018-03-23 15:09] javiercn commented on #277
I showed them how our tests run in selenium the other day.

[2018-03-23 17:53] mlorbetske commented on #371
It has an easy workaround & we're not actually shipping the 2.0 update but making the change available if 2.0 were to get respun. Updating 2.1 only should be fine as well

cc @vijayrkn

[2018-03-23 18:07] Eilon commented on #371
I don't think we'd get this approved for ASP.NET Core 2.0 considering it's a fairly narrow case.

[2018-03-23 18:45] kakins commented on #384
Yes, I have no razor views referenced in my project.  Settings this fixed my issue though.  Thank you for your help!

[2018-03-23 18:45] #384 closed

[2018-03-23 18:54] kakins commented on #366
@Eilon Thank you for the response.  That may be a good solution for some, unfortunately it is not the way our environment is set up.

We deploy to multiple non-prod (dev, test, training) environment sites, all hosted on the same server.  Each site path is prefixed by the environment name as mentioned above.

_For now_, I've modified the .csproj to read the Configuration variable, and set my config

[2018-03-23 18:54] Eilon commented on #384
Thanks!

[2018-03-23 18:56] kakins commented on #364
@Eilon Will do, thanks!

[2018-03-23 19:10] #396 closed

[2018-03-24 00:58] jbagga opened #400 "Re-enable tests when deps.json file issue is resolved"
Currently the newer SDK version is creating the deps.json file incorrectly and not bringing in Microsoft.AspNetCore.All reference

Since MVC is a transitive reference it is not being brought in either and we are seeing test failures http://aspnetci/viewLog.html?buildId=427552&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

Once the issue is fixed we need to re-enable these tests

[2018-03-24 14:40] kakins opened #402 "Error display on typescript build"
The previous (1.x) version of the Angular template had a nice debugger-like display whenever there was a typescript build error.  Are there any plans on bringing this back, or something similar?  Right now I have to browse through a lot of info my Output window in Visual Studio to see the typescript build error.

[2018-03-24 23:50] Eilon commented on #402
@SteveSandersonMS any thoughts on this? I'm not familiar with that feature.

[2018-03-26 08:31] tmds opened #404 "default ASP.NET Core template breaks when deployed in http only environment"
In microservice architecture it is common to use http (i.e. non https) services.

The default template includes HttpsRedirectionMiddleware.
When deploying this in a Docker container every request that is sent to the container, is responded with a redirect to a non-existing https port.

So the default template fails here (in production) for something that is (probably) an important use-case.

See h

[2018-03-26 15:14] Dave3of5 commented on #81
Any progress on this?

@brockallen I have indeed tried many times at this and each time I have failed, mostly with the complexity of configuring OAuth and connecting that to a Spa framework . The closest I've seen is:

https://github.com/ThunderDev1/reactjs-ts-identityserver

But this is split out into 3 separate endpoints which I don't want. I tried (and failed) to bring these together into a sin

[2018-03-26 15:34] brockallen commented on #81
You can cohost your API and IdentityServer. We show that here in our NDC London session: https://vimeo.com/254635632

[2018-03-26 15:48] Dave3of5 commented on #81
@brockallen Thanks a lot for this I'll take a look. Can you host the API, IdentityServer and a Spa on the same project. That's what I'm really looking for.

[2018-03-26 17:54] brockallen commented on #81
Yep, all possible.

[2018-03-26 18:07] Eilon commented on #404
@tmds - we're adding an option to create the templates without HTTPS enabled: https://github.com/aspnet/templating/issues/322

Would that solve your problem?

[2018-03-26 22:04] tmds commented on #404
That leaves the default template broken when you deploy it with http only. For services deployed using Kubernetes/OpenShift/haproxy/... this is a common deployment.

[2018-03-26 23:27] javiercn opened #408 "Add missing .gitattributes to this repo"

[2018-03-27 00:12] pranavkm opened #409 "F# template does not reference shared runtime"
Unlike the C# templates, the F# web project templates don't reference the `Microsoft.AspNetCore.App` shared runtime. Additionally, once we're confident that the Razor Sdk works well with it (https://github.com/aspnet/Razor/issues/2188), we should have it use the Sdk as opposed to MvcPrecompilation.

[2018-03-27 00:14] Eilon commented on #409
cc @cartermp FYI

[2018-03-27 03:32] javiercn opened #410 "Update the multiorg authentication snippets."
The code in the templates has some things that need cleanup. Once we agree on a better version we will update it. The current proposal is the following:

[code]

The original snippet:

[code]

[2018-03-27 04:04] #327 closed

[2018-03-27 11:56] mathysd opened #411 "question about window.initialReduxState"
The reactredux template creates an index.js file containing:

`// Get the application-wide store instance, prepopulating with state from the server where available.
const initialState = window.initialReduxState;
const store = configureStore(history, initialState);`

What options do I have to initialize this initial state?

[2018-03-27 14:04] tpetrina commented on #411
If I remember correctly, you need to utilise `asp-pretender` tag to create that object. It is used by server side rendering.

[2018-03-27 16:00] pranavkm commented on #222
Fixed in https://github.com/aspnet/templating/commit/ade5ae534d27a2a0f5e4a5c02ee4f52bde2072a9

[2018-03-27 16:00] #222 closed

[2018-03-27 16:20] Eilon commented on #411
@tpetrina maybe you meant `asp-prerender` tag? But `asp-pretender` tag sounds cool too 😄

[2018-03-27 17:41] ryanbrandenburg commented on #400
If you skip tests for any reason please add them to the Infrastructure project under Flaky.

[2018-03-28 06:49] mathysd commented on #411
Thanks, I will have a look

[2018-03-28 06:49] #411 closed

[2018-03-28 07:09] rhegner opened #414 "Update ASP.NET Core + Angular template"
Some main dependencies used in the angular template have new major versions (webpack, angular, bootstrap).

It would be really nice to have an updated template which comes with a webpack configuration for bootstrap 4.x.x (+ font awesome, because boostrap 4 does no longer include the glyphicons) and angular 5.x.x.

I'm mainly a backend developer and I don't understand webpack well enough to update

[2018-03-29 17:54] dleeapho commented on #404
/cc @MichaelSimons

[2018-03-29 19:22] jbagga commented on #400
Skipping SPA template tests for now as well as they have an API as part of the test

[2018-03-29 19:23] #365 closed

[2018-03-29 19:54] Eilon commented on #365
Done?

[2018-03-29 21:50] Eilon commented on #330
Moving to RC1.

[2018-03-30 16:21] Eilon commented on #361
@davidfowl - do you recall the reason for this?

[2018-03-30 21:20] jbagga opened #422 "Deprecate .bower.json for libraries in wwwroot"
We use .bower.json files to manage versions of our wwwroot libraries in templates.

We should consider moving to npm or NuGet for managing these libraries going forward.

cc @mkArtakMSFT @Eilon

[2018-03-30 22:07] leecow commented on #404
Tom will the `--no-https` option added for Preview 2 (discussed in https://github.com/aspnet/templating/issues/322) enable this scenario?

[2018-03-30 22:44] #15 closed

[2018-03-31 12:11] davidfowl commented on #361
It's how console applications always worked.

[2018-04-01 21:26] kakins commented on #364
If anyone is having this issue, I'm not sure if it's an issue with the templates _per se_, however intellisense did disappear when I switched to using the new templates.  I found a similar issue here:

https://irsali.github.io/others/2017/10/06/Visual-Studio-Ensuring-Intellisense.html

I'm really not sure what to do in this situation.  I don't want to add bootstrap to my project as the above post

[2018-04-02 04:43] Eilon commented on #361
Oh duh I misread the question to begin with. I guess we didn't want to change history, so everything remains as it always has been.

[2018-04-02 04:43] #361 closed

[2018-04-02 04:46] Eilon opened #427 "Login by email, not by username"
_From @BolatovAlau on April 1, 2018 22:59_

Asp.Net MVC wants to log in by username, not by email. I think mostly web apps log in by emails, not by username. And, Let's think that user changed his username, and he forgot it?!  But, he surely knows his email, so he should be logged in by email, not by username!

`PasswordSignInAsync(string UserName, string Password, bool RememberMe, bool shouldLock

[2018-04-02 04:46] Eilon commented on #427
_From @BolatovAlau on April 1, 2018 23:4_

and in the ForgotPassword method:

` var user = await UserManager.FindByNameAsync(model.Email);`

it wants to find a user using the name, but the parameter is an email!

it also should be replaced by

`var user = await UserManager.FindByEmailAsync(model.Email);`

[2018-04-02 04:47] Eilon commented on #427
@HaoK / @blowdart - any thoughts on this? It's not clear to me where the line is here between the default project templates and Identity itself. Is this all achievable by just changing the code in the project? Or would we need to change/add a feature to Identity?

[2018-04-02 04:51] HaoK commented on #427
This is all UI/default template behavior, basically username and email are different things in identity, there's an api to check password against a user instance, and there's apis to find users by user name and email, so the app can do whatever it wants

[2018-04-02 04:54] Eilon commented on #427
That was easy. Closing.

[2018-04-02 04:54] #427 closed

[2018-04-02 20:01] jbagga opened #429 "Use dotnet-ef package for the tests"
Right now we depend on the CLI to install dotnet-ef and use it in our tests.

They should instead be decoupled and use Korebuild to download and install "dotnet-ef" and consume in our tests.

cc @natemcmaster @mkArtakMSFT

[2018-04-02 23:21] #400 closed

[2018-04-03 15:34] SteveSandersonMS commented on #402
@kakins Since the new template uses Angular CLI (including for the build process), please see Angular CLI docs for info about possible configuration. Hope that's OK.

[2018-04-03 15:34] #402 closed

[2018-04-03 17:48] #429 closed

[2018-04-03 17:49] #378 closed

[2018-04-03 17:56] jbagga commented on #429
Thank you @natemcmaster!

[2018-04-03 18:30] jbagga opened #436 "Remove duplicated UseHttpsRedirection middleware from Startup in WebAPI"

[2018-04-03 22:46] larry-lau opened #441 "The new ReactRedux Template does not come with a HomeController. How do I force user to authenticate from the server?"
I am using AzureAd. How do I force user to authentication? I don't have the HomeController where I used to attach an AuthorizeAttribute.

Any built in support for this before I head down the middleware path?

Thanks

[2018-04-04 13:51] dasMulli opened #442 "OOB SPA templates for 2.0 should use 2.0 Program.cs convention"
The out of band SPA Templates for 2.0 use the `CreateWebHostBuilder()` convention for Program.cs, causing dotnet-ef to fail when trying to add EF support (getting the error message suggesting `IDesignTimeDbContextFactory`).

Not sure what to plan for the OOB templates is but they should use the `BuildWebHost()` convention so that adding EF Core will work without trouble.

[2018-04-04 16:36] Eilon commented on #442
Hi @dasMulli , is this in reference to the Microsoft.AspNetCore.SpaTemplates package? If so, that was retired per https://github.com/aspnet/Announcements/issues/289. If not, can you point at the specific template(s) in this repo that are affected?

[2018-04-04 16:55] dasMulli commented on #442
Specifically this one: https://github.com/aspnet/templating/blob/rel/2.0.x-spa-templates-oob/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/Program.cs

If this is the branch that was used to produce https://www.nuget.org/packages/Microsoft.DotNet.Web.Spa.ProjectTemplates/2.0.0 then https://github.com/aspnet/templating/pull/78 broke it work with 2.0.* EF tooling (without modif

[2018-04-04 16:57] dasMulli commented on #442
If you're considering to update the oob template package again before 2.1 (at which point it would work automatically with new EF tooling), it could also benefit from some dependency updates 😉 (Microsoft.AspNetCore.All for example)

[2018-04-04 21:31] Eilon opened #444 "Add automated validation of the templates to avoid template authoring bugs in metadata"
To avoid bugs such as the one fixed here: https://github.com/aspnet/templating/pull/443

We should add automated tests that ensure that the template authoring requirements are met by the ASP.NET Core templates. Details TBD.

@phenning @mlorbetske - please provide a link to the "template authoring requirements" doc when available.

[2018-04-04 22:15] kichalla opened #445 "[Preview2-Validation] ReturnUrl in _LoginPartial is incorrect"
Found this when verifying https://github.com/aspnet/Release/issues/259

A project based on MVC template + IndivualAuth option generates the following content in `Views\Shared\_LoginPartial.cshtml`

[code]

Notice that the `asp-route-returnUrl` should have been `asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"` instead of what currently is. This is a regression caused by this c

[2018-04-04 22:42] JasonBro opened #446 "VS2017 typescript breakpoints not working with the Angular Microsoft.DotNet.Web.Spa.ProjectTemplates::2.0.0 template"
When I create a new project using the `Microsoft.DotNet.Web.Spa.ProjectTemplates::2.0.0` Angular template, debugging of typescript in VS2017 is not working.

I can set a breakpoint in Chrome and that works OK, but I can't set a typescript breakpoint in VS2017. The previous version of this template (1.0.417) does allow debugging and the setting of typescript breakpoints in my current configuration

[2018-04-04 22:56] jbagga opened #448 "THIRD-PARTY-NOTICES should not appear in templates"
THIRD-PARTY-NOTICES should not appear in the templates and should be updated (remove unnecessary licences)

[2018-04-04 23:03] kichalla opened #449 "[Preview2-Validation] Scaffolding razor pages using EF CRUD generates _ValidationScriptsPartial"
Repro:
- Create a new `WebApplication` template based project (This should create `_ValidationScriptsPartial.cshtml` under `Pages\Shared` folder)
- Add the following class in `Data` folder
[code]
- Add a new folder `Customers` under `Pages` folder
- Right click on `Customers` folder | Add Razor Page.. | Razor Pages using EntityFramework (CRUD) | Add | Choose `Customer` model class and `Application

[2018-04-04 23:10] kichalla opened #450 "[Preview2-Validation] Scaffolding using EF CRUD should create a sub folder automatically"
**Repro:**
- Create a new `WebApplication` template based project
- Add a new class like the following
[code]
- Right click on Customers folder | Add Razor Page.. | Razor Pages using EntityFramework (CRUD) | Add | Choose Customer model class and ApplicationDbContext | Add

**Expected:** A `Customers` folder is created and the RazorPages views are generated in it.
**Actual**: A warning dialog like

[2018-04-04 23:59] DamianEdwards opened #451 "AllowedHosts configuration is incorrect in project templates"
The non-empty project templates include a configuration entry in `appsettings.json` to configure the host filtering middleware (included by default in `DefaultWebHost`), however the format is incorrect (it wasn't changed from an earlier design). This results in changes to the value to restrict valid host names not being picked up, unless the format is also changed (the array .

**Expected**
[code]

[2018-04-05 06:09] Eilon commented on #449
Should this be in the Scaffolding repo?

[2018-04-05 06:09] Eilon commented on #450
Should this be in the Scaffolding repo?

[2018-04-05 17:17] Eilon commented on #446
@JasonBro - this sounds like an issue with VS's debugging support, so I recommend logging an issue using VS's built-in "Send feedback / Report a problem" button in the upper-right corner of the VS window. That will ensure that the issue gets routed to the right people in VS and you'll be able to follow the issue's progress there. Unfortunately I don't think there's anything we can do here from wit

[2018-04-05 17:33] Eilon commented on #450
This issue was moved to aspnet/Scaffolding#720

[2018-04-05 17:33] #450 closed

[2018-04-05 17:33] Eilon commented on #449
This issue was moved to aspnet/Scaffolding#721

[2018-04-05 17:33] #449 closed

[2018-04-05 17:33] Eilon commented on #404
Thank you for your feedback. We're closing this issue as the behavior discussed seems to be by design.

[2018-04-05 17:34] Eilon commented on #159
netcoreapp2.1 is all we need, so closing. Thanks!

[2018-04-05 17:34] #159 closed

[2018-04-05 17:38] Eilon commented on #451
@jbagga - this can be closed as 3-Done right?

[2018-04-05 17:40] #451 closed

[2018-04-05 17:40] jbagga commented on #448
It seems to have been added as part of https://github.com/aspnet/Identity/commit/bc5d4733f150f70784e8cd53ad97c9c83e10bca3

[2018-04-05 18:08] tmds commented on #404
@leecow That leaves the default template broken when you deploy it with http only. For services deployed using Kubernetes/OpenShift/haproxy/... this is a common deployment.

@Eilon do you have some info on why https has become the default? Do you think that is the most common deployment for ASP.NET Core apps?

[2018-04-05 18:16] JasonBro commented on #446
I think it's more to do with the configuration of the typescript files when used with webpack. I think the map files are not being produced in the way that VS2017 likes them. It's difficult to argue that it's a problem with VS2017's debugging when debugging worked with the previous version of the SPA template, so I would urge you to re-open this and have another look at the problem.

Unfortunately

[2018-04-05 23:32] dougbu commented on #238
Reopening because scenario does not work correctly after scaffolding the file-based Identity into a project. See aspnet/Release#263 for some notes on that scaffolding.

Workaround is to manually add `[AllowAnonymous]` to page models (now on disk!) as users hit issues.

[2018-04-06 07:04] tmds commented on #404
"secure by default" sounds good... how is it in practice:
During development, the developer certificate feature is nice since it gives an https experience.
In deployment, the actual certificate will commonly be placed on the server terminating SSL (IIS/haproxy/nginx/...).

This is also an issue for the dotnet-docker container. How do you intend to handle it there? Will the container have an untrus

[2018-04-06 16:40] Eilon commented on #446
Understood, thanks for the clarification.

@SteveSandersonMS  - I imagine you have a better sense of these types of issues. If you had to guess, would you think it's more of a VS issue, or we did something odd in the templates?

[2018-04-06 17:10] Tratcher opened #455 "WebApi launch settings regression, 404"
In the new 2.1-preview2 templates the WebApi project always launches to the application root "/" and 404's. In 2.0 it would launch to "/api/values" and return some json. See `"launchUrl": "api/values"` that has been removed from the launchSettings.json file.

@jbagga  @javiercn

[2018-04-06 20:47] NTaylorMullen opened #456 "Angular template does not work on Windows Server 2012 R2 default web browser"
Not sure if this is something we support but figured I'd log it anyways. The angular template doesn't work on IE11:

![image](https://user-images.githubusercontent.com/2008729/38443579-060ae414-39a1-11e8-8728-cde4b816d3a7.png)

[2018-04-06 21:08] NTaylorMullen commented on #456
@Eilon @mkArtakMSFT  how much do we care about this in regards to preview2? My guess is that this is a corner case scenario that shouldn't be a blocker but not my call 😉

[2018-04-06 23:51] NTaylorMullen opened #457 "ConfigureHttps checkbox doesn't work when unchecked."
This is might be an external issue but I wasn't sure where to log it so figured here was a good start.

If you uncheck "ConfigureHttps" when creating your project:
![image](https://user-images.githubusercontent.com/2008729/38448558-d4e4eb50-39b9-11e8-8bb8-20d525c298cb.png)

It generates the project without the `UseHttps` code in startup but still configures your `launchSettings.json` to use ssl:
[

[2018-04-07 00:06] mkArtakMSFT commented on #457
@jbagga, can you please confirm that this is an issue in templating? Thanks

[2018-04-07 00:52] jbagga commented on #457
This is a bug in templating. The launchSettings.json should check for NoHttps option and not sslPort if it is true (like it does for setting applicationUrl for Kestrel)

[2018-04-07 02:58] dougbu commented on #238
@jbagga should this issue now move to aspnet/scaffolding? I'm not sure any affected files remain in this repo. For example, I found what appears to be a [`ForgotPassword.cshtml.cs`](https://github.com/aspnet/Scaffolding/blob/6558238ab8c2add9b75b8022d1445ed20c71c7a1/src/VS.Web.CG.Mvc/Templates/Identity/Pages/Account/Account.ForgotPassword.cs.cshtml) template in aspnet/scaffolding.

[2018-04-07 04:33] mkArtakMSFT commented on #457
@NTaylorMullen, seems a simple workaround would be to just update the `lunchSettings.json` to specify http - and that would do it, correct?

[2018-04-07 04:53] NTaylorMullen commented on #457
Yup, that will fix the issue for the users current project.

[2018-04-07 04:58] jbagga commented on #457
Removing the sslPort would do it for IIS Express. For Kestrel, it should already be correctly configured.

[2018-04-07 05:49] tmds commented on #404
@richlander @MichaelSimons do you know this?

[2018-04-07 05:50] mkArtakMSFT commented on #457
Ok, then this is not a concern for preview2. We'll address it during `rc1`. Thanks folks.

[2018-04-07 05:51] mkArtakMSFT commented on #457
@danroth27, this is something we should document in the release notes as a `known issue`.

[2018-04-07 15:01] kakins opened #459 "Angular template: Cannot find the name 'Iterable', etc. (Visual Studio Errors)"
I just noticed this today, about 24 errors are now appearing in my Visual Studio error list.  I have not modified any of the default .ts files that came with the latest Angular template.

![image](https://user-images.githubusercontent.com/14915247/38456431-5d3148b0-3a4a-11e8-83f0-f2b50d1bff2e.png)

Included in these errors is one concerning a decorator that I've never encountered before.  Interest

[2018-04-07 23:27] Eilon commented on #457
Call me when this becomes a reality 😄

[2018-04-07 23:29] Eilon commented on #456
Well it's by-design so we definitely won't fix it...

[2018-04-07 23:30] Eilon commented on #456
IE is not supported out-of-the-box with the SPA templates. You have to install a polyfill library that provides the missing functionality to IE. All other major browsers should work out-of-the-box.

[2018-04-07 23:30] #456 closed

[2018-04-07 23:40] Eilon commented on #459
Hi @kakins , which version of the template are you using?

[2018-04-07 23:40] Eilon commented on #459
Hi @kakins , which version of the template are you using?

[2018-04-08 00:12] Eilon commented on #404
@glennc / @DamianEdwards / @javiercn - should we have a further discussion on the HTTPS + Docker story?

[2018-04-08 00:14] DamianEdwards commented on #404
We had a discussion in the office yesterday and have a new plan to address this in RC. Basically the redirect middleware will no longer assume 443 if it can't otherwise determine the HTTPS endpoint address. We're also considering commenting out the HSTS middleware (or some other measure to avoid accidental application to unintended host names, e.g. localhost).

[2018-04-08 21:01] kakins commented on #459
This is the CLI-based template that I used following these instructions, using the dotnet cli:

https://docs.microsoft.com/en-us/aspnet/core/spa/angular?tabs=visual-studio

[2018-04-08 23:08] javiercn commented on #404
HSTS will not cause problems as only applies when the connection is HTTPS and it already has the ability to filter host names (to avoid applying it to localhost, etc.)

As for the redirection, let’s chat about it later this week.

[2018-04-09 14:51] mrlife commented on #267
@DamianEdwards Will this also come to Visual Studio for Mac?

[2018-04-09 17:08] ryanbrandenburg opened #460 "Flaky test: AngularTemplate_Works_NetFramework"
This test [fails](http://aspnetci/project.html?projectId=Lite&testNameId=5972914190864046784&tab=testDetails) occasionally on the CI with errors like the following:

[code]

Future instances of this failure can be found [here](http://aspnetci/project.html?projectId=Lite&testNameId=5972914190864046784&tab=testDetails).

[2018-04-09 18:50] jbagga commented on #238
Filed https://github.com/aspnet/Scaffolding/issues/735

[2018-04-09 18:50] #238 closed

[2018-04-09 19:12] mkArtakMSFT commented on #409
@jbagga, can you please handle this? Thanks!

[2018-04-09 19:17] Eilon commented on #459
@SteveSandersonMS - any idea on this?

[2018-04-09 19:19] mkArtakMSFT commented on #323
@jbagga, how long will this take? Should we change the cost of this?

[2018-04-09 19:25] Eilon commented on #404
I'll schedule a chat with: @DamianEdwards @davidfowl @javiercn @jbagga @mkArtakMSFT and me.

Need to figure out how we want to conditionally enable the HSTS middleware.

[2018-04-09 19:27] Eilon commented on #347
Possible dup of https://github.com/aspnet/templating/issues/455.

@jbagga can you confirm?

[2018-04-09 19:56] jbagga commented on #347
Yes. This will be handled by #455

[2018-04-09 19:56] #347 closed

[2018-04-09 20:45] jbagga commented on #409
All the F# templates have a `Microsoft.AspNetCore.App` reference:

- Empty: https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/EmptyWeb-FSharp.fsproj.in#L14
- Web API: https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/WebApi-FSharp.fsproj.in#L15
- Web App: https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.W

[2018-04-09 20:45] #409 closed

[2018-04-09 23:16] danroth27 opened #461 "Update individual user accounts template to match output of identity scaffolder"
Creating an ASP.NET Core Web Application with individual user accounts enabled should be the same as creating an ASP.NET Core Web Application and then running the identity scaffolder. I think this means the code in `Startup.cs` for setting up identity and the `DbContext` should move into `IdentityHostingStartup.cs` under the identity area.

[2018-04-09 23:41] Eilon commented on #409
Nice!

[2018-04-09 23:51] mkArtakMSFT commented on #342
Moving this out to `2.2.0` as this is just a nice-to-have thing.

[2018-04-10 00:19] mikeharder opened #462 "Razor csproj has extra newlines between sections"
In CLI 2.1.300-preview2-008530, the Razor csproj has two newlines after the PropertyGroup and ItemGroup.  The other ASP.NET Core templates have only one newline after these sections.

# dotnet new razor
[code]

# dotnet new web
[code]

[2018-04-10 00:34] cartermp commented on #409
Thanks @jbagga

[2018-04-10 18:27] jbagga commented on #455
FYI @mkArtakMSFT

https://github.com/dotnet/templating/issues/1508 There is an issue with the `launchSettings.json` schema. But it isn't blocking.

[2018-04-10 19:02] #457 closed

[2018-04-10 19:52] pranavkm commented on #323
@DamianEdwards should the class lib put things inside an Area by default rather than under `/Pages`.  Same concerns as https://github.com/aspnet/Mvc/issues/7608

[2018-04-10 23:11] mlorbetske commented on #325
It looks like this is present in CLI version 2.1.300-preview2-008530 (dotnet/templating commit hash 9331d3937ca61f1183ffab80ecba6bd6ce9ba3d9)

[2018-04-10 23:39] jongalloway opened #465 "Are ASP.NET scaffolded templates Section 508 (Accessibility standard) compliant?"
Per discussion on this week's ASP.NET Community Standup, we need to check if the scaffolded templates are compliant with [Section 508](https://www.section508.gov/content/learn).

[2018-04-11 00:53] jbagga commented on #325
I tried https://github.com/dotnet/cli 2.1.300-preview3-008443 which did not work

![shortname](https://user-images.githubusercontent.com/6234561/38590723-e8db277e-3ce7-11e8-99d7-198e5d8ff62a.png)

I can try the preview2 version you suggested. Thanks

[2018-04-11 01:50] mlorbetske commented on #325
Is this a prodcon build? If not, then we'll need to manually insert update bits for the change to be there.

[2018-04-11 23:09] DavidChennells commented on #414
+1.  A pressing scenario that I've found difficult to enable for AspNetCore 2.1 + Angular is Hot Module Replacement consistent with:
- ng eject (i.e. delegating npm start to webpack-dev-server)
- spa.UseProxyToSpaDevelopmentServer("http://localhost:4200");  // That is, running the SPA project outside of the IDE
- Kestrel rather than IIS

I've noticed numerous discussions around this, but no publis

[2018-04-12 15:39] blowdart opened #468 "Upgrade to Bootstrap 4"
_From @thiennn on April 12, 2018 2:46_

Bootstrap 4 has been released for a while. It would be nice if Identity UI support it by default

_Copied from original issue: aspnet/Identity#1751_

[2018-04-12 15:39] blowdart commented on #468
This would be wider than just identity, so I'm going to move it to the templating repo.

[2018-04-12 16:42] Eilon commented on #468
Dup of https://github.com/aspnet/templating/issues/278. We plan to do this in 2.2.0.

[2018-04-12 16:42] #468 closed

[2018-04-12 16:45] Eilon commented on #465
Related: https://github.com/aspnet/templating/issues/107

[2018-04-12 21:33] justcla opened #469 "Remove "Bower" from images that appear in Web Templates"
The web template for ASP.NET Core MVC web app includes four banner images. One of the images is about "Packages" and lists Bower (along with NuGet, npm and Gulp).

Bower is no longer supported by Visual Studio, so we should update the image, or remove it from the templates.

![image](https://user-images.githubusercontent.com/17131343/38705439-6aa1d326-3e5e-11e8-95e2-22c9d11bfa29.png)

[2018-04-12 21:33] justcla commented on #469
Note, please check all other web templates for use of this image.

[2018-04-12 22:53] DavidChennells opened #470 "Angular home.component.html reference re server-side prerendering no longer applies"
Minor issue here:  On the home page of the angular template (home.component.html), we're still saying,

However, the inline guidance referred to in Startup.cs was removed in commit 22da82f (Jan 4) by @SteveSandersonMS

[2018-04-13 03:26] DamianEdwards commented on #469
I think we should just remove this entire panel from the carousel, as everything on there is kinda contentious now.

[2018-04-13 03:31] DamianEdwards opened #471 "Update project templates to use LibMan"
LibMan now ships in VS 15.7. It will soon be followed by a CLI tool that will enable it for cmd line scenarios. When that happens, we need to update the templates to use LibMan for managing client dependencies. This will involve including a `libman.json` file in the root of the projects, configured to bring in the required client libs (jQuery, jQuery Validate, jQuery Validation Unobtrusive, and Bo

[2018-04-13 08:34] LukeBillo opened #472 "[Help] How do you write acceptance tests?"
Just wondering how you'd go about writing acceptance tests / end to end tests with these templates? Specifically, the Angular + .NET Core template - I've attempted to run Kestrel via IWebHost in acceptance tests using a .dll and then run Selenium, but couldn't get this to work and it seems quite messy.

Apologies if this has been answered elsewhere.

[2018-04-13 14:32] guardrex commented on #471
For our upcoming docs issue(s), is it likely that LibMan will become part of the templates for 2.2?

[2018-04-13 15:28] DamianEdwards commented on #471
Very, possibly earlier (in a 2.1.x patch)

[2018-04-13 16:49] Eilon commented on #472
Selenium is definitely one way to go, and we use it as well to test the templates here.

Beyond that, we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` tag to get broader views from the community. Thanks!

[2018-04-13 16:49] #472 closed

[2018-04-13 16:58] scottaddie opened #473 "Angular Project Template does not work with `ng` commands"
Moved from https://github.com/aspnet/Docs/issues/5927. Original issue opened by @rhires.

[2018-04-13 17:33] Eilon commented on #473
@SteveSandersonMS - any ideas on this issue?

[2018-04-13 17:50] SteveSandersonMS commented on #473
We didn’t consciously change this but maybe it regressed somehow. Hard to see how the app could be running at all if that file is missing though. Will try to repro.

[2018-04-13 18:02] Eilon commented on #469
These "images" are SVG files. In particular, `banner3.svg`, such as this instance: https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/images/banner3.svg

So I guess we should delete banner3.svg from everywhere, and rename banner4 to banner3.

[2018-04-13 18:11] #332 closed

[2018-04-13 18:29] Eilon commented on #473
This reasoning makes sense, thanks @SteveSandersonMS .

[2018-04-13 18:33] Eilon commented on #330
OK I created https://aka.ms/aspnetcore-template-3pn-210 , which right now redirects to https://github.com/aspnet/templating/blob/dev/src/THIRD-PARTY-NOTICES .

So, let's use that AKA.MS link for now, and then we'll update it at RTM time once we have a real tag for the release.

[2018-04-13 22:51] jbagga commented on #404
See  aspnet/BasicMiddleware#315 for further discussion. No changes are planned for the templates at the moment.

[2018-04-13 23:46] #448 closed

[2018-04-14 00:02] #404 closed

[2018-04-14 17:12] markhewett commented on #242
@SteveSandersonMS Is there anything special about how CRA is used to create this template?  Someone has [forked](https://github.com/wmonk/create-react-app-typescript) the react scripts to create a TypeScript version, so can we just recreate the `ClientApp` directory?

    $ rm -rf ClientApp
    $ create-react-app client-app --scripts-version=react-scripts-ts # doesn't like ClientApp name
    $ mv

[2018-04-14 17:57] georgiosd opened #475 "Passing information about the environment from the server to the client (React)"
Hey all!

My main question is - how does one pass information about the environment over to the React build?
Things like the App Insights instrumentation key, which hopefully can be defined only on the server side.

When the bootstrap index.html was rendered with MVC, this was obvious. Now that the React template relies on create-react-app (amazing!), not so much :)

While I'm here, I'm also sligh

[2018-04-15 08:28] georgiosd commented on #475
I seem to have found the answer here: https://github.com/aspnet/templating/issues/207

[2018-04-15 08:28] #475 closed

[2018-04-15 08:33] georgiosd commented on #207
@SteveSandersonMS What do you think about including a "virtual" JS file in the HTML that is then "written" by the middleware? That saves having to modify stuff.

[2018-04-16 10:54] SteveSandersonMS commented on #207
@georgiosd You should be able to do that if you wish, just by adding extra items to the ASP.NET middleware pipeline.

[2018-04-16 10:55] SteveSandersonMS commented on #242
@markhewett I'd hope that whatever CRA-based projects and packages exist should be able to work equally well when hosted on an ASP.NET Core app like this template gives you. I can't promise than any specific third-party library does work though; you'd have to try it and see.

[2018-04-16 11:36] SteveSandersonMS commented on #446
It's a duplicate of this: https://github.com/aspnet/JavaScriptServices/issues/1474

Summary: VS and Angular CLI aren't aware of each others' source map formats.

It's specifically because we move to the Angular CLI-based template and hence don't control the source maps format.

[2018-04-16 11:39] georgiosd commented on #207
Yes, I tried it, and it seems to work quite well! Thanks

[2018-04-16 17:56] jbagga commented on #325
See #477

[2018-04-16 23:33] kakins commented on #459
I wish that were the case!  Unfortunately I have Node 9.5.0 & NPM 5.6.0.

[2018-04-17 16:59] scottaddie opened #478 "Remove wwwroot folder from Web API project template"
The latest Web API project template includes a _wwwroot_ folder. Since the controller (*ValuesController.cs*) derives from *ControllerBase*, MVC views aren't supported. It would then make sense to remove anything else from the template related to UI/static resources. Sure, I may add the folder back if I'm customizing my Swashbuckle-based help pages. I can't think of any other time I've used that f

[2018-04-17 17:44] Stefan-Ilic commented on #446
@SteveSandersonMS

Sorry if I got that wrong, but to me it sounds a bit like "there's nothing we can do about it". Is this issue something you will resolve before releasing .NET Core 2.1 or is it not on the backlog at all?

Don't mean to sound rude or anything, just a quick clarification would be nice.

[2018-04-17 18:01] kakins commented on #402
![image](https://user-images.githubusercontent.com/14915247/38887718-3ac9c840-423f-11e8-9c8d-c08d6da0c313.png)

I looked at the Angular CLI docs, but couldn't find much.

Here is an example of what I see using the new templates if I remove my bootstrap.css, for instance.  The previous templates showed something similar on compile failures.  Is there a way to bring this back?

[2018-04-17 18:05] SteveSandersonMS commented on #402
@kakins Since Angular CLI controls compilation in the new template, please see Angular CLI docs for any available options for handling compilation failures.

[2018-04-17 18:13] SteveSandersonMS commented on #446
@Stefan-Ilic The compatibility between Angular CLI and VS is a matter for Angular CLI and VS, not the template in this repo. So I *hope* they will make this work, but I don't have any inside information about that. It's not something we control in this repo.

[2018-04-18 12:45] GeekyMonkey commented on #478
Sounds like it would be a cleaner Angular dot net solution rather than a dot net web app with angular thrown in

[2018-04-18 16:28] mkArtakMSFT commented on #330
We've looked through the PR during the Shiproom meeting yesterday. Go ahead with the commit, @jbagga.

[2018-04-18 17:05] #469 closed

[2018-04-18 17:06] #325 closed

[2018-04-18 17:09] jbagga opened #480 "Update THIRD-PARTY-NOTICES link to point to git tag for 2.1 release"
See https://github.com/aspnet/templating/issues/330#issuecomment-381224180

Create a Git release **tag** for a version of https://github.com/aspnet/templating/blob/dev/src/THIRD-PARTY-NOTICES that has what we want for the 2.1.0 RTM
~Update the AKA.MS link (example: https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/

[2018-04-18 17:10] jbagga commented on #330
See https://github.com/aspnet/templating/issues/480

[2018-04-18 17:10] #330 closed

[2018-04-18 22:07] Eilon commented on #446
Closing as dup.

[2018-04-18 22:07] #446 closed

[2018-04-19 19:35] DamianEdwards commented on #470
Moving this out to RTM and assigning to @SteveSandersonMS

[2018-04-20 01:03] mlorbetske opened #482 ""dotnet new mvc -lang f#" failing with switch "-au" on Windows 10 64 bit"
_From @wli3 on April 19, 2018 23:53_

_From @MikeGale on September 21, 2017 6:47_

## Steps to reproduce

1. dotnet new mvc -lang F# -o AspNetCoreFS -au Individual

## Expected  behavior

Generate an F# mvc web site.  (--help says that this can be done.)

## Actual behavior

Fails with error:
[code]
(CSharp mvc is generated as expected.)

## Environment data
`dotnet --info` output:

.NET Command L

[2018-04-20 01:03] mlorbetske commented on #482
_From @wli3 on April 19, 2018 23:53_

_From @am11 on September 21, 2017 12:24_

It seems like if any of the user supplied argument is meant for cli's top-level command (`dotnet-new` in this case), the argument parser considers all the rest of the arguments are meant for top-level command as well. In this case `-au Individual` was actually meant for `mvc` sub-command.

In case of `dotnet new mvc -a

[2018-04-20 01:04] mlorbetske commented on #482
_From @wli3 on April 19, 2018 23:53_

_From @livarcocc on September 21, 2017 16:9_

@wli3 can you take a look?

@mlorbetske @seancpeters FYI

[2018-04-20 01:04] mlorbetske commented on #482
_From @wli3 on April 19, 2018 23:54_

CLI passed all args to template engine. The error is at template engine stack.

![image](https://user-images.githubusercontent.com/6993335/39023921-551f2532-43f2-11e8-944b-12670fd60645.png)

[2018-04-20 01:04] mlorbetske commented on #482
These options aren't actually supported by the F# flavor of the MVC template. `dotnet new mvc -lang F# -h` reveals this. Moving this to aspnet/templating to see if they've got plans on adding authentication options to the F# templates

[2018-04-20 11:11] SteveSandersonMS opened #483 "Enable docker flag for SPA templates"
Currently when you create a new Angular/React project, the *Enable Docker support" option is disabled because the template config doesn't declare support for that.

We should implement support for this. AFAIK it should be able to work the same way as other ASP.NET templates.

[2018-04-23 15:45] balachir opened #485 "In ASP.NET Core 2.0 templates, remove EF Core and SecretManager tool references from csproj for CLI version 2.1.300 or higher"
With latest 15.7 build + CLI version 2.1.300-preview3-008646 installed,

1. File > New > ASP.NET Core Web Application
    .NET Core > ASP.NET Core 2.0 > Web Application > Individual User Accounts
2. View Error List

**ACTUAL**
Warnings in Error list about obsolete tool references

![image](https://user-images.githubusercontent.com/8246794/39137407-51748368-46d2-11e8-9f14-426b04dba394.png)

**EXPEC

[2018-04-23 19:31] natemcmaster opened #486 "Fix point-in-time TFM mismatch in tests for 2.2."
https://github.com/aspnet/templating/pull/479 introduce a cyclical dependency on the CLI. We should update templates to test with the currently-building version of the shared framework, not the one bundled in the CLI.

cc @JunTaoLuo @jbagga @ryanbrandenburg

[2018-04-23 20:29] muratg commented on #485
These seem to be properly removed from the template: https://github.com/aspnet/templating/blob/release/2.1/src/Microsoft.DotNet.Web.ProjectTemplates/StarterWeb-CSharp.csproj.in

(Contrast with 2.0 file and see the reference)

Can you try the command line `dotnet new` experience?

[2018-04-23 22:59] JunTaoLuo opened #488 "Remove AspNetCore TargetFrameworkVersions workaround"
Revert https://github.com/aspnet/templating/pull/487 when we update our TFM or have released 2.1.0.

[2018-04-23 23:35] #486 closed

[2018-04-24 03:29] balachir commented on #485
Yes it's fine for the ASP.NET Core 2.1 templates. From my title and repro steps, I'm suggesting that we remove these from the ASP.NET Core 2.0 templates when the templates are part of CLI 2.1.300 or higher.

[2018-04-24 03:35] muratg commented on #485
Ah, I see.

It's the new RC1 SDK with 2.0 templates having obsolote tool warnings.

I don't think this is escrow resetting, but we should consider it for the RTM.  cc @livarcocc and @Petermarcu for their thoughts.

[2018-04-24 12:03] kichalla opened #489 "Update Razor Class Library icon"
We have a new icon for Razor Class Library from an external team. Update it.

[2018-04-24 12:11] kichalla opened #490 "Show 'Add Razor Page...' in the menu in Razor Pages web application"
I wanted to add a razor page in an area of a Razor web pages application, but the top menu item says 'Controller..'. Since this is a Razor Pages web application, we should show 'Razor Page...' as the default option.

![image](https://user-images.githubusercontent.com/6559784/39185995-f0936cec-477d-11e8-877f-04197dfa836b.png)

[2018-04-24 14:15] balachir commented on #485
Agree. I'm fine with fixing this for 2.1 RTW

[2018-04-24 15:14] balachir opened #491 "Razor Class Library template should be in the .NET Standard node of New Project dialog rather than in One Asp Net dialog"
**INSTALL STEPS**
1. VS 15.7 Preview 5 build d15.7.27622.00
2. CLI for .NET Core 2.1 RC (version 2.1.300-rc1-008662)

**ACTUAL**
The new "Razor Class Library" template currently shows up in the One Asp Net dialog when "ASP.NET Core 2.1" is selected

When you create a project using the template, the TFM in csproj is netstandard2.0. It's unclear from the One Asp Net UI that the project's TFM will be

[2018-04-24 16:14] mkArtakMSFT commented on #489
@kichalla, can you please handle this? Thanks!

[2018-04-24 21:51] DamianEdwards commented on #485
Aren't those templates shipped in the 2.1.2xx SDKs though? That is, I didn't think we even had 2.0 templates in 2.1.3xx SDKs.

[2018-04-25 01:57] muratg commented on #485
Good point!  @balachir can you find out where do those templates come from in your testing?

[2018-04-25 07:01] balachir commented on #485
@phenning / @seancpeters, do you know the answer to Damian's question?
/cc: @vijayrkn

[2018-04-25 14:03] phenning commented on #485
Damian is right, 2.0 Templates will come from 2.1.200 SDK, not 2.1.300 SDK.

[2018-04-25 14:41] balachir commented on #485
I see, so 2.1.300 SDK ships only ASP.NET Core 2.1 templates? Then I suppose we cannot do much about this issue.

It still feels like an odd experience though that with the 2.1.300 SDK installed, user will get warnings out-of-the-box when creating ASP.NET Core 2.0 project. I wish there was an easy way to solve it.

[2018-04-25 17:35] DanHarman commented on #156
@dloukola thanks - I just tried upgrading the nuget packages to the preview 2 version on a react project from 2.0.0 and it still has the same problem, but I'm still on the release sdk so I have a feeling that may be my issue.

[2018-04-25 17:37] dloukola commented on #156
@DanHarman I think you need to be on 2.1 sdk. We upgraded even though working with preview stuff can many times be very painful.

[2018-04-26 19:07] cyberh0me opened #497 "'x-content-type-options' header is not specified"
-`<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>`
-`<link rel="stylesheet" href="/css/site.css">`
-`<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">`
-`<script src="/lib/jquery/dist/jquery.js"></script>`
-`<script src="/js/site.js?v=ji3-IxbEzYWjzzLCGkF1KDjrT2jLbbrSYXw-AhMPNIA"></script>`

[Require `X-Content-Type-Options` HTTP response header](https://sonarwhal.com

[2018-04-26 19:10] ghost opened #498 "sri: requested without the "integrity" attribute"
default ASP.NET Core Web Application using Kestrel

- `<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>`
- `<link rel="stylesheet" href="/css/site.css">`
- `<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">`
- `<script src="/lib/jquery/dist/jquery.js"></script>`
- `<script src="/js/site.js?v=ji3-IxbEzYWjzzLCGkF1KDjrT2jLbbrSYXw-AhMPNIA"></script>`

[Require scripts and

[2018-04-26 19:15] ghost opened #499 "No "cache-control" header or empty value found. It should have a value"
default ASP.NET Core Web Application using Kestrel

Set a cache-control header, even if it's no-cache. Otherwise it's up to the browser to decide what to do and that can cause interop issues

[HTTP Cache](https://sonarwhal.com/docs/user-guide/rules/rule-http-cache/)

[2018-04-26 19:16] cyberh0me opened #500 "Text based resources shouldn't start with the BOM character to force UTF-8 encoding"
default ASP.NET Core Web Application using Kestrel

-`<link rel="stylesheet" href="/css/site.css">`
-`<script src="/js/site.js?v=ji3-IxbEzYWjzzLCGkF1KDjrT2jLbbrSYXw-AhMPNIA"></script>`

[Warn if the byte-order mark](https://sonarwhal.com/docs/user-guide/rules/rule-no-bom/)

[2018-04-26 19:23] cyberh0me opened #501 "wrong repository"
https://github.com/aspnet/Home/issues/3099

[2018-04-26 19:35] #501 closed

[2018-04-26 19:40] blowdart commented on #497
As a work around, you can do it right now via middleware with

[code]

Or via [nwebsec](https://docs.nwebsec.com/en/latest/), which also includes a bunch of security headers.

This may well call for a better header middleware in basic middleware so some of the more common security headers, without undercutting nwebsec.

[2018-04-27 22:18] ryanbrandenburg opened #502 "Broken tests: MvcTemplate_IndividualAuth_Works_NetCore et al"
These tests [fail](http://aspnetci/viewLog.html?buildId=457151&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest) on Win2012 with the following error:

[code]

CC @jbagga

[2018-04-28 00:33] ryanbrandenburg commented on #502
An example failure [here](http://aspnetci/viewLog.html?buildId=457151&buildTypeId=Lite_UniverseTest).

[2018-04-30 16:58] #502 closed

[2018-04-30 17:15] blowdart opened #504 "Bring back "Cloud-Single Organization" templates"
For on-premises ADFS, both WS-Fed and ODIC (so we'd need to discover what version of ADFS they're running)

From https://github.com/aspnet/Home/issues/3107

[2018-05-01 20:52] kichalla commented on #489
https://github.com/aspnet/templating/commit/8ce82e7512fc7d86e38d12da5b509604551f48d5

[2018-05-01 20:52] #489 closed

[2018-05-03 18:41] #462 closed

[2018-05-03 20:27] HaoK commented on #353
Done via https://github.com/aspnet/templating/pull/484

[2018-05-03 20:27] #353 closed

[2018-05-04 20:03] scottaddie opened #509 "Debugging Typescript"
Moved from https://github.com/aspnet/Docs/issues/6214. Originally posted by @vwzhang.

[2018-05-04 20:07] scottaddie commented on #509
More detail provided via email:

I think dotnet SPA angular template is great because it gets rid of webpack.config.json and MVC razer stuff. But I am not able to set up a breakpoint in typescript code of a SPA project created by "dotnet new angular …."(2.0). But the vue version is working fine. I believe this is the matter of specifiying where the source root is. However I am not able to fined th

[2018-05-04 20:16] scottaddie opened #510 "Angular template - Bootstrap"
Moved from https://github.com/aspnet/Docs/issues/6211. Originally posted by @kwakuduahc1 in regards to the Angular SPA template.

[2018-05-04 20:43] muratg commented on #480
@mkArtakMSFT This is in 2.1.0. Will you be sending the shiproom template?

[2018-05-04 21:29] muratg commented on #470
Is this in yet? Can this be closed?

[2018-05-04 21:30] muratg commented on #480
@mkArtakMSFT Is this in 2.1.0?  Will you be sending the shiproom template?

[2018-05-04 23:02] mkArtakMSFT commented on #480
There is no need for Shiproom approval for this. We've talked about this already in Shiproom during RC, and I said that we are tracking the RTM change as well. @muratg

[2018-05-05 00:05] JunTaoLuo opened #511 "Create aspnet testing templates"
Following up to https://github.com/aspnet/Mvc/issues/7710. We could consider shipping (either OOB or as part of the next SDK release) a template illustrating how to set up a test project for aspnet apps. The difference between this template and the normal test template is an additional reference `<PackageReference Include="Microsoft.AspNetCore.App" />` and changing the SDK from `Microsoft.NET.Sdk`

[2018-05-05 00:41] sebastienros opened #512 "No appsettings.json on web template"
The unfortunate consequence is that console logging is enabled, with a default to `Information` even on Production, and logs every requests.

[2018-05-05 01:03] mikeharder opened #513 "Angular template incompatible with NodeJs 10"
The Angular template is currently incompatible with NodeJs 10.  The fix may be to upgrade `node-sass` to `4.9.0` (https://github.com/sass/node-sass/issues/2345).

# Repro Steps
1. Install NodeJs 10
2. `dotnet new angular`
3. `dotnet build`

# Error
[code]

[2018-05-09 19:10] pranavkm opened #514 "Tests logging fails with There is no currently active test."
E.g. https://travis-ci.org/aspnet/templating/jobs/376048486

[code]

[2018-05-10 18:40] muratg commented on #513
This was approved in the shiproom today.

[2018-05-10 22:39] mkArtakMSFT commented on #513
Thanks @muratg!

[2018-05-11 16:09] dapalmi opened #517 "Change default port for NG Live Development Server"
I use the Angular Template 2.0.0 with ASP.NET Core with Docker Support.
Here is my Dockerfile:

[code]

I want code changes (Typescript, HTML, CSS, ...) to show up in the browser without having to restart the whole docker-compose.
But it doesn't seem to work.
Now I saw following entry in the Debug output:

Starting @angular/cli on port 44695...

Where does the port number come from, since the "sta

[2018-05-11 17:31] mkArtakMSFT commented on #480
@muratg, there is no action here related to a code change. I'll just update the FWLINK to point to the new location after we'll have the release tag created.

[2018-05-11 20:30] kichalla commented on #513
b7eacbb1c33457358dbf75cb83a8630a6373d793

[2018-05-11 20:30] #513 closed

[2018-05-14 19:01] MACEL94 commented on #509
Hello, can i ask you how can i debug typescript files then?
Am i supposed to do it directly from Chrome?
I also tried with VSCode but i seem to have the same problem, i can't debug typescript files.
Thank you for you help!

[2018-05-15 21:59] natemcmaster opened #520 "jquery/bootstrap do not load in 2.1 templates - resource blocked"
Original report in https://github.com/dotnet/dotnet-docker/pull/541#issuecomment-389200441

We failed to update integrity shasums in https://github.com/aspnet/templating/pull/430, causing
[code]

cc @Eilon @muratg

[2018-05-15 22:05] natemcmaster commented on #520
This only appears in Production, not Development.

Edge:
![image](https://user-images.githubusercontent.com/2696087/40085991-557fbaa0-5851-11e8-8847-15de03520fb8.png)

Chrome:
![image](https://user-images.githubusercontent.com/2696087/40086016-6f9da186-5851-11e8-9b17-c6f211f42e71.png)

[2018-05-16 18:51] natemcmaster commented on #520
Fixed in release/2.1. Waiting on https://github.com/aspnet/templating/pull/507 to get this back into dev

[2018-05-16 19:36] natemcmaster opened #522 "CI tests on PR checks always fail"
PR checks are useless. They always fail on Travis and AppVeyor.

A few recent examples:
https://ci.appveyor.com/project/aspnetci/templating/build/1.0.146
[code]
https://travis-ci.org/aspnet/templating/jobs/376048486
[code]

[2018-05-16 19:37] natemcmaster commented on #522
Last time a PR check was green before merging was weeks ago.

![image](https://user-images.githubusercontent.com/2696087/40139767-d3a1b2f8-5905-11e8-8f57-b463cf5a197d.png)

[2018-05-16 19:37] natemcmaster commented on #522
cc @kichalla

[2018-05-17 00:01] kichalla opened #523 "Fix the jquery.min.js file in RazorPages web application"
https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/lib/jquery/dist/jquery.min.js

This issue is also present in `release/2.1`

[2018-05-17 00:02] kichalla commented on #523
cc @mkArtakMSFT

[2018-05-17 04:25] mkArtakMSFT commented on #517
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-05-17 04:26] mkArtakMSFT commented on #517
@SteveSandersonMS, any suggestions here? Thanks!

[2018-05-17 04:26] mkArtakMSFT commented on #514
@pranavkm, is this a consistent failure or random?

[2018-05-17 04:27] mkArtakMSFT commented on #511
@javiercn, how big of a work will this be?

[2018-05-17 04:29] mkArtakMSFT commented on #510
@SteveSandersonMS, can you please provide some context here as it seems you're aware of the original issue.

[2018-05-17 04:30] mkArtakMSFT commented on #500
Hi @cyberh0me. I'm not sure I understand what the issue is here? Can you please explain?

[2018-05-17 04:33] mkArtakMSFT commented on #499
Hi @cyberh0me. Is the ask here to set the default to `no-cache`?
@DamianEdwards, any opinion regarding this?

[2018-05-17 10:13] cyberh0me commented on #499
@mkArtakMSFT please consult with @blowdart

[2018-05-17 10:14] cyberh0me commented on #500
@mkArtakMSFT please consolidate with @blowdart

[2018-05-17 11:37] blowdart commented on #499
This isn't really security, so I have no feelings about it.

[2018-05-17 11:40] blowdart commented on #500
Again, this isn't really security, except for a small case, where the BOM can override encoding declarations, however stripping could also affect SPKI. So my opinion here is minimal.

[2018-05-17 11:49] cyberh0me commented on #499
if "no-cache" is the easiest way to make default ASP.NET Core Web Application more reliable and secure why not
to have no such header is a bad thing

[2018-05-17 13:18] SteveSandersonMS commented on #510
@mkArtakMSFT All I'd say is that the template's default nav menu is only an example, just like the default nav system in an ASP.NET MVC app is. We expect developers to replace/change it according to their needs. If there are specific suggestions (e.g., a PR) for how it should be changed we'd consider them.

[2018-05-17 13:58] SteveSandersonMS commented on #470
@muratg No, the PR is still marked as pending shiproom approval: https://github.com/aspnet/templating/pull/496

It looks like we have a miscommunication, because this issue is marked as SHP:Approved but I was watching the PR for approval.

I'm happy to still merge it into `release/2.1` if you think that's desirable, but maybe at this stage it's now better not to do so in 2.1.

[2018-05-17 16:12] molant commented on #499
@mkArtakMSFT @blowdart all responses from a server should have `http-cache` header. If the resource shouldn't be cached it should have `max-age=0` (or equivalent). Omitting this header is a source for interop problems. The specification leaves up to the user agent to decide what to do when the header is missing so some browsers could not cache it at all, or cache it for a few seconds, or even do d

[2018-05-17 16:29] molant commented on #500
While the BOM can be used to indicate the content is `UTF-8`, the recommended way is to be explicit and use the headers. Having the BOM in a file can also lead to interop issues with browsers (there are some that look at the headers, others to the BOM). sonarwhal is not the only tool warning about it, [ESLint](https://eslint.org/docs/rules/unicode-bom) is another one and I'm sure there are more.

[2018-05-17 16:35] DamianEdwards commented on #499
My feeling is this is an application-level concern, not a framework or server concern. Caching policy is something that should be whole owned by the application, especially for dynamic responses (e.g. MVC) and thus should be specific. It's trivial to add a middleware to your app that sets some default caching headers if that's the behavior you want.

[2018-05-17 16:43] molant commented on #499
There are many things that are trivial to add and many developers don't do it because they don't test in all browsers and just want to get something that works.

If I'm not mistaken, asp.net will not set any header at all which is considered a bad practice. In most cases browsers will default to not caching an asset at all but it's still up to them to decide what to do and that behavior could chan

[2018-05-17 17:48] natemcmaster commented on #523
@muratg this is a good candidate for the 2.1.x patches.

[2018-05-17 17:57] kichalla opened #525 "[Patch for 2.1.x] Fix the jquery.min.js file in RazorPages web application"
Original issue: https://github.com/aspnet/templating/issues/523

[2018-05-17 18:45] #523 closed

[2018-05-17 20:10] muratg commented on #470
@SteveSandersonMS We should probably consider this for the next patch. @mkArtakMSFT?

[2018-05-17 20:53] seancpeters opened #527 "Move scaffolding content to from aspnet/scaffolding to aspnet/templating"
Here is the equivalent issue in aspnet/scaffolding https://github.com/aspnet/Scaffolding/issues/798
(Work needs to be done in both repos).

[2018-05-17 22:17] javiercn opened #528 "Windows authentication is not applied on launchSettings.json"
Our current launchSettings.json don't apply the proper settings to launchSettings.json

https://github.com/aspnet/templating/blob/4dd1c7ae0677b8b9fcf9f4834a86b2da713d014e/src/Microsoft.DotNet.Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json#L3-L9

The workaround is to modify launchSettings.json after project creation by editing the file or through the Visual Studio project

[2018-05-18 00:46] pranavkm commented on #514
Seems like an ongoing issue. For instance, here's one of the more recent PRs that failed with this - https://travis-ci.org/aspnet/templating/jobs/379549395

[2018-05-18 04:04] mkArtakMSFT commented on #470
Luckily this is minor. The PRs should not be used to track the Shiproom status. Rather the issues should.

[2018-05-18 04:05] mkArtakMSFT commented on #470
So this was actually approved. Anyway, I'm moving it to 2.1.1 milestone now.

[2018-05-18 08:26] SteveSandersonMS commented on #470
@mkArtakMSFT My apologies. I was not familiar with that aspect of the process.

So I can merge the PR into the correct place, will 2.1.1 be branched from `dev` or from `release/2.1`?

[2018-05-18 18:05] javiercn commented on #511
Around like 1 day of work give or take

[2018-05-18 21:56] #514 closed

[2018-05-18 22:04] ryanbrandenburg commented on #522
Between fixing the netcoreapp2.2 stuff and #514 it looks like we should be in a much saner position. I'll file individual issues for anything we see after that.

[2018-05-18 22:22] pranavkm opened #530 "Remove reference to Microsoft.AspNetCore.Mvc.Razor.ViewCompilation from desktop templates"
For instance - https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/StarterWeb-CSharp.csproj.in#L44

ViewCompilation isn't recommended any longer, and we shouldn't reference it from our templates.

[2018-05-18 23:01] pranavkm opened #531 "Port Remove reference to Microsoft.AspNetCore.Mvc.Razor.ViewCompilation from desktop templates to 2.1.1"

[2018-05-19 03:52] kwakuduahc1 commented on #510
Replacing or changing bootstrap.min.css or bootstrap.css appears to jam the whole nav menu. Even with the official bootstrap  release. Ideally, it is just supposed to work without modifying CSS or JavaScript. You will reach a stage where your only option is to accept the default nav menu.

To reproduce the problem, just start the angular template. Replace boostrap with any from bootswatch.com, the

[2018-05-21 15:56] mkArtakMSFT commented on #530
@ryanbrandenburg, here is a templating issue to look into.

[2018-05-21 16:30] pranavkm commented on #531
cc @mkArtakMSFT

[2018-05-21 16:56] mkArtakMSFT commented on #528
@javiercn, can you please provide more details regarding what exactly is wrong here?

[2018-05-21 17:09] mkArtakMSFT commented on #510
Thanks for the details, folks.
This seems to be something custom, which we don't really intend to adapt as a default. Customizing a template means the developer takes full control over it. Closing this issue as there are no any plans to make dramatic improvements in this area to comply with custom styles.

[2018-05-21 17:09] #510 closed

[2018-05-21 17:10] mkArtakMSFT commented on #527
We will need to design this first, as this may not be that simple. Let's meet and discuss the options we have.

[2018-05-21 17:26] mkArtakMSFT commented on #491
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-21 17:26] #491 closed

[2018-05-21 17:27] mkArtakMSFT commented on #490
@seancpeters, is this something to be moved to `Scaffoling` repo?

[2018-05-21 17:32] #485 closed

[2018-05-21 17:32] mkArtakMSFT commented on #482
@javiercn, what can we do here?

[2018-05-21 17:34] mkArtakMSFT commented on #478
Thanks for reporting this issue.
@DamianEdwards thoughts?

[2018-05-21 17:55] mkArtakMSFT commented on #459
@kakins, did you get this issue resolved? Maybe by updating the dotnet SDK or VS?

[2018-05-21 17:56] mkArtakMSFT commented on #441
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-05-21 17:59] mkArtakMSFT commented on #441
@kichalla, can you please advise how the authentication can be configured globally? Link to docs would be great, if there is one on that topic.

[2018-05-21 18:07] #441 closed

[2018-05-21 18:19] javiercn commented on #528
The settings in launchSettings.json are unconditionally set to
[code]
even when windows authentication is used.

[2018-05-21 18:21] mkArtakMSFT commented on #528
I see - didn't notice that the actual `if` was commented out.

[2018-05-21 18:21] javiercn commented on #482
@mkArtakMSFT Nothing if the auth option is not supported. @cartermp the PM for the F# team owns the F# version of the ASP.NET templates.

[2018-05-21 18:30] cartermp commented on #482
Until authentication is handled by a library call, I don't think we'll get to this for the F# templates.

[2018-05-21 19:17] javiercn commented on #482
@cartermp Authentication is handled by a library call as part of our 2.1 release. https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/
You can use the default Identity UI that comes in a library. Take a look at it and evaluate if that's something you want to do to enable these types of scenarios for the F# templates.

[2018-05-21 21:16] cartermp commented on #482
Is `services.AddDefaultIdentity<IdentityUser>()` considered valid for API template as well, or just the MVC template? Happy to add it to both, but we only ship the Empty and API templates in VS, so if it's best to add it to the API template as well, we'll need to kick off an insertion in VS at some point.

[2018-05-21 21:50] javiercn commented on #482
@cartermp Just the MVC/Razor templates. We don't use Identity in API templates

[2018-05-21 23:13] ryanbrandenburg commented on #460
This failure doesn't seem to be happening anymore, the only recent failures were consistent and have been resolved.

[2018-05-21 23:13] #460 closed

[2018-05-22 15:59] mkArtakMSFT commented on #470
@SteveSandersonMS, we'll reuse the same release/2.1 branch for it, after the RTM. Feel free to make the fix in `dev` so only the porting work will be left for this. I'll let you know when this can be merged.

[2018-05-22 17:33] kichalla opened #532 "Upgrade templates to use 3.2.10 version of jquery unobtrusive scripts"

[2018-05-22 18:00] seancpeters commented on #490
It's a scaffolding-related issue, but the required change would be to Visual Studio - not a change in the aspnet/scaffolding repo.

[2018-05-22 19:21] mkArtakMSFT commented on #490
@seancpeters, @pranavkm, do you know where this should be moved to?

[2018-05-22 22:31] kichalla commented on #525
The following commit, from 'dev' branch, needs to be cherry picked onto the patch branch:
https://github.com/aspnet/templating/commit/90fe58be756b3bc96d527bbdc8a03ce30b56080f

[2018-05-24 16:27] #530 closed

[2018-05-24 20:14] SteveSandersonMS commented on #470
This was auto-closed by the PR #496 that I coincidentally merged to `dev` 1 minute before @mkArtakMSFT's comment above.

Reopened so we can track getting this into the 2.1 patch.

[2018-05-24 21:15] jasonsturges opened #536 "Identify ASP.NET template version installed or used in project"
How can I identify the version of ASP.NET templating currently installed in my Visual Studio or via `dotnet` commands?  Is this possible; otherwise, an enhancement deemed worthwhille?

For example, ASP.NET Templating repo updated to version 2.0.8 two weeks ago.

Inside Visual Studio, when I look at the templates installed I'm not seeing an identifier that I can correlate back to the template versi

[2018-05-25 17:21] scottaddie opened #537 "Boilerplate for test cases in React/Redux project template"
Moved from https://github.com/aspnet/Docs/issues/6596. Originally opened by @caype.

[2018-05-27 20:43] lancscoder opened #540 "React & Redux JavaScript unit test fails"
In both the React and Redux templates the JavaScript test falls with the following error:

[code]

This is because the `<App />` is trying being rendered outside the context of a Router. Therefore when a `<Link />` is being rendered there is no context and the above error is thrown.

This can be resolved by wrapping the `<App />` component in the test in a `<MemoryRouter />` (and in teh case of th

[2018-05-29 16:15] hafeefshaik opened #541 "Angular 6 support for new angular poject template."
As of now, when I create a new project, I could see using the older version(5.2.0) of angular. Please provide the support for Angular6.

[2018-05-29 19:53] pranavkm commented on #531
Commit to port: https://github.com/aspnet/templating/commit/c6b5001149fb39e2d030f564385ebd05b5de6f2d

[2018-05-30 19:02] guardrex opened #544 "Privacy page/view question"
Hello @jbagga @natemcmaster ... Was it intentional to leave the Privacy page link out of *_Layout.cshtml*? ...

[code]

I'm working 2.1 doc sample updates and plan to wire the page/view up in the layout unless you instruct me not to do so.

[2018-05-30 19:03] natemcmaster commented on #544
Not sure. @mkArtakMSFT @ryanbrandenburg would know.

[2018-05-30 21:22] #528 closed

[2018-05-31 16:00] scottaddie opened #546 "How to identify 404s with the new Angular template"
Moved from https://github.com/aspnet/Docs/issues/6734. Originally posted by @3Shain.

[2018-05-31 16:11] mkArtakMSFT commented on #525
@kichalla, I assume this is ready to be closed now, is it?

[2018-05-31 16:46] #525 closed

[2018-05-31 18:17] dodegaard opened #547 "Angular template - BASEURL incorrect to hit weather"
I used the angular template to try out dotnet 2.1 and upon clicking on Fetch Data ran into an error getting to the weather endpoint at http://localhost:54673/api/SampleData/WeatherForecast.  It is using the localhost port of the angular app to reach the API which is being operated at localhost:5000 instead.  Must we have to make a an out of the box implementation change the routing for this base u

[2018-05-31 18:24] mkArtakMSFT commented on #480
Just updated the link.

[2018-05-31 18:24] #480 closed

[2018-05-31 23:05] livarcocc opened #548 "dotnet new webapi ignoring -au flag for template generation"
_From @WingedDante on May 31, 2018 19:55_

## Steps to reproduce
Ensure you're on 2.1.300

Run ` dotnet new webapi -n="example" `

Examine Startup.cs in the example project folder.

As far as I'm aware and can find in the docs, and looking through the template code, the UseHsts and UseHttpsRedirection are only supposed to be output if the -au(--auth) flag is set, and it's supposed to default to no

[2018-05-31 23:06] natemcmaster commented on #548
@mkArtakMSFT @ryanbrandenburg PTAL

[2018-06-02 21:14] hajekj opened #549 "Default templates should contain libraries from some package manager rather than an embed"
When you scaffold a new project, it contains a folder with frontend packages like jQuery and Bootstrap in `wwwroot\lib`. This then results in people commiting the code into Git repositories without excluding it which adds overhead to the repos. I believe that front-end packages should be treated just like Nuget or NPM packages - you don't commit those to Git either.

Since it seems like ASP.NET Co

[2018-06-04 14:57] PatrickKunz opened #550 "react-redux SSR template - DeprecationWarning: Buffer()"
I created a web page with the core 2.1 react-redux template and didn't change the template base components. I see following warning / error on the production server from time to time (maybe 4 times / day for 2k visitors):

`2018-05-30 23:42:23.2243||ERROR|Microsoft.AspNetCore.NodeServices|(node:7056) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please

[2018-06-04 17:16] mkArtakMSFT commented on #550
Thanks for contacting us, @PatrickKunz.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-06-04 17:18] mkArtakMSFT commented on #549
@SteveSandersonMS thoughts?
/cc @danroth27

[2018-06-04 17:19] mkArtakMSFT commented on #548
@javiercn, can you please look into this?

[2018-06-04 17:22] danroth27 commented on #549
@justcla I believe this is the problem that LibMan is eventually intended to solve without pulling in a Node dependency.

[2018-06-04 17:23] mkArtakMSFT commented on #547
Thanks for contacting us, @dodegaard.
@javiercn, can you please look into this?

[2018-06-04 17:34] hajekj commented on #549
Oh that's awesome! Actually, something I have been looking for! I have VS2017 15.7.3 but the GUI is not available. Is there anything special I need to do to enable it or is it not shipped in that version of VS yet?

[2018-06-04 17:35] danroth27 opened #551 "Add link to privacy page from layout"

[2018-06-04 17:35] danroth27 commented on #544
It's linked to from the cookie consent UI. It makes sense to me that it would be linked to from the layout as well. https://github.com/aspnet/templating/issues/551

[2018-06-04 17:37] danroth27 commented on #549
@hajekj LibMan hasn't shipped yet. It was available in preview form at one point, but it wasn't quite ready to make it into VS2017 15.7. It's actively being worked on though.

[2018-06-04 17:38] hajekj commented on #549
Ah, I see! Well, I am going to use it manually, since it will simplify my .csproj. Anyways, I suggest keeping this issue open until it is shipped so the templates can be updated with this feature.

[2018-06-04 17:40] mkArtakMSFT commented on #540
Thanks @lancscoder for reporting the issue as well as your effort.
@ryanbrandenburg, can you please look into the #539 PR?

[2018-06-04 17:42] danroth27 commented on #471
LibMan was pulled from VS2017 15.7, because it wasn't quite ready yet, but it's still being actively worked on so we should keep this bug to track the template integration.

[2018-06-04 17:42] danroth27 commented on #549
We're tracking updating the templates to use LibMan with https://github.com/aspnet/templating/issues/471 I'm going to go ahead and close this issue and you can track the LibMan integration status with the other one. Hope that's ok!

[2018-06-04 17:42] #549 closed

[2018-06-04 17:43] hajekj commented on #549
Totally! Thanks a lot for showing me this tool!

[2018-06-04 17:43] guardrex commented on #544
I see. I usually place it in the footer; but if the consent UI is always available, then visitors can get to it easily enough. I was mistaken that the consent UI goes away after acceptance.

[2018-06-04 17:43] #544 closed

[2018-06-04 17:44] mkArtakMSFT commented on #537
Thanks for contacting us, @caype.
We are currently heads down working on higher priority things. Will you be interested in submitting A PR with the new tests you're interested?

[2018-06-04 17:48] caype commented on #537
sure @mkArtakMSFT . I will try to submit a PR once I setup the required configuration and add some tests for the react components and the reducers.
Thanks for getting back.

[2018-06-04 17:56] danroth27 commented on #544
The consent UI isn't always available. Once you accept you no longer see it. I agree the link should be available from the layout. That's why I opened https://github.com/aspnet/templating/issues/551

[2018-06-04 17:59] guardrex commented on #544
Sorry ... I'm out on the :bicycle: ... I should've clicked the issue.

*Don't bike and work at the same time.* :smile:

[2018-06-04 18:14] javiercn commented on #547
@SteveSandersonMS This is all yours

[2018-06-04 18:15] ryanbrandenburg opened #552 "Run NPM tests on CI"
We should be running tests like [this](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/App.test.js) on PR's and also on our main builds but currently are not. This allows failures like the one fixed by #539 to go unnoticed.

[2018-06-04 18:22] javiercn commented on #548
I do believe that this is controlled simply by the --no-https option and that Auth doesn't play a role in it at the templates level.
I do believe VS has some logic around auth and HTTPS, but that's it.
I don't think it matters that much either as we changed the redirection middleware after preview2 to NOOP if it can't figure out an HTTPS port to redirect to.

I would just close this as by design.

[2018-06-04 19:11] pranavkm opened #553 "ResponseCache attribute on RazorPages Error handler method should be moved to model"
See https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Error.cshtml.cs#L17-L21

Filters cannot be applied to handler methods, only to the model type.

[2018-06-04 19:12] pranavkm commented on #553
@mkArtakMSFT possible consideration for 2.1.1. We don't want to encourage users to think that this works and attempt to do the same thing on their own handler methods.

[2018-06-04 21:41] ryanbrandenburg commented on #550
This seems to be a problem in NodeServices, I created aspnet/JavaScriptServices#1668. We'll leave this issue open to track, and to double check that that resolves the issue.

[2018-06-05 06:58] PatrickKunz commented on #550
@ryanbrandenburg thanks for looking at it.

Keep up the great work on the templates!

[2018-06-05 15:54] nickdb93 opened #555 "ReactRedux Template 2.1: Unable to use SPA on IIS"
# Unable to use the React-Redux template that comes with .NET Core 2.1.0 on IIS.

When attempting to browse to the application, I get a blank screen. Google Chrome developer console says:
`GET http://localhost/static/css/main.bb514f3b.css 404 (Not Found)`
`GET http://localhost/favicon.ico 404 (Not Found)`

The .NET Core 2.0.7 template (using TypeScript) works just as expected.

I have a feeling th

[2018-06-05 22:32] mkArtakMSFT commented on #243
@ryanbrandenburg, what is the status of this?

[2018-06-05 22:33] mkArtakMSFT commented on #444
@phenning @mlorbetske, are the requirements referred above by @Eilon already available?

[2018-06-05 22:36] mkArtakMSFT commented on #555
Thanks for contacting us, @nickdb93.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-06-05 22:39] timheuer opened #557 "Angular SPA Template has 8 deprecationg warnings"
File...New ASPNET Core app with Angular.  Build:

npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
  npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
  npm WARN deprecated socks@1.1.10: If using 2.x branch, please upgrade to at least 2.1.6 to avoid a serious bug with socket data flow and an import issue intr

[2018-06-05 23:50] nickdb93 commented on #555
It looks like it was looking for the `static` folder at the wrong address, as evident by the first `GET` above. It resolves correctly when it looks in `http://localhost/<APPLICATION_NAME>/static/css/main.bb514f3b.css`

In order to make it simpler, including `'homepage': 'http://localhost/<APPLICATION_NAME>'` in the `ClientApp`'s `package.json` allows the application to resolve the `main.XXX.js` fi

[2018-06-06 01:50] javiercn commented on #482
Closing this as by design

[2018-06-06 01:50] #482 closed

[2018-06-06 17:30] mkArtakMSFT commented on #557
Thanks for contacting us, @timheuer.
We're closing this as a dupe of https://github.com/aspnet/templating/issues/541, as that'll resolve those warnings.

[2018-06-06 17:30] #557 closed

[2018-06-06 17:42] mkArtakMSFT commented on #537
@ryanbrandenburg, I'm parking this on your plate to review the PR when it'll be available. Thanks!

[2018-06-06 17:44] mkArtakMSFT commented on #536
Thanks for contacting us, @jasonsturges.
@danroth27, what are your thoughts regarding this?

[2018-06-06 18:28] mkArtakMSFT commented on #511
@JunTaoLuo, @javiercn what about just having a sample? And not even worry about shipping it?

[2018-06-06 18:39] javiercn commented on #511
@mkArtakMSFT We want a better experience. We already have a sample with the documentation. The out of the box experience must do better than that.

[2018-06-06 21:33] danroth27 commented on #536
Sounds like a reasonable request for the templating engine. @seancpeters

[2018-06-06 21:35] mkArtakMSFT commented on #548
Hi @WingedDante.
Can you please share the link of the docs you've read about the auth configuration using `--au` option?
This is more of a docs issue, which would be great to fix.

[2018-06-06 22:09] seancpeters commented on #536
We don't currently have a real concept of a version of a template. We'll need to nail down what we mean by version before deciding on a course of action.

One (seeming) possibility for version information is the nupkg version, but that's a bit of a chicken-and-egg problem if the nupkg version is to be embedded in the template content. Also, templates do not have to be installed from nupkgs, so tha

[2018-06-06 22:45] jasonsturges commented on #536
Determining the version used within a project was where I was coming from; but then realized I was unsure which version I had installed as well.

Personally, I like your optional approach:

That seems unobtrusive, able to be applied where it makes sense without greater ramifications.

Thanks for the clarity - my interpretation of version didn't align to reality here, which I now understand this re

[2018-06-07 12:40] WingedDante commented on #548
Sure, the documentation I was looking at for the `dotnet new` command was [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore21).  I had just assumed it was from the `-au` flag because there wasn't a `--no-https` listed as either one of the base `dotnet new` options, nor one of the template specific ones, and I saw parts of the changes @javiercn mentioned.  I did try

[2018-06-07 15:59] mrlife commented on #278
@mkArtakMSFT Do you know if this is pushed to 2.3 or just 2.2.x?

[2018-06-07 16:38] mkArtakMSFT commented on #548
@javiercn, can you please take care of getting the docs updated to mention about `no-https` option. Thanks!

[2018-06-07 17:00] javiercn commented on #548
@Rick-Anderson Can you take care of this?

[2018-06-08 13:01] nickdb93 commented on #555
Any ideas?

[2018-06-08 16:41] ryanbrandenburg commented on #546
I spoke with some other templating area people and the determination is that this is by design. With our SPA templates the goal is to get people started with something basic and go from there. We don't want to add too many extra bits and bobs, more of a kind of skeleton.

All that to say, we don't currently have any intention to add a 404 route to our Angular template, but if you wanted to add one

[2018-06-08 16:41] #546 closed

[2018-06-08 18:18] mrward opened #559 "Duplicate files shown for SPA templates in Visual Studio for Mac"
**To repro**

1. .NET Core 2.1.300 installed
2. dotnet new angular
3. Open project in Visual Studio for Mac.
4. Expand ClientApp folder in Solution window.

**Expected result**

ClientApp folder shows each file one time only.

**Actual result**

ClientApp folder shows duplicate files.

<img width="280" alt="angular" src="https://user-images.githubusercontent.com/372361/41173799-0fedbfe0-6b0d-11e8-

[2018-06-08 21:34] ryanbrandenburg commented on #444
This issue is blocked as we can't write tests against authoring requirements until we have them.

[2018-06-08 23:18] ryanbrandenburg commented on #537
XS here represents the work to review the PR, not the work to create it.

[2018-06-10 16:50] jmagaram opened #561 "can't figure out how to install new templates into visual studio"
I'm feeling pretty stupid here. I've got VS 2017. I try to create a new web app and choose the React template. Its an old version of React. How do I use the more up-to-date templates published on this web site? I've looked at dotnet new, nuget package manager, and other things and can't figure it out. Must be something simple. Will I be able to access the new template from within Visual Studio? If

[2018-06-10 17:27] jmagaram commented on #561
I installed the latest .net code SDK and now my templates seem more up-to-date.

[2018-06-10 17:27] #561 closed

[2018-06-11 03:16] jmagaram opened #562 "can't use typescript for jest tests"
I had been using create-react-app with the [TypeScript option](https://github.com/wmonk/create-react-app-typescript) and it worked perfectly out of the box. Now I want a "real" web site, using solid Microsoft technology like asp.net core. So I updated to the latest .net core SDK and in Visual Studio started with a "ASP.NET Core Web Application" template with the "React" option. It seems to work. N

[2018-06-11 03:46] jmagaram commented on #562
So I followed the [typescript jest instructions](https://github.com/kulshekhar/ts-jest) and specifically (1) installed ts-jest (2) modified my package.json to include the recommended jest section, and (3) created a tsconfig.json with settings from my VS Code Project. Now Visual Studio seems to recognize the `test` and `expect` functions - intellisense is nice!. But when I run the tests from the co

[2018-06-11 04:01] jmagaram commented on #562
Looking at my VS Code package.json that works, each script is suffixed with -ts, like this but when I try to just change it in my Visual Studio project and then try to run the tests using `npm test` it can't find the script files. So maybe your template includes the non-TypeScript scripts.

    "scripts": {
      "start": "react-scripts-ts start",
      "build": "react-scripts-ts build",
      "te

[2018-06-11 08:23] YehudahA commented on #278
+1

[2018-06-11 15:06] doggy8088 commented on #541
In the VSCode's terminal, when running `dotnet build` or `dotnet run` will produce lots of progress info.  Hope this template can turn if off by default.  Here is the sample `package.json` settings:

[code]

[2018-06-11 15:48] natemcmaster opened #563 "Template tests failing due to compiler error MVC1001"
Templates for 2.2 do not compile anymore.

[code]
http://aspnetci/viewLog.html?buildId=481546&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

Caused by changes added in https://github.com/aspnet/Mvc/issues/7684 (@kichalla / @pranavkm )

[2018-06-11 17:15] #553 closed

[2018-06-11 17:16] pranavkm opened #565 "Port ResponseCache attribute on RazorPages Error handler method fix to patch"
Original issue: https://github.com/aspnet/templating/issues/553

Commit to port: https://github.com/aspnet/templating/commit/e403187be35a25560692aaa7ded495e26bb3ad90

[2018-06-11 17:16] pranavkm commented on #565
cc @mkArtakMSFT

[2018-06-11 17:17] pranavkm commented on #563
Should be fixed with https://github.com/aspnet/templating/commit/e403187be35a25560692aaa7ded495e26bb3ad90

[2018-06-11 17:17] #563 closed

[2018-06-11 17:47] jmagaram opened #566 "can't use TypeScript TSX without some monkeying around"
I got a React project working using create-react-app with the TypeScript option and using VS Code. So now I'm trying to use the React template in Visual Studio instead since I want a whole web site, not just a front-end. When I add a `tsx` file with this simple component I get the error `Cannot use JSX unless the '--jsx' flag is provided.` This kind of thing worked without any monkeying around usi

[2018-06-11 17:49] mkArtakMSFT commented on #562
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-06-11 17:49] mkArtakMSFT commented on #562
/cc @SteveSandersonMS

[2018-06-11 17:52] mkArtakMSFT commented on #559
Thanks for contacting us, @mrward.
@ryanbrandenburg, can you please look into this? It seems @mrward  has already a PR to fix this. Please review and merge, if it looks good.

[2018-06-11 17:53] jmagaram commented on #562
No not really. I'm filing a "bug" regarding the ASP.NET Core template I used to create an ASP.NET Core project in Visual Studio. Isn't this repo for the project templates I see in Visual Studio? I used the template and then some basic things don't work out-of-the-box, like Jest testing and TSX. These things work fine with the create-react-app "template" and VS Code, so I assume they should work by

[2018-06-11 17:59] mkArtakMSFT commented on #536
Based on the priorities we have for the 2.2 milestone, I'm pushing this to the 3.0 for now. We'll sync up regarding this later and see how we move forward. /cc @danroth27 @seancpeters

[2018-06-11 18:02] mkArtakMSFT commented on #504
@blowdart, can you define the priority for this (use one of the `PRI: X - [info]` labels)

[2018-06-11 18:03] blowdart commented on #504
It's a missing feature people have asked for, and now we have WS-Fed we can do it again so ...

[2018-06-11 23:54] rowanmiller opened #567 "Move cookie consent banner below menu (rather than over it)"
Per discussion offline with @DamianEdwards

It feels overly intrusive that it covers the site menu. The EU cookie compliance doesn’t require that you block folks from using the site, so there is no reason it can’t be below the menu.

I think hiding the menu makes it hard to grok the page when you first open it. I haven’t seen this on a website before, so it’s a new pattern for folks to parse. My i

[2018-06-12 05:40] tpetrina commented on #566
No!

[2018-06-12 05:48] jmagaram commented on #566
I'm not sure how to interpret that exclamation point. Is it a crazy expectation that the template would let me somewhat easily use TypeScript?

[2018-06-12 06:32] jmagaram commented on #566
I was just searching for how to get started with React, TypeScript, and ASP.NET Core and found this post. [react, flow, and typescript](https://forums.asp.net/t/2139391.aspx?+Net+Core+Typescript+React+js+integration+). Is that what is going on? I really like TypeScript and had hoped to use it.

[2018-06-12 07:12] tpetrina commented on #566
Well, the _default_ template only contains CRA which by _default_ doesn't support TS. You can still override it by using `react-app-rewired` and `react-scripts-ts` combination, it is quite easy to do so. Do you need instructions on how to do that?

[2018-06-12 07:13] jmagaram commented on #566
I would be grateful.

________________________________
From: Toni Petrina <notifications@github.com>
Sent: Tuesday, June 12, 2018 12:12:19 AM
To: aspnet/templating
Cc: Justin Magaram; Author
Subject: Re: [aspnet/templating] can't use TypeScript TSX without some monkeying around (#566)

Well, the default template only contains CRA which by default doesn't support TS. You can still override it by us

[2018-06-12 15:42] jmagaram commented on #566
I just read about the rewired project. I can handle that. There is an open issue about lack of support for testing with Jest which is my other concern. I’ll try to track that down.

________________________________
From: Justin Magaram
Sent: Tuesday, June 12, 2018 12:13:18 AM
To: aspnet/templating; aspnet/templating
Cc: Author
Subject: Re: [aspnet/templating] can't use TypeScript TSX without some

[2018-06-12 18:55] ryanbrandenburg commented on #555
@nickdb93 could you be a bit more specific about how to replicate this problem? I'm not able to make it happen so far. Here's what I'm doing:

1. `mkdir SPAOnIIS; cd SPAOnIIS`
1. `dotnet new reactredux`
1. `dotnet publish`
1. Create a website on IIS that targets `SPAOnIIS\bin\Release\netcoreapp2.1\publish` (or whatever publish directory you used).
1. Visit the created site and see in the developer

[2018-06-12 19:06] nickdb93 commented on #555
@ryanbrandenburg Are you running the site under a virtual directory (sub-path), such as `http://localhost/SPAOnIIS`? That's where the issue begins for me.

[2018-06-12 22:03] mlorbetske opened #568 "Please update vue/typescript template"
_From @denimaaark on February 7, 2018 8:41_

Please update vue/typescript template, there are old versions in package.json.

I have try to update manualy but there are errors on starting.

And please add .vue file extension as recognized file for imports etc.

_Copied from original issue: dotnet/templating#1414_

[2018-06-12 22:03] mlorbetske commented on #568
_From @seancpeters on February 7, 2018 21:56_

@denimaaark - can you post the output from running `dotnet --info`? Also, could you post the exact command you used to try to update the template?

[2018-06-12 22:07] ryanbrandenburg commented on #555
I think I have a better idea of whats going on now, I'm a bit new to the templating repo myself, so sorry it's a bit slow going.

First of all you say you're using a Virtual Directory in IIS, but according to @Tratcher that's not supported for ASP.NET Core 2.1. Instead it should be a sub-application. You can convert that by right clicking on the Virtual Directory and choosing convert to applicatio

[2018-06-12 22:22] mkArtakMSFT commented on #568
We are no longer maintaining the `Vue` template: https://github.com/aspnet/Announcements/issues/289
/cc @seancpeters

[2018-06-12 22:22] #568 closed

[2018-06-12 22:27] mkArtakMSFT commented on #562
/cc @danroth27

[2018-06-12 22:37] jmagaram commented on #566
I hope the blazor project succeeds. It is absurd that in 2018 it is so difficult to develop web apps. Time for me to investigate Angular. TypeScript is a big step up from JavaScript and at least Google is endorsing it.

________________________________
From: Artak <notifications@github.com>
Sent: Tuesday, June 12, 2018 3:24:59 PM
To: aspnet/templating
Cc: Justin Magaram; Mention
Subject: Re: [aspn

[2018-06-12 22:38] mkArtakMSFT commented on #548
Closing this in favor of the referenced docs bug: https://github.com/aspnet/Docs/issues/6923

[2018-06-12 22:38] #548 closed

[2018-06-12 22:39] mkArtakMSFT commented on #547
@ryanbrandenburg, can you please look into this? Thanks!

[2018-06-12 22:46] mkArtakMSFT commented on #527
@ryanbrandenburg, I think we should try to come up with some approach here, but not yet do it. Let's then evaluate what it will take and potentially consider it for 3.0.
/cc @seancpeters

[2018-06-12 22:52] mkArtakMSFT commented on #500
@ryanbrandenburg, can you please handle this:

[2018-06-12 22:57] mkArtakMSFT commented on #499
Closing per @DamianEdwards's response.

[2018-06-12 22:57] #499 closed

[2018-06-12 23:01] mkArtakMSFT commented on #498
Closing this, as the maintenance cost with the added integrity attribute will fall on the users, who will have to now update the hash on every single change. That can result in those references not to load up, and cause bigger problems.
/cc @DamianEdwards

[2018-06-12 23:01] #498 closed

[2018-06-12 23:06] mkArtakMSFT commented on #497
So the work here will be to update the templates to consume the new middleware (referenced https://github.com/aspnet/BasicMiddleware/issues/323).

[2018-06-12 23:10] #461 closed

[2018-06-12 23:11] mkArtakMSFT commented on #459
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-06-12 23:12] mkArtakMSFT commented on #444
@ryanbrandenburg, please sync up with @phenning offline regarding this.

[2018-06-12 23:16] mkArtakMSFT commented on #414
Thanks for contacting us, @rhegner.
We are already tracking the work to update the Bootstrap and Angular dependencies:
- https://github.com/aspnet/templating/issues/541
- https://github.com/aspnet/templating/issues/278

The rest of the dependencies will be updated as an effect of these two.

[2018-06-12 23:16] #414 closed

[2018-06-12 23:17] molant commented on #499
By deciding not to set an explicit value you are willing opening up the possibility of a bad experience for the end users of websites using aspnet.

As I said, it could be trivial to add this in user land but most developers will not do because they don't know about it and thus causing interop issues with different browsers (and I've seen a few of those browser interop issues in my work 🙄).

I str

[2018-06-12 23:46] nickdb93 commented on #555
@ryanbrandenburg It actually _is_ an application. Should've used that term in my initial description. The attempt you made is actually what I'm doing, and where I'm having the issues.

Adding `homepage` fixes the issue in production, but breaks it local development because it starts looking for resources in a directory that does not exist. I will take another look at it tomorrow when I get back to

[2018-06-13 04:15] DamianEdwards commented on #567
Looks good to me.

[2018-06-13 15:13] Tratcher commented on #555
One trick is to drop the leading slashes to make the links relative. E.g. `static/css/main.8302bbea.css`

[2018-06-13 16:17] Tratcher commented on #555
See how well the relative links work first. Then we can figure out how to make it stick.

[2018-06-13 16:31] nickdb93 commented on #555
Will do. Will test soon. Been away from my desk most of the day,
unfortunately.

On Wed, Jun 13, 2018, 12:17 PM Chris Ross <notifications@github.com> wrote:

[2018-06-13 16:59] mkArtakMSFT commented on #490
@ToddGrun do you know who should own this?

[2018-06-14 14:05] nickdb93 commented on #555
@Tratcher Looks like that didn't work, bizzarely. It still looks for it in the same place, i.e. I get an error:

`Loading failed for the <script> with source “http://localhost/static/js/main.d7a07ecb.js”.`

Even when the `<script>` tag in `index.html` points to relative path `"static/js/main.d7a07ecb.js”. Out of curiosity, I tried changing `<base href="/"/>` to `<base href="/APPLICATION_NAME"/>` a

[2018-06-14 14:42] nickdb93 commented on #555
For some reason, the dev server on my local box is working now when I have the `homepage` tag in my `package.json`. I'm not entirely sure what changed. @ryanbrandenburg were you able to successfully run the dev server locally with the `homepage` tag?

[2018-06-14 15:59] ramious76 opened #569 "ASP.NET CORE 2.1 Angular Template: JQuery and Bootstrap Javascript not rendering in build"
When doing a new build off of the supplied template for an ASP.NET Core with Angular template the default web application does not compile the Bootstrap java into the presented web page.  When adding it manually it turns out that this applies for JQuery as well that Bootstrap requires.

You can recreate this by simply adding the markup example from Bootstrap documentation for 3.3 to the home page

[2018-06-14 17:48] mkArtakMSFT commented on #569
Thanks for contacting us, @ramious76.
What version of the SDK are you having this issue with?

[2018-06-14 22:15] vijayrkn commented on #490
you can create a VS issue using report a project/Provide a suggestion
![image](https://user-images.githubusercontent.com/3981619/41441025-b18d7da4-6fe5-11e8-8f41-47fdb770dcdf.png)

We will route it to the Scaffolding crew from there.

[2018-06-14 23:13] danroth27 opened #570 "Update ASP.NET Core Empty template to include a simple controller"
Instead of returning hello world via middleware (which doesn't event set a content type) wire-up MVC and add a simple controller:

*HomeController.cs*
[code]

Arguably this is less "empty", but it is more useful.

[2018-06-14 23:27] steveoh commented on #570
So. . . a stripped down version of the api project template? Say without EF, Auth, etc?

[2018-06-14 23:30] danroth27 commented on #570
Pretty close, although the controller returns text instead of JSON and doesn't bother with the web api conventions stuff. It's the minimal controller needed to return hello world.

[2018-06-14 23:35] steveoh commented on #570
Either way, no EF etc?

[2018-06-14 23:41] ramious76 commented on #569
Just installed the .NET Core 2.1 SDK v2.1.300

[2018-06-14 23:43] danroth27 commented on #570
The set of referenced packages would be unchanged except on .NET Framework we would now reference MVC.

[2018-06-14 23:47] danroth27 commented on #570
We would only add a Controllers folder

[2018-06-14 23:51] steveoh commented on #570
That sounds pretty similar to the MVC template. I'm probably not aware of some of the other nuances though.

[2018-06-14 23:55] danroth27 commented on #570
The MVC template has a bunch of other stuff: views, models, bootstrap, etc. We're still trying to keep the empty template minimalistic.

[2018-06-15 00:04] steveoh commented on #570
It looks like an empty MVC template rather than an empty template.

[2018-06-15 06:59] rudiv commented on #570
Agree with @steveoh to a degree, this does sound like an "Empty MVC" template. Can it not be an option upon creation? Everything else has an option.

I do support this though, the MVC template is only getting bigger and taking more time to rip everything out (cookie consent, BS3, etc).

[2018-06-15 08:03] joeizy commented on #570
I agree with the last two comments. Adding in MVC feels like a big deal to me but that’s probably because of how I’ve used the templates in the past.

Due to the problem stated at the beginning about the MVC project getting so big I’ve actually used the templates to help me figure out what’s actually needed (minimally needed) to get a certain scenario working as I build it from scratch.

I’ve done

[2018-06-15 15:39] jimbarrett33 commented on #509
Can this issue go back to Open instead of Closed so it can be tracked?  The response "The incompatibility is between Angular CLI and VS." is helpful information but unless some issue is Open **somewhere** this will never be fixed. There is no point to having this template for Visual Studio unless you can actually debug the TypeScript files. That is what Visual Studio is the best at -- debugging --

[2018-06-15 16:14] livarcocc opened #572 "`dotnet new react ...` generates a JavaScript React project instead of TypeScript after updating to 2.1.300 (.NET Core 2.1)"
_From @Nufflee on June 14, 2018 12:49_

I'm opening this issue because that command would generate a TypeScript project in SDK version 2.1.200 (.NET Core version 2.0.8). In the changelog it states that you've switched over to create-react-app but it, by default, generates a JavaScript React project. I'm not sure if this change was intended as I couldn't find anything about that in the change log,

[2018-06-15 17:16] ryanbrandenburg opened #573 "Move SPA templates to latest framework versions (Angular 6, Node 10 etc)"
Lets update our SPA templates to use the latest frameworks, and their accompanying best practices.

- [x] [Angular 6](https://alligator.io/angular/angular-6/): ~1/2 day to 1 day
- [x] React already at latest: 0
- [x] ReactRedux redux 3 -> 5: ???
- [x] Node 10 : ~ 1/2 day to 1 day
- [x] Upgrade/replace any other deprecated versions/packages: ~ 1/2 day to 1 day

[2018-06-15 17:19] ryanbrandenburg commented on #573
I've included my rough estimates above based on some initial research. @SteveSandersonMS would probably know best if I'm way wrong or have missed any big ticket items.

[2018-06-15 17:32] ryanbrandenburg commented on #278
The work for this as I understand it so far:
* Bootstrap 4.x for File -> New template in ASP.NET Core 2.2.0. (???)
* Rework starter templates to be simpler and have less boiler plate content. (1-2 days)
* Make the cookie consent notification a dismissable alert. (1/2 day)
* Update all scaffolding content for bootstrap 4. (???)
* Identity UI: (???)
  * Support both Bootstrap 3.x and 4.x, selectable

[2018-06-15 18:12] tpetrina commented on #572
I think this is pretty much intended.

[2018-06-15 18:57] peterblazejewicz commented on #278
@ryanbrandenburg
Ryan, also:
- [optionally] rethink how to include the FontAwesome and provide sample usage. The v3.* has been shipping with Glyphicons, v4.* does not.

The BS provides migration guide:
https://getbootstrap.com/docs/4.0/migration/

Frankly, I don't think that keeping v3.* around could have any positive value for MS and .NET team. I was always proponent of thinking the templates hav

[2018-06-15 20:18] ryanbrandenburg commented on #573
The Angular work is represented [here](https://github.com/aspnet/templating/issues/541).

[2018-06-15 20:22] ryanbrandenburg commented on #278
I'm going to split the above out into smaller items and make this a tracking issue.

[2018-06-16 16:22] poke opened #574 "--exclude-launch-settings should set NoDefaultLaunchSettingsFile"
When you create a new project using the `--exclude-launch-settings` option, the generated template will not contain a `Properties/launchSettings.json` files. However, as soon as you launch Visual Studio, it will automatically create a `launchSettings.json` file since that’s the default behavior with Visual Studio.

So when one enables `ExcludeLaunchSettings`, the following setting should be added

[2018-06-16 23:39] Nufflee commented on #572
How so? It was generating a TypeScript project before, there's nothing in the changelog about this change nor there's a way to toggle between JavaScipt and TypeScript. @tpetrina

[2018-06-17 08:33] tpetrina commented on #572
See:

 - https://github.com/aspnet/templating/issues/242#issuecomment-359865442.
 - https://github.com/aspnet/JavaScriptServices/issues/997#issuecomment-344603801

[2018-06-17 09:59] Nufflee commented on #572
Okay, I see. But I still don't get @SteveSandersonMS' exactly, I see it's bad to generate JS apps by default as most tutorials are written for it, but why not make a switch for people that know what they're doing?

[2018-06-17 10:49] tpetrina commented on #572
Because then they have to support it.

[2018-06-17 14:46] Meligy commented on #572
That's a sad change. I'm working on a big project with tens of developers in a couple of countries that started with the .NET Core React template when it supported TypeScript.

[2018-06-17 14:47] Meligy commented on #572
Can we re-open this as a feature request please?

Thanks for awesome templates.

[2018-06-17 14:50] Meligy commented on #572
Would it be as simple as adding ` --scripts-version=react-scripts-ts` to the command calling `create-react-app`?

As in https://github.com/wmonk/create-react-app-typescript

[2018-06-17 21:09] tpetrina commented on #572
Yes you can, I do that. However, if Microsoft ships official template with that, where would you report bugs, features or any feedback? Over at wmonk's repo or here? That is what is meant by support.

Also, it is better to use `react-app-rewired` instead.

[2018-06-18 17:20] mkArtakMSFT commented on #574
Thanks for bringing this to our attention, @poke.

[2018-06-18 20:21] mkArtakMSFT commented on #569
@ramious76, could you please share a repro project with us?

[2018-06-18 20:28] ramious76 commented on #569
How and where can I send it?

[2018-06-19 05:04] eSPiYa opened #576 "[VS2017]Angular-CLI not working on ASP.NET Core with Angular project"
When I try to generate a component using `ng g c [component_name]` on Package Manager Console, it returns an error message:
`ng : This command can only be run inside of a CLI project.`

I tried create a new Angular project
`ng new [project_name]`
Then copied the 'angular.json' file to the root folder of my ASP.NET Core with Angular project then set the value 'sourceRoot' with 'ClientApp'. But stil

[2018-06-19 15:31] LukeBillo opened #577 "Google OAuth with Angular Template"
When selecting the standard web application template in Visual Studio, it offers the "change authentication" option and provides templates for individual accounts, windows authentication, etc. - it would usually generate code to allow integration with Google OAuth using Identity framework.

Is there any way to achieve the same using the .NET Core 2.0 Angular template? I have attempted to do a simp

[2018-06-19 16:10] mkArtakMSFT opened #578 "Main changes in templating for 2.2 milestone"
Looking at the current state of the templates it seems some have already outdated dependencies. One of the main goals during the 2.2 milestone will be to update those dependencies. Also, we've heard a ton of feedback regarding templates containing too much unnecessary stuff, so we plan to clarify those and simplify the templates, to make it super clean and simple.
Besides those, we will also add o

[2018-06-19 17:56] JACrazy commented on #576
Create a new dotnet core Angular project using
`dotnet new angular -o my-new-app`

The latest version of .net core 2.1 generates it as an Angular CLI project rather than as non-CLI like 2.0 used to do.

https://docs.microsoft.com/en-us/aspnet/core/spa/angular?tabs=visual-studio&view=aspnetcore-2.1

[2018-06-19 18:31] ryanbrandenburg commented on #555
I created aspnet/Docs#7144 to track adding that info to our docs. Closing this.

[2018-06-19 18:31] #555 closed

[2018-06-19 18:51] NTaylorMullen opened #579 "Razor Class Library Project template incorrectly sets layout to null"
[This](https://github.com/aspnet/templating/blob/e403187be35a25560692aaa7ded495e26bb3ad90/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorClassLibrary-CSharp/Areas/MyFeature/Pages/Page1.cshtml#L4) sets the default view's layout to `null`. This conflicts with the current [RCL doc](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/ui-class). Basically if you follow the doc you end

[2018-06-20 02:36] ramious76 commented on #569
Posted  [GitHub/ramious76/BootstrapJavaTest](https://github.com/ramious76/BootstrapJavaTest )

[2018-06-20 03:16] eSPiYa commented on #576
@JACrazy
I tried to create a new project using that command I still can't use commands like creating new component using the command line interface. `Like ng g c [component_name]`. I also just checked the version of .NET Core I'm using(`dotnet --version`), it is 2.1.300. Maybe I should update the project template? But how?

[2018-06-20 11:36] Sl1MBoy commented on #459
I have the same issue. I have created a new angular project and there are no errors until I add any .ts with a decorator in it. For example I have added an empty module and I get this:
![image](https://user-images.githubusercontent.com/29477710/41654654-6f7e5a42-748a-11e8-8294-78ee550254ea.png)

I get error for any decorator that I create, but no errors for the ones that came with the template.
Al

[2018-06-21 10:36] boraturant opened #583 "Asp.Net Core 2.1+ React Template without CRA"
2.1 SPA templates (React) use Create-React-App, which is not flexible enough for some of us. If you eject CRA or use your own client side webpack config, then the 2.1 Template code (asp.net core side) will be incompatible with your client side. Also, current template does not support injecting hashes in to the .cshtml side and lacks other server-client side integrations.

How are you approaching t

[2018-06-21 18:58] muratg commented on #565
Approved for 2.1.3.

[2018-06-22 16:36] danroth27 opened #584 "Rename Web Application templates to Starter Web Application"

[2018-06-23 21:02] KinsonDigital commented on #242
What does "ejecting from CRA" mean?

[2018-06-23 21:08] tpetrina commented on #242
It means running `npm run eject` and getting the hidden `webpack.config.js` out of the `react-scripts`.
By doing that you can add any features you want to your app, but you stop using `react-scripts` and cannot update it anymore. So from that point on you are responsible for updating your dependencies.

[2018-06-24 09:08] glacasa opened #585 "Allow the user to decline the cookie policy"
On a new MVC project, there is a banner displayed over the menu, with 2 buttons : one to go to the privacy page, and one to accept it.

As noted on #567, moving the banner below the menu would be better, to let the user navigate the site, but the banner is still here.

According to GDPR, it must be as easy to refuse than to accept, so we need to have a "Decline" button to remove the banner without

[2018-06-25 04:32] mlorbetske opened #586 "Angular 6 Update"
_From @mbeckenbach on June 22, 2018 12:57_

Hi,

do you have plans to upgrade to angular 6 anytime soon?
The project file and some dependencies have changed there.

Best regards

_Copied from original issue: dotnet/templating#1592_

[2018-06-25 22:09] naveedahmed1 opened #587 "Angular 6 Template Feature Request"
It would be great if we could add an Error page to this template indicating how to properly return `HttpStatus code` for the requests such as `404 `for not found. `SpaPrerenderingExtensions` does support returning HttpStatus code.

For `NodeJs` applications, returning HttpStatus code is really simple since it has access to Response object (https://stackoverflow.com/a/44939037/2755616), for `.Net C

[2018-06-26 01:24] chris-herring opened #588 "SSR in React Redux CRA template"
The latest React Redux CRA template does not have SSR as the previous templates had. Is this a recommended way to add SSR?

[2018-06-26 14:36] frystpingvin opened #589 "Share variables between Dotnet and React when publishing"
We are building an app using the React template based on CRA. When publishing from Visual Studio, we would like to pass down an environment variable to React.

When publishing to staging, we would to have another api url than when we publish to production. Does anyone know how we can accomplish this? We would prefer to not eject from CRA and expose the Webpack configs.

[2018-06-26 20:37] mlorbetske opened #590 "Mac OS .NET CLI: not contains Identity files"
_From @livarcocc on June 26, 2018 17:33_

_From @agiletuan on June 26, 2018 16:40_

## Steps to reproduce
run the following command at the command line:

`dotnet new mvc --auth Individual`

## Expected  behavior
Project will contains Asp.Net Identity module.
- File: Controllers/AccountController.cs
- File: Controllers/ManageController.cs
- File: Models/ApplicationUser.cs
- Folders: AccountViewMode

[2018-06-27 14:19] frystpingvin commented on #589
We achieved something good enough by adding a REACT_APP_DIST_ENV variable to our npm build scripts:
[code]

And in our .csproj file we run the correct npm script depending on configuration:
[code]

In our React-app we can then define variables depending on the REACT_APP_DIST_ENV variable. Of course one could add more REACT_APP-* variables if one wants to.

[2018-06-27 14:19] #589 closed

[2018-06-27 16:52] ryanbrandenburg commented on #567
We're going to do this as part of the Bootstrap4 update, using a dismissable alert customized to have "Accept" instead of "X"

[2018-06-27 17:47] ryanbrandenburg commented on #541
Closed in #581.

[2018-06-27 17:47] #541 closed

[2018-06-27 20:39] Sl1MBoy commented on #459
Hi @mkArtakMSFT, can you reopen this please?

[2018-06-28 00:52] kakins commented on #459
And I forgot to respond, but I do experience the same issue still.

[2018-06-28 12:56] egmfrs commented on #218
There is also a `SendVerificationEmail` POST action in the Manage controller

[2018-06-28 17:56] Eilon commented on #459
Thanks, we will evaluate this again in our next scan of bugs.

[2018-06-28 19:53] mlorbetske opened #592 "An error No templates matched the input template name: angular"
_From @livarcocc on June 28, 2018 16:25_

_From @vasyliv on June 28, 2018 15:46_

## Steps to reproduce
https://www.microsoft.com/net/download/windows
Download .NET Core 2.1 SDK
Download .NET Core 2.1 Runtime
dotnet new angular
## Expected  behavior
new template

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

_Copied from original issue: dotnet/cli#9573_

_Copied

[2018-06-29 19:19] dominikfoldi opened #597 "Angular template: add browser AppModule"
It would be awesome to have an AppModule that we can use to add only browser supported modules if SSR enabled. The idea is to have a shared AppModule that the server AppModule and the browser AppModule use. The browser one only bootstrapped in the browser not on the server.

You can find a great example in @MarkPieszak's repo: https://github.com/MarkPieszak/aspnetcore-angular2-universal

[2018-06-30 13:42] vasyliv opened #599 "Angular5 template lazy SSR an error "ReferenceError: XMLHttpRequest is not defined""
Hello! Thanks for your templates, there is an error in Angular5 template with SSR (SSR guide from https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-2.1&tabs=visual-studio)

see the code at here https://github.com/vasyliv/angular5/tree/http

steps to reproduce the error:

- build the project
- run it
- navigate to the page "counter"
- click to reload the page
- se

[2018-06-30 13:47] vasyliv commented on #599
solved by removing the HttpClientModule from lazy module

[2018-06-30 13:47] #599 closed

[2018-07-02 15:04] zippy1981 commented on #483
I've been having a great deal of trouble getting docker to work with the version of the ANgular SPA package that uses angular 4.2.5. I would love for this to just work.

[2018-07-02 16:38] ryanbrandenburg commented on #573
As per [this conversation](https://github.com/aspnet/templating/pull/582#issuecomment-401843999) We've decided that we should not yet move to Node10 because it's not stable. That's a build-time dependency anyway.

[2018-07-02 17:00] ryanbrandenburg opened #600 "Add checks of JS dependencies as part of the build"
We should write a quick script to test our JS dependencies for vulnerabilities and add it to the build for templating. Checking for vulnerabilities is as simple as running "npm audit", but sometimes there are packages without a fix available, or the vulnerability is the dependency of say, Angular. Where possible we should remove dependencies that aren't patching in a timely manner, but that's not

[2018-07-02 18:42] peterblazejewicz opened #601 "For updated ASP.NET templates consider using bootstrap.bundle.js dependency"
The Bootstrap 4 has new dependency for everything pop-over like, floating content including modals:
https://getbootstrap.com/docs/4.0/getting-started/introduction/
See section: 'Show components requiring JavaScript'.

To ease issue with updating content from version 3 to 4 and including another dependency, the dedicated version of Bootstrap javascript library is being created and released with cur

[2018-07-03 02:45] ZeekoZhu commented on #483
@zippy1981 I've made some docker images that works well with angular SPA that uses angular@6, hope this can help you: https://hub.docker.com/r/zeekozhu/aspnetcore-build-yarn/tags/

[2018-07-03 20:46] jhermsen opened #605 "How to install templates in Visual Studio?"
Hi according to the repository description this should also be installable to Visual Studio, but how do I do that?

[2018-07-09 19:00] Eilon commented on #605
@jhermsen the templates are installed when you install the .NET Core SDK. Can you provide more info about what you tried to do, what happened, and what you expected? Thanks!

[2018-07-09 19:01] Eilon commented on #490
@kichalla - can you report this via VS so we can close this issue?

[2018-07-09 20:32] kichalla commented on #490
Sure, I created an issue now using VS feedback:
https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/34785640-show-razor-page-in-add-menu-for-a-razor-pag

[2018-07-09 20:32] #490 closed

[2018-07-11 17:21] ryanbrandenburg opened #608 "Move to Node10"
Let's move to Node10 for our templating builds.

[2018-07-11 17:23] ryanbrandenburg commented on #608
Upgrading to node 10 seems to break angular for mac. The suggested fixes seem to be 1) Don't check in package-lock.json files. 2) Use a version of npm that won't complain.

As per the discussion [here](https://github.com/aspnet/templating/pull/582#issuecomment-400838566) we decided that this work isn't worth it until they've resolved the angular/mac issue.

[2018-07-11 17:23] #608 closed

[2018-07-11 18:57] ryanbrandenburg commented on #573
We are already using "react.redux" 5.x, which as far as I can tell is usually paired with redux 3.x (4.x is only 3 months old).

[2018-07-11 21:51] ryanbrandenburg commented on #565
Fixed in #609.

[2018-07-11 21:51] #565 closed

[2018-07-11 22:01] ryanbrandenburg commented on #573
All the items listed here are done. Any further items we discover we'll re-open or put in a different issue.

[2018-07-11 22:01] #573 closed

[2018-07-12 01:32] chris-herring opened #612 "How to add authentication to SPA templates?"
In Startup.cs the React SPA template calls UseSpa() which sends everything through the React app. How do I secure this so that I can send to a login page, pass cookies down etc?

Alternatively I can check if the use is logged in on the client side and have the login form in the SPA. In this case is it possible to pass data down from the server e.g. if the user is logged in and profile settings for

[2018-07-12 12:17] tpetrina commented on #612
You can use cookies, JWT, depends on your setup.

[2018-07-13 07:55] mlorbetske opened #614 "Razor Pages Docker Linux -- Did you mean to run dotnet SDK commands? Please install dotnet SDK from"
_From @espray on September 10, 2017 2:27_

Razor Pages with Linux Docker support enabled. Getting error 'Did you mean to run dotnet SDK commands?'. Template with Windows container works fine.

Linux Docker -- Folder
C:\Users\erics\Documents\Visual Studio 2017\Projects\RazorPages\RazorPages\obj\Debug\netcoreapp2.0
is EMPTY.

Windows Docker --  The same folder has the build output.

Visual Studio Pr

[2018-07-13 08:01] mlorbetske opened #615 "Enhance EntityFramework Provider options in Templates"
_from @dansiegel on April 27, 2017_

The templates currently provide a possible outcome for generating a template using either SqlServer or Sqlite. I think that this could be further enhanced by providing choices for the EntityFramework Provider.

- SqlServer => Microsoft.EntityFrameworkCore.SqlServer
- SQLite => Microsoft.EntityFrameworkCore.SQLite
- MySQL => MySql.Data.EntityFrameworkCore
- Post

[2018-07-13 08:02] mlorbetske commented on #615
_from @sayedihashimi on April 27, 2017_

I would like to expand the list of options as well. I would love some community help in this area.

[2018-07-13 08:03] mlorbetske commented on #615
_from @sayedihashimi on April 28, 2017_

Any community members interested in sending a PR?

[2018-07-13 08:03] mlorbetske commented on #615
_from @dansiegel on April 28, 2017_

I'm happy to take a look at this over the weekend.

[2018-07-13 08:03] mlorbetske commented on #615
_from @sayedihashimi on April 28, 2017_

@dansiegel it looks like I can assign this item to you. I'll assign it to you, so that we know someone is looking at it.

[2018-07-13 08:04] mlorbetske commented on #615
_from @dansiegel on May 5, 2017_

For MySql there are actually three different providers. The Official MySql package is also the only one that has yet to release a stable package. Is there a preference to only support the Official MySql provider, all three, or .....

[2018-07-13 08:04] mlorbetske commented on #615
_from @dansiegel on May 7, 2017_

@sayedihashimi another question for you, and I suppose this could be an issue of it's own as well.

Will the 2017.3.host.json need updating so that you can choose the EF Provider from within Visual Studio? From looking at the spec it seems like the host file is pretty much set for custom template dialogs centered around web projects. I don't know if maybe this wou

[2018-07-13 08:05] mlorbetske commented on #615
_from @mlorbetske on May 7, 2017_

@dansiegel we are the VS team for that too 😉 We're doing a bunch of work right now to provide a UI that can adapt to the options the template has available & some of those capabilities will flow back in to the web project creation (OneASP.NET) dialog. This could certainly be one of those capabilities.

[2018-07-13 08:05] mlorbetske commented on #615
_from @sayedihashimi on May 8, 2017_

FYI we are having discussions with the team that owns the broader File->New Project experience to get 1st class support for Template Engine templates. Those discussions are more long term discussions. The discussions recently got started. I will keep you posted on progress.

[2018-07-13 08:06] mlorbetske commented on #615
_from @dansiegel on May 8, 2017_

Since I'm on a Mac about 90% of the time, I do hope this is being done for VS for Mac as well? And hopefully we'll see a parallel or near parallel release?

[2018-07-13 08:06] mlorbetske commented on #615
_from @sayedihashimi on May 8, 2017_

@dansiegel everything that we do will target VS and VS4Mac from now on. In VS4Mac we have a lot of catch up to do so I'm not sure where it will land priority wise, but we are not in the business of developing VS specific tooling anymore.
From a template perspective we are already working with the VS4Mac team to integrate the Template Engine. That will first be

[2018-07-13 08:07] mlorbetske commented on #615
_from @dansiegel on May 8, 2017_

@sayedihashimi good to hear. With my templates targeting Xamarin I want to be sure that I can provide a first class experience regardless of platform. I'm happy to get you and the VS4Mac team the templates for testing.

More on topic for this thread though... any thoughts on my previous question:

[2018-07-13 08:07] mlorbetske commented on #615
_from @sayedihashimi on June 5, 2017_

@natemcmaster any thoughts on the MySql provider that should be used if we add a mysql option to the templates? As @dansiegel indicates there are several packages we can use. Have you used any of them?

[2018-07-13 08:07] mlorbetske commented on #615
_from @natemcmaster on June 5, 2017_

@sayedihashimi - @divega would have a more informed opinion on this one. When I left EF, the mysql providers were still half-baked.

[2018-07-13 08:08] mlorbetske commented on #615
_from @divega on June 5, 2017_

The three MySQL EF Core providers I know about are SapientGuardian.EntityFrameworkCore.MySql, Pomelo.EntityFrameworkCore.MySql and the official MySql.Data.EntityFrameworkCore from the MySQL team. And I can't think of a good way to pick one of them over the others right now.

I am starting to wonder if we could figure out a way to let providers plug in instead of us

[2018-07-13 08:08] mlorbetske commented on #615
_from @mlorbetske on June 5, 2017_

@divega in terms of integrating them with the template content, we don't have template feature level template extensibility at this time (we'd need to think hard about what that means - it's likely more of a post-generation or standalone scaffolding experience as it can impact otherwise static template content at a point where there isn't a semantic understandin

[2018-07-13 08:09] mlorbetske commented on #615
_from @divega on June 6, 2017_

@mlorbetske thanks. I think it could be worth brainstorming. Perhaps this is something we can do as a standalone step as you mentioned.

Anyway, do you know the answer to my other question?

[2018-07-13 08:10] mlorbetske commented on #615
_from @dansiegel on June 6, 2017_

@divega the goal was to have it on 1.x and 2.x templates. I though 1.x libraries work with 2.0?

From what I've seen, it appears the"official" MySQL package has had the least amount of effort. Based on the download counts, it would appear that the Pomelo package is probably the most popular.

[2018-07-13 08:10] mlorbetske commented on #615
_from @mlorbetske on June 6, 2017_

@divega there are separate templates for 1.x and 2.0 (but they show as a single template when both are installed at the same time). The 1.x templates don't ship with the 2.0 CLI, but they are consumed by VS & VS4M

[2018-07-15 18:45] henkmollema commented on #570
I think a template like this should be called "empty MVC" or "minimal" and the empty one should stay.

Personally I use the current empty template quite often to quickly get a sample or repro together. It's also a nice introduction to the low-level concept of middleware.

[2018-07-17 08:13] tizubythefizo opened #616 "Angular template - VS2017 npm install fails due to package.json being in the clientapp folder"
When I build or manually try to restore npm dependencies through the UI in Visual Studio 2017 (15.7.5) using the Angular template in .net 2.1 it's failing to do so.

It gives the npm WARN ENOENT ENOENT: no such file or directory, error and seems to be looking in the project root folder for package.json. That's a problem since the template creates the package.json folder in the ClientApp folder ins

[2018-07-17 18:46] ryanbrandenburg commented on #551
Being done as part of #278.

[2018-07-17 22:31] mkArtakMSFT commented on #616
Thanks for contacting us, @tizubythefizo.
@ryanbrandenburg can you please look into this? Thanks!

[2018-07-18 14:55] Blackbaud-DustinLunsford commented on #592
When is this issue going to be fixed?  Is there currently a work around?  Seems like this would have been fixed relatively fast (faster than the current issue being 20 days old) considering  the popularity and prevalence of Angular.

[2018-07-18 15:09] scottaddie commented on #592
@Blackbaud-DustinLunsford I haven't tried this workaround myself, but what if you ran the following command?

[code]

This is how the Angular and React project templates were installed prior to inclusion in the SDK installation.

[2018-07-18 19:05] ryanbrandenburg opened #620 "Flaky tests: WebApiTemplate_Works_NetCore et al"
This test [fails](http://aspnetci/viewLog.html?buildId=507950&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]

[2018-07-18 19:06] ryanbrandenburg opened #621 "Flaky tests: RazorPagesTemplate_NoAuth_Works_NetCore et al"
This test [fails](http://aspnetci/viewLog.html?buildId=507950&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]

[2018-07-18 19:07] ryanbrandenburg opened #622 "Flaky tests: EmptyWebTemplate_Works_NetFramework et al"
This test [fails](http://aspnetci/viewLog.html?buildId=507950&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]

[2018-07-18 19:08] ryanbrandenburg opened #623 "Flaky test: EmptyWebTemplate_Works_NetCore"
This test [fails](http://aspnetci/viewLog.html?buildId=507950&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]

[2018-07-18 19:10] ryanbrandenburg opened #624 "Firefox processes launched by Selenium don't always close"
Firefox processes launched by Selenium don't always close, this is a possible cause of hangs in VSTS, pollutes our TC agents and likely contributes to unreliability/slowness of other Templating tests.

[2018-07-18 19:11] ryanbrandenburg opened #625 "Templating test reliability"
Templating tests are currently very unreliable. Problems include the following:

- [x] aspnet/Templating#620
- [x] aspnet/Templating#621
- [x] aspnet/Templating#622
- [x] aspnet/Templating#623
- [ ] aspnet/Templating#624

Until these are all dealt with it's very hard to tell if a build of Templating is "good".