[2017-09-05 13:09] vanillajonathan opened #2 "Use the 'main' element in _Layout.cshtml"
Use the semantic `main` element in the `_Layout.cshtml` file.

The semantic `header` element could be used too.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header

[2017-09-05 13:22] vanillajonathan opened #3 "Use latest version of JavaScript libraries"
jquery-validation is now at 1.17.0

https://github.com/jquery-validation/jquery-validation/releases

[2017-09-06 01:23] javiercn opened #4 "Should we remove app.db from the templates"
We create the templates with a pre-initialized app.db instance which causes that when we make changes to the migration and instantiate the template (and try to run the migrations) we get the message that everything is up to date when it is not.

Instead of that, we should just run the migrations in the same way we do for local db today.

Any thoughts? @ajcvickers

[2017-09-06 21:07] ajcvickers commented on #4
Filed https://github.com/aspnet/EntityFrameworkCore/issues/9714 to track reviewing the templates from the EF side. We're not 100% sure yet what the best thing to do here is--we will need to do the review/investigation to figure it out. For consistency, having the same experience regardless of platform would be better. For simplicity of the SQLite experience, having the database file in the templat

[2017-09-08 15:47] Eilon opened #5 "Simplified Chinese characters are garbled in project files"
_From @HeMinzhang on August 26, 2017 12:23_

I use Visual Studio community 2017  15.3.1 create a asp.net core 2.0 angular project.But simplified Chinese characters garbled.
I convert
project\ClientApp\app\components\app\app.component.html project\ClientApp\app\components\home\home.component.html
project\ClientApp\app\components\fetchdata\fetchdata.component.html

Ansi file format to uft8 file.
sim

[2017-09-08 15:47] Eilon commented on #5
@HeMinzhang we need more information to understand this issue. Can you please upload an app to GitHub so that we can investigate?

[2017-09-08 15:47] Eilon commented on #5
_From @khellang on August 28, 2017 17:23_

Sounds like an issue with the templates and which encoding is used when scaffolding a project...

[2017-09-08 15:47] Eilon commented on #5
Certainly could be.

@SteveSandersonMS - these files look like they're from the SPA template - is there any weird file encoding going on there? I think we normally do UTF-8 without BOM.

[2017-09-08 15:47] Eilon commented on #5
_From @SteveSandersonMS on September 7, 2017 14:20_

@Eilon It looks like we're inconsistent about whether files include a BOM or not. Most (but not all) of the `cshtml` ones in `StarterWeb-CSharp` (i.e., MVC starter site) **do** have BOMs, whereas most of them (possibly all, didn't check) in `RazorWebPages-CSharp` **do not** have BOMs.

As a specific example, the MVC starter site's [`TwoFactorAut

[2017-09-08 15:47] Eilon commented on #5
_From @HeMinzhang on September 7, 2017 14:52_

[WebApplication1.zip](https://github.com/aspnet/Mvc/files/1285090/WebApplication1.zip)

Simplified Chinese in "WebApplication1\WebApplication1\ClientApp\app\components\navmenu\navmenu.component.html"

[2017-09-08 15:47] Eilon commented on #5
@SteveSandersonMS I think that phrasing is generally used to mean "it is not required and it is not recommended to use," which agrees with what I've heard from others - i.e. don't use a BOM.

But either way, I completely agree that all the template files need to be consistent. And beyond that, we need a test that checks for BOM presence (or un-presence).

@rynowak / @Tratcher - I think maybe you'v

[2017-09-08 15:47] Eilon commented on #5
_From @Tratcher on September 7, 2017 21:42_

UTF-8 encode all the files. The BOM should only be excluded when transmitting over the network, as the encoding is specified in a header.

[2017-09-08 15:47] Eilon commented on #5
Everything here is already all UTF-8. The question is only whether the files on disk should have a BOM or not.

[2017-09-08 15:47] Eilon commented on #5
_From @Tratcher on September 7, 2017 21:45_

Yes? How else do you save the encoding for the file? In additional metadata?

[2017-09-08 15:47] Eilon commented on #5
_From @rynowak on September 7, 2017 22:24_

Yeah, I'm not the expert on this. We should talk to the tooling team.

[2017-09-08 15:48] Eilon commented on #5
@Tratcher I had been under the impression that "these days" you can just assume UTF-8. Perhaps that's just not true. I always used to be a huge fan of BOMs because they're explicit.

[2017-09-12 13:52] kakins opened #7 "Using Angular BrowserAnimationsModule throws error"
I modified the app.module.browser and app.module.server as shown here:
https://github.com/aspnet/JavaScriptServices/commit/c0c47e3def208873c470a524a826f8d235a5f9de
This was a response to the following issue:
https://github.com/aspnet/JavaScriptServices/issues/1160

However when trying to add to the animations array in a component decorator, I get the error described in this issue:
https://github.c

[2017-09-12 18:00] kakins commented on #7
I just noticed that this is an issue with server side rendering.  So maybe not an issue with the templates per-se?

[2017-09-13 15:18] JimLynn opened #8 "Adding BrowserAnimationsModule and NoopAnimationsModule causes webpack HMR to duplicate the app element on update"
Using exactly the same code as in the angular-animations-example branch, any changes to the app that invokes the webpack hot module replacement results in the previous app element being left behind underneath the newlay added app element. A browser refresh is necessary to get rid of it and test as normal.

This seems to be provoked merely by importing the two AnimationsModules into the browser and

[2017-09-13 20:54] Eilon opened #9 "Remove usage of ApplicationException from all templates"
This exception type is not recommended by MSDN because it carries no meaning (you might as well throw Exception).

For each current usage we need to either:
1. Ideally stop throwing an exception (e.g. return an MVC action result, or propagate errors some other way)
2. If (1) isn't an option, throw a more appropriate (and meaningful) exception type

[2017-09-16 22:09] virzak opened #10 "reduxreact JQuery-UI example"
What's the best way to work with JQuery UI with server-side pre-rendering?

`Microsoft.AspNetCore.NodeServices.HostingModels.NodeInvocationException: 'Prerendering failed because of error: TypeError: $.each is not a function`

I got it to work without server-side pre-rendering, by adding

[code]
to webpack.config.vendor.js and

[code]
to the component.

[2017-09-20 21:38] mlorbetske opened #11 "Change ASP.NET Core themplates to have IncludeScopes inside Console config section."
_From @pakrym on September 20, 2017 20:36_

_Copied from original issue: dotnet/templating#1247_

[2017-09-21 14:14] NorDroN opened #12 "Support conditional into typescript files"
Hi!
Is it possible to use #if (condition) #endif into .ts and .html files?

[2017-09-21 14:55] sayedihashimi commented on #12
Yes we have built in support for both `.ts` and `.html`. You wouldn't use `#if` because that's not a concept in ts/html. Instead you can use the comments syntax in each. The ref for comment syntax can be found at https://github.com/dotnet/templating/wiki/Reference-for-comment-syntax, more specifically here is .ts https://github.com/dotnet/templating/wiki/Reference-for-comment-syntax#typescript-sam

[2017-09-21 14:55] #12 closed

[2017-09-21 14:56] sayedihashimi commented on #3
We are going to be making a pass at all dependencies, but we are waiting on some other tooling to light up to enable us to do so.

[2017-09-21 21:57] kichalla opened #14 "Include the 'additional-methods.js' in the template"
A new jquery-unobtrusive adapter was added for handling validation of file extensions. https://github.com/aspnet/jquery-validation-unobtrusive/commit/e7444c9ab5512d455069815e23b954ce2e7b2518

This adapter uses 'extension' method from the jquery-validation's 'additional-methods.js' file. This file is [already ](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates.

[2017-09-21 21:59] kichalla opened #15 "Update the jquery unobtrusive script in templates to the latest version"
An update was made to the unobtrusive script, so we need to use this latest version
Related issue: https://github.com/aspnet/templating/issues/14

[2017-09-22 18:14] mlorbetske opened #17 "Welcome page/README/Project_ReadMe"
_From @peterblazejewicz on February 3, 2017 20:23_

Not sure if this is a correct repo:
I'm missing a warm welcome page (README) for content:
[Remove Project_ReadMe.txt from templates](https://github.com/aspnet/Templates/pull/681)
[Replacement for content in README.md](https://github.com/OmniSharp/generator-aspnet/issues/867)
https://github.com/aspnet/Templates/pull/681#issuecomment-256466493
I've

[2017-09-22 18:14] mlorbetske commented on #17
@sayedihashimi thoughts?

@seancpeters in our post-actions work, we'll likely want to have an "automatically open after generation" post-action (would mark the file as being the one to open in the overview page in VS)

@peterblazejewicz for templates at the CLI - would you expect that the file opens or just gets included in the output? Also, are you asking for how to indicate that the content in V

[2017-09-22 18:14] mlorbetske commented on #17
_From @peterblazejewicz on February 3, 2017 22:24_

[code]
👍

But that is for consideration only for you folks :)

If this is a markdown file the current most commonly used IDEs (VSCode/Atom) renders preview out-of-the-box (unless I'm wrong). And VS/TFS online renders preview now for MD too.

[2017-09-22 18:14] mlorbetske opened #18 "Bump jQuery version up"
_From @peterblazejewicz on February 3, 2017 20:52_

e.g.:
https://github.com/dotnet/templating/blob/master/template_feed/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-FSharp/bower.json#L6

The 2.2.3 works just fine:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/bower.json#L6

_Copied from original issue: dotnet/templating#249_

[2017-09-22 18:14] mlorbetske commented on #18
@sayedihashimi @phenning should we get these updated & updated in aspnet/templates as well?

[2017-09-22 18:14] mlorbetske commented on #18
_From @peterblazejewicz on February 3, 2017 21:25_

Well, there is `2.2.4` on `aspnet cdn` already:
https://www.asp.net/ajax/cdn#jQuery_Releases_on_the_CDN_0
[code]

[2017-09-22 18:14] mlorbetske opened #19 "Bump jQuery.Validate version up"
_From @peterblazejewicz on February 3, 2017 20:53_

E.g.:
https://github.com/dotnet/templating/blob/master/template_feed/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-FSharp/bower.json#L7

The 1.15.0 version works just fine with scaffolded content:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/bower.json#L7

_Copied from original issue: dotnet/templati

[2017-09-22 18:14] mlorbetske commented on #19
@sayedihashimi @phenning should we get these updated & updated in aspnet/templates as well?

[2017-09-22 18:16] mlorbetske opened #20 "Bundling/minifying CSS/JS in 2.0 preview released templates"
_From @peterblazejewicz on May 13, 2017 21:3_

The `mvc` and `razor` templates ship with `bundleconfig.json` but I think the integration is broken. I'm not using VS. The 2.0 uses blank platform meta package dependency `Microsoft.AspNetCore.All` and cli tool for Secret manager tool `Microsoft.Extensions.SecretManager.Tools` and that's all. Whenever I made a changes in content client code (JS, CSS t

[2017-09-22 18:16] mlorbetske commented on #20
@glennc @madskristensen thoughts?

[2017-09-22 18:16] mlorbetske commented on #20
_From @madskristensen on May 15, 2017 15:11_

Installing the `BundlerMinifier` NuGet package will automatically run the bundleconfig.json on build. Just install it and build your project.

[2017-09-22 18:16] mlorbetske commented on #20
_From @peterblazejewicz on May 15, 2017 18:36_

Mads, thanks! I'm aware about those tools.
The problem is that I cannot make them work witn 2.0 preview version.

### Using `BuildBundleMinifier` in 2 Preview does nothing

[code]

### using `BundleMinifier.Core` does nothing on build as well

[code]

### Using `BuildBundleMinifier` under 1.1 version produces expected output and is visible in termina

[2017-09-22 18:16] mlorbetske commented on #20
Just tried this out with a 2.0 MVC app (using a modified `BuildBundleMinifier` - [PR](https://github.com/madskristensen/BundlerMinifier/pull/275))

[code]

[code]

[2017-09-22 18:16] mlorbetske commented on #20
_From @peterblazejewicz on May 25, 2017 18:40_

Appreciated

[2017-09-22 18:16] mlorbetske opened #21 "Consider adding an option to the MVC auth template that only does cookie auth without OIDC"
_From @danroth27 on May 15, 2017 21:52_

We had some requests to provide an option for only doing cookie auth with the OIDC stuff:

https://github.com/aspnet/Identity/issues/1187#issuecomment-301602256

We should see based on the preview1 feedback how many folks want this and react accordingly.

Daniel Roth

_Copied from original issue: dotnet/templating#800_

[2017-09-22 18:16] mlorbetske commented on #21
_From @Ponant on May 15, 2017 22:4_

Somewhat related (feedback on preview 1)
https://github.com/aspnet/tooling/issues/1040
https://github.com/aspnet/tooling/issues/1041
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/422

[2017-09-22 18:17] mlorbetske opened #22 "OpenID appears in tfp/IdentityService/Manage/ManageLogins VS 2017 15.3 Preview 1"
_From @danroth27 on May 15, 2017 22:11_

_From @Ponant on May 14, 2017 21:29_

OpenID appears as button in the ManageLogins for a registered user in ASP.NET Core 2.0 in-app Identity whereas it is not expected, a priori.
Furthermore, clicking on this button leads to the Server Error `The view 'AccessDenied' was not found. `

_Copied from original issue: aspnet/Tooling#1040_

_Copied from original i

[2017-09-22 18:17] mlorbetske opened #23 "Bower package manager migration while in maintenance"
_From @peterblazejewicz on May 21, 2017 17:50_

Hi folks,
Just to let you know, the Bower package manager tool has been put into maintenance mode officially:
https://github.com/bower/bower/commit/0bd318de53daf9dc3b52bfd7bc753d4d2c2c9948
The related issues was closed on the Bower project discussion list:
https://github.com/bower/bower/issues/2298
The templates ships with Bower configuration and imp

[2017-09-22 18:17] mlorbetske commented on #23
I mentioned this to @madskristensen yesterday as well. This seems like as good a place as any to start the discussion on what the plan for client side package management should be going forward.

[2017-09-22 18:17] mlorbetske commented on #23
_From @rogersachan on August 9, 2017 22:33_

Any update on this?

[2017-09-22 18:17] mlorbetske commented on #23
When I talked with @madskristensen about this, the thinking was to use LibraryInstaller. Similar to his PackMan project, it's a lightweight way to install and manage client side content files and is backed by CDNJS by default. It can be configured to point to other sources as well in case there's a restriction on or recommendation for the packages allowed for a particular project.

That being said

[2017-09-22 18:17] mlorbetske opened #24 "Update client_info to include policy"
_From @danroth27 on June 1, 2017 22:33_

_From @danroth27 on May 5, 2017 6:5_

The `client_info` parameter needs to be updated to look like this:

[code]

Where <policy> = whatever policy as used for authentication. For example,

[code]

_Copied from original issue: aspnet/IdentityService#101_

_Copied from original issue: dotnet/templating#874_

[2017-09-22 18:17] mlorbetske commented on #24
_From @danroth27 on June 1, 2017 22:33_

This only impacts the in app individual user accounts template

[2017-09-22 18:17] mlorbetske commented on #24
_From @danroth27 on June 1, 2017 22:34_

@javiercn Are you handling this as part of your template updates

[2017-09-22 18:17] mlorbetske commented on #24
@danroth27 @javiercn was this done?

[2017-09-22 18:17] mlorbetske commented on #24
_From @javiercn on July 21, 2017 5:14_

@mlorbetske we can revisit this at a later point

[2017-09-22 18:18] mlorbetske opened #25 "Web App with Individual Auth uses Web Helper instead of TagHelper"
_From @phenning on July 6, 2017 17:26_

In the Individual Auth template for Core Web Application, there is exactly one Web Helper, at line 38 in Views/Accout/Login.cshtml.

This should be changed to a TagHelper.

[code]

_Copied from original issue: dotnet/templating#1024_

[2017-09-22 18:18] mlorbetske opened #26 "Suggestion: Use SQL Server security for connection strings on Linux"
_From @livarcocc on July 16, 2017 18:20_

_From @badersur on July 13, 2017 21:3_

## Steps to reproduce

1. `dotnet new mvc -au Individual -uld true`

2. `dotnet restore`

3. `ASPNETCORE_ENVIRONMENT=Development dotnet run`

4. visit http://localhost:5000/Account/Register, enter data & press register

## Expected  behavior
The site should register the user & work without any issue

## Actual behavi

[2017-09-22 18:18] mlorbetske commented on #26
The --use-localdb option was intended for the Windows-only (as far as I know, I'll confess that I haven't looked very much at the SQL Server on Linux support) LocalDB offering (usually installed along with Visual Studio) where the database is created by the request to use it rather than precreated by the user like in full SQL. For other platforms, the general practice has been to not specify that

[2017-09-22 18:18] mlorbetske commented on #26
_From @badersur on July 18, 2017 11:30_

Hello @mlorbetske and thanks for your reply :)

After installing dotnet 1.1.0-preview1-005077, I feel it would be nice to introduce other arguments instead of `-uld` to choose one of the EF Core date providers.

If I run `dotnet new mvc -h`, I would like to see something like these instead of `-uld`:

[code]

This will reduce some time spent on looking for

[2017-09-22 18:18] mlorbetske commented on #26
I think this would be related to #698 as well then

[2017-09-22 18:18] mlorbetske commented on #26
_From @badersur on July 18, 2017 19:54_

Yeah, it looks similar to `-dp` switch!

[2017-09-22 18:18] seancpeters opened #27 "Logging configuration in WebApi and Spa template shouldn't include providers."
_From @pakrym on August 14, 2017 23:28_

Expected:
[code]
https://github.com/dotnet/templating/blob/rel/2.1.0-preview1/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/appsettings.json

Actual:
[code]
https://github.com/dotnet/templating/blob/rel/2.1.0-preview1/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/WebApi-CSharp/appsettings.json

_Copied f

[2017-09-22 18:18] mlorbetske commented on #26
@badersur do you think it'd be best to add additional information to #698 or is there enough of a distinction that we should we track this separately?

[2017-09-22 18:18] mlorbetske commented on #26
_From @badersur on July 19, 2017 11:53_

@mlorbetske I think it's fine either way but would be easier to add the other options to #698 and track one issue!

The issue seems to be almost addressed in https://github.com/dotnet/templating/pull/788 except for testing & validating migrations. I'm mostly interested in entity framework's data providers and consider other options as optional and nice to h

[2017-09-22 18:19] mlorbetske opened #28 "Update QR code doc fwlink"
_From @danroth27 on July 20, 2017 5:54_

We need to update https://go.microsoft.com/fwlink/?Linkid=852423 to point to the QR code doc https://github.com/aspnet/Docs/issues/3780

_Copied from original issue: dotnet/templating#1121_

[2017-09-22 18:19] mlorbetske commented on #28
_From @DamianEdwards on August 16, 2017 3:0_

The doc is now live but the FW link hasn't been updated. Needs to point to https://docs.microsoft.com/en-au/aspnet/core/security/authentication/identity-enable-qrcodes

@danroth27

[2017-09-22 18:19] seancpeters opened #29 "Avoid throwing 'ApplicationException' - it is not recommended by MSDN"
_From @Eilon on August 8, 2017 19:49_

The `ApplicationException` has been essentially obsolete since .NET 1.0, and MSDN specifically recommends avoiding it:

https://msdn.microsoft.com/en-us/library/system.applicationexception(v=vs.110).aspx

We should fix this ASAP in the project templates, as it is not a good practice.

_Copied from original issue: dotnet/templating#1191_

[2017-09-22 18:19] seancpeters opened #30 "Remove Microsoft.VisualStudio.Web.CodeGeneration.Tools from default MVC template"
_From @JosephWoodward on August 3, 2017 21:57_

In a similar vein to a [previous issue raised](https://github.com/dotnet/templating/issues/658), given .NET Core is targeted towards cross-platform development in a range of IDEs and editors, I feel it doesn't make sense to have Visual Studio specific packages (`Microsoft.VisualStudio.Web.CodeGeneration.Tools` in this case) referenced in the default

[2017-09-22 18:19] seancpeters commented on #30
_From @mlorbetske on August 4, 2017 16:1_

This package is unfortunately named, it's not actually specific to Visual Studio - it supports scaffolding additional content (like Entity Framework based views and controllers) into projects using the dotnet CLI.

@prafullbhosale

[2017-09-22 18:19] mlorbetske opened #31 "Templates should use app.UseMvcWithDefaultRoute();"
_From @mlorbetske on August 3, 2017 17:56_

_From @Rick-Anderson on July 28, 2017 2:6_

I recommend the templates use `app.UseMvcWithDefaultRoute();` rather than

[code]

The more complex code is a barrier to entry for new users who don't need this flexibility. Advanced users will have no problem adding the above code when they need it. The code above doesn't make much sense to Razor Pages develop

[2017-09-22 18:20] mlorbetske commented on #31
_From @Rick-Anderson on August 8, 2017 19:2_

The Razor Pages template should use `app.UseMvc();`

Why add controller routing to a RP project.  @rynowak  - do you agree?

[2017-09-22 18:21] mlorbetske opened #32 "Missing license header in some files"
_From @omajid on August 18, 2017 16:5_

Some files have only this license header, which doesn't explicitly confirm that the file is licensed under the license documented in the https://github.com/dotnet/templating/blob/rel/2.1.0-preview1/LICENSE  file:

    /*!
    ** Unobtrusive validation support library for jQuery and jQuery Validate
    ** Copyright (C) Microsoft Corporation. All rights reserv

[2017-09-22 20:25] madskristensen opened #33 "Fix order of Browser Link middleware"
Move the call to `app.UseBrowserLink();` up so it runs before the call to `app.UseDeveloperExceptionPage();` in the Web Application templates (both Razor Pages and MVC).

This enables Browser Link to run on error pages which is a super important workflow enhancement

[2017-09-22 20:31] AndriySvyryd opened #34 "Add server-side rendering option to SPA templates"
Server-side rendering requires a significant amount of non-trivial boilerplate code to be added for React and Angular. Making it a part of the template could save days of work for someone who has never done it.

It would add more clutter though if it's not something that the user needs, so it should be optional.

[2017-09-22 20:57] danroth27 commented on #28
It is already updated.

[2017-09-22 20:57] #28 closed

[2017-09-22 20:59] danroth27 commented on #21
We ended up pushing the in app OIDC support out of 2.0

[2017-09-22 20:59] #21 closed

[2017-09-22 20:59] danroth27 commented on #22
We end up moving the in app OIDC support out of 2.0

[2017-09-22 20:59] #22 closed

[2017-09-22 21:00] danroth27 commented on #24
We ended up moving the in app OIDC support out of 2.0

[2017-09-22 21:00] #24 closed

[2017-09-24 17:22] htnmin opened #35 "Visual Studio 2017 doesn't automatically install Node for the Angular template"
When I start an project off of the Angular template, it says that NodeJS is needed.  I had to install NodeJS separately.

[2017-09-26 20:41] scottkuhl opened #36 "Updating wwwroot/dist on Rebuild"
What does everyone think about regenerating the wwwroot/dist folder on rebuild?  Something like this:

`<Target Name="DebugRunWebpack" BeforeTargets="Rebuild" Condition=" '$(Configuration)' == 'Debug'">`
`<RemoveDir Directories="wwwroot/dist" />`
`<Message Importance="high" Text="Performing re-run Webpack build..." />`
`<Exec Command="node node_modules/webpack/bin/webpack.js --config webpack.confi

[2017-09-27 17:31] kerocode commented on #7
same issue here

[2017-09-28 16:17] SteveSandersonMS commented on #36
You can certainly add that if you want, but we wouldn't put that in by default as it would greatly slow down the build, and doesn't help much if you're using the Webpack dev middleware anyway.

[2017-09-28 16:17] #36 closed

[2017-09-28 16:18] SteveSandersonMS commented on #35
That's correct and is as expected. It's up to you which version of Node you want to install, and it gives a (hopefully) clear message saying you need to do this.

[2017-09-28 16:18] #35 closed

[2017-09-28 16:19] SteveSandersonMS commented on #34
It is already in by default for the Angular and React+Redux templates and always has been. Apologies if I'm misunderstanding what you're asking for (and if so, please clarify).

[2017-09-28 16:19] #34 closed

[2017-09-28 16:22] SteveSandersonMS commented on #10
There's no easy solution for this, because jQuery UI does not support running in a Node environment. I'd recommend either not using jQuery UI, or disabling server-side prerendering.

If you're willing to be more sophisticated, it is possible to use jQuery UI only on the client, but you will have to put in manual logic to skip any calls to jQuery UI while running on the server (e.g., using `if (typ

[2017-09-28 16:22] #10 closed

[2017-09-28 16:24] SteveSandersonMS commented on #8
Thanks for reporting this.

Closing as duplicate of https://github.com/aspnet/JavaScriptServices/issues/1231, as I am certain that fixing that issue will also resolve this one.

[2017-09-28 16:24] #8 closed

[2017-09-28 16:54] AndriySvyryd commented on #34
@SteveSandersonMS Oh, I meant it to be added to the React template too.

[2017-09-28 17:05] SteveSandersonMS commented on #34
Please see https://github.com/aspnet/JavaScriptServices/issues/1271

[2017-09-28 17:07] AndriySvyryd commented on #34
Got it, thanks

[2017-09-29 16:27] pakrym commented on #27
https://github.com/aspnet/templating/pull/13

[2017-09-29 16:27] #27 closed

[2017-09-29 16:27] pakrym commented on #11
https://github.com/aspnet/templating/pull/13

[2017-09-29 16:27] #11 closed

[2017-10-02 03:20] haruair opened #39 "Angular namespace converting issue (underscore)"
I created angular project with dotnet cli. The project is created nicely, however, the namespace is something a bit different than I expected.

[code]

What I expected is below:

[code]

I can replace the namespace manually though, it would be nice to have a `--namespace` parameter for this case like `dotnet new mvc`.

Also, name property in `project.json` needs to check together.

[2017-10-03 19:21] RonPenton opened #43 "Typescript error in ReactRedux template when upgrading to latest React/Redux libraries"
I installed a new project using:

    dotnet new reactredux

Since I want to use React 16, I went ahead and updated the package.json to the following versions:

    "dependencies": {
        "@types/history": "^4.6.0",
        "@types/react": "^16.0.8",
        "@types/react-dom": "^16.0.0",
        "@types/react-hot-loader": "^3.0.4",
        "@types/react-redux": "^5.0.10",
        "@types/react

[2017-10-04 00:00] Rick-Anderson opened #44 "QR Codes should be supported in templates"
[Enabling QR Code generation for authenticator apps](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes)

That should be supported in the templates like [SMS 2FA](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/2fa) used to be.

requested by customer in [Enabling QR Code generation for authenticator apps](https://docs.microsoft.com/en-

[2017-10-04 00:02] Rick-Anderson commented on #31
@rynowak  can you comment on RP routing in templates?

[2017-10-04 14:52] rynowak commented on #31
Yes

[2017-10-04 20:54] danroth27 opened #45 "Update Web API templates to use new Web API conventions"
We are adding some new [Web API specific conventions]() that we will need the Web API project and time templates to react to.

We are adding `[ApiController]` attribute as the way to opt-in to new API specific conventions and behaviors that are tuned around best practices for APIs.

This will include:
- Automatically responding with a 400 when validation errors occur (using https://tools.ietf.org/

[2017-10-05 08:43] SteveSandersonMS commented on #43
Sorry to hear it's been tricky to upgrade to React 16.

As part of the ASP.NET Core 2.1 release we'll be updating all the templates and hence will figure out any details like this as part of that update process. Until then I'm afraid if you want to change your set of third-party dependencies then it will be up to you to resolve any compatibility issues. So right now I don't know what breaking chan

[2017-10-05 08:43] #43 closed

[2017-10-05 08:44] SteveSandersonMS commented on #39
Thanks for reporting this. I'll close it as it's already being tracked in https://github.com/aspnet/JavaScriptServices/issues/1225

[2017-10-05 08:44] #39 closed

[2017-10-06 17:43] DamianEdwards opened #48 "Remove Bower from ASP.NET Core project templates"
Remove Bower completely from the ASP.NET Core project templates and just leave the client-side files in their existing places (e.g. `wwwroot/lib/blah`).

We'll be moving to the new Library Manager (PackMan) in a release later on, but Bower is done now.

#23

[2017-10-06 17:49] DamianEdwards commented on #29
Dupe of #9

[2017-10-06 17:49] #29 closed

[2017-10-06 17:53] DamianEdwards commented on #44
This requires additional APIs in the platform (.NET Core) or external libraries. I don't wish to include the JS library in the templates just for the QR code. Similarly I don't want to include a 3rd-party server-side drawing library just to enable it either (e.g. `ImageSharp.Drawing`).

`System.Drawing` is being made available for .NET Core for compatibility purposes so we could investigate using

[2017-10-06 18:51] Eilon commented on #44
cc @blowdart

[2017-10-06 18:53] blowdart commented on #44
System.Drawing is not suitable, as it's a straight port of the "do not use in a web app code"

[2017-10-06 18:58] guardrex commented on #48
@DamianEdwards Do you want this change in topic samples as well? I was about to open an issue to fix topic samples to make them work properly with Bower and `BundlerMinifier.Core` (many don't because they don't include proper references/target(s) for non-VS dev scenarios); however, if you want both stripped out, I'll recast the issue over there.

[2017-10-06 19:35] DamianEdwards commented on #48
As @madskristensen says, we're working on a replacement so I wouldn't add anything now as it'll become obsolete within the next few months or so.

So for now, if anything, we should have a topic that covers adding and using NPM along with gulp/a standard NPM script/webpack to move files to wwwroot. That'll be useful in the future for customers who choose to do that anyway.

[2017-10-06 19:37] DamianEdwards commented on #44
Yeah, but people do anyway. Always have, always will. There isn't any plan for a System.* replacement AFAIK, so if we don't use it, we need to make something custom (not out of the question given it's just a QR code) or look at `ImageSharp.Drawing`.

[2017-10-06 19:37] DamianEdwards commented on #44
ping @muratg who was looking at this too

[2017-10-06 19:38] blowdart commented on #44
But _we_ shouldn't.

Anyway it's not cross platform.

[2017-10-06 19:41] DamianEdwards commented on #44
It is? I couldn't remember if they limited that one to Windows or not. Many packages in the "Windows compat pack" actually have *nix implementations included as well.

[2017-10-06 19:47] blowdart commented on #44
I think so, either way, we don't want to encourage the use of something that may leak memory and handles.

[2017-10-06 19:50] DamianEdwards commented on #44
@blowdart so serious 😉

Well then, given `ImageSharp.Drawing` is still only in beta, we're a bit stuck unless we want to go the route of doing a custom QR code generator.

[2017-10-06 19:53] blowdart commented on #44
We are, so we stick with the current situation IMO

[2017-10-06 19:56] guardrex commented on #48
At least some of the current samples are broken for non-VS (and offline) scenarios. It's the result of two situations: On the one hand, we have samples without the correct references and targets to make Bower and BundlerMinifer work. On the other hand, we also have a *.gitignore* entry that prevents us from uploading *wwwroot/lib* folder contents to the repo. Many/most samples *don't* have the *li

[2017-10-07 19:09] scottaddie opened #49 "Fix spelling mistake in Ind. User Accounts template: AuthenicatorUriFormat"
Both the Razor Pages and MVC project templates contain a `GenerateQrCodeUri` method. It makes use of a constant named `AuthenicatorUriFormat`, which is spelled incorrectly.

[2017-10-08 05:47] guardrex commented on #31
@scottaddie In addition to your #47, will you (or someone) also put one in for `UseMvcWithDefaultRoute` for the MVC template? ... It has a bearing on what they're doing with the Azure-Docs samples. I'm recommending it to them now; so if the decision is made to go that way for 2.1, they'll probably take that as an approval to go forward with `UseMvcWithDefaultRoute` today. It'll be one less thing t

[2017-10-08 21:11] guardrex opened #51 "Add vertical spacing in the project file?"
Seems like it would be a bit nicer to work with the project file (in non-VS; hand-editing) scenarios to include some vertical space among the sections.

Here is a current project file for a Razor Pages app produced from the template (also note the strange extra line between **\<TargetFramework>** and **\<UserSecretsId>**):
[code]
... I wonder if you support the idea of going with ...
[code]

[2017-10-09 18:51] ajcvickers opened #52 "Mvc Web App template inside docker tries to connect to localdb"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/10002 by @smitpatel

Steps:
Create new ASP.NET Core Web Application
Choose Web Application template for 2.0
Add individual accounts auth
Enable Docker support for windows.
Restore packages/build solution etc.
Press F5

Above will fail due to https://github.com/aspnet/Mvc/issues/6923
Once you correct the URL to http://172.21.203.31/
We

[2017-10-09 19:02] Rick-Anderson commented on #31
The issue title is
**Templates should use `app.UseMvcWithDefaultRoute();`**
- with the exception of RP templates. So yes, the other templates should be changed.

[2017-10-09 21:37] danroth27 commented on #31
@Eilon

The reason the default route is explicitly configured is because we assume that for MVC apps you will want to add and modify routes, so we want the template to give you an obvious place to do that. I think we should leave the route as is for the MVC template.

The reason the same route is present in the Web API and Razor Pages repos is because you might decide to add or scaffold MVC contro

[2017-10-09 21:51] Rick-Anderson commented on #31
Historically, the routing has generated alot of confusion with customers on the [Intro to MVC tutorial](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?tabs=aspnetcore2x)

The default route works for many apps and probably all beginning apps. Misquoting Eilon on another issue:

We could switch to  adding a comment

// See fwlinkxyz https://docs.microsoft.com/en-us/as

[2017-10-10 01:44] seancpeters opened #53 "MVC template errors on dotnet ef database update"
I found a problem with the MVC 2.0 template, related to running 'dotnet ef database update'.

Repro steps:

Relevant part of the error:
`System.Data.SqlClient.SqlException (0x80131904): Foreign key 'FK_AspNetUserTokens_AspNetUsers_UserId' references invalid table 'AspNetUsers'.`

Fix:
The problem occurs because the AspNetUserTokens table includes a foreign key to the AspNetUsers table, but the Asp

[2017-10-10 03:06] Eilon commented on #48
@SteveSandersonMS can you take a crack at this for the 2.0.x templates? The trick here will be figuring out the process for doing this in a patch, for which I don't know the exact process. You'll need to chat with the likes of @seancpeters , @mlorbetske , and @mikeharder .

We'll need to get this figured out ASAP so we can get the patch built out and ready for verification.

[2017-10-10 03:17] Eilon commented on #52
@natemcmaster - any ideas on this? What could/should we do differently in the templates to avoid this?

[2017-10-10 09:26] SteveSandersonMS commented on #48
@Eilon Will do.

[2017-10-10 15:24] natemcmaster commented on #52
You could create new templates that generate a setup using SQL server via docker-compose. This will require VS changes. The existing vs docker tooling doesn't participate in the generation in a way that makes this possible.

[2017-10-11 17:24] djdu opened #54 "How to keep authenticated state for logged in user after page refresh?"
I'm using the React/Redux template. I'm not sure how to hold the authenticated state for the logged in user after page refresh. I can't use local storage to store the value since I'm using server rendering. One of the option I can think of is to do an API authentication request every time the user refresh the page. Not sure if this is the right approach. If it is can someone share the implementati

[2017-10-11 18:06] SteveSandersonMS commented on #48
@guardrex

Which `.gitignore` file are you referring to? There doesn't appear to be one in the 2.0 templates here, plus when I create an actual project using the 2.0 SDK it doesn't contain a `.gitignore` file. If I'm missing something please let me know as we'd have to update that for the 2.0.3 patch.

[2017-10-11 18:10] guardrex commented on #48
@SteveSandersonMS It's ours ... aspnet/Docs. It's fixed ... https://github.com/aspnet/Docs/pull/4532

All new doc samples and sample updates will have full static assets and no Bower/`BundlerMinifier.Core` bits.

[2017-10-11 21:14] mjrousos opened #56 "SPA project templates should exec npm install prior to build"
The ASP.NET Core Angular template's csproj runs `npm install` [as part of running webpack for publishing](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/AngularSpa.csproj#L48), but not [as a pre-build step](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/AngularSpa

[2017-10-12 19:44] scottaddie opened #61 "NPM dependencies stop working"
Moved from https://github.com/aspnet/Docs/issues/4547. Originally logged by @BlanketGuy.

First I had to install all the npm packages one by one, and some of them stopped working out of the blue.
Every time I fix something and re-open the project, something else stops working. Anyone else had this problem? How did you solve it?

[2017-10-12 20:22] Eilon opened #62 "Make sure EF migrations in all templates are up-to-date with latest EF migrations code"
cc @ajcvickers FYI

[2017-10-12 21:07] #48 closed

[2017-10-13 00:45] natemcmaster opened #63 "Re-enable tests to run in parallel"
On macOS/Linux, there appears to be some race condition with the tests and the template engine, leading to errors such as:

[code]

I've disabled test parallelization for now https://github.com/aspnet/templating/commit/a4ba5a1cb1c61d3a4bead34915baccf438a8d1b3, but it means a full test run can take 10-15 minutes.

[2017-10-13 04:47] a-patel opened #64 "Support multiple projects with solution file"
I want to create multiple .net core projects with solution files.
Also project  other referenced added in them.
My Directory structure is like:

|- data (blank or may contain some files)
|- design
|- help
|- **src**

[2017-10-13 04:51] a-patel commented on #64
solution file contain more than one class library projects, unit test projects, web/web api projects.
(asp.net core 2.0)
- add unit test/api projects conditionally (as currently support select docker, auth, unit test project selection)

[2017-10-13 13:00] #54 closed

[2017-10-13 20:09] Eilon opened #66 "Add HttpsRedirection and HSTS middleware template"
_From @jkotalik on October 13, 2017 19:22_

With https://github.com/aspnet/BasicMiddleware/pull/264 being added, @Eilon asked me to write templates for this feature.
cc/ @javiercn @Tratcher

_Copied from original issue: aspnet/Templates#871_

[2017-10-13 20:09] Eilon commented on #66
_From @Tratcher on October 13, 2017 19:24_

We need to make sure Kestrel is set up for https first.

[2017-10-13 20:48] jkotalik commented on #66
@Eilon my bad. Didn't realize there were two templates repos.

[2017-10-13 20:55] Eilon commented on #66
Yeah I have a TODO to add notes to the old repo.

[2017-10-13 20:55] Eilon commented on #66
(So, not your fault 😄 )

[2017-10-14 16:24] guardrex opened #67 "Template enhancements"
**Updated: 8/6/2018**

### Language

This is probably just a localization issue, but the template is in English. Do you want to set a `lang="en"` here? I do set it on our doc samples.

### Add/update `crossorigin`

Only missing for the Bootstrap stylesheet. Recent updates have squared it (and `integrity`) away in the 2.1 template.

### \<h1> MIA

Pages and views should provide the page/view title

[2017-10-15 13:35] Qowy opened #68 "Angular SPA template problems adding npm package."
Hi,
I am using the Angular SPA template and have been facing issues with how to correctly configure webpack for several days now. And editing the large webpack.config is rather hard :)

I added ngx-mqtt to my package.json this results in the error:

`Module not found : error : Can't resolve 'mqtt'`
The package mqtt is imported in ngx-mqtt however it is also listed as a devDependency in ngx-mqtt's

[2017-10-15 20:25] vuorinem opened #69 "yarn.lock is included in .gitignore"
https://github.com/aspnet/templating/blob/38be05d4425c465cfa9fbc64c9f7f921e9a05497/src/Microsoft.AspNetCore.SpaTemplates/content/Aurelia-CSharp/.gitignore#L34

Example from Aurelia, but applies to other templates too.

Usually lockfiles should be committed to source control (e.g. Yarn documentation for yarn.lock: https://yarnpkg.com/en/docs/yarn-lock#toc-check-into-source-control). Is there a reas

[2017-10-16 08:34] fdcastel opened #70 "Localization?"
Any plans to bring localization to the templates?

Using `@Localizer` as show [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) seems a good option IMO. Particularly for templates like _Web Application with Authentication_ which have a nice set of pages and code ready to use. But only if your target audience understands English 😉.

[2017-10-17 13:12] tverboon opened #71 "Unnecessary User.Id provided in password reset link?"
The user Id is provided in the callback link:
https://github.com/aspnet/templating/blob/a80061f42be6ba7de36f8fea35086da58e08a69b/src/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Controllers/AccountController.cs#L424

But in the controller action only code is used:
https://github.com/aspnet/templating/blob/a80061f42be6ba7de36f8fea35086da58e08a69b/src/Microsoft.DotNet.Web.Proj

[2017-10-18 02:02] Eilon commented on #32
I'll take a look at this. We do link to the license in the repo and in the various packages that contain the distributed files, e.g. here: https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/package.json#L21

But, I'll talk to our license experts and get a clarification and see what we should update to make things clearer.

[2017-10-18 02:07] Eilon commented on #69
@SteveSandersonMS thoughts on this?

[2017-10-18 12:20] omajid commented on #32
@Eilon Thanks.

That EULA link, for example, worries me even more. https://github.com/aspnet/templating/blob/dev/LICENSE.txt (the root license in this repo) and https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/LICENSE.txt (root license in jquery-validation-unobtrusive repo) says the code is under Apache 2.0, so finding a file that has a proprietary eula/license is very troubleso

[2017-10-18 16:34] Eilon commented on #32
@omajid the license of the source code doesn't need to match the license of the product that distributes the source code. However, what I'm hoping to do here is to massively simplify the license of this stuff so that there's no confusion at all.

[2017-10-18 16:43] omajid commented on #32
I see. For some background, we are looking to consume this via https://github.com/dotnet/source-build/ and our hope is to produce packages that we can merge into various Linux distributions under the same license as the source.

That will be great. Looking forward to it!

[2017-10-18 17:13] Tratcher opened #73 ".NET 4.7x Framework pages are started with Workstation GC"
_From @Tornhoof on October 18, 2017 9:0_

In the old DNX the pages were started with Server.GC, due to an issue with https://github.com/dotnet/project-system/issues/2896 the appropriate project setting is ignored for netfx.
It might be more useful to have the default GC set to server as it was in the old DNX.

# Steps to reproduce:
1. Create Webpage for ASP.NET Core 2.0 and target Framework 4.7.x

[2017-10-18 17:13] Tratcher commented on #73
GC is an app configuration, it's unrelated to IIS / the launcher. The default is controlled by the runtime, though perhaps it could be influenced by the SDK.

Adding an app.config file to your project with the following should help.
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcserver-element

We should update the template to include this.

[2017-10-18 17:15] Tornhoof commented on #73
Ah I understand, I need to edit the .config (or actually add the .config) of the actual web application and not the web.config. Thank you very much, that solves my problem.

[2017-10-18 17:26] Eilon commented on #32
Yup, totally understood. We want to clean this up for your benefit and for our own sanity 😄

[2017-10-19 06:26] rendmath opened #74 "Web Site project template"
Is there a way to create a "Web Site" project from the dotnet CLI?

By "Web Site", I mean the kind of no-csproj project that can be created in Visual Studio, for example.

[2017-10-19 08:47] SteveSandersonMS commented on #69
Originally it was unclear what patterns would emerge around `yarn.lock`, but recently it's become clear that consensus is to include it in source control.

So I agree with @vuorinem's implication that we should change this by removing that line from `.gitignore`.

[2017-10-19 08:52] SteveSandersonMS commented on #68
There isn't anything nonstandard about how packages need to be imported or referenced. The `package.json` file determines what gets installed when you run `npm install`, and the `webpack.config.js` determines what gets built when you run in development mode or when you publish your site. So to learn more about how to import or reference other packages, please see NPM and Webpack documentation.

If

[2017-10-19 08:52] #68 closed

[2017-10-19 08:55] SteveSandersonMS commented on #61
We'd really need specific repro steps to be able to do anything with this report. I'm not aware of there being a general issue of "*Every time I fix something and re-open the project, something else stops working*".

@BlanketGuy, could you post repro steps?

[2017-10-19 08:56] SteveSandersonMS commented on #56
Thanks - closing this in favour of your pull request #60.

[2017-10-19 08:59] SteveSandersonMS commented on #23
I think we can close this, since we've done what we planned to do (i.e., remove Bower for now, will introduce Packman in the future). We're not specifically planning to add any further intervening feature. @Eilon

[2017-10-19 09:59] Qowy commented on #68
No I think it is fine to close this, I've also since come to the conclusion that this is more of a webpack question. However I would like to request that maybe future conf files be more commented. (I think this template is moving to angular-cli, so whatever file that uses). It is somewhat hard to change them at the moment without breaking your code :)

[2017-10-19 13:38] hoppyluke opened #75 "Individual accounts auth template produces migrations not supported by SQLite"
I'm getting an error when creating a new MVC web app using individual user accounts. After scaffolding, there are pending EF changes. The migration created by these changes is not supported by SQLite since it involves adding a foreign key.

I'm using the following commands to scaffold the app:

[code]

The database update results in the error: *SQLite does not support this migration operation ('Ad

[2017-10-19 15:46] Eilon commented on #23
Agreed, closing.

[2017-10-19 15:46] #23 closed

[2017-10-19 22:09] bruce-willis opened #76 "Not upgrading to the latest vue version"
### Title
Not installing the last version of [vue](https://github.com/vuejs/vue)

### Minimal repro steps
*What is the smallest, simplest set of steps to reproduce the issue. If needed, provide a project that demonstrates the issue.*
1. Download [template repo in dev branch](https://github.com/aspnet/templating) (or create new project via `dotnet new vue`)
2. Go to *src\Microsoft.AspNetCore.SpaTem

[2017-10-19 22:10] Piteryo commented on #76
Yeah, the same behaviour

[2017-10-20 23:11] Eilon commented on #56
Re-opening this for tracking purposes.

Will this slow down the build on every run?

[2017-10-20 23:13] Eilon commented on #56
Ah actually it looks like the target it's in is already smart enough that it will run only conditionally when needed.

[2017-10-20 23:52] Eilon commented on #31
https://github.com/aspnet/templating/pull/47 seems to cover all that's remaining that we want to do here, after discussing with @DamianEdwards .

What we want to end up with:
* Razor Pages templates call `.UseMvc()` - that's what https://github.com/aspnet/templating/pull/47 does
* MVC templates use `.UseMvc()` and explicitly configure the default `controller/action/id` route - that's how things al

[2017-10-20 23:55] Eilon commented on #76
@SteveSandersonMS any ideas on this?

[2017-10-20 23:56] Eilon commented on #75
@bricelam / @ajcvickers / @divega - what should the behavior here be for SQLite?

[2017-10-20 23:57] Eilon commented on #74
Closing because there are no plans to implement this. All .NET Core projects are based on the CSPROJ project system (which is new and improved compared to the previous CSPROJ!).

[2017-10-20 23:57] #74 closed

[2017-10-20 23:59] Eilon commented on #73
Indeed, all the .NET Framework flavors of the projects should set it to the Server GC.

[2017-10-21 00:04] Eilon commented on #71
Indeed, it looks like it's not needed, so we should remove it.

[2017-10-21 00:05] Eilon commented on #70
We currently have a sample here: https://github.com/aspnet/Entropy/tree/dev/samples/Localization.StarterWeb

This should serve as a good starting point.

[2017-10-21 00:06] Eilon commented on #70
We could consider at least shipping this as an out-of-band (OOB) template.

[2017-10-21 00:12] Eilon opened #77 "Remove Bower even harder from the 2.1 templates"
In https://github.com/aspnet/templating/issues/48 we mostly removed the remnants of Bower from the templates, but a few Bower-related files are still there.

We should remove everything that's left from the 2.1 templates.

[2017-10-21 00:15] Eilon commented on #66
Let's review the proposed code change with @DamianEdwards .

[2017-10-21 00:16] Eilon commented on #64
If you're asking for how to create a template that supports this, please log an issue on https://github.com/dotnet/templating.

[2017-10-21 00:16] #64 closed

[2017-10-21 00:27] Eilon commented on #63
@SteveSandersonMS any idea how to resolve this?

[2017-10-21 00:27] Eilon commented on #62
cc @HaoK @javiercn because of the discussions we're having.

[2017-10-21 00:37] fdcastel commented on #70
@Eilon

Great! That's exactly as I was thinking 😉 .

May I help with some PR? I already did some work with the ASP.NET Core Web App/Razor (with authentication) template.

[2017-10-22 21:36] rendmath commented on #74
In my experience, Web Sites are particularly useful for working on non-.NET source code, such as SPAs. Do you see any practical alternative to make an arbitrary folder hierarchy available from the Solution Explorer in Visual Studio?

[2017-10-23 02:42] Eilon commented on #74
The new CSPROJ format supports better globbing than the previous CSPROJ files, which might help you get what you want. You might need to mark the project as non-buildable in some manner (you'd need to ask some MSBuild experts on that, though).

[2017-10-23 02:51] Eilon commented on #70
@fdcastel thanks! That would be up to @DamianEdwards to figure out, so let's see what he thinks.

[2017-10-23 13:31] mjrousos commented on #56
Yes, it should only run if the *wwwroot\dist* folder isn't present yet. It's possible that the dist folder could have been cleaned and we'll run `npm install` when not necessary, but if the packages are present, it should execute fairly quickly and won't run again until webpack outputs are deleted.

If we find that it's an issue, we could consider wrapping the `npm install` call in a check to only

[2017-10-23 20:28] bricelam commented on #75
The Migrations behavior is as expected. The templates should be up-to-date (issue #62) and not include these additional changes to the Identity schema when a new migration is added.

[2017-10-24 05:22] ctolkien commented on #76
Just like to add, that Vue 2.5 has much improved TS support. These templates can hopefully be simplified.

[2017-10-24 07:44] jkotalik commented on #66
This is still pending on picking up configuration in the middleware. Will be added once implemented.

[2017-10-24 12:31] hoppyluke commented on #75
Thanks for confirming. I'll close this as a duplicate of #62.

[2017-10-24 12:31] #75 closed

[2017-10-24 16:36] Eilon opened #79 "IEmailSender should have explicitly named parameters for html vs plain text"
_From @joeaudette on September 27, 2017 14:32_

There have been a number of people reporting bugs about the email confirmation link in the StarterWeb template not working.

This is happening because people implement IEmailSender and don't realize that the message being passed in is html. When they send the email as plain text the confirmation link does not work because of the url encoding.

I thin

[2017-10-24 16:36] Eilon opened #80 "Account/ConfirmEmail - NullReferenceException in Error.cshtml when providing incorrect token"
_From @pejta2207 on August 23, 2017 18:36_

**Description**
The issue is related to Individual Accounts Authentication template. It seems that providing incorrect authentication code for ConfirmEmail action in AccountController (e.g. token which already expired) should result in displaying error page. However, Razor throws an exception while generating the default error view:

[code]

**Steps to r

[2017-10-24 16:36] javiercn commented on #66
@jkotalik Put out a PR for it and we'll merge it at the appropiate time, but we can start iterating on it.

[2017-10-24 16:36] Eilon opened #81 "Authentication on SPA apps"
_From @Dave3of5 on August 23, 2017 7:54_

There seems to be no template for authentication on the SPA templates.

I've been looking up various blog post and third party articles on how to add Jwt Authentication but they are scattered and most are for dotnet core 1.1. It would be nice if there was a template that showed the "correct" way to do this in dotnet core 2.0.

_Copied from original issue:

[2017-10-24 16:36] Eilon commented on #81
_From @brockallen on August 24, 2017 1:58_

Consider IdentityServer for issuing tokens, and oidc-client for your SPA to obtain tokens.

https://github.com/IdentityServer/IdentityServer4/
https://github.com/IdentityModel/oidc-client-js/

[2017-10-24 16:36] Eilon commented on #81
_From @Dave3of5 on August 24, 2017 8:17_

@brockallen Nice plug ;-) but all the documentation on IdentityServer4 still references version 1.1 and the examples don't seem to work anymore in v2.0.

I also notice this : IdentityServer/IdentityServer4/issues/1055 which is still open so IDS4 for the moment is a no go.

[2017-10-24 16:36] Eilon commented on #81
_From @brockallen on August 24, 2017 13:3_

It's closer than the Microsoft one :)

[2017-10-24 16:36] Eilon commented on #81
_From @PeterWone on October 11, 2017 1:6_

@brockallen I've used (or more accurately used, misused and abused) Identity Server with Durandal. That I liked it does not change the fact that it requires a level of understanding on the part of the developer that isn't widespread. This stuff needs to be baked into the template (a) to make it ubiquitous (b) to make implementation consistent (c) to preve

[2017-10-24 16:36] Eilon commented on #81
_From @brockallen on October 11, 2017 4:0_

Security requires a level of understanding on part of the developer. Sorry.

And FWIW, IdentityServer4 has been released for ASP.NET Core 2.

[2017-10-24 16:37] danroth27 opened #82 "Web API controllers should derive from ControllerBase"
The Web API item template and project template both generate a controller that derives from Controller. They should derive from ControllerBase instead, which reduces intellisense noise for Web API scenarios.

[2017-10-24 16:37] Eilon opened #83 "Post test"
_From @a-elnajjar on June 1, 2017 13:28_

Hi asp.net Team;
I see your Templates/test/Microsoft.Web.Templates.Web.Tests/WebAPITests.cs only have tow test methods for testing and verify GET Web API is working. I want to ask can I add testing and verify methods for POST Web API?

_Copied from original issue: aspnet/Templates#847_

[2017-10-24 16:37] Eilon commented on #83
_From @mlorbetske on June 6, 2017 17:49_

Sure, we'd love a PR for this

[2017-10-24 16:37] Eilon opened #84 "Nav bar covers top of screen"
_From @Rick-Anderson on April 22, 2017 1:15_

![image](https://cloud.githubusercontent.com/assets/3605364/25300177/126fdf9e-26a5-11e7-9690-747ab1e80adb.png)

To repro:

Create a new MVC web app with all the defaults. Narrow the screen and hit the nav bar.

#626 might make this moot.

If you don't want to change the template we should at least document how you could change this.

cc  @Drek1Droid

_

[2017-10-24 16:37] Eilon commented on #84
_From @Drek1Droid on April 22, 2017 14:10_

If you have enough links, and a long enough email address used in the greeting on the nav bar, you don't have to hit the nav bar to see the effect as simply narrowing the screen will cause the nav bar to double in height, obscuring the body content below.
Normal:

![nav1](https://cloud.githubusercontent.com/assets/8053879/25305128/9b150e48-272a-11e7-87a1

[2017-10-24 16:37] Eilon opened #85 "Core MVC template database file name starts with a backslash on Linux/Mac"
_From @DesktopMan on April 14, 2017 22:36_

From the template's appsettings.json:

[code]
This has two presumably unintentional consequences: The file becomes hidden and the name starts with a backslash. My students had trouble finding the file to inspect it until I pointed this out.

_Copied from original issue: aspnet/Templates#840_

[2017-10-24 16:38] Eilon opened #86 "Remove UseIISIntegration from the templates, use lightup instead"
_From @Tratcher on April 4, 2017 3:1_

Once the following work items are complete we can remove UseIISIntegration from the templates and have it use automatic lightup instead.
https://github.com/aspnet/IISIntegration/issues/348
https://github.com/aspnet/AspNetCoreModule/issues/81

_Copied from original issue: aspnet/Templates#837_

[2017-10-24 16:38] Eilon opened #87 "Remove PackageTargetFallback from Web Templates"
_From @vijayrkn on March 8, 2017 17:40_

Moving this issue to the templates repro: https://github.com/aspnet/websdk/issues/76

_Copied from original issue: aspnet/Templates#833_

[2017-10-24 16:38] Eilon opened #88 "What Identity LogOff behavior should templates (and samples) adopt?"
_From @guardrex on March 5, 2017 18:0_

TL;DR https://github.com/aspnet/Docs/issues/2867 (*big time* :smile: ... I'll summarize the issue here)

The [Introduction to Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity) doc sample might have been derived from the Identity sample and that sample's `AccountController`, which uses this [`LogOff` action](https://gith

[2017-10-24 16:38] Eilon commented on #88
_From @grokky1 on August 24, 2017 8:11_

@guardrex I read that other looooong issue, and this one, and I still don't get it.

If you want after a logout, to be redirected to "/thanks", then must you do
- `options.LogoutPath = new PathString("/Account/Logout/ReturnUrl=/thanks");`
- or `options.LogoutPath = new PathString("/thanks");`
- or do the redirect manually in the logout action

Even now afte

[2017-10-24 16:38] Eilon commented on #88
_From @guardrex on August 24, 2017 17:41_

@grokky1 I've only been working on docs since March and not on actual enterprise apps. I haven't had to face this issue with an app since we discussed it here; so actually, I don't have additional general advice.

In your case tho, it seems like your option 3 is clean. As you suggest, you can just manually do it in `LogOff` (or `Logout`) by physically set

[2017-10-24 16:38] Eilon commented on #88
_From @guardrex on August 24, 2017 17:47_

I haven't checked out the new identity stuff (yet!) in 2.0. I do notice tho that they're still doing the same thing with the web starter template: https://github.com/aspnet/Templates/blob/dev/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Controllers/AccountController.cs#L67

[2017-10-24 16:38] Eilon commented on #88
_From @danroth27 on August 25, 2017 16:19_

@blowdart @HaoK to provide guidance

[2017-10-24 16:38] Eilon commented on #88
_From @blowdart on August 25, 2017 17:7_

I like the idea of returning via returnUrl.

[2017-10-24 16:39] Eilon opened #89 "StarterWeb template isn't bundling on build"
_From @kstreith on March 14, 2017 2:6_

The StarterWeb template includes bundleconfig.json, site.min.js and site.min.css. Yet, the templates aren't performing bundling on build or publish to create updated versions of the minified files.

It appears the fix is to add `<PackageReference Include="BuildBundlerMinifier" Version="__version__" />` to the .csproj. Is this an accidental oversight with the

[2017-10-24 16:39] Eilon commented on #89
_From @mlorbetske on March 14, 2017 17:36_

cc @madskristensen

[2017-10-24 16:39] Eilon commented on #89
_From @shravan2x on March 14, 2017 19:12_

I have the same problem (And was just about to post an issue myself). This works too:

[code]

[2017-10-24 16:39] Eilon commented on #89
_From @sayedihashimi on March 15, 2017 15:29_

I'm not sure if calling Exec here to set the path will impact the second call to `dotnet bundle`.

[2017-10-24 17:01] blowdart commented on #88
My concern is what happens if you redirect logoff to a page that requires authorization, that's going to be confusing :)

[2017-10-24 18:36] seancpeters commented on #85
It appears that othing needs to be done for this issue. From the history & references of the related issues, it appears this was fixed back in June in this PR: https://github.com/dotnet/templating/pull/904

Looking through this repo, all the appsettings.json files in StarterWeb templates have their default connections setup as `"DefaultConnection": "DataSource=app.db"`

@Eilon - if there is anythi

[2017-10-24 18:40] brycekmartin opened #90 "Angular - Unable to get property 'apply' of undefined or null reference - IE11"
I got the following error in the IE11 console from a fresh Angular 4 project.
`SCRIPT5007: Unable to get property 'apply' of undefined or null reference
File: vendor.js, Line: 33893, Column: 5`

I saw this in another project I was developing and tried to come back to the base to see if it was something I introduced myself.

Steps to reproduce:
1) Create new .netcore 2.0 project
2) Select Angular t

[2017-10-24 19:41] brockallen commented on #81
Also, oidc-client is OIDC certified: https://openid.net/certification/#RPTable

[2017-10-24 21:29] Eilon commented on #85
@seancpeters ah yes that appears to be the case, so closing this.

[2017-10-24 21:29] #85 closed

[2017-10-24 21:34] Eilon opened #92 "Change "Web API" to "API""
_From @sayedihashimi on February 2, 2017 23:47_

We should change "Web API" to "API" in the One ASP.NET dialog.

Note: all credit goes to @blowdart for noticing this.

_Copied from original issue: aspnet/Templates#813_

[2017-10-24 21:35] Eilon opened #93 "Add Activity information to generated error page"
_From @glennc on February 27, 2017 23:47_

Part of finishing the e2e for https://github.com/aspnet/Hosting/issues/939 we want to modify the generated error page in ASP.NET Core applications to contain information about the current activity.

_Copied from original issue: aspnet/Templates#827_

[2017-10-24 21:35] Eilon commented on #93
_From @glennc on March 8, 2017 23:0_

@phenning would this be you?

[2017-10-24 21:35] Eilon commented on #93
_From @phenning on March 17, 2017 20:15_

@glennc  I was looking at the linked bug, but I wasn't able to see what exactly we need to do here. Has anyone on the runtime team done anything meaningful with the existing error page which shows how we want to update the templates?

[2017-10-24 21:35] Eilon opened #94 "Use AutoValidateAntiforgeryToken in Templates"
_From @ardalis on February 20, 2017 18:34_

Instead of explicitly using ``ValidateAntiForgeryToken`` on every ``HttpPost`` method in controllers that accept posts, instead use ``AutoValidateAntiforgeryToken`` attribute at controller level (e.g. https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/ManageController.cs) or consider adding it globally in ``Confi

[2017-10-24 21:35] Eilon opened #95 "Error on F5 when using Work or School Single Org with Read"
_From @sayedihashimi on February 1, 2017 2:5_

Here's an issue from an internal partner, we have an existing email thread that a few of us are on.

I am trying to create a simple web application and register it with an Azure Active directory like I've done many times in the past. I've started to run in to problems, not sure if its because the framework version or what it may be.

Here are my steps

[2017-10-24 21:35] Eilon commented on #95
_From @phenning on February 15, 2017 17:56_

Note, that this is only an issue with the legacy templates, which are not maintained in the repo.

[2017-10-24 21:36] Eilon opened #96 "AccountController ForgotPassword should check the UserId before ResetPassword"
_From @HaoK on January 25, 2017 19:32_

Moved from: https://github.com/aspnet/Home/issues/1911#issuecomment-275184195

Today we are passing in the userId from ForgotPassword:  https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L282

But not using it when we reset: https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/Indivi

[2017-10-24 21:37] Eilon opened #97 "ReturnUrl is lost if GetExternalLoginInfoAsync fails in AccountController.ExternalLoginCallback"
_From @rtpHarry on January 22, 2017 14:26_

It's probably not very likely that it will occur but as it attempts to recover by sending you back to the login page rather than erroring out it should preserve the return url.

_Copied from original issue: aspnet/Templates#797_

[2017-10-24 21:37] Eilon opened #98 "ExternalLoginConfirmation breaks if the username is already taken"
_From @blowdart on January 18, 2017 20:18_

Copied from https://github.com/aspnet/Identity/issues/1080

Repro:

Login with a new Facebook account
In the "ExternalLoginConfirmation" page enter an email that already exists on the system
Press Register
The page reloads, the validation error is displayed saying "User name 'blah@example.com' is already taken." and all of the ViewData is now lost includ

[2017-10-24 21:37] Eilon opened #99 "Consider removing Microsoft.EntityFrameworkCore.Design as an explict package reference"
_From @phenning on January 10, 2017 17:53_

This gets brought in by Microsoft.EntityFrameworkCore.Tools. Make sure this works for both 1.0.3 and 1.1 versions of the package

_Copied from original issue: aspnet/Templates#786_

[2017-10-24 21:37] Eilon opened #100 "Add the HttpContext.TraceIdentifier to the default error page"
_From @DamianEdwards on December 26, 2016 20:39_

This is a common practice on customer-facing error pages to aid in analysis.

_Copied from original issue: aspnet/Templates#771_

[2017-10-24 21:37] Eilon commented on #100
_From @phenning on March 17, 2017 20:16_

Does this relate to #827, or is this something entirely different?

[2017-10-24 21:38] Eilon opened #101 "Templates should use bootstrap columns to set form element width, not CSS max-width property"
_From @DamianEdwards on November 22, 2016 19:47_

Setting the `max-width` of form elements is not the recommend way to set form elements width when using bootstrap.

They currently do this [here](https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/wwwroot/css/site.css#L17).

Instead, they should be putting form elements in `<div>` elements and use bootstrap column widt

[2017-10-24 21:38] Eilon opened #102 "Removing and restoring bower packages for default template results in broken rendering"
_From @danroth27 on October 31, 2016 21:0_

Create a new ASP.NET Core web app, remove the bower packages, restore the packages and run the app. The app carousel doesn't render correctly.

_Copied from original issue: aspnet/Templates#690_

[2017-10-24 21:38] Eilon commented on #102
_From @danroth27 on October 31, 2016 21:6_

@madskristensen

[2017-10-24 21:42] Eilon opened #103 "Cannot link external logins in 1.0.0/1.0.1 Individual auth templates"
_From @HaoK on October 27, 2016 18:41_

Repro:
- New Individual Auth App
- Add 2 external auth providers (i.e. facebook/twitter/google)
- Register a local user and password
- Manage -> Add External Login -> First Facebook/twitter/google will work
- Second will result in access failed.

Original issue: https://github.com/aspnet/Identity/issues/1005

This has been mitgated somewhat in 1.1 by https:/

[2017-10-24 21:42] Eilon commented on #103
_From @HaoK on October 27, 2016 18:43_

@Tratcher @blowdart @Eilon @muratg @divega we should probably discuss this one at triage today

[2017-10-24 21:42] Eilon commented on #103
_From @divega on October 27, 2016 23:55_

Was there a triage discussion about this today? What was the conclusion?

[2017-10-24 21:42] Eilon commented on #103
@divega we have a thread with the tooling folks that I just added you to.

[2017-10-24 21:42] Eilon commented on #103
_From @brockallen on December 7, 2016 1:38_

This seems to still be a problem in 1.1.0, but under a different scenario. A locally logged in user (with uid/pwd) wants to now associate an external provider with their account. They click "Google", which triggers a challenge. Since they are currently logged in, they get the access denied page (which doesn't exist in the template).

This should allow t

[2017-10-24 21:42] Eilon commented on #103
_From @Tratcher on December 7, 2016 4:44_

@brockallen I can't repro that with the 1.1 packages. I am able to create a user with a password and then add an external identity. I only get AccessDenied if I remove the external identity and try to re-add it, which is a known variation of this issue.

The password login and the external logins use separate cookies, so there's no reason they should conf

[2017-10-24 21:42] Eilon commented on #103
_From @brockallen on December 7, 2016 12:53_

Ok, you are right -- I retested and confirm what you describe. Thank goodness. Thanks.

[2017-10-24 21:43] Eilon commented on #103
_From @brockallen on December 7, 2016 21:10_

I just grabbed this change to the manage controller and still see the issue I described above.

[2017-10-24 21:43] Eilon commented on #103
_From @Tratcher on December 7, 2016 21:54_

I think the new SignOutAsync needs to go in ManageLogins instead of LinkLogin. You can't SignOut and Challenge on the same response, SignOut requires a round trip to remove the identity.

[2017-10-24 21:43] Eilon opened #104 "Add a friendly 404 route/page"
_From @Tratcher on October 4, 2016 22:52_

The web application (starter web) template does not have a friendly 404 experience, you end up with a blank page. There should be a default route/page with a simple message similar to the Error page.

_Copied from original issue: aspnet/Templates#675_

[2017-10-24 21:43] Eilon commented on #104
_From @Tratcher on October 4, 2016 22:53_

@rynowak

[2017-10-24 21:43] Eilon commented on #104
_From @peterblazejewicz on October 5, 2016 19:27_

https://github.com/h5bp/html5-boilerplate/blob/master/dist/404.html
https://github.com/h5bp/html5-boilerplate/blob/master/dist/404.html#L60
https://github.com/h5bp/html5-boilerplate/pull/1443#issuecomment-25915714
https://webmasters.googleblog.com/2008/08/make-your-404-pages-more-useful.html
https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/

[2017-10-24 21:43] Eilon commented on #104
_From @mlorbetske on October 6, 2016 17:45_

@sayedihashimi can you take a look at this?

[2017-10-24 21:43] Eilon commented on #104
_From @sayedihashimi on October 6, 2016 18:0_

@Damianedwards any thoughts about what default content we want for a 404 page? If not I can work on a proposal and send it your way.

[2017-10-24 21:43] Eilon opened #105 "Could we have lightweight template?"
_From @barrytang on June 30, 2016 2:52_

Opened on behalf of @miloush.

Something between Empty and Web?
 That wouldn't have any packages, javascript code or functional structure - just say one static view and one controller saying hello? Kind of minimum MVC...

Because currently when you want to create a new project, you either go with Empty and don't really know what you need, or you go with Web

[2017-10-24 21:43] Eilon commented on #105
_From @sayedihashimi on July 1, 2016 16:43_

Hi @miloush thanks for the suggestion.

I've discussed with @madskristensen and he is going to start looking at this along with @Ladynaggaga I believe. Once we get more details we can see if we have the right content, and then figure out in what release we may be able to include this.

[2017-10-24 21:43] Eilon commented on #105
_From @madskristensen on July 28, 2016 19:47_

2 new templates are now available here https://visualstudiogallery.msdn.microsoft.com/31a3eab5-e62b-4030-9226-b5e4c9e1ffb5

[2017-10-24 21:43] Eilon commented on #105
_From @miloush on July 28, 2016 19:50_

That looks great, thanks Mads, I will give it a try!

[2017-10-24 21:43] Eilon commented on #105
_From @ArgTang on August 23, 2016 12:16_

These templates work great!

[2017-10-24 21:43] Eilon commented on #105
_From @miloush on August 6, 2017 20:2_

Well, same issue with ASP.NET Core 2.0 and Visual Studio 2017. This should really be part of the built-in templates.

[2017-10-24 21:44] Eilon opened #106 "Consider changing to standard Boostrap form layout instead of "form-horizontal""
_From @DamianEdwards on June 20, 2016 19:26_

The templates currently use the [horizontal form layout from Bootstrap](http://getbootstrap.com/css/#forms-horizontal), which results in a **lot** more markup being required for the forms in the template. We should consider changing to the [standard Bootstrap form layout](http://getbootstrap.com/css/#forms-example) as it results in much simpler templat

[2017-10-24 21:44] Eilon commented on #106
_From @mikes-gh on June 21, 2016 13:10_

@DamianEdwards I see your point but I prefer horizontal. Just my 2c
I did actually use most of the template markup as is for individual accounts so it saved me a lot of work and seemed to be good for mobile and desktop in the horizontal.
I actually learnt horizontal forms from the template.

[2017-10-24 21:44] Eilon commented on #106
_From @DamianEdwards on June 21, 2016 17:2_

@mikes-gh no doubt that some get a benefit with the way it is now, but I think we need to optimize for the simplest, functional example in the template. The different in this case is quite dramatic.

[2017-10-24 21:44] Eilon commented on #106
_From @mikes-gh on June 21, 2016 17:7_

Yeh I don't have a problem with that.  Make as simple as possible there's enough to take in.

[2017-10-24 21:44] Eilon commented on #106
_From @peterblazejewicz on June 21, 2016 19:42_

[code]

The checkbox cannot be nicely written in Razor yet: https://github.com/aspnet/Mvc/issues/2369

This will render in current templates (out-of-the-box):
![image](https://cloud.githubusercontent.com/assets/14539/16243745/ff603ee4-37f8-11e6-9372-0fbc2b700d02.png)

The `has-error`and error message are just added to present validation state.

[2017-10-24 21:46] Eilon opened #107 "Review web templates for more accessible and context aware markup"
_From @peterblazejewicz on October 22, 2015 20:23_

As asked here: https://github.com/aspnet/Templates/pull/246#issuecomment-150343164

The templates are to be reviewed to consists of clear, readable markup, for example - in case where Bootstrap 3._/4._, review where '.sr-only' class should be used  to support screen readers (look for carousel prominent component indicators markup as example). The

[2017-10-24 21:46] Eilon commented on #107
_From @rustd on November 20, 2015 17:31_

@peterblazejewicz do you want to take this one? If not then we can look into it.

[2017-10-24 21:46] Eilon commented on #107
_From @rustd on February 18, 2016 18:59_

As part of this we should see if we can automate the validation for HTML/ CSS/ Javascript.

[2017-10-24 21:46] Eilon commented on #107
_From @peterblazejewicz on February 18, 2016 19:32_

@rustd
Sorry for missing this. It won't be possible back in Nov (I didn't have PC with at home). Now I have access to shared PC win at home with Win10/VS2015, so I could participate with VS based toolchain.
Thanks!

[2017-10-24 21:46] Eilon commented on #107
_From @rustd on February 18, 2016 19:50_

@peterblazejewicz Thank you! Let us know if you would like to work on this.
We would also need to ensure that the templates pass all validator checks listed on https://validator.w3.org/

[2017-10-24 21:48] Eilon opened #108 "Authentication workflow problem when email confirmation is required."
_From @Bartmax on October 21, 2015 8:23_

**TL;DR:**
User using external login provider and application with email confirmation required will be able to login the first time (on user creation) without confirming email and he/she won't be able to log in again.

---

When a visitor enter the page and hit login, then choosing an external provider, it's then redirected to username/email confirmation.

[2017-10-24 21:48] Eilon commented on #108
_From @rustd on February 18, 2016 19:2_

The user should not get an Associate form when they login.

[2017-10-24 21:48] Eilon opened #109 "Individual Account: Email is not returned from external provider"
_From @rustd on October 19, 2015 22:23_

Porting from Identity https://github.com/aspnet/Identity/issues/400

_Copied from original issue: aspnet/Templates#234_

[2017-10-24 21:49] Eilon opened #110 "WebAPI: Individual Auth Template"
_From @rustd on October 8, 2015 17:59_

_Copied from original issue: aspnet/Templates#201_

[2017-10-24 21:49] Eilon opened #111 ""Run tools such as EF..." takes the user to cli tools which don't mention EF"
_From @moozzyk on June 17, 2016 19:41_

![image](https://cloud.githubusercontent.com/assets/1438884/16162449/6686ace4-3488-11e6-9f2b-36cd82cd36f1.png)

Takes the user to:
https://dotnet.github.io/docs/core-concepts/core-sdk/cli/index.html

which does not mention EF at all since these are basic CLI tools.

_Copied from original issue: aspnet/Templates#620_

[2017-10-24 21:49] Eilon commented on #111
_From @mlorbetske on June 28, 2016 17:39_

Let's update the FWLink for this one to point at more EF centric documentation

[2017-10-24 21:49] Eilon opened #112 "Follow RESTful conventions in new Web App project templates"
_From @eavonius on June 3, 2016 17:58_

I have been messing around with the aspnet core 1.0 rc2 release and I'd like to make a few suggestions. When you create a new aspnet core "Web Application" using the template and "Individual User" authentication, the default controllers and views that are generated are a mish-mash of actions and views that don't enforce good RESTful MVC resource naming conve

[2017-10-24 21:49] Eilon commented on #112
_From @davidfowl on June 6, 2016 0:43_

@eavonius Can you make a sample application with exactly what you'd like to see in a github repository? That would be easier to look at.

[2017-10-24 21:49] Eilon commented on #112
_From @eavonius on June 18, 2016 22:13_

I'm about 3/4ths of the way done with an example from refactoring this. One issue I ran into though is that I moved the user related controllers and views into an area and now the layout is not being rendered.

Is it possible for an area to reuse the "default" layout, or do you have to re-implement the layout again?

[2017-10-24 21:49] Eilon commented on #112
_From @eavonius on June 18, 2016 22:21_

My initial project is here so you can see where I'm going with it. I still need to fix the layout issue in the area and refactor the rest of the "Manage" controller actions into appropriate REST resources.

https://github.com/eavonius/aspnetcore-restful-auth-sample

[2017-10-24 21:49] Eilon commented on #112
_From @peterblazejewicz on June 19, 2016 9:25_

@eavonius
I'll try to help you wit this. Thanks!

[2017-10-24 21:49] Eilon commented on #112
_From @phenning on June 20, 2016 16:19_

@eavonius you need to set asp-area="" in any shared layout you want to use in an area. We recently changed this in the template.

Editted, oh you meant the layout wasn't being rendered.

[2017-10-24 21:49] Eilon commented on #112
_From @eavonius on June 20, 2016 17:29_

@phenning I worked around this by adding a _ViewStart to the area's Views folder that specifies the layout - this fixed that problem. I do believe there may be a defect I found though in that any forms that have the asp- attributes on them aren't updated at runtime. I tried adding a _ViewImports to the Area that matches the one in the root "Views/Shared" fo

[2017-10-24 21:49] Eilon commented on #112
_From @eavonius on June 20, 2016 17:37_

Just to clarify (you'll see this in the README for my example project) the philosophy behind the changes I'm recommending is that it is critical in MVC architectures to always think through what resources are being modified and how they fit into the standard Index/Details/Create/Edit/Delete pattern of REST.

Without demonstrating this in out of the box code

[2017-10-24 21:50] Eilon opened #113 "[Proposal]ASP.NET Core Static Website Template"
_From @sgjsakura on May 31, 2016 7:25_

Hi all,
I want to build-up a static website (works with client site libraries like angularjs), however I'd like to take the advantage from Visual studio from bower package management, compiling scripts, publishing, etc. Could you please offer a new template for static websites? Many thanks!

_Copied from original issue: aspnet/Templates#585_

[2017-10-24 21:50] Eilon commented on #113
_From @peterblazejewicz on May 31, 2016 18:48_

duplicate of: #137 #541

[2017-10-24 21:50] Eilon commented on #113
_From @sayedihashimi on June 2, 2016 17:38_

Our Visual Studio project system doesn't support "static" web projects yet really (website project does support this though). It will always run `dotnet` for projects today. We are making some changes and this is something that I would like to enable but we are not fully committed to this yet.

cc @BillHiebert

[2017-10-24 21:50] Eilon opened #114 "Individual Auth template should contain multiple _ViewImports.cshtml for each view folder."
_From @phenning on May 19, 2016 17:22_

The current content of this file is problematic when you want to add a controller and views that have models to display on the Index page because ManageViewModels contains an IndexViewModel class already.

[code]

Instead we should have the root _ViewImports just contain:

[code]

Then add a _ViewImports to the Manage and Account Views folders:

`@using Micr

[2017-10-24 21:50] Eilon commented on #114
_From @mlorbetske on June 28, 2016 17:54_

Let's figure out how this story completes - if we do a ViewImports per area it creates a sort of cascade in where to figure out where usings are coming from and we should make the template versus the editing experiences consistent. Should adding a new view to a subfolder generate a viewimports for that location?

[2017-10-24 21:51] Eilon opened #115 "UX issues related to Identity"
_From @SteveSandersonMS on May 9, 2016 16:32_

It's debatable to what extent any of these are "bugs", since the template is just a starting point and not meant to be a finished, polished app. But many of them can be fixed easily.
1. **Default "External Logins" UX is confusing**

   It says "External logins: 0 [Manage]". When you click 'Manage', it takes you to a blank page (there's just a heading

[2017-10-24 21:51] Eilon commented on #115
_From @peterblazejewicz on May 9, 2016 19:29_

To help to visualize that problem: here is a pen: http://codepen.io/blazejewicz/full/972a6dae4af0b0fe5d22421535130635/ that uses static markup to provide insight on current markup:
If/else are removed and their relevant content is rendered. remark: The `Two-Form Authentication` is cropped by default BS rendering for data list titles (nowrap, ellipsis)

[2017-10-24 21:51] Eilon commented on #115
_From @rustd on May 9, 2016 20:13_

Thank you for the feedback. #6 is by design.  If you have a suggestion for fixing #2 then please do send a PR for it.
I agree that we can improve upon the rest.

[2017-10-24 21:51] Eilon commented on #115
_From @phenning on May 17, 2016 18:42_

I'm working on some of these issues along with some other UI improvements.

[2017-10-24 21:51] Eilon commented on #115
_From @SteveSandersonMS on June 16, 2016 18:35_

Some more observations from the current round of verification:

**Forgot password flow doesn't send emails to people whose emails aren't confirmed, but doesn't tell them that**
It acts as if it has sent the email, but hasn't. This would be extremely confusing for a user who didn't realise they had to click the original confirmation link and was tryi

[2017-10-24 21:51] Eilon commented on #115
_From @Rick-Anderson on April 22, 2017 0:16_

Can we address many of these issues by documenting this page?  You could add a fwlink to the management page. Let me know if I should create an issue in https://github.com/aspnet/Docs to document  how all this works and maybe some tips on customizing it.

[2017-10-24 21:51] Eilon commented on #115
_From @Ponant on June 9, 2017 7:30_

OK, a template is a template but if a template is to be given it should at least be self-consistent from a-z, otherwise the lack of consistency in identity/security mgt will backfire on MS sooner or later.
Here is a list of issues which could be gathered here (at least for the purpose of cleaning up things in the repos):
https://github.com/aspnet/Templates/issu

[2017-10-24 21:52] Eilon opened #116 "Wrong splash screen for ASP.NET Core Web Site - Empty"
_From @sebastienros on May 4, 2016 17:5_

Actual result:

![image](https://cloud.githubusercontent.com/assets/1165805/15022270/b38a5d68-11df-11e6-9760-8988e32f4fc3.png)

Where it actually is a middleware based app, without views and and without Gulp/Bower files.

_Copied from original issue: aspnet/Templates#538_

[2017-10-24 21:52] Eilon commented on #116
_From @peterblazejewicz on May 4, 2016 20:26_

@sebastienros
At the moment the VS team provides an unified starter noob document. They are seeing the problem with that model though:
https://github.com/aspnet/Templates/issues/498

[2017-10-24 21:52] Eilon opened #117 "Add tests to project templates"
_From @OzieGamma on April 11, 2016 18:18_

Hi,

Testing is unfortunately a part of most of our jobs. I don't know if it is already planned/done but in visual studio when I create a new ASP.NET MVC 6 (or is it Core 1 ? Not sure) there are no tests. This is particularly annoying for the template including user accounts. I spent a few hours writing tests for the included templates.

I was wondering w

[2017-10-24 21:53] Eilon commented on #117
_From @sayedihashimi on April 14, 2016 17:37_

@OzieGamma to be clear are you asking for a unit test project template? Or are you looking for ways to test your website itself?

The branding is:
- ASP.NET Core
- ASP.NET MVC Core

[2017-10-24 21:53] Eilon commented on #117
_From @OzieGamma on April 14, 2016 18:23_

No I have managed to test mz projects. It just bothers me to receive templates without unit tests. )I am thinking of the one including authentification). I think it should come with some sort of testing.

Thx for the branding !

[2017-10-24 21:53] Eilon commented on #117
_From @phenning on April 14, 2016 20:24_

There are other tests which test the templates after they are imported into Visual Studio which you do not see in this repo. Unfortunately, we've had to disable the unit tests in this repo due to the churn of the runtime.

[2017-10-24 21:53] Eilon commented on #117
_From @OzieGamma on April 15, 2016 10:52_

No, no, I understand the templates are tested. It would be nice to have those tests in my solution when I create a project.

In other words when I scaffold a project, Id like to scaffold the Test project at the same time.

Eg:
- Example
  -> project.json
  -> Startup.cs
  -> Views
  -> Controllers
      -> AccountController.cs
- Example.Test (missing)
  -

[2017-10-24 21:53] Eilon opened #118 "Show external providers on the Register page"
_From @Tratcher on April 8, 2016 22:13_

The individual auth template has a login page and a register page. Login shows a password login and external providers. Register only shows a password login. Register should also show external providers, as this is where new users will go to sign-up.

_Copied from original issue: aspnet/Templates#490_

[2017-10-24 21:53] Eilon opened #119 "ValidationSummary.All should be replaced with ModelOnly"
_From @Rick-Anderson on March 19, 2016 3:7_

All the views in the Accounts folder use
`<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>`

They should just use
`<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>`

So you get each error twice.

![image](https://cloud.githubusercontent.com/assets/3605364/13896326/ae916ee2-ed2b-11e5-8bf5-

[2017-10-24 21:53] Eilon opened #120 "Support On-Premises option for Work & School Accounts"
_From @rustd on March 14, 2016 22:30_

Support this for Web APIs and Web Apps.

_Copied from original issue: aspnet/Templates#444_

[2017-10-24 21:53] Eilon opened #121 "Don't create Project_Readme.html for ASP.NET 5 Empty"
_From @sayedihashimi on March 3, 2016 22:1_

I created an empty project for both ASP.NET 4 and ASP.NET 5. The ASP.NET 5 project had a Project_Readme.html and the ASP.NET 4 one did not. I'm not aware if that was on purpose or not, but we should be consistent with the empty projects. I think we should not add the Project_Readme.html for all Empty projects.

_Copied from original issue: aspnet/Templa

[2017-10-24 21:53] Eilon commented on #121
_From @rustd on March 4, 2016 19:36_

It was added for ASP.NET Core since it was new and we wanted to help customers getting started with ASP.NET Core.

[2017-10-24 21:53] Eilon opened #122 "Add a flow for changing email in the Manage page"
_From @rustd on February 1, 2016 23:54_

Porting from ASP.NET Identity repo https://github.com/aspnet/Identity/issues/727

_Copied from original issue: aspnet/Templates#406_

[2017-10-24 21:53] Eilon commented on #122
_From @Ponant on May 17, 2017 11:9_

Any news about this? I think it is pretty important to have this capability. :)

[2017-10-24 21:53] Eilon commented on #122
_From @mlorbetske on May 20, 2017 5:59_

@sayedihashimi thoughts?

[2017-10-24 21:53] Eilon opened #123 "MVC Template Should Apply ResponseCache Attribute to Error Action"
_From @ardalis on January 15, 2016 1:42_

HomeController.Error() should be updated:

[code]

There is no good scenario where you would want errors to be cached, either on the client or via a proxy, or to have error information stored in such caches (especially if it might contain sensitive information in stack traces, etc.).

_Copied from original issue: aspnet/Templates#382_

[2017-10-24 21:54] Eilon opened #124 "Poor user and dev experience in Identity email confirmation"
_From @natelaff on December 30, 2015 19:42_

There are two issues using the default template for identity when using email confirmation.

Following the guide here: http://docs.asp.net/en/latest/security/authentication/accconfirm.html

Poor user experience: When you click "Register" it sends the email off, but just redirects the user to the Home controller. Redirecting to something else to indicate

[2017-10-24 21:54] Eilon commented on #124
_From @rustd on January 5, 2016 5:4_

Thank you for your suggestion. We will look into improving this.

[2017-10-24 21:54] Eilon commented on #124
_From @Ponant on March 6, 2017 9:28_

When will this be addressed? It is one year old. A related issue [https://github.com/aspnet/Templates/issues/832](https://github.com/aspnet/Templates/issues/832) .

[2017-10-24 21:54] Eilon opened #125 "Poor user and dev experience in Identity email confirmation"
_From @natelaff on December 30, 2015 19:42_

There are two issues using the default template for identity when using email confirmation.

Following the guide here: http://docs.asp.net/en/latest/security/authentication/accconfirm.html

Poor user experience: When you click "Register" it sends the email off, but just redirects the user to the Home controller. Redirecting to something else to indicate

[2017-10-24 21:54] Eilon commented on #125
_From @rustd on January 5, 2016 5:4_

Thank you for your suggestion. We will look into improving this.

[2017-10-24 21:54] Eilon commented on #125
_From @Ponant on March 6, 2017 9:28_

When will this be addressed? It is one year old. A related issue [https://github.com/aspnet/Templates/issues/832](https://github.com/aspnet/Templates/issues/832) .

[2017-10-24 21:54] Eilon commented on #125
This issue was moved to aspnet/templating#124

[2017-10-24 21:55] tonydrake commented on #125
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  tonypeterdrake@gmail.com
    Domain tonydrake.com has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message

[2017-10-24 21:56] Eilon opened #126 "OrgAuth: Account Controller should return void"
_From @rustd on June 12, 2015 22:17_

Since https://github.com/aspnet/Mvc/issues/2409 is fixed. We should change the AccountController for SSO/ MultiOrg to return void

_Copied from original issue: aspnet/Templates#104_

[2017-10-24 21:57] tonydrake commented on #126
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  tonypeterdrake@gmail.com
    Domain tonydrake.com has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message

[2017-10-24 22:00] Eilon opened #127 "External Logins does not set the Email"
*Moved from https://github.com/aspnet/Templates/issues/67*

- Enable Facebook Login
- Login using Facebook for the first time
- Email field is blank. It should be set from what we got from Facebook

[2017-10-24 22:00] Eilon commented on #127
@peterblazejewicz said:

-----------

[code]

http://docs.asp.net/en/latest/security/authentication/sociallogins.html
The documentation does not mention that requirement. That's not guaranted that email will be returned from FB.

[2017-10-25 04:21] Ku4nCheang commented on #76
After updated vue to newest version 2.5.2, the client app could not run due to an error
`vue.common.js:573 [Vue warn]: Failed to mount component: template or render function not defined.`

[2017-10-25 04:27] ctolkien commented on #76
FWIW @Ku4nCheang , I have a "working skeleton / prototype" of the AspNet JS Services working with Vue:

https://github.com/ctolkien/aspnet-vue-webpack-playground

Might give you some tips / and/or a platform to start from.

[2017-10-26 10:08] SteveSandersonMS commented on #63
@Eilon At first glance, no idea, but I will take a look.

[2017-10-26 10:17] SteveSandersonMS commented on #77
@eilon In #48 I removed Bower-related artifacts from the project with the deliberate exception of not messing with the internal structure of the package directories themselves.

The idea was that these package directories are opaque structures provided by a third party, and in case developers want ways of upgrading or changing versions, it will make the most sense if they were still in their origi

[2017-10-26 10:29] SteveSandersonMS commented on #49
Fixed in #50

[2017-10-26 10:29] #49 closed

[2017-10-26 16:59] Eilon commented on #77
Oh, duh, this totally makes sense. I don't think we should change the contents of packages because it'll just cause problems down the road. So, closing this issue.

cc @DamianEdwards FYI.

[2017-10-26 16:59] #77 closed

[2017-10-26 23:43] natemcmaster opened #131 "Template.Tests consistently fail on Windows due to selenium and npm failures"
I have not been able to make the tests pass on Windows. The tests are frequently failing with one of two issues. Any ideas what to change?

1. Several tests fail when Seleium fails to start

[code]

2. Perpetual npm issues.

[code]

## My machine

dotnet: 2.0.3-servicing-007037
npm: 5.3.0
node: 8.1.3

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:

[2017-10-27 02:45] chenzhitong opened #132 "AccessDenied.cshtml page has a small bug"
Views/Account/AccessDenied.cshtml page has a small bug.

This is the default code after the project is created.
<img width="607" alt="image" src="https://user-images.githubusercontent.com/6295602/32085878-339a6920-bb04-11e7-891a-60488b112ef6.png">

h2 this line should be.
`<h2 class="text-danger">@ViewData["Title"]</h2>`

The default code is missing an **@**

[2017-10-27 22:52] Eilon commented on #132
Hi @chenzhitong thanks for the report, we just fixed the bug a few days ago! 😄  https://github.com/aspnet/templating/pull/40

[2017-10-27 22:52] #132 closed

[2017-10-27 22:53] Eilon commented on #131
@SteveSandersonMS any idea on this? Any special instructions needed?

[2017-10-30 17:55] brycekmartin commented on #90
Can anybody else validate if they have the same issues?  Thanks.

[2017-10-31 10:39] SteveSandersonMS commented on #131
For issue 2, does "perpetual" mean "failing in the same way every time" or just "frequent but intermittent"? If it's intermittent, you probably need to ensure Windows Defender excludes the directory where NPM is creating and moving thousands of small files, otherwise if it's holding a lock on a file on the wrong moment, you do get those kinds of access denied errors. NPM has zero tolerance for tem

[2017-10-31 12:26] brycekmartin commented on #90
Found a fix for this over on the original aspnet/JavaScriptServices repo... See [PR 953](https://github.com/aspnet/JavaScriptServices/pull/953)

[2017-10-31 16:32] natemcmaster commented on #131
Issue 2 - frequent but intermittent. It is frequently failing with "EPERM: operation not permitted, scandir", but the folder it shows in the error message changes. It's not Windows Defender: I have an exclusion for the folder containing the tests.

Side note: I wonder if this means `npm install` is also frequently failing for our users. In my hobby projects, I switched to yarn because NPM continua

[2017-10-31 17:30] SteveSandersonMS commented on #76
We'll update to newer versions of libraries on the next template update, and as part of that will track down and fix any issues caused by breaking changes in those third-party dependencies.

In the meantime, I'm afraid if there are breaking changes in third-party libraries that cause problems when you upgrade, you'll need to either not upgrade or track down a fix by working with the maintainers of

[2017-10-31 17:38] SteveSandersonMS commented on #131
Looks like the `scandir` issue is worse than the usual NPM random glitches on Windows: https://github.com/npm/npm/issues/17747

You might want to downgrade to NPM 4.x until the 5.x line has a proper fix for this.

@natemcmaster If you agree that this is specifically an issue in NPM that we can't directly do anything about, I'd recommend we close this as an external issue.

[2017-10-31 17:49] natemcmaster commented on #131
Yeah, it seems there isn't much we can do about npm's issues, except perhaps, abandon it for yarn. But let's consider that a separate issue.

You can leave this open by assign to me to ensure #136 get's ported to dev.

[2017-10-31 19:09] #76 closed

[2017-11-01 13:10] virzak opened #138 "Typescript 2.6 errors in reactredux template"
typescript 2.6 has long awaited // #region support, but as soon as the upgrade is made, errors occur in the unmodified template.

Most are easy to fix, but is there a quick fix for this one?

[code]

[2017-11-01 14:06] Havret commented on #138
+1

[2017-11-01 14:40] SteveSandersonMS commented on #131
OK, assigning to you.

We can use `yarn` in our internal build infrastructure if we want; we just have to not rely on it as part of templates (as in, we shouldn't assume that people using the templates to create projects have it installed).

[2017-11-01 15:04] natemcmaster commented on #131
Would adding this package to templates be reasonable? It would remove the need for a global install of yarn. https://github.com/natemcmaster/Yarn.MSBuild And if not, would it be okay to add it as a flag? `dotnet new react --with-yarn`?

[2017-11-01 15:18] SteveSandersonMS commented on #131
Using `Yarn.MSBuild` would still force all developers to install their own copy of `yarn`, unless I'm mistaking how it works. `yarn` and `npm` aren't exactly compatible replacements for each other - for example, if you're using `yarn` then you're keeping lock information in `yarn.lock`, and if you're using `npm` then you're keeping it in `npm-shrinkwrap.json` (or the NPM 5 equivalent). Neither too

[2017-11-01 15:25] natemcmaster commented on #131
Yarn is bundled in that package, no global install needed.

Yeah, I get there are bigger concerns with switching to yarn as the default. Probably not the right move at the moment. And for the sake of test reliability, it might be more work than it's worth. Thinking about this more, it's probably worth getting community feedback on this before we invest the effort. I'll open an separate issue and l

[2017-11-01 15:27] natemcmaster opened #139 "Add an option to use yarn instead of npm in new projects"
Some people prefer yarn to npm. It would be nice to add this as an option users could set when creating a new project.

Ideas:
 - Add it as an option: `dotnet new react --with-yarn`
 - Use https://www.nuget.org/packages/Yarn.MSBuild/ or something similar. This package bundles yarn with it so you don't need a global install of yarn.

[2017-11-01 15:35] SteveSandersonMS commented on #131
I'd be cautious about reading much into what replies you get from posting an issue. Anyone posting is self-selected to be a highly interested and involved developer, exactly the kind who's likely to have already installed `yarn` or is willing to do so. The other 90% have never heard of `yarn` and won't reply to the issue.

[2017-11-01 16:00] natemcmaster commented on #131
Yeah good points. You're the subject-matter expert here so I trust your judgment. I just wanted to suggest the idea independently of our test-reliability discussion on this thread.

[2017-11-02 17:09] virzak commented on #138
The band-aid solution is to add **as any** if anyone interested

[code]

[2017-11-02 19:29] livarcocc opened #141 "Add EF Core CLI Tools to default api templates (and more?)"
_From @julielerman on November 2, 2017 17:17_

With ASPNETCore.All in new aspnetcore csproj via the template, we will go forward expecting all of the EF Core tasks to work easily. However, the CLI tools are not included, so users will find out the hard way that they have to go back to csproj and add them in. For experienced EF Core users, it's not a big deal, but for new users it could be a PIA.

[2017-11-02 19:29] livarcocc commented on #141
This template is actually not maintained in the CLI repo, we are just carriers for it. I am going to move it to the repo where these templates are crafted.

[2017-11-04 16:07] Petermarcu opened #142 "Produce launchSettings.json by default for ASP.NET Core projects"
I ran `dotnet new web` and there was no launchsettings.json. I expected the same output from `dotnet new web` as I get when I do `File->New Project->ASP.NET Core Web Application->Web Application`. Looks like there are a few differences. This causes issues for upstack templates and tools that expect certain things to be available in the base.

https://github.com/ElectronNET/Electron.NET/issues/30

[2017-11-05 01:48] clarkbrent commented on #30
Can we look into this a bit more? This is essentially rendering the MVC template useless for anyone developing cross-platform:

" Version for package `Microsoft.VisualStudio.Web.CodeGeneration.Tools` could not be resolved. Gracefully stopping..."

[2017-11-05 16:29] RepositoryNY opened #143 "Problems with build.cmd command"
I have cloned this repository, and run `build.cmd`.

Here is the error in console:

How can I properly use this templates, and create new projects with them?

[2017-11-06 11:42] JosephWoodward commented on #30
@clarkbrent @seancpeters Is this package used when developing across platform? Based on @seancpeters comment it seems that it is.

The big issue from my perspective is the VisualStudio package name, it's a really bad name causing confusion for those not using Visual Studio and only goes to make anyone using anything other than VS feel like a second class citizen.

[2017-11-06 14:06] kosa-gyula-77 opened #144 "Password is posted in clear text in ASP.NET Core Web Application template"
In Visual Studio Professional 2017 (15.4.1),

1. Select New Project,
2. choose template 'ASP.NET Core Web Application',
3. select ASP.NET Core 1.1,
4. select Web Application (MVC),
5. choose 'Individual User Accounts' authentication

Actual: On login, the password is posted to the server in clear text.

Expected: Password is [sent hashed](https://stackoverflow.com/a/21716654/1986541).

[2017-11-06 18:07] natemcmaster commented on #143
The build.cmd script is currently broken while I'm working on infrastructure changes in aspnetcore. I should have this fixed later.

You don't need to build this repo to use our templates. They are bundled "File -> New Project" experience in Visual Studio and `dotnet new` in the .NET Core command-line.

[2017-11-06 23:19] natemcmaster commented on #63
Likely would be fixed by creating a clean, isolated template engine state for each test, which I believe isn't possible yet. https://github.com/dotnet/templating/issues/806

[2017-11-07 08:53] RepositoryNY commented on #143
Ok, so how to deal without that script?

If I type `dotnet new` or choose "File -> New Project" , I can only see standart ASP.NET Core 2.0 templates, where I don't have Aurelia, Knockout and Vue templates, which are [here](https://github.com/aspnet/templating/tree/dev/src/Microsoft.AspNetCore.SpaTemplates/content). How can I build those three templates?

[2017-11-07 21:19] SteveSandersonMS commented on #56
As per [this comment](https://github.com/aspnet/templating/pull/60#issuecomment-342625435), this requirement is now handled as part of some broader changes, so I'll close this.

[2017-11-07 21:19] #56 closed

[2017-11-07 21:42] SteveSandersonMS commented on #90
Glad you found the fix, and apologies we didn't reply sooner! Closing this as a duplicate of the PR you linked to.

[2017-11-07 21:42] #90 closed

[2017-11-07 22:36] natemcmaster commented on #131
Fixed in #148

[2017-11-07 22:36] #131 closed

[2017-11-07 22:36] natemcmaster commented on #63
https://github.com/dotnet/templating/pull/1321 should help

[2017-11-07 22:37] natemcmaster commented on #143
Closing as build.cmd should succeed in building new packages locally now. cref #148

[2017-11-07 22:37] #143 closed

[2017-11-10 01:27] natemcmaster opened #150 "Templates fail to compile"
The followings tests currently fail with compiler errors:

Missing HttpsPolicy - webapi and mvc for .NET Framework
[code]

F# templates
[code]

http://aspnetci/viewLog.html?buildId=353915&tab=buildResultsDiv&buildTypeId=Lite_Templating

cc @jkotalik

[2017-11-10 15:35] brycekmartin commented on #90
Hey Steve, any idea when an updated version of the template might be release with some of the fixes that we've seen submitted?

[2017-11-10 17:07] SteveSandersonMS commented on #90
@brycekmartin We're hoping to have a preview release of the new Angular CLI and create-react-app based templates next month, with the final release following shortly after once the community has had a chance to try it out.

[2017-11-10 17:17] brycekmartin commented on #90
That is great.  I'll be watching closely. You guys are doing great.

[2017-11-13 21:00] danroth27 commented on #142
We will need launchSettings.json for things like HTTPS and specifying the dev hosting environment.

[2017-11-13 21:06] danroth27 commented on #142
@javiercn

[2017-11-13 21:08] danroth27 opened #152 "launchSettings.json is missing from 2.1 templates"
Looks like `Properties/launchSettings.json` is missing for the 2.1 templates (it's there in the 2.0 templates). As a result specifying `--use-launch-settings.json` doesn't actually add anything to the generated project.

[2017-11-13 22:16] javiercn commented on #142
Yeah, launchSettings.json should be the default experience

[2017-11-14 19:16] SteveSandersonMS commented on #152
Where are you seeing that? Also I just tried `dotnet new mvc` against the 2.0.2 SDK and it produced a project with no `launchSettings.json` file.

[2017-11-14 19:18] danroth27 commented on #152
Sorry, I was referring to the template content in this repo, not the generated template output. The [Properties](https://github.com/dotnet/corefx/issues?q=is%3Aissue+is%3Aopen+directoryservices+label%3Aarea-System.DirectoryServices) content folder is missing in the dev branch.

[2017-11-14 19:25] jkotalik commented on #152
The [rel/2.0.3 projects](https://github.com/aspnet/templating/tree/rel/2.0.3/src/Microsoft.DotNet.Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties) in ProjectTemplates have the launchSettings.json file.

[2017-11-14 19:27] SteveSandersonMS commented on #152
Got it - thanks for clarifying. I see that it only gets used if you pass the `--use-launch-settings` flag to `dotnet new`.

[2017-11-14 20:31] jkotalik commented on #152
Should we also add launchSettings.json to each of the spa templates?

[2017-11-14 20:56] javiercn opened #153 "Make launchSettings.json the default and provide an options to exclude it instead"
Right now is not the default, so HTTPS redirection won't work correctly.

[2017-11-14 20:56] jkotalik commented on #150
Should be fixed by #151

[2017-11-14 21:52] kakins opened #154 "Upgrading to bootstrap4?"
I admit I'm a dummy when it comes to webpack.  However it seems simply updating my package.json's bootstrap value to 4.0.0-alpha.6 just downloads bootstrap 3.3.7 again.  I've seen various tutorials about how to use the newest version of bootstrap, but none that relate directly to how the current spa templates are set up.

[2017-11-14 21:55] SteveSandersonMS commented on #153
If the app would be created in a broken state without `launchSettings.json`, why allow it to be excluded?

Or is the idea that we replace it with an option like `--suppress-https-redirection` that, if set, eliminates both the HTTPS redirection and launchSettings.json?

[2017-11-14 21:56] SteveSandersonMS commented on #152
Yes, all the web templates (including SPA) should be updated to be consistent about this.

[2017-11-14 21:59] kakins commented on #154
Well after posting this, I clicked "update package" via the IDE under npm, and at first it seemed to remove bootstrap and failed to install.  I then clicked restore package and it looks like it downloaded version 4.  Is this an issue with the project setup, npm, Visual Studio, all of the above?

[2017-11-14 22:00] SteveSandersonMS commented on #154
Update packages using `npm install --save <packagename>[@version]`, so it updates both your `package.json` and `npm-shrinkwrap.json` files consistently.

[2017-11-14 22:00] #154 closed

[2017-11-14 22:03] SteveSandersonMS commented on #138
This problem will no longer be applicable in the next version of the ReactRedux template (it's based on create-react-app). In effect it's fixed, so I'll close this.

For anyone needing to update apps created with the 2.0.x SDK, please see @virzak's comment.

[2017-11-14 22:03] #138 closed

[2017-11-14 22:18] javiercn commented on #153
You might want to use the new support for kestrel config (pending implementation). If we don't add launchSettings.json we most likely will add kestrel config to the config file.

[2017-11-14 22:24] danroth27 commented on #153
Dup of #142

[2017-11-14 22:24] #153 closed

[2017-11-14 22:24] SteveSandersonMS commented on #153
@javiercn Sorry, I don't understand your comment - I must be missing context, but it's unclear to me how your comment relates to my question. Also, are you saying I should be doing something about this?

[2017-11-14 22:25] danroth27 commented on #142
The proposal here is to produce launchSettings.json by default.

[2017-11-14 22:26] SteveSandersonMS commented on #142
@danroth27 @javiercn Could you clarify how things are going to work for published apps? Currently we don't publish the `launchSettings.json` file. If someone creates a brand new project, then runs `dotnet publish -c Release`, then goes to the publish directory and runs `dotnet <app>.dll`, is it going to listen for HTTPS connections? Is there some new default Kestrel behavior that makes this work?

[2017-11-14 22:30] javiercn commented on #142
@SteveSandersonMS If you use Kestrel on the edge you need to do additional work to deploy to production, essentially there is new configuration that kestrel will pick-up by default from the appSettings. We haven't figured out how that configuration will look like, but for production scenarios we assume 443 for HTTPS in the absence of information.

When you are behind IIS or any other proxy is the

[2017-11-14 22:32] danroth27 commented on #142
Regardless, the decision to produce a launchSettings.json by default is independent of how we HTTPS by default. We still want it there for things like setting environment variables.

[2017-11-14 22:41] SteveSandersonMS commented on #142
@danroth27 I'm not in any way objecting to creating launchSettings.json by default. I just want to understand how all the scenarios work now, since I often do template work and need to be sure whatever I do fits in with the plan.

@javiercn Today if you publish and run a brand new app locally, it listens for HTTP on port 5000. Do you happen to know where that 5000 number comes from - is this a Kes

[2017-11-14 22:45] javiercn commented on #142
@SteveSandersonMS It's hardcoded in kestrel. There can't be a default for HTTPS as you need a certificate. I'm wondering if it would be worth to have a feature on the set of server features to not do redirection in case there is no https endpoint being listen on.

[2017-11-14 23:13] jkotalik commented on #142
@javiercn I don't know if we want to have that feature. If someone intends on redirecting to HTTPS, we shouldn't ever respond with a HTTP page.
So to be clear, if the client fails to create a certificate, then they can't run any of our samples, correct? I know our current plan is to have certificate creation on first time experience.

[2017-11-15 13:58] dloukola opened #156 "Websocket errors"
I've been trying to run the @SteveSandersonMS angular-cli branch (I understand this is not complete yet), and I get websocket errors constantly.

Initial load of the site works fine, but hitting refresh takes about 2 minutes to come back with the errors below.

Any ideas?

VM60:164 WebSocket connection to 'wss://localhost:44316/sockjs-node/393/eors52lf/websocket' failed: Error during WebSocket han

[2017-11-15 14:18] SteveSandersonMS commented on #156
Sorry, since this is not even released as a preview yet, you shouldn't expect it to work. There are runtime changes necessary to make things like Websocket proxying work correctly.

We'll release a preview of the new SPA templates within the next few weeks.

[2017-11-15 14:18] #156 closed

[2017-11-16 17:43] Eilon commented on #144
Hi, we are updating the ASP.NET Core templates to use HTTPS, which is a best practice. As such, there are no plans to hash the passwords on the client before sending to the server.

cc @blowdart FYI.

[2017-11-16 17:43] #144 closed

[2017-11-16 17:43] Eilon commented on #139
@SteveSandersonMS thoughts on this?

[2017-11-16 17:59] Eilon commented on #152
Is this bug a dup of https://github.com/aspnet/templating/issues/142 ? If not, how are they different?

[2017-11-16 18:03] Eilon commented on #117
Closing because there are no plans to add tests to the templates at this time.

[2017-11-16 18:03] #117 closed

[2017-11-16 18:04] Eilon commented on #104
Closing because there are no plans to implement this.

[2017-11-16 18:04] #104 closed

[2017-11-16 18:07] Eilon commented on #100
The error pages now have this.

E.g.: https://github.com/aspnet/templating/blob/09161305bb26edc371ca4504d2fecc9b13da09a7/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Error.cshtml.cs#L18

[2017-11-16 18:07] #100 closed

[2017-11-16 18:07] Eilon commented on #93
Dup of https://github.com/aspnet/templating/issues/100

[2017-11-16 18:07] #93 closed

[2017-11-16 18:07] Eilon commented on #121
Closing because there are no plans to implement this.

[2017-11-16 18:07] #121 closed

[2017-11-16 18:08] Eilon commented on #83
Closing because there are no plans to implement this.

[2017-11-16 18:08] #83 closed

[2017-11-16 18:09] Eilon commented on #84
Closing because there are no plans to implement this. It's up to people to make sure they don't add too many menu items, and to alter the UI if it doesn't suit their needs.

[2017-11-16 18:09] #84 closed

[2017-11-16 18:09] Eilon commented on #125
Oops, dup of https://github.com/aspnet/templating/issues/124.

[2017-11-16 18:09] #125 closed

[2017-11-16 18:11] Eilon commented on #17
Closing because there are no plans to implement this.

[2017-11-16 18:11] #17 closed

[2017-11-16 18:13] Eilon commented on #105
Closing because there are no plans to implement this. There is already a variety of templates, including the newer Razor Pages templates, which should cover most scenarios.

[2017-11-16 18:13] #105 closed

[2017-11-16 18:14] Eilon commented on #51
Closing because there are no plans to implement this.

[2017-11-16 18:14] Eilon commented on #2
Closing because there are no plans to implement this.

[2017-11-16 18:14] #2 closed

[2017-11-16 18:15] Eilon commented on #61
Closing because there is not enough information to reproduce this problem.

[2017-11-16 18:15] #61 closed

[2017-11-16 18:18] Eilon commented on #30
This is indeed just an unfortunate package name, and we are not currently planning to rename it. However, some upcoming features might make this disappear anyway: we are looking at implementing a feature called "global commands", which as the name implies, means that commands (such as scaffolding) are available for all projects, and don't need to be listed in each project.

So, closing this issue

[2017-11-16 18:18] #30 closed

[2017-11-16 18:19] Eilon commented on #25
No tag helper currently exists for this. If we add one, we can consider it. Here's the related issue: https://github.com/aspnet/Mvc/issues/6782

[2017-11-16 18:26] Eilon commented on #114
Closing because there are no plans to implement this.

[2017-11-16 18:26] #114 closed

[2017-11-16 18:27] Eilon commented on #119
Closing because there are no plans to implement this.

[2017-11-16 18:27] #119 closed

[2017-11-16 18:43] guardrex commented on #51
@Eilon This is a consistency situation, too ...

Templates with *no* lines between \<PropertyGroup>(s)/\<Target>(s)/\<ItemGroups>
* razor

Templates with a blank line between \<PropertyGroup>(s)/\<Target>(s)/\<ItemGroups>
* angular
* classlib
* console
* mstest
* mvc
* react
* reactredux
* web
* webapi
* xunit

The Razor Pages project file is the only one squashed like that.

[2017-11-16 19:40] danroth27 commented on #152
@Eilon this bug tracks that there is literally no launchSettings.json in the 2.1 templates - even if you pass `--use-launch-settings` you aren't going to get one. #142 tracks producing launchSettings.json by default.

[2017-11-16 20:52] pranavkm opened #159 "Determine the TFM templates need to target and be tested for in 2.1"
Currently templates target `netcoreapp2.0` and we additionally test them in `net461`. We need some guidance about what TFMs we'd build and test them for for the next release.

[2017-11-16 20:52] pranavkm commented on #159
cc @Eilon

[2017-11-16 21:05] vanillajonathan commented on #2
What is the rationale for not adopting semantic elements for the modern web?

https://caniuse.com/#feat=html5semantic

[2017-11-16 21:05] Eilon commented on #111
I think the link is correct. It's talking generally about CLI tools, and just giving an example of EF migrations.

[2017-11-16 21:05] #111 closed

[2017-11-16 21:15] moozzyk commented on #111
Must have been fixed since the link used before now returns 404.

[2017-11-16 21:54] Eilon commented on #111
Ah ok I checked the current link and it goes to a general CLI tools page.

[2017-11-16 21:55] Eilon commented on #2
It seems like a fairly minor improvement in the template.

[2017-11-16 22:46] Eilon commented on #82
I edited https://github.com/aspnet/templating/issues/45 to cover this as well.

[2017-11-16 22:46] #82 closed

[2017-11-16 22:46] Eilon commented on #45
Added this to the list above:

- Web API controllers should derive from ControllerBase (see https://github.com/aspnet/templating/issues/82)

[2017-11-17 00:37] Eilon commented on #159
@richlander / @KathleenDollard - for .NET CLI SDK release associated with the 2.1 runtime, what TFMs do the console template target? Just netcoreapp2.1? Just 2.0? Both, via an option?

We'll presumably want to do the same thing for ASP.NET Core in the 2.1 timeframe.

[2017-11-17 00:41] Eilon commented on #141
Closing per https://github.com/aspnet/templating/issues/30#issuecomment-345011662. We'll eventually move to global commands, in which case we don't need to add anymore tool references.

[2017-11-17 00:41] #141 closed

[2017-11-17 00:43] #120 closed

[2017-11-17 00:46] Eilon commented on #107
@danroth27 can you find out who the accessibility champ is in DevDiv so we can have them help us figure out what, if anything, we need to do here?

[2017-11-17 00:49] Eilon commented on #89
No plans to include bundling in the default template at this time. We will revisit in the future.

[2017-11-17 00:49] #89 closed

[2017-11-17 00:51] Eilon commented on #139
No plans to include yarn at this time. We're trying to reduce how much 3rd party content is in the templates.

[2017-11-17 00:51] #139 closed

[2017-11-17 00:52] Eilon commented on #127
This is deliberately not the default. Some users might not have an email set up, or not make it available to other apps.

[2017-11-17 00:52] #127 closed

[2017-11-17 00:53] Eilon commented on #113
Closing because there are no plans to implement this.

[2017-11-17 00:53] #113 closed

[2017-11-17 00:55] Eilon commented on #122
Closing because there are no plans to implement this.

[2017-11-17 00:55] #122 closed

[2017-11-17 01:02] Eilon opened #161 "Remove more references to Bower"
This page has a few mentions of it: https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Index.cshtml#L41

[2017-11-17 01:04] Eilon commented on #116
This is no longer an issue in 2.0.

[2017-11-17 01:04] #116 closed

[2017-11-17 01:24] #51 closed

[2017-11-17 09:39] vanillajonathan commented on #2
Minor improvements are improvements too. If it is minor, then it should be quick and easy to implement.
It would encourage a more semantic web. If someone doesn't like it, they could always revert back to using old `div` elements.

[2017-11-17 22:29] #150 closed

[2017-11-20 14:40] #63 closed

[2017-11-20 15:01] SteveSandersonMS commented on #63
I re-enabled the parallelization, putting a lock only around the actual `dotnet new` invocation since that depends on exclusive access to global state (at least, until the underlying `dotnet` CLI changes that @natemcmaster mentioned).

Since `dotnet new` call itself only takes a few seconds, serializing access to that doesn't significantly slow down the entire test run. By far the most time-consum

[2017-11-20 16:54] #161 closed

[2017-11-21 21:37] NorDroN opened #163 "Problem with button"
@SteveSandersonMS I've tried new angular template and noticed that this button doesn't work. I see 3 ways for fix:
1) add bootstrap.js and jquery.slim.js (but i thing it not so good idea)
2) add package like ng-bootstrap
3) remove this button

<img width="372" alt="screenshot_68" src="https://user-images.githubusercontent.com/5458276/33097795-5059c304-cf1c-11e7-85e7-111cf24090c7.png">

[2017-11-22 17:33] SteveSandersonMS commented on #163
Thanks for reporting this. I'll track this within https://github.com/aspnet/JavaScriptServices/issues/1288, so closing it here.

[2017-11-22 17:33] #163 closed

[2017-11-23 15:20] rmarskell opened #164 "TempData with cookies doesn't work on ManageController.LinkLoginCallback"
In `ManageController` in the `LinkLoginCallback` action, [setting](https://github.com/aspnet/templating/blob/09161305bb26edc371ca4504d2fecc9b13da09a7/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Areas/Identity/Controllers/ManageController.cs#L285) `StatusMessage = "The external login was added.";`  doesn't persist to the `RedirectToAction( nameof( ExternalLogins ) )` if usin

[2017-11-24 10:25] SteveSandersonMS commented on #31
Implemented in #47.

[2017-11-24 10:25] #31 closed

[2017-11-24 10:38] SteveSandersonMS commented on #33
Implemented in #42

[2017-11-24 10:38] #33 closed

[2017-11-24 14:02] SteveSandersonMS commented on #5
@Eilon What's the latest on this? Did you get consensus?

[2017-11-25 20:42] stephenlautier opened #165 "[question] angular new template released ng cli 1.5.1?"
I see the template update for angular, however, I'm not sure if I'm missing something in order to update it or it's not released yet.
Is it released? if so how to update it?

I saw the following template nugets
https://www.nuget.org/packages/Microsoft.AspNetCore.SpaTemplates (contains aurelia etc...)
https://www.nuget.org/packages/Microsoft.DotNet.Web.Spa.ProjectTemplates (contains angular)

The A

[2017-11-27 10:15] SteveSandersonMS commented on #165
The new Angular CLI (1.5.4)-based template isn't yet released, but you can try out a pre-preview of it: https://github.com/aspnet/JavaScriptServices/issues/1288#issuecomment-346003334

[2017-11-27 10:15] #165 closed

[2017-11-27 12:27] stephenlautier commented on #165
Thanks, i had missed that one

[2017-11-27 18:44] Eilon commented on #5
@rynowak do you have any further thoughts on this?

Also adding @mlorbetske and @seancpeters in case they've encountered this in other templates.

[2017-11-28 22:37] danroth27 opened #166 "TOTP asp.net Identity ManageController.EnableAuthenticator AddModelError"
_From @arlenniu on November 25, 2017 13:14_

public async Task<IActionResult> EnableAuthenticator(EnableAuthenticatorViewModel model)

error------
 if (!is2faTokenValid)
            {
                ModelState.AddModelError("**model.Code**", "Verification code is invalid.");
                return View(model);
            }

ok----
 if (!is2faTokenValid)
            {
                ModelState.A

[2017-11-28 22:37] danroth27 commented on #166
_From @Eilon on November 27, 2017 18:55_

@blowdart any ideas on this? Is it a bug in the template?

[2017-11-28 22:37] danroth27 commented on #166
_From @blowdart on November 27, 2017 19:0_

Uh, @danroth27 ?

[2017-11-29 02:17] #95 closed

[2017-11-29 02:19] Eilon commented on #20
No current plans for bundling/minification in the default templates.

[2017-11-29 02:19] #20 closed

[2017-11-29 02:35] Eilon commented on #123
Moving to Backlog because it's not clear how important this is. It seems to me that this is important only if there's a global default enabled, and I'm not sure how common that is.

[2017-11-29 02:36] Eilon commented on #102
Bower isn't used in the templates any longer.

[2017-11-29 02:36] #102 closed

[2017-11-29 02:46] Eilon commented on #87
I think this is already done because I can't seem to find any mentions of `PackageTargetFallback`, but can you double check? If it's gone, close it. If it's there, fix then close.

[2017-11-29 02:51] ardalis commented on #123
Unless I'm misunderstanding...

There is a global default set in the template. So, unless someone explicitly deletes this, it's there. How common is it? It's in 100% of the templates as shipped today (which makes it as common as is possible for this data set).

Now, if you want to argue about how likely this issue is to cause problems, that's another matter and I'd agree that I don't know that it'

[2017-11-29 02:56] Eilon commented on #123
There is? Where is the default cache policy set? (Not saying there isn't, I just don't remember it being there, and can't find it right now.)

[2017-11-29 03:06] ardalis commented on #123
Ah, that's the misunderstanding. I thought you were referring to a default global error handler.

As for caching, if this attribute isn't added, then HTTP headers are not added that would prevent proxy servers from caching content. It's not that there's a default set of headers, it's just that the default is no headers (which proxy servers generally will assume means they can cache).

[2017-11-29 17:47] Eilon commented on #123
Ah I see that makes sense. We'll try to get this done.

[2017-11-29 18:04] Eilon commented on #164
@jbagga can you take a look to see what's going on here?

[2017-11-30 01:20] jbagga commented on #87
I didn't find any either. Closing this issue.

[2017-11-30 01:20] #87 closed

[2017-11-30 06:49] DamianEdwards commented on #73
@Eilon this should be considered for a servicing release of 2.0.x and 1.0.x/1.1.x

[2017-11-30 20:17] Eilon opened #170 "[2.0 patch] .NET 4.7x Framework pages are started with Workstation GC"
See https://github.com/aspnet/templating/issues/73

[2017-11-30 20:20] Eilon opened #171 "[1.1 patch] .NET 4.7x Framework pages are started with Workstation GC"
See #73

[2017-11-30 20:21] Eilon opened #172 "[1.0 patch] .NET 4.7x Framework pages are started with Workstation GC"
See #73

[2017-11-30 20:21] Eilon commented on #73
Logged these to track patch work items:
* 1.0 patch: https://github.com/aspnet/templating/issues/172
* 1.1 patch: https://github.com/aspnet/templating/issues/171
* 2.0 patch: https://github.com/aspnet/templating/issues/170

[2017-11-30 20:21] Eilon commented on #73
(And this item will be for `dev`)

[2017-12-01 00:16] #92 closed

[2017-12-01 18:48] jbagga commented on #79
@Eilon What would be the value of having another parameter "plainTextMessage"? If we do the conversion from plain text to html if htmlMessage is not provided, I can see it being useful. But is that really a scenario that should be supported?

[2017-12-01 19:03] jbagga opened #176 "KnockoutTemplate_Works_NetCore test flaky on VS"
`KnockoutTemplate_Works_NetCore` test fails with the following error when run as part of a test run in VS

Expected: Weather forecast
Actual:   Counter

If the test is run by itself, it passes.

Possible race condition? https://github.com/aspnet/templating/blob/dev/test/Templates.Test/SpaTemplateTest/SpaTemplateTestBase.cs#L72 and https://github.com/aspnet/templating/blob/dev/test/Templates.Test/S

[2017-12-01 19:15] Eilon commented on #176
@SteveSandersonMS can you take a look?

[2017-12-01 19:26] Eilon commented on #79
Hmm good point. Maybe just rename the existing parameter to be clearer about what it is? I don't think we need 2 parameters because then it's confusing which one to use and what happens if you use both.

So, does the current parameter expect it to be a string containing HTML, as in, `<div>This is a confirmation <b>email</b>!</div>`?

[2017-12-01 19:44] jbagga commented on #79
Yeah something like this
`Please confirm your account by <a href='<link>'>clicking here</a>.`

[2017-12-01 19:45] Eilon commented on #79
Yeah then I think just rename the existing parameter is all we need.

[2017-12-01 22:11] jbagga commented on #79
I changed the parameter names in `IEmailSender` and `EmailSender`. Will send a PR out soon. I noticed that we do not encode the link for `ForgotPassword` in `AccountController` [here](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Areas/Identity/Controllers/AccountController.cs#L377) but perhaps we should like we do [here](https://

[2017-12-02 00:22] jbagga commented on #73
@Tratcher Will an app.config need to be added to ALL templates? Or is this specific to certain types? I can look into it, but just wondering if I should be expecting different results with the current configurations.

[2017-12-02 05:25] Tratcher commented on #73
All web templates, but only for the .NET 4.x targeted ones.

[2017-12-05 17:13] Eilon commented on #69
@SteveSandersonMS can you review the PR #177 and merge?

[2017-12-05 20:47] #71 closed

[2017-12-05 20:47] #79 closed

[2017-12-06 19:18] javiercn opened #181 "Go back to server selected listening ports in AspNetCoreProcess"
Revert the change below (adding an HTTPS url to it instead) and modify the base url of the http client to replace 127.0.0.1 by localhost so that we don't run into certificate errors.

[code]

[2017-12-06 22:29] mkArtakMSFT commented on #181
@javiercn , I've put this in preview2 milestone. Please let me know if this should be prioritized higher.

[2017-12-07 20:11] #123 closed

[2017-12-07 22:14] #80 closed

[2017-12-07 23:02] pranavkm opened #183 "@ missing in AccessDenied page"
Original issue: https://github.com/aspnet/Identity/issues/1511

    @{
     ViewData["Title"] = "Access denied";
    }
    <header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
    </header>

    Should have been
    <h2 class="text-danger">@ViewData["Title"]</h2>

[2017-12-07 23:03] pranavkm commented on #183
@jbagga could you take this one for the dev branch?

[2017-12-07 23:13] jbagga commented on #183
https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Account/AccessDenied.cshtml#L6
It doesn't seem like an issue in dev

[2017-12-08 16:08] scottaddie commented on #183
This should've been fixed in https://github.com/aspnet/templating/pull/40.

[2017-12-08 18:05] jbagga commented on #183
@scottaddie It was still missing from one of the Views in Identity Area. It's merged in now as part of #184

[2017-12-08 18:05] #183 closed

[2017-12-08 21:10] javiercn commented on #66
https://github.com/aspnet/templating/commit/4d2e642b94ad6c2e152e09005c33bac7543bcf04

[2017-12-08 21:10] #66 closed

[2017-12-08 21:13] javiercn commented on #142
https://github.com/aspnet/templating/commit/4d2e642b94ad6c2e152e09005c33bac7543bcf04

[2017-12-08 21:13] #142 closed

[2017-12-08 21:25] javiercn opened #185 "[F#] Add HTTPS middleware support for the F# Web templates"
See https://github.com/aspnet/templating/commit/4d2e642b94ad6c2e152e09005c33bac7543bcf04#diff-916661b4a34290fca8baae43b6237b82 for more details

[2017-12-10 16:23] virzak opened #189 "New Templates"
What are the prerequisites for previewing the new templates? Are there any instructions?
They seem to be dependent on AspNetCore 2.1.0-preview1, but other than getting the sdk from  dotnet.myget.org, I wasn't sure  what to do next. VS Preview couldn't build the new project.

Please advise.

[2017-12-11 05:08] virzak commented on #189
Also, will typescript be dropped from future templates?

[2017-12-11 07:09] cvanem commented on #189
I believe this is what you are looking for:
https://github.com/dotnet/templating

[2017-12-11 14:24] virzak commented on #189
@cvanem that's the repository. I have the source code. My questions are:
1 how to run it
2 where did typescript go

Thanks

[2017-12-11 23:47] virzak commented on #189
@cvanem Thanks. Exactly what I was looking for. Names are so similar, almost confusing.

I ran dotnet new3 -i Q:\Code\Libraries\aspnet-templating\
When I restore that, the project file is missing.

Just wanted to get a sense of general direction.

If I start a new front-end heavy project, should I be going with create-react-app or with the current reactredux template?

Thanks

[2017-12-12 07:22] cvanem commented on #189
I'm not sure how to actually run it. I got about half way through and gave up.  I would go with the current reactredux template.  I believe the new reactredux template preview uses the create-react-app module, at least from what I remember when I looked at the updates.  I haven't had a chance to get into it further than that.

[2017-12-12 10:14] Piteryo opened #192 "Add tests to template projects"
Template projects are rather good but what about tests for client-side? For example, while using Vue + Asp.Net Core template it was very hard to connect any available test framework to work with as it uses not the very popular case: typescript + Vue. Could you please add configured tests to templates to make testing not so painful.

[2017-12-12 13:36] virzak commented on #189
@SteveSandersonMS can you weigh in on this please?

[2017-12-12 13:46] SteveSandersonMS commented on #189
@virzak Prerequisites and installation instructions are at https://docs.microsoft.com/en-us/aspnet/core/spa/. You don't need to clone any repos or use `dotnet new3`.

No, it's fundamental to the Angular template, and still useful in most of the others (notably excluding React, since it's not standard in Create React App).

[2017-12-12 13:46] #189 closed

[2017-12-12 14:02] SteveSandersonMS commented on #152
@javiercn Can this be closed now you implemented it?

[2017-12-12 14:06] SteveSandersonMS commented on #192
This is now implemented in the Angular, React, and React+Redux templates 👍

We're not planning to schedule work to add it to the Aurelia/Knockout/Vue templates add-on package because that add-on package is more community driven and doesn't ship in the CLI by default. If you or someone else in the community is keen to add generation of unit test files to the Aurelia template we'd certainly consider

[2017-12-12 14:06] #192 closed

[2017-12-12 15:16] virzak commented on #189
@SteveSandersonMS thanks.

Could you share the long term goals for specifically reactredux template?
Do you have plans to add server-side prerendering? typescript?
Assuming typescript will come when CRA implements it.

We're in the beginning of a project not due in a while. Should we:
1) Go with older stable templates and risk being outdated
2) Go with newer and sacrifice typescript and  server-si

[2017-12-12 15:19] SteveSandersonMS commented on #189
The goal is to be aligned with CRA. If CRA gets TypeScript and/or SSR options, we'll make use of them.

[2017-12-12 16:48] javiercn commented on #152
Yeah, thanks @SteveSandersonMS

[2017-12-12 16:48] #152 closed

[2017-12-12 18:08] guardrex opened #193 "IConfigurationRoot over IConfiguration in templates?"
The templates are using `IConfiguration` ([example](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs#L40)), but the [Configuration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index) topic examples use `IConfigurationRoot`. This caused a bit of confusion for a reader of the topic. We'll address

[2017-12-12 18:12] HaoK commented on #193
The only reason you really ever need IConfigurationRoot is if you want to reload config, or want access to the individual providers that make up the config, neither of these two situations are common

[2017-12-12 18:14] guardrex commented on #193
@HaoK Thanks ... I'll open a doc issue then, and we can discuss explaining it in the Configuration topic.

[2017-12-12 18:14] #193 closed

[2017-12-12 22:46] jbagga opened #194 "Unhandled Exception: User Denied Access"
Repro:
Set up Facebook Login
On the Facebook login page, press "Not Now"

Results in the following error being displayed
![unhandledexceptionuserdeniedaccess](https://user-images.githubusercontent.com/6234561/33912265-0bb65ab2-df4a-11e7-9b7f-ce8b5154fdaa.PNG)

Are there special set up instructions that anyone using the template needs to follow to not error out in this scenario and gracefully redir

[2017-12-12 22:54] jbagga opened #195 "Unhandled Exception: Missing Oauth Token"
Repro:
Set up Twitter Login
On the Twitter Login page, click on the Cancel button and then Return to {Your app name}

The following error is displayed:
![unhandledexceptionmissingoauthtoken](https://user-images.githubusercontent.com/6234561/33912866-529203f8-df4c-11e7-8077-94386378cd47.PNG)

cc @Eilon @HaoK

[2017-12-12 23:00] HaoK commented on #194
Yeah we have an issue tracking this, its a known painpoint: https://github.com/aspnet/Security/issues/1165

[2017-12-12 23:01] HaoK commented on #195
You can probably dupe this/track via https://github.com/aspnet/Security/issues/1165 as well

[2017-12-13 07:18] NorDroN opened #197 "Pass ASP.NET Core Appsettings Values to Angular"
Hi!
How can I pass ASP.NET Core Appsettings Values to Angular (e.g. https://elanderson.net/2017/10/pass-asp-net-core-appsettings-values-to-angular/ ) in new template with index.html?

[2017-12-13 18:06] mkArtakMSFT commented on #197
Hi @NorDroN , you can expose an API from the server and call it from the client to retrieve whatever is required. /cc @SteveSandersonMS

[2017-12-13 19:16] #73 closed

[2017-12-13 22:39] #195 closed

[2017-12-13 22:39] #194 closed

[2017-12-14 09:01] olivier-voutat commented on #90
This fix works, but I'm experimenting some problems. We have an application with two components. A list of companies and a submit form.

The submit works (if we ignore a little problem with a input field with a placeholder with accents... that makes the "field is required" to be shown immediately).

But the list is not updated when we navigate. The webapi is not called on component opening. In Fir

[2017-12-14 18:29] #97 closed

[2017-12-15 00:38] jbagga opened #201 "Selenium tests flaky on Appveyor"
I have seen the following error a lot of times when Appveyor runs on my PRs. Running the Appveyor tests again (after a few tries) usually solves the problem. It is not always the same template test. Sometimes multiple tests fail.

[code]

cc @javiercn @SteveSandersonMS Any ideas?

[2017-12-15 00:48] jbagga commented on #101
Are instances of max-width as part of the ["@media"](https://www.w3schools.com/cssref/css3_pr_mediaquery.asp) rule okay? It's used to check viewport/device width

[2017-12-15 01:00] Eilon commented on #101
@DamianEdwards ?

[2017-12-15 08:24] NorDroN commented on #197
@mkArtakMSFT, I know about this, but I'd like to get some parameters without request, e.g. value of ASPNETCORE_ENVIRONMENT or another options which depends on value of ASPNETCORE_ENVIRONMENT

[2017-12-15 09:48] SteveSandersonMS commented on #197
@NorDroN It follows from Angular CLI conventions that Angular is responsible for returning the entire initial HTML page. As such, the ways to use server-side code when serving the initial HTML page are:

* Using SSR. You can put in arbitrary logic then. Read more about SSR at https://docs.microsoft.com/en-us/aspnet/core/spa/angular#server-side-rendering
* Or, by using ASP.NET middleware to interce

[2017-12-15 09:48] #197 closed

[2017-12-18 05:25] virzak commented on #189
@SteveSandersonMS That means that our existing reactredux projects and components we wrote for them now need to be ported to ES6, just to move then back to Typescript later when CRA it.

Not sure why Microsoft would want to cut its own language from its template, just to rely on Facebook to implement support for it.

I added Typescript support to the latest templates. Please feel free to integrate

[2017-12-18 19:16] danroth27 opened #202 "Update individual user accounts templates to use identity as a library"
Update the individual user accounts templates should include identity as a library (see https://github.com/aspnet/Identity/issues/1473). Users that want the source code back so they can have more control can scaffold back the identity code (see https://github.com/aspnet/Scaffolding/issues/666)

[2017-12-19 17:05] djarekg opened #203 "angular-cli template: hmr support"
Will hmr support be added to the new preview angular-cli template?

[2017-12-20 05:56] danroth27 opened #205 "SignedOutModel in Razor Pages project template is missing a namespace"

[2017-12-21 06:28] mlorbetske opened #206 "The templates favicon"
_From @guardrex on October 3, 2017 2:56_

I don't see a favicon here, so this might be the wrong place to ask. The `dotnet new` templates favicon isn't attractive ...

![favicon1](https://user-images.githubusercontent.com/1622880/31107913-7c7aba48-a7bb-11e7-9f0c-45961a01cb7c.png)

Any interest in using the *really nice looking* MS logo favicon? (or *anything else* :smile:)

![favicon2](https://use

[2017-12-21 06:28] mlorbetske commented on #206
_From @PureKrome on October 3, 2017 5:35_

one of these should be the `favicon`

(yes, reduce size, pixelate, etc)

![](https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/at-dotnet-bot.png?v=636154283130000000)

![](http://images.danielwmoore.com/wp/MS-ninjacat-unicorn-office-xbox-windows-bing.png)

[2017-12-21 06:28] mlorbetske commented on #206
_From @guardrex on October 3, 2017 5:40_

They both :guitar: *ROCK* :guitar:!

I know it's a small thing, but I think MS should make a statement here. Hit them with a favicon that everyone can be proud of.

[2017-12-21 06:28] mlorbetske commented on #206
_From @ctolkien on October 3, 2017 5:46_

Here is my vote:

![image](https://user-images.githubusercontent.com/515955/31111520-52814e60-a85a-11e7-9e35-58923f7e6365.png)

#neverforgot

In all seriousness. I don't think a favicon should be shipped in the templates. They should be things you _build_ on, not things you need to remove and/or entirely replace.

[2017-12-21 06:28] mlorbetske commented on #206
_From @guardrex on October 3, 2017 5:51_

The thing about the *favicon.ico* is that browsers will (often) just check the base URL (domain) for it. It kind'a makes them "happy" :smile: if it's just there. If we'll provide it, then let's see something nice there.

[2017-12-25 01:18] virzak opened #207 "AntiForgeryToken on React/Redux with Create React App"
Is there an example of setting AntiForgeryToken with CRA?

Looking into https://github.com/aspnet/JavaScriptServices/issues/1074, but didn't find any example of SSR support. According to https://github.com/aspnet/templating/issues/189#issuecomment-351082453 SSR support is coming when CRA implements it.

Is there any way to pass anything from Server Side to CRA using the following?

[code]
Not sure

[2017-12-27 21:56] Tratcher opened #208 "Add CookiePolicy to the non-empty templates"
https://github.com/aspnet/Security/issues/1561

[2017-12-29 03:18] #181 closed

[2017-12-29 18:10] mkArtakMSFT commented on #207
@SteveSandersonMS, any thoughts around this?

[2017-12-29 21:39] #202 closed

[2017-12-29 22:55] mkArtakMSFT commented on #205
@jbagga, I assume this wasn't intentional, was it?

[2017-12-29 23:09] jbagga commented on #205
Not aware of when this happened. Maybe before porting to the new templating repo. I can take a look!

[2017-12-31 06:40] Bumbolio opened #215 "Routes using query string parameters don't work in the Knockout-CSharp template"
I attempted to register a route that had a query string parameter but crossroads wasn't picking it up.  Here is an example route.
[code]
The problem was that the query string portion of the url was not included when invoking `crossroads.parse()`.  By including `document.location.search` in the string being passed to `crossroads.parse()`, this issue is resolved.  Followed the History.js example fro

[2017-12-31 06:48] Bumbolio commented on #215
I went a head and opened PR #216 with a proposed fix.

[2018-01-02 10:21] SteveSandersonMS commented on #207
I'm afraid CRA doesn't support SSR, so this is not a feature we can offer right now. The basic limitation is that when CRA builds your app, the resulting artifact is not a Node-compatible module, so it can't be loaded and run there.

It's a little different with Angular CLI, because Angular CLI explicitly supports a `platform: 'server'` config option that causes it to build a Node-compatible bundl

[2018-01-02 10:21] #207 closed

[2018-01-02 11:42] SteveSandersonMS commented on #207
Oh wait, I think I realized what you're really asking for. You don't necessarily want to enable SSR at all - you just want a way of modifying the initial HTML using server-side code (e.g., so you can inject CSRF token info).

This is tricky because that initial HTML gets served in two different ways: (1) in development, the request is proxied to the CRA server, (2) in production the `index.html` f

[2018-01-02 11:53] SteveSandersonMS commented on #207
As a much simpler alternative for the CSRF-token use case, you could consider exposing an endpoint that returns the current token to the client via a `fetch` request. However, this has different security implications than the usual method for delivering the token in the initial HTML (because obviously you don't want a code on a third-party origin to be able to retrieve it, plus it makes exploitati

[2018-01-02 11:57] SteveSandersonMS commented on #203
It inherits the same auto-reloading feature that's built into Angular CLI. We're not planning to add any different feature besides what's built into Angular CLI.

[2018-01-02 11:57] #203 closed

[2018-01-02 14:09] virzak commented on #207
@SteveSandersonMS thanks for your response.

Just to confirm, even with the injection middleware you're saying that calculating and injecting initial redux state on the server is impossible since CRA won't run on the server?

Could injection be used to serialize initial redux state by calling the API from the middleware and injecting the serialized API response?

I have recently came across AMA wi

[2018-01-02 16:16] #69 closed

[2018-01-02 16:17] SteveSandersonMS commented on #69
Done.

[2018-01-02 16:32] SteveSandersonMS commented on #207
CRA produces `.js` bundles that don't run in Node. So this means at least you can't run your normal Redux store code on the server.

I don't know how you would call any of your .js APIs from .NET code, given that CRA produces bundles that don't run on the server in Node.

See the docs at https://github.com/aspnet/JavaScriptServices/tree/dev/src/Microsoft.AspNetCore.SpaServices#3-supplying-javascri

[2018-01-02 20:56] jbagga opened #217 "Add fallback css and js files for Razor Pages template"
The Razor Pages template is missing some min files:

1. lib/bootstrap/dist/css/bootstrap.min.css
2. lib/bootstrap/dist/js/bootstrap.min.js
3. lib/jquery/dist/jquery.min.js

This is only a problem for the offline template creation scenario.

[2018-01-02 22:37] jbagga commented on #159
We now target netcoreapp2.1 https://github.com/aspnet/templating/commit/886a9857262ac664b7fefe8b6fdfa29f063adc45
cc @Eilon

[2018-01-02 23:46] jbagga commented on #9
After merging #204 all instances of ApplicationException have been removed from this repo

[2018-01-02 23:46] #9 closed

[2018-01-02 23:47] #101 closed

[2018-01-03 18:44] Tratcher commented on #86
This is no longer required. UseIISIntegration was built into CreateDefaultBuilder so there's minimal concern of taking up space in the template.
https://github.com/aspnet/MetaPackages/blob/afee0de3e416f8e2807c7d49ad2bdef5016dae5f/src/Microsoft.AspNetCore/WebHost.cs#L185

[2018-01-03 18:44] #86 closed

[2018-01-04 04:57] Rick-Anderson opened #218 "Feature request: email confirmation resent."
We have lots of customer complaints at the end [Account confirmation and password recovery in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?tabs=aspnetcore2x%2Csql-server)

[2018-01-04 21:58] Eilon commented on #208
@Tratcher / @blowdart / @DamianEdwards - is this needed for preview 1?

[2018-01-04 22:02] Eilon commented on #45
@danroth27 / @rynowak / @pranavkm - should we get this into Preview1? Seems like a simple change that will help us get feedback on the greatness of `[ApiController]` and friends

[2018-01-04 22:02] blowdart commented on #208
Yes. @DamianEdwards has been commenting on a PR

[2018-01-04 22:03] Eilon commented on #208
Ah cool, so this can stay.

[2018-01-04 22:04] Eilon commented on #62
@ajcvickers I'm assigning this to you as well because it's tracking https://github.com/aspnet/templating/pull/134.

[2018-01-04 22:05] Eilon commented on #62
And this is listed in preview1, so let's find out ASAP what needs to be done.

[2018-01-04 22:10] javiercn commented on #62
I believe this is blocked on https://github.com/aspnet/Identity/issues/1497. I'll let @ajcvickers and @HaoK  and @blowdart figure it out.

[2018-01-04 22:11] javiercn commented on #62
The main issue is that the updated migrations apparently create indexes and those indexes are too big in some platforms, but I don't have all the context.

[2018-01-04 22:30] pranavkm commented on #45
With the exception of the first bullet not being fully fleshed out (we have the validation filter, we don't do RFC7807), there's enough in here to start getting some feedback.

[2018-01-05 01:54] rynowak commented on #45
Should we add `[ApiController]`?

[2018-01-05 03:23] danroth27 commented on #45
I think we should

[2018-01-05 19:19] #185 closed

[2018-01-05 23:04] mkArtakMSFT commented on #217
@jbagga, please confirm those should be included in the templates before actually including them. Thanks!

[2018-01-05 23:40] ajcvickers commented on #62
@HaoK and I came up with a plan and he is working on it as a priority. Shouldn't be more than a few days work.

[2018-01-05 23:55] mkArtakMSFT commented on #53
@seancpeters , which OS and what version of the dotnet.exe are you using? You can get the version information running "dotnet --version".

[2018-01-06 00:11] seancpeters commented on #53
@mkArtakMSFT - I couldn't tell you what version I was running back when this issue was reported - I'm one of the devs for dotnet/templating, so I'm constantly revving / running bleeding edge versions of dotnet new / new3. The specific version of dotnet probably wouldn't matter for this issue, it was a template content problem.

Looking at https://github.com/aspnet/templating/blob/dev/src/Microsoft

[2018-01-06 00:20] seancpeters commented on #53
I think this commit fixed it:
https://github.com/aspnet/templating/commit/5325c65b880db94f5bbcfd1a3912a251f23f4ec1#diff-22cf2c570a91119419f66b3eed95c9b3

[2018-01-08 23:08] #45 closed

[2018-01-08 23:50] Tratcher opened #221 "[F#] Add CookiePolicy to the F# web template"
See https://github.com/aspnet/templating/pull/213

[2018-01-09 01:55] pranavkm opened #222 "Specify DebugType = Full for desktop targeting projects < net471"
We made a change to Mvc as part of 2.1.0-preview to use the app's DebugType setting to determine the view's pdb type. The SDK defaults this value to `portable` which does not correctly work for desktop applications targeting < net471. We'll workaround this in our templates by explicitly specifying `DebugType = Full` in our desktop templates when the tfm < net471

[2018-01-09 01:55] pranavkm commented on #222
cc @rynowak \ @DamianEdwards

[2018-01-09 15:20] k-vekos opened #223 "Project breaks TypeScript debugging with VSCode + Chrome + webpack"
I am getting this error message when launching chrome for debugging in VSCode while building + running from VS2017:

[code]

Here is my source code, it is simply using the starter template when you create a new Angular 2, .NET Core project from VS2017:

[VSCodeDebugError.zip](https://github.com/Microsoft/vscode/files/1549155/VSCodeDebugError.zip)

Here's my repro steps:

1. Open and run the applic

[2018-01-09 18:10] blowdart opened #224 "Microsoft Security Advisory CVE-2018-0785 - ASP.NET Core Templates enable Cross Site Request Forgery"
# Microsoft Security Advisory CVE-2018-0785
## ASP.NET Core Templates enable Cross Site Request Forgery
### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the public versions of ASP.NET Core  2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a Cross Sit

[2018-01-09 18:11] blowdart opened #225 "Microsoft Security Advisory CVE-2018-0784 - ASP.NET Core Templates enable Elevation Of Privilege Vulnerability"
# Microsoft Security Advisory CVE-2018-0784
##  ASP.NET Core Templates enable Elevation Of Privilege Vulnerability
### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the public versions of ASP.NET Core  2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of

[2018-01-09 18:29] scottsauber commented on #224
@blowdart - I think the fix for Razor Pages is incorrect on the GenerateRecoveryCodes.cshtml.

Specifically this piece `<a asp-action="ResetAuthenticatorWarning">reset your authenticator keys.</a>`.  This would work for MVC, but not Razor Pages.  I think you want `<a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>`

[2018-01-09 18:32] blowdart commented on #224
@pranavkm?

[2018-01-09 18:46] pranavkm commented on #224
Yup, that link's broken. It needs to be changed to `<a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>` like @scottsauber says.

[2018-01-09 18:47] blowdart commented on #224
OK I can update the advisory, you need to log a template bug, and get it updated.

[2018-01-09 18:50] pranavkm opened #226 "Link on Razor Pages individual auth template page GenerateRecoveryCodes is broken"
There's a bug in the 2.0.5 Razor Pages individual auth template where the link in GenerateRecoveryCodes.cshtml is incorrect:

[code]

Needs to be changed to

[code]

[2018-01-09 18:53] pranavkm commented on #226
Tracking fixing this in the Identity repo via https://github.com/aspnet/Identity/issues/1558.

[2018-01-09 19:08] mkArtakMSFT commented on #53
Thanks @seancpeters.
Yes, the issue is fixed already. Closing the bug.

[2018-01-09 19:08] #53 closed

[2018-01-09 19:12] guardrex commented on #224
I've filed a docs issue to cover the doc samples for both the security advisories and the bad link.

https://github.com/aspnet/Docs/issues/5144

[2018-01-09 20:09] PinpointTownes commented on #225
For those interesting in learning more about this beast, I wrote a blog post with all the details: http://kevinchalet.com/2018/01/09/why-you-should-never-use-html-raw-in-your-razor-views/.

[2018-01-09 20:43] #208 closed

[2018-01-09 22:26] natemcmaster opened #228 "Merge release/2.0.0 back to dev"
The 2.0.5 patch went out today. To make sure we are keeping dev and release branches in sync, let's merge the release/2.0.0 branch back to dev.

FYI I started to do this, but there were a bunch of changes that I'm not familiar with. Not sure what should be brought back into dev or not.

cc @pranavkm

[2018-01-10 18:14] TheBlueSky commented on #225
A correction. In the last paragraph of "" summary:

I believe the Security Advisory is CVE-2018-0785 not CVE-2018-0783.

[2018-01-10 18:30] blowdart commented on #225
Thanks @TheBlueSky, corrected.

[2018-01-11 21:17] javiercn opened #229 "Privacy banner should not cover the navigation menu on the template"
![image](https://user-images.githubusercontent.com/6995051/34847607-c7d1103c-f6d0-11e7-88f3-fd1b48cfe618.png)

As someone who visits a lot of european sites, its incredibly annoying that I can't use the site without clicking accept (which we shouldn't force on our users)

The way this is typically handled on most sites is as either a relative element at the bottom of the page or a static element a

[2018-01-11 21:42] javiercn commented on #229
@DamianEdwards @Tratcher

[2018-01-11 21:53] danroth27 opened #230 "Update SPA template package IDs for 2.1"
If you install an SDK that carries the 2.1 ASP.NET Core SPA templates then the 2.0 templates disappear in VS. This is because the package ID for the SPA templates is not unique between 2.0 and 2.1 so the 2.0 templates get updated to be 2.1 templates. We should create separate version specific package IDs for the SPA templates like we do for the other web templates.

[2018-01-12 12:16] TheBlueSky commented on #225
Under "How do I fix my affected application?", Razor Pages section, the first point says:

Instead, it should say:

The referenced HTML code is in the Razor page not the page Model.

[2018-01-12 12:27] TheBlueSky commented on #224
The link to the other vulnerability in "Executive Summary" section is incorrect; it references announcement #284 instead of #285.

[2018-01-12 19:28] pranavkm commented on #226
Broken link is fixed in Identity UI - https://github.com/aspnet/Identity/commit/e44cba9b752cf54ef75504051d291ae299a17779#diff-f6ffc3b753a4210ef639736b520f99daR19. Using this to track porting it for 2.0.x

[2018-01-14 20:07] miroslavpopovic commented on #224
Step 4, under ASP.NET Core 2.0 Web Application (MVC), when creating new `GenerateRecoveryCodesWarning()` method - the last line of the method should be:

    return View(nameof(GenerateRecoveryCodes));

instead of:

    return View(nameof(GenerateRecoveryCodesWarning));

since there is no `GenerateRecoveryCodesWarning.cshtml` view.

[2018-01-14 20:49] miroslavpopovic commented on #225
Same comment that I left on issue #224:

Step 6, under ASP.NET Core 2.0 Web Application (MVC), when creating new `GenerateRecoveryCodesWarning()` method - the last line of the method should be:

    return View(nameof(GenerateRecoveryCodes));

instead of:

    return View(nameof(GenerateRecoveryCodesWarning));

since there is no `GenerateRecoveryCodesWarning.cshtml` view.

I have just checked the

[2018-01-15 13:58] djdu opened #232 "Visual Studio Professional 2017 15.5.3 update broke HMR"
I'm stuck with the Visual Studio Professional 2017 15.5.3 update. HMR is not starting. It worked fine before I updated the visual studio.

`An unhandled exception occurred while processing the request.
NodeInvocationException: Prerendering failed because of error: Error: Cannot find module "./selectors"`

`AspNetCore._Views_Home_Index_cshtml+<>c__DisplayClass16_0+<<ExecuteAsync>b__0>d.MoveNext() i

[2018-01-16 03:17] scottaddie commented on #232
Duplicate of https://github.com/aspnet/JavaScriptServices/issues/1477

[2018-01-16 17:34] Petermarcu opened #233 "dotnet new mvc generates a project that doesn't work"
@jhudsoncedaron opened this here: https://github.com/dotnet/core/issues/1221

# Issue Title

`dotnet new mvc` generates a project that doesn't work

I have only ever attempted to run the result of `dotnet new mvc` followed by `dotnet publish -r win7-x64`

# General

OS: Windows 10 x64

I installed dotnet nightly version 2.2.0-preview1-007947 to try to debug another issue I was hitting.

After a co

[2018-01-16 17:36] mkArtakMSFT commented on #233
Thank you for contacting us. We are aware of the issue you're facing and are actively working to fix it. //cc @pranavkm

[2018-01-16 17:37] pranavkm commented on #233
Fixed in https://github.com/aspnet/Mvc/commit/b20e35e76abf78f3f99e52e336ff429083b9cb8c

[2018-01-16 17:37] #233 closed

[2018-01-16 22:45] HaoK commented on #62
5d2f598c8094f4c0b00e430ddd50512fc32fe3eb

[2018-01-16 22:45] #62 closed

[2018-01-17 16:50] Eilon commented on #230
@SteveSandersonMS - can you get this done for preview1?

cc @mlorbetske / @seancpeters FYI

[2018-01-17 17:55] Eilon opened #235 "Set MVC compat version to 2.1 in the 2.1 templates"
Compat switches for MVC were introduced in https://github.com/aspnet/Mvc/pull/7142.

Presumably, the 2.1 templates should set the compat mode to 2.1, because otherwise the default would be the 2.0 behavior.

@rynowak - what are your thoughts on the recommended way to set the switch? Is there (or should there be) a config-based way to set it? Or just do it in code in `.AddMvc(...)`?

cc @danroth27

[2018-01-17 18:26] Eilon commented on #170
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 18:27] Eilon commented on #226
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 19:09] jbagga commented on #170
Since this change is about adding an app.config by default to net 4.x apps, it may be a lot easier for users to specify the GC they want to use by toggling the <gcServer enabled="true"/> property in their app.config (instead of adding another file with a switch). Thoughts? @Eilon

[2018-01-17 19:29] rynowak commented on #235
It should be in code.

[2018-01-17 19:33] danroth27 opened #236 "Update page authorization conventions to use the new overloads that support areas"
Update this:

[code]

to this:

[code]

Once https://github.com/aspnet/Mvc/issues/7246 is fixed

[2018-01-17 19:46] Eilon commented on #235
cc @mkArtakMSFT FYI

[2018-01-17 19:46] Eilon commented on #170
Yup, no switch needed for this.

[2018-01-18 00:35] jbagga opened #237 "Appveyor reports NS_ERROR_FILE_NOT_FOUND warnings on PR builds"
~1. The build does not install the runtime store and Travis tests fail with the following:~
[code]

https://travis-ci.org/aspnet/templating/jobs/330125248#L1803

2. The Appveyor build reports a warning
[code]

https://ci.appveyor.com/project/aspnetci/templating/build/1.0.184#L109

This is the PR: https://github.com/aspnet/templating/pull/231

cc @natemcmaster @SteveSandersonMS

Are the templating

[2018-01-18 04:51] Rick-Anderson opened #238 "Razor Pages individual auth template page LoginModel missing [AllowAnonymous]"
To Repo:

1.  Create a RP (Razor Pages) app with individual user accounts.
1.  Add  [RequireAuthenticatedUser](https://github.com/Rick-Anderson/QS2_long2/blob/master/QS2long/Startup.cs#L46-L59) to StartUp.
1.  Add [AllowAnonymous] to *Pages/Index.cshtml.cs*

Run the app. Tap Register/Login/About and it trys to redirect you to the Login page, but the LoginModel doesn't allow anon, so it redirects r

[2018-01-18 14:05] jmzagorski opened #239 "Aurelia is missing event-source-polyfill for IE"
From this issue in the old repo: https://github.com/aspnet/JavaScriptServices/issues/365, I noticed that [Aurelia](https://github.com/aspnet/templating/blob/dev/src/Microsoft.AspNetCore.SpaTemplates/content/Aurelia-CSharp/package.json) on the dev branch is missing this event-source-polyfill. It is present in Knockout and Vue.

[2018-01-18 16:49] SteveSandersonMS commented on #230
Yes, definitely.

[2018-01-18 16:55] SteveSandersonMS commented on #237
I don't know for sure, but I wonder if it has anything to do with this: https://github.com/aspnet/templating/blob/dev/test/Templates.Test/Helpers/AspNetProcess.cs#L45 It's an existing workaround for a runtime-store-publishing-related issue. Maybe that workaround is no longer correct for the newest SDK.

I'll try to debug what's changed on Monday if that's OK.

As for the tests on Travis, we haven'

[2018-01-18 23:04] jbagga commented on #237
The failing Travis check is on a 2.0.x patch PR and that does not have the work around https://github.com/aspnet/templating/blob/release/2.0/test/Templates.Test/Helpers/AspNetProcess.cs#L33

Appveyor does pass but the warnings are pretty consistent

[2018-01-19 00:11] #235 closed

[2018-01-19 15:20] #232 closed

[2018-01-19 17:42] djdu opened #242 "Why are we moving away from typescript for React/Redux project template?"
I started working on the JavaScriptServices React/Redux template for my project. Now I see the new template is moving away form TypeScript and lot of code changes. Is there any explanation for this attempt?

[2018-01-19 18:57] #170 closed

[2018-01-19 23:35] jbagga opened #243 "Mac tests on Travis fail with PlatformNotSupportedException for libcurl and SSL"
Mac fails because of a known error https://github.com/dotnet/corefx/issues/9728 with the following:
[code]

Requires investigation as .NET Core 2.x should not need OpenSSL for MacOS https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites?tabs=netcore2x#visual-studio-for-mac

https://spin.atomicobject.com/2017/09/28/net-core-osx-libcurl-openssl/

See https://github.com/aspnet/templating/pu

[2018-01-21 23:29] javiercn opened #245 "Update the templates to make the identity UI use the template layout by default"

[2018-01-22 03:49] javiercn opened #247 "Update Individual user accounts to use a different context type"
The default one can't be  used side by side with other contexts.
We can:
* Do nothing and force users to upgrade the context to a custom context if they want to use more than one context.
* Add a different context on the library (which means we only need to change the context here on startup)
* Generate a custom context by default on the template in which case we need to update the migrations.

[2018-01-22 18:30] mkArtakMSFT opened #248 "Update the JQuery dependency in the templating"
Update the JQuery dependency in the Knockout project

[2018-01-23 16:55] SteveSandersonMS commented on #223
Closing in favour of https://github.com/aspnet/JavaScriptServices/issues/1467

[2018-01-23 16:55] #223 closed

[2018-01-23 17:23] SteveSandersonMS commented on #242
Yes, the intention is for each of the SPA templates to be as consistent as possible with the de-facto standards used by each SPA technology. For Angular, that means using Angular CLI (which does produce TypeScript-based projects), and for React, that means using create-react-app (which produces modern JavaScript-based projects, not TypeScript).

If we didn't do this, and instead made up our own pr

[2018-01-23 17:23] #242 closed

[2018-01-23 17:26] SteveSandersonMS commented on #239
I'll leave this open because the inconsistency across the templates is bad, but if we are changing it, it's likely that we'll make them consistent by *removing* the polyfills from the Knockout/Vue templates. It's 2018 and modern SPA templates typically don't include IE polyfills by default, but rather allow developers to add those polyfills if they need them. Thanks for reporting it!

[2018-01-23 22:22] javiercn commented on #247
https://github.com/aspnet/templating/commit/d159cb9b00cd6ecd6672f894bc19a7cd267746b3

[2018-01-23 22:22] #247 closed

[2018-01-24 01:42] #245 closed

[2018-01-24 15:56] paulsperanza opened #255 "Angular CLI template does not work with CLI 1.6.5"
I updated the CLI on my machine, 1.6.1 to 1.6.5. I created a new sample app and it would not work as the browser showed CANNOT GET.

I downgraded the CLI back to 1.6.1, recreated a new app and it works. The sample app package.json looks for 1.6.3. Not sure if this is an issue or expected behavior. Maybe the global CLI has to be the same as the package.json version or lower.  Anyway, that's what I

[2018-01-24 16:15] Tratcher commented on #238
Infinite redirect

Module | RequestFilteringModule
-- | --
Notification | BeginRequest
Handler | aspNetCore
Error   Code | 0x00000000
Requested   URL | https://localhost:44379/Account/Login?ReturnUrl=%2FAccount%2FLogin%3FReturnUrl%3D%252FAccount%252FLogin%253FReturnUrl%253D%25252FAccount%25252FLogin%25253FReturnUrl%25253D%2525252FAccount%2525252FLogin%2525253FReturnUrl%2525253D%252525252FAccount%2

[2018-01-24 20:20] #248 closed

[2018-01-24 21:12] pwdst commented on #224
I concur with @miroslavpopovic in that the view `View(nameof(GenerateRecoveryCodesWarning))` doesn't exist, but rather than change the GenerateRecoveryCodesWarning controller method to return `View(nameof(GenerateRecoveryCodes));` the instructions should be changed to **delete** the existing GenerateRecoveryCodes.cshtml view and create a **new** GenerateRecoveryCodesWarning view with the contents

[2018-01-24 21:48] pwdst commented on #225
I'm not sure if this CVE modification is intended to be made independently of CVE-2018-0785 or if CVE-2018-0785 fix is a compound fix which incorporates the fixes in this CVE mitigation.

As @miroslavpopovic noted, the view `View(nameof(GenerateRecoveryCodesWarning))` doesn't exist. The action is created in this fix, but there is no corresponding view created.

In [CVE-2018-0785](https://github.co

[2018-01-24 21:50] blowdart commented on #225
Yes, it looks like there's been a mix up between the two template updates, as well as some incorrect initial information I used to create the issue this month. I'm working on corrections.

[2018-01-24 23:17] #230 closed

[2018-01-25 18:09] #226 closed

[2018-01-25 18:42] natemcmaster opened #261 "Tests fail due to missing npm package @angular-devkit/core"
Tests on the release/2.1 branch fail with this error:

https://travis-ci.org/aspnet/templating/jobs/333393331#L1873
[code]

cc @SteveSandersonMS

[2018-01-25 19:19] SteveSandersonMS commented on #261
It's this issue: https://github.com/angular/angular-cli/issues/9307, which it looks like will be resolved when we update to a slightly newer version of Angular CLI.

[2018-01-25 19:30] natemcmaster commented on #261
Ok, I'll try upgrading our CI to node 8

[2018-01-25 19:54] pranavkm commented on #228
Merged in to release/2.1 in https://github.com/aspnet/templating/commit/a6eb93cfdd10c387c80fe67d9be7b8e006515fbb
Merged in to dev in https://github.com/aspnet/templating/commit/b0bb1980433eaed138977e7dbaec39c0193ff9a4

[2018-01-25 19:54] #228 closed

[2018-01-25 20:29] natemcmaster commented on #261
Ok, that appeared to fix it. Closing as I added a check that asserts Node is >= 8.0. https://github.com/aspnet/templating/commit/354905dc0060850f7a2dc57442b69918e6eed4cd

[2018-01-25 20:29] #261 closed

[2018-01-25 22:13] jbagga commented on #164
I was able to repro with a 2.0 MVC app but not in dev

[2018-01-25 23:20] jbagga commented on #164
For Chrome 63:

It may be because in 2.0 the server sends the CookieTempDataProvider cookie as a Response Cookie and the redirect to ExternalLogins does not send the same as the Request cookie.

In dev, the CookieTempDataProvider received is sent back as a Request cookie and TempData appears as expected.

This does not repro in Firefox though.

I am investigating further if Google Chrome has an is

[2018-01-25 23:30] jbagga commented on #164
It has been fixed in 2.1 and there is a workaround for running into this issue. See [this comment](https://github.com/aspnet/Mvc/issues/7190#issuecomment-355639083)

Add this to your Startup.cs
[code]

[2018-01-25 23:32] #164 closed

[2018-01-26 00:52] jbagga commented on #166
Testing with 2.0.0:

There is no bug in the template as far as I can tell. The ModelState expects `Code` as the key and the template provides that correct key to add the error to.

@arlenniu can you elaborate what the issue you're hitting is? Which SDK are you using? Are you able to provide more context/sample related to your scenario?

[2018-01-26 20:13] georgiosd commented on #156
Any updates on this one? We're in January now so wondering if we have a new release date - this doesn't seem to work in rc1 either

[2018-01-26 23:13] danroth27 opened #263 "Update ASP.NET Core 2.1 templates to use fixed ports when running from the command-line"
The ASP.NET Core 2.1 templates currently generate random ports for the generated app, including the project launch profile. This make it tedious to then browse to the application when launched from the command line. We should change the project launch profile to specify explicitly the default ports (5000 & 5001) using the ASPNETCORE_URLS environment variable.

[2018-01-26 23:51] Eilon commented on #263
@jbagga here's a preview1 item for you.

[2018-01-26 23:51] Eilon commented on #263
Please sync with @danroth27 if you have questions on this.

[2018-01-27 00:26] #263 closed

[2018-01-28 21:58] poke opened #267 "Revisit default bundling behavior"
This is in response to the resolution in #20 and #89:

---

If you currently create a new ASP.NET Core application and you are not using an SPA-template (which uses Webpack for building), then you are in the unfortunate situation that the project appears to be using the [bundling and minification feature](https://docs.microsoft.com/en-us/aspnet/core/client-side/bundling-and-minification) yet that’

[2018-01-28 23:41] guardrex commented on #67
@natemcmaster @jbagga Just curious if any of these (especially the first two) are under consideration? We can close this if not.

[2018-01-28 23:41] poke commented on #267
Also tangentially related to this: With #161, the templates got rid of the last instances of using Bower to add in client-side dependencies. Unfortunately, Bower did not get replaced by something that does this job, so the versions that are used in the templates are fixed now with no clear path on how to upgrade. So the user is left with solving that problem on their own [which is not that simple

[2018-01-28 23:45] guardrex commented on #267
Let's cross-ref https://github.com/aspnet/templating/issues/67, since I'm asking about the client lib versions in that one.

[2018-01-28 23:53] guardrex commented on #206
@natemcmaster @jbagga Is this under consideration for 2.1. The little dot.net robot (or something) would be soooo much nicer than what we have now imo. It would help make our doc samples pop if we had something cool up there.

[2018-01-29 04:42] ctolkien commented on #206
My reasons for voting removal:

* Browsers cache this _really_ aggressively - if the wrong favicon gets loaded in, it can be really difficult to get rid of it or have it update. I swear for just about every project we've done, there has been a "why isn't the bloody favicon showing up?!"
* Favicons are now much more complex than a single icon. Different DPI modes, `apple-touch-icon`, `mask-icon`, `

[2018-01-29 17:26] murbanowicz opened #268 "Razor template should be updated to Bootstrap 4"
Hello,

Bootstrap 4 has been released so razor template should be updated to Bootstrap 4 instead of forcing everyone to rework it by themselves.

[2018-01-29 19:49] jbagga commented on #166
@arlenniu Closing for now. Please feel free to reopen this issue with more information

[2018-01-29 19:49] #166 closed

[2018-01-29 20:48] natemcmaster commented on #206
cc @Eilon for triage

[2018-01-29 21:08] Eilon commented on #206
We will review this in the next template triage, but for the reasons mentioned by others, we are very unlikely to add this.

[2018-01-29 21:08] natemcmaster commented on #67
cc @Eilon @SteveSandersonMS for triage

[2018-01-29 21:36] guardrex commented on #206
This issue isn't about "adding" a favicon (adding size/type versions or even necessarily removing it). The question is about *replacement*. The current favicon is *ugly as hell* imo. :smile: I'm asking for consideration on an eye-pleasing dot.net robot dude or some similarly nice looking replacement. Specifically, I'm asking because the doc samples look bad with this favicon on display.

[2018-01-29 21:37] poke commented on #206
For the reasons pointed out by @ctolkien, can we at least *remove* the current favicon until we have a clearer plan on how to move forward?

[2018-01-29 21:37] Eilon commented on #206
Ah, I forgot there already was one. I think the only reason we ever added one was to avoid all the HTTP 404's that you will get if it isn't there.

[2018-01-29 21:50] ctolkien commented on #206
Sure, but you'll get a half dozen iOS specific 404's now anyway. (iOS has gotten better at this in more recent versions... but still).

[2018-01-29 21:52] Eilon commented on #206
Yeah times have changed, so it's worth considering.

BTW I find the 404's most annoying during local web dev and I see the logs streaming in from the console. So, it's only a desktop browser (Chrome/Edge/whatever), so the number of favicons they look for is I think fairly limited.

[2018-01-29 21:55] guardrex commented on #206
If it's removed, then @Rick-Anderson might approve one for our doc samples (so we would add it when building a sample), which would make me happy.

[2018-01-29 22:06] #205 closed

[2018-01-30 01:07] jbagga commented on #217
@phenning Any idea why only Razor Pages was missing some min files in aspnet/Templates repo? It was carried over to templating and was discovered as part of offline testing.

MVC: https://github.com/aspnet/Templates/tree/dev/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/wwwroot/lib/bootstrap/dist/css
RazorPages: https://github.com/aspnet/Templates/tree/dev/templ

[2018-01-30 01:27] JunTaoLuo opened #270 "Change templates to use Microsoft.AspNetCore.App"
Now that we have split the shared framework and metapackage into Microsoft.AspNetCore.App and Microsoft.AspNetCore.All we should convert our default templates to use .App. This needs to go into 2.1.

IIRC we also need to add sqlite dependencies in the templates for OSX using EF?

cc @DamianEdwards @ajcvickers @natemcmaster @Eilon

[2018-01-30 08:01] Eilon commented on #270
For SQLite, wouldn't we need it on all non-Windows templates? (Not just OS X)

[2018-01-30 15:38] ljnotes opened #271 "Remove hardcoded year value 2017"
@natemcmaster

It would be great to replace the hardcoded copyright year value `2017 - Company.WebApplication1` from [RazorPagesWeb-CSharp\Pages\_Layout.cshtml](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/_Layout.cshtml) with `@DateTime.Now.Year`.

Though it has no functional implications, it would make the application

[2018-01-30 17:24] natemcmaster commented on #271
A PR would be great :)

[2018-01-30 17:54] Eilon commented on #271
We'll review this in template triage.

[2018-01-30 17:54] Eilon commented on #271
We might want to just not have a year at all. Showing the current year is often incorrect.

[2018-01-30 18:09] Eilon commented on #271
Ok I read some more, and maybe we do need a year... we'll see.

[2018-01-30 18:43] phenning commented on #217
@jbagga  It looks like they were never included when the template was first authored by @glennc:

https://github.com/dotnet/templating/tree/rel/2.0.0-servicing/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/RazorPagesWeb-CSharp/wwwroot/lib/bootstrap/dist/css

[2018-01-30 22:09] #217 closed

[2018-01-31 12:33] georgiosd opened #273 "How to help get the react template working properly?"
Hi :)

I have been looking for a decent starter for dotnet core and React (with none of the Typescript) and this is the only sane project I've found.

The only problem I have is that when I make a change to the UI, the dotnet server freezes (or at least it seems that way on the browser).

How could I help fix this?

EDIT: this particular problem seems to somehow be related to fiddler! I don't show

[2018-01-31 18:38] jbagga commented on #237
https://github.com/mozilla/geckodriver/issues/923 Maybe we need to use a newer Firefox version than 47 https://www.appveyor.com/docs/how-to/selenium-testing/
cc @SteveSandersonMS

[2018-01-31 21:47] veikkoeeva opened #274 "Aurelia template fails to build with WebPack 4"
I opened this originally in https://github.com/aspnet/JavaScriptServices/issues/1499, but I'm not sure which repository is the right one. The issue replicated:

### Functional impact
ASP.NET Core 2.0 application fails to start with the following error messages printed to the console:
[code]

### Minimal repro steps
Create ASP.NET Core 2.0 application "normally" and do `Install-Package Microsoft.As

[2018-02-01 01:34] Pilchie opened #276 "Observed some BOM/non ASCII characters in appsettings.json in .net core web api project"
_From @shinkarmv on January 22, 2018 16:42_

While working with appsettings transformations using python script in Docker file.
I have observed that some BOM/non ASCII characters in the starting of appsettings.json

Please find screenshot below for reference
![image](https://user-images.githubusercontent.com/31374791/35232511-a587348a-ffc1-11e7-9f82-287cded2edfe.png)

These characters came by defa

[2018-02-01 01:34] Pilchie commented on #276
Likely a UTF-8 BOM?

[2018-02-01 01:34] Pilchie commented on #276
@BillHiebert ?

[2018-02-01 01:34] Pilchie commented on #276
_From @shinkarmv on January 22, 2018 16:54_

Yes @Pilchie.  These are BOM characters.

[2018-02-01 01:34] Pilchie commented on #276
_From @shinkarmv on January 22, 2018 17:49_

I have cross verified the unit test at SchemaStore repository and observed no BOM character in it.

Please see below screenshot for reference.

![image](https://user-images.githubusercontent.com/31374791/35235561-86c41afa-ffca-11e7-85c5-fca50eae9deb.png)

Regards,
Mukesh

[2018-02-01 01:34] Pilchie commented on #276
@jmarolf @mlorbetske - do you know where this comes from?

[2018-02-01 01:34] Pilchie commented on #276
_From @jmarolf on January 23, 2018 21:11_

@mlorbetske I believe these come from the WebToolsExtensions repo

[2018-02-01 01:34] Pilchie commented on #276
_From @shinkarmv on January 26, 2018 8:11_

Hi @Pilchie ,

I did some analysis on the aforementioned issue and finally got the Project Template for WEB API for C# .net core app.

Repository - https://github.com/aspnet/templating

Template link - https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/WebApi-CSharp/appsettings.json

I have validated appsettin

[2018-02-01 06:07] DamianEdwards commented on #271
I've heard both, and most recently that you don't need it, but also that it should be hard coded to the date of publish, not auto-set to whatever today is. Oh and the templates used to emit it as `@DateTime.Now.Year` but we removed it. Also, **not** using `DateTime.UtcNow` on a server makes me sad, which is another reason not to change this :smile:

[2018-02-01 06:17] DamianEdwards commented on #271
Some references...

From https://www.copyrightlaws.com/copyright-notice-year/

From https://stackoverflow.com/questions/2390230/do-copyright-dates-need-to-be-updated:

From https://www.nolo.com/legal-encyclopedia/when-do-you-need-copyright-notice-websites-and-where-do-you-place-it.html:

[2018-02-01 06:22] DamianEdwards commented on #271
Certainly the template source itself shouldn't be hard coded: it should be printing into the output project the current year (which is perhaps what the original @ljnotes intended in the first place). I could possibly be convinced it should be changed to emit something like `&copy; 2017-@DateTime.Now.Year - Company.WebApplication1`

[2018-02-01 06:26] DamianEdwards commented on #268
Agreed. We'll have to do an assessment of how much work this is before we commit to it for 2.1 however.

@Eilon can we have someone take a look please?

[2018-02-01 06:27] DamianEdwards commented on #268
Oh and if we do this it would be all templates, not just the Razor Pages version.

[2018-02-01 07:29] natemcmaster commented on #271
Not hard to do. cref https://github.com/dotnet/templating/wiki/Available-Parameter-Generators#now

[2018-02-01 14:51] ljnotes commented on #271
@DamianEdwards

Yes, exactly.

If we output `2017-2018`, we would be talking about the copyright of the template source right. The generated output can be kept simple by using the current year I presume?

[2018-02-01 16:33] BillHiebert commented on #276
@Pilchie  Yes these come from the template. Is there a concern about the characters being there? @phenning

[2018-02-01 16:36] Pilchie commented on #276
I don't know if we have an all-up policy, but the de-facto standard for most linux and OSX users will be UTF-8 *without* BOM.  It may be unexpected to have the BOM is all.

[2018-02-01 16:50] phenning commented on #276
I know there was a policy within Visual Studio for template content to generate files with BOMs in Visual Studio. Now that the template content is decoupled from Visual Studio, I'm uncertain if this is still a requirement.

[2018-02-01 17:28] shinkarmv commented on #276
Since, BOM characters are illegal/invalid in JSON. It  leads to break JSON parsers as well.
However, appsetting contains complete JSON data.

That's why, I think these characters should get removed from appsetting file.

cc: @pilchie

Regards,
Mukesh

[2018-02-01 18:07] Eilon commented on #276
Interesting: https://tools.ietf.org/html/rfc7159#section-8.1

   JSON text.  In the interests of interoperability, implementations
   that parse JSON texts MAY ignore the presence of a byte order mark
   rather than treating it as an error.

[2018-02-01 18:17] DamianEdwards commented on #271
Yeah I meant we could have it output a range (given it seems that's common for web properties) with the starting year being when the project was created (dynamically generated by the template) and the ending year be dynamically generated by the app. But to make it super correct, it'd have to ensure it only prints a range when the diff is actually more than a full year, so I think we can leave that

[2018-02-01 20:13] jbagga opened #277 "Switch to the more-reliable Selenium-based tests by using web-driver"
To mitigate flaky failures we may want to consider adding retries to tests. The CI flakiness has gone down ever since we updated npm but this should still be considered for random local test failures.

cc @javiercn @SteveSandersonMS

[2018-02-01 20:57] #270 closed

[2018-02-01 21:06] Rick-Anderson commented on #218
How is this for a workaround?

Model a solution by looking at the following methods on the Account Controller, `ForgotPassword`, and `Register`.  The register method has the code generating the token (code) and callback for sending the email confirmation.  Create get, post methods named `ResendEmailConfirmation` on the Accounts controller.
@HaoK

[2018-02-01 21:11] javiercn commented on #277
Yes. I think that adding a global retry policy for the tests is a good way to improve the resiliency of these kind of tests. There are samples documenting how to do this with xUnit and it can help with selenium time outs.

Another option is to drastically increment selenium timeouts (for lets say 2 minutes) at the cost of tests taking longer to fail. (It should not affect existing running tests).

[2018-02-01 21:13] peterblazejewicz opened #278 "Bootstrap 4 update [project wide]"
Hi folks,

Is anyone tasked with this already at the team or working on this from the community? Or is there a side project maybe already created and ready for review?
I'd happy to help,

Thanks!

[2018-02-01 21:24] peterblazejewicz opened #279 "The TypeScript template item comes with CSS content [bug]"
https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.Client.ItemTemplates/content/TypeScript/file1.ts

[code]

YW

[2018-02-01 21:34] peterblazejewicz opened #280 "Should the `.gitignore` templates be brushed up?"
The `.gitignore` templates are somehow out of sync from VS gitignore templates.

This applies to template items `.gitignore` and to the main project `.gitignore` (I've to use Raider on OS X and this creates changes in repo, I assumed no changes after using the git ignore project)

https://raw.githubusercontent.com/github/gitignore/master/VisualStudio.gitignore

Thanks!

[2018-02-02 00:39] Eilon commented on #271
We closed the related PR because we want to use the tech that @natemcmaster showed because we want the year to be burned into the project at the time the template is executed.

[2018-02-02 00:44] Eilon commented on #255
@SteveSandersonMS - thoughts on this?

[2018-02-02 00:46] Eilon commented on #238
We should change the code to do this so that everything works better once people make changes:

[code]

We also need to change it in the Identity.UI package in the Identity repo (cc @javiercn FYI).

[2018-02-02 00:50] Eilon commented on #236
THis is already done in the identity UI: https://github.com/aspnet/Identity/blob/dev/src/UI/IdentityDefaultUIConfigureOptions.cs#L37-L38

cc @javiercn FYI

[2018-02-02 00:50] #236 closed

[2018-02-02 00:50] #229 closed

[2018-02-02 01:02] javiercn commented on #238
Allow anonymous doesn't work on Pages. I don't exactly know what's going on here, but auth is not configured like that (at least in 2.1). The login page was never under an authorize filter.

[2018-02-02 01:03] Eilon commented on #206
Closing because for the reasons mentioned at https://github.com/aspnet/templating/issues/206#issuecomment-361399077, we do want a favicon, so we can't delete it completely. As far as what to put, we don't want to put a Microsoft or .NET logo because that would imply the site being built is associated with those.

Ultimately, each site author needs to come up with their own logo and use that, so we

[2018-02-02 01:03] #206 closed

[2018-02-02 01:06] javiercn commented on #238
Yeah, we should do this

[2018-02-02 01:13] guardrex commented on #206
That's a very good reason. However ......

![uglyfavicon](https://user-images.githubusercontent.com/1622880/35711620-771918f6-0783-11e8-88e4-bfbc2b7e9e0c.png)

really? ... *REALLY*??? :smile: lol .... It doesn't need to be an image associated with the Foundation or MS. Certainly something better than that could have been devised.

[2018-02-02 05:19] Eilon commented on #206
Yeah it's not a beautiful icon, but given that we expect people to swap it out anyway, it doesn't matter a whole lot...

[2018-02-02 05:40] guardrex commented on #206
... but in terms of doc samples, which do prominently represent the framework. We're forced to use the templates for the samples. This one doesn't do anything for my *beautiful* doc samples. I guess it's possible that we could be granted permission for doc samples to use a different icon.

I'm not too concerned about it, of course. I know it doesn't really matter. I just think that if there is an

[2018-02-02 05:41] Eilon commented on #206
Your dinosaur icon looks pretty cool. Go ahead and use that in the docs 😄

[2018-02-02 05:49] PureKrome commented on #206
![](https://78.media.tumblr.com/00db1814b3e29b4373420806dcfc7487/tumblr_inline_n1zwiryPoQ1solpjm.gif)

![](https://78.media.tumblr.com/43e63461d1e3f22a49b18dbf15227a1d/tumblr_inline_n3t10oQfIh1solpjm.gif)

[2018-02-02 08:44] poke commented on #267
/cc @Eilon – I would appreciate your input on this if you have some time.

[2018-02-02 18:04] javiercn opened #282 "Update ports section on vs-2017.3.host.json"
We broke VS as part of the changes to enable HTTPS and launchSettings.json by default. VS is not passing a port for HTTP, so it's getting generated randomly (VS does some extra checks to ensure that the port is available).

## Bad

[code]

## Good

[code]

[2018-02-02 18:14] Eilon commented on #282
Approved for preview1.

[2018-02-02 18:33] #282 closed

[2018-02-02 20:50] ryanbrandenburg opened #286 "Flaky tests: RazorPagesTemplate_IndividualAuth_Works_NetFramework etc"
I set:
- `RazorPagesTemplateTest.RazorPagesTemplate_IndividualAuth_Works_NetCore`
- `RazorPagesTemplate_IndividualAuth_Works_NetFramework`
- `MvcTemplate_IndividualAuth_Works_NetFramework`
- `MvcTemplate_IndividualAuth_Works_NetCore`

to ignore for now because they [fail](http://aspnetci/viewLog.html?buildId=397497&tab=buildResultsDiv&buildTypeId=Coherence_UpdateRepos#testNameId-693221223723751100

[2018-02-02 20:53] peterblazejewicz opened #287 "The `react` template ships with broken CSS resource in production mode"
[code]
[code]
[code]
and there is no `site.cs` there, this yields expected: `Failed to load resource: the server responded with a status of 404 (Not Found)` - not fancy for template content.

Thanks!

[2018-02-02 21:23] peterblazejewicz opened #289 "Minor coding issue with `react` sample (no props passed from super in constructor)"
Hi,
Here:
https://github.com/aspnet/templating/blob/1d9585b69d14bc0a8538ca65e11da021fff4d711/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/Counter.js#L6-L7
and in TS sample

FB:
https://reactjs.org/docs/composition-vs-inheritance.html
https://github.com/facebook/create-react-app/blob/19e0bb1881e24fb1ee3fe421413d4d87e67f68dd/packages/react-scripts/fixtu

[2018-02-02 21:25] peterblazejewicz opened #290 "Why some templates ships with `.gitignore` by default, why the others do not?"
Why is that e.g. Spa templates create a `.gitignore` while the same server type of project (static, no client side app), ships without that file template?

Thanks!

[2018-02-02 21:47] peterblazejewicz opened #292 "Some UI love to error pages"
Can the error pages be redesigned?
At least can the white space be added to clearly separate the content (important information to the developer) from the viewport edge? (the readability is being hurt IMO)

Thanks!

![20180202224338](https://user-images.githubusercontent.com/14539/35756273-eee0c78e-086a-11e8-8566-4e21ae02f017.jpg)
![20180202223845](https://user-images.githubusercontent.com/14539/3

[2018-02-03 00:33] Eilon commented on #290
The SPA templates have a wider variety of content that is more likely to benefit from a .gitignore file. It's difficult to predict what a good file would be for all tempaltes, so we placed them only where they were clearly needed.

[2018-02-03 00:33] #290 closed

[2018-02-03 00:34] #280 closed

[2018-02-03 00:35] #279 closed

[2018-02-03 00:38] Eilon commented on #292
Can you point out exactly where the issue is? It's not clear to us from the images where the problem is. Thanks!

[2018-02-03 00:39] Eilon commented on #289
@SteveSandersonMS can you take a look?

[2018-02-03 00:40] Eilon commented on #287
@SteveSandersonMS can you take a look?

[2018-02-03 00:42] Eilon commented on #278
Not currently planned, though we do intend to do this at some point.

[2018-02-03 00:43] Eilon commented on #268
Closing as a dup of https://github.com/aspnet/templating/issues/278 because the other bug is broader in scope. Thanks!