[2018-08-25 11:38] jtheisen commented on #242
The way that these changes happen is unexpected and not properly communicated. I had nothing but a waste of time with these templates.

[2018-08-25 11:40] jtheisen commented on #242
Besides, the framework that makes the best use of Typescript's strengths is React, not Angular.

[2018-08-25 11:50] jtheisen commented on #572
@tpetrina Well, they damn well should support that. It's the only technological combination that lets you wire the ui to the business model in a type safe manner. It's state-of-the-art.

I agree that sometimes it's overkill: It's overkill in those cases where I my JS is so little that it's justified to live inline in Razor pages. So really those cases where I don't use any JS templates anyway.

Th

[2018-08-25 11:57] jtheisen commented on #572
@tpetrina Also, Microsoft doesn't support anything anyway. They release admittedly fairly good stuff, but that's it. The only reason I want to use those templates is because it's easy to get react hot loading wrong without it. On Windows, if you have spaces in the path name, as you often do as it contains your username, hot loading silently won't work. MS don't care as they are now run by people w

[2018-08-25 12:04] jtheisen commented on #572
Besides, why on earth are you people hiding those templates behind command line tools anyway? What's wrong with just keeping them in a GitHub repo for convenient cloning with variants on different branches? That way users could immediately see what's changed on some minor version bump and check out an earlier version if they want what they got last time they used it.

[2018-08-25 12:54] jtheisen opened #708 "Templating rant - why don't you guys just use a git repo?"
I just figured that the new React template is not longer Typescript, despite them having the same name as they used to have, which prompts me to go on this rant.

The ASP.NET Core templates have been quite the time waster for me so far, much unlike the classic ASP.NET VS templates that hardly ever changed.

But really I just don't get why the templates are distributed through dedicated tools such

[2018-08-25 12:55] jtheisen commented on #572
[I filed a dedicated ticket with my complaints.](https://github.com/aspnet/Templating/issues/708)

[2018-08-25 12:55] jtheisen commented on #242
[I filed a dedicated ticket with my complaints.](https://github.com/aspnet/Templating/issues/708)

[2018-08-25 20:41] kakins opened #709 "NG Development Server not refreshing page post Angular 6 upgrade"
I migrated my project from Angular 5.2 to 6.  My project runs now with no errors, however I don't think the development server is behaving correctly.

Whenever I launch in debug, I no longer see that the development server is running in the Debug output.

Secondly, whenever I save a file, the app does not refresh in the browser.  I've tried starting the server manually, and it does detect changes

[2018-08-25 22:06] kakins commented on #709
I was able to find someone who had a very similar issue with the browser not refreshing, but the code was recompiling on save.

https://github.com/angular/angular-cli/issues/4329#issuecomment-391334004

I deleted the contents of the /dist folder, which apparently may have been running an old build.  After doing so and restarting the project in visual studio, the browser is refreshing.

However I'm

[2018-08-27 16:54] mkArtakMSFT commented on #709
Thanks for contacting us, @kakins.
Glad that you found the cause for the issue you were facing.
While we do our best to look through all the issues filed here, to get a faster response we suggest posting your last questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-08-27 16:54] mkArtakMSFT commented on #709
/cc @SteveSandersonMS

[2018-08-27 16:58] mkArtakMSFT commented on #708
Thanks for your feedback, @jtheisen.
@danroth27, I'll leave this one for you to handle.

[2018-08-27 16:59] ryanbrandenburg commented on #559
Thanks @mrward!

[2018-08-27 16:59] #559 closed

[2018-08-27 17:47] Rick-Anderson commented on #683
@joeaudette

[code]

[2018-08-27 17:55] joeaudette commented on #683
@Rick-Anderson that looks good to me. I'm going to implement something similar to that in my cloudscribe project. I guess we just need another partial view to be shown once we do have initial consent, but more out of the way like a small link in the footer, next to the privacy policy link. And it can do a post to a method like that to withdraw consent.

[2018-08-27 18:07] mkArtakMSFT commented on #52
/PING @glennc

[2018-08-27 18:11] glennc commented on #680
Let me clarify a couple of things to make sure everyone is on the same page. The  right click gesture in VS comes from the docker tooling team, it does more than just having a docker file it configures your project to allow F5 debugging into your app inside the container.

We have talked a lot about having a Dockerfile as an option when creating ASP.NET Core projects. Initially we didn't do it bec

[2018-08-27 18:38] omerlh commented on #680
Thanks for clarifying :) So, to summarize, can we say this is on the roadmap and will be available sometime in the future?

[2018-08-27 19:03] Rick-Anderson commented on #683
@joeaudette  sounds like a great blog if others want to do the same.

[2018-08-27 19:12] joeaudette commented on #683
@Rick-Anderson yes, great idea. Probably a blog post showing how to add it in the standard project templates would be best. Pretty easy to do really. For cloudscribe it will be just built in. I'll see if I can find the time to do that and write a post soon.

[2018-08-27 21:19] Eilon opened #711 "Design issues in react template with .net core 2.2 preview 1"
_From @Amine-Smahi on Thursday, 23 August 2018 18:40:55_

![image](https://user-images.githubusercontent.com/24621701/44543491-961ea300-a707-11e8-99eb-341b4ac692d0.png)

_Copied from original issue: dotnet/core#1888_

[2018-08-27 21:29] Eilon opened #712 "Suggestions for the .NET Core 2.2 Preview 1"
_From @Amine-Smahi on Thursday, 23 August 2018 18:00:55_

Suggestion :
1) The page1 an page2 navbar links should link to real pages and they should be about and contact, That will be helpful to demonstrate the routing, and how you link to other pages.
2) For better UI consistency the page1 and page2 navbar links should be aligned to the right (in mvc project)
3) Change the url from https://example

[2018-08-27 21:31] Eilon commented on #712
Issues (1) and (3) are bugs and I think are already fixed for the upcoming preview.

Issue (2) and (4) I'm not sure about so I'll let the template experts comment on those.

[2018-08-27 22:19] mkArtakMSFT commented on #712
Thanks for contacting us, @Amine-Smahi.
Eilon is right, some of these issues are things we plan to have fixed in the upcoming preview2 release.

@Amine-Smahi, regarding your second point, that is something we've spotted too and @ryanbrandenburg has taken action item to fix it.

@ryanbrandenburg, we should indeed use SEO friendly URLs.

@ryanbrandenburg, please make sure this is the case:

For the

[2018-08-27 22:35] mkArtakMSFT commented on #680
Your understanding is correct, @omerlh.

[2018-08-27 23:01] ryanbrandenburg commented on #712
1. This one is all up to Dan.
2. Actually @mkArtakMSFT, Page1 and Page2 being aligned left was a very specific request from @danroth27. He wanted those links aligned left, and the Login,Register links aligned right (if they exist).
3. Where are you seeing the `?action=Index&controller=Home` links? I'm not seeing that anywhere when I test locally, but like @Eilon says, it may have just already gone

[2018-08-27 23:01] ryanbrandenburg commented on #712
Blocked on @danroth27's responses.

[2018-08-27 23:13] ryanbrandenburg commented on #700
@mikeharder this doesn't replicate for me locally. Do you happen to still have the script you used? Does it replicate without doing other tests in parallel?

[2018-08-28 12:43] SteveSandersonMS commented on #709
@kakins I'm afraid I don't know why you're seeing any particular change in behavior, since I don't know how exactly you upgraded from Angular 5 to 6 and what config or file layout changes you made in the process.

In general, upgrading from Angular 5 to 6 is a pretty complex process since they changed how the config system works entirely. Our recommended Angular 6 structure is what we're shipping

[2018-08-28 12:49] joeaudette commented on #683
@Rick-Anderson just blogged this, please let me know if you think it is ok or needs any changes.
http://www.joeaudette.com/blog/2018/08/28/gdpr---adding-a-revoke-consent-button-in-aspnet-core

[2018-08-28 16:19] mkArtakMSFT commented on #709
Thanks @SteveSandersonMS!
Closing this per your response.

[2018-08-28 16:19] #709 closed

[2018-08-28 16:36] Rick-Anderson commented on #683
First let's be clear, this is not a legal opinion, nor a recommendation. I'm not an attorney. But the blog looks great to me.

[2018-08-28 17:44] joeaudette commented on #683
Thanks @Rick-Anderson ! and thanks for a great idea for a post!

[2018-08-28 18:14] kakins commented on #709
@SteveSandersonMS Understood, and I suppose that makes a little more sense now.  Is there any recommended approach for updating a project that was based on a previous version of Angular?

I basically went through the Angular update guide (https://update.angular.io/).  After that I had to try and find out what changes occurred in the VS template.  Like I said, I got it working but I'm almost certai

[2018-08-29 09:15] SteveSandersonMS commented on #709
@kakins I'm afraid there isn't an automated process, but the upgrade guide you've followed covers most of it. Going forwards we're increasingly trying to decouple the ASP.NET Core parts from the Angular parts so that, for example, when it comes time to upgrade to Angular 7+ then even if Angular has changed significantly, it should involve minimal changes on the ASP.NET Core side. It's always a tra

[2018-08-29 10:31] benaadams opened #714 "Empty template has `Information` Console logging on in Production"
This hits throughput quite severely e.g. https://github.com/dotnet/core/issues/1899

Setup and running
[code]
Benchmarking
[code]

Changing to `Warning` level by adding `appsettings.json` containing
[code]
Benchmarking
[code]

[2018-08-29 15:22] sebastienros commented on #714
Dup of https://github.com/aspnet/Templating/issues/512 ?

[2018-08-29 15:49] mkArtakMSFT commented on #714
Yes, this is indeed a dupe. I'm closing this one, @benaadams, as the other issue is already being worked on.

[2018-08-29 15:49] #714 closed

[2018-08-29 15:50] mkArtakMSFT commented on #714
The difference indeed is huge!

[2018-08-29 17:30] mkArtakMSFT commented on #706
Done per @ryanbrandenburg.

[2018-08-29 17:30] #706 closed

[2018-08-29 17:33] mkArtakMSFT commented on #540
@ryanbrandenburg, seems like the PR has been already merged. Can you please verify that the change is in release/2.2 milestone, as the PR was for aspnet/dev branch.

[2018-08-29 17:34] mkArtakMSFT commented on #512
Seems this is already done. Thanks @ryanbrandenburg!

[2018-08-29 17:34] #512 closed

[2018-08-29 17:49] mlorbetske commented on #708
Let's discuss the dotnet new globally applicable points over at https://github.com/dotnet/templating/issues/1652

[2018-08-29 17:54] mkArtakMSFT commented on #712
@ryanbrandenburg it seems there are some things @danroth27 should clarify and that'll happen as part of preview3. For now, go ahead with part of the changes you have PRs for.

[2018-08-29 18:13] ryanbrandenburg opened #715 "Centralize content"
We have some repeated content in our templates (site.css is one example) that we basically have to copy between each project which makes this very error prone. Let's centralize these items and run a pre-build preparation task which copies any needed files to be built into the templates.

[2018-08-29 18:35] ryanbrandenburg commented on #574
Thanks for the report and the PR!

[2018-08-29 18:35] #574 closed

[2018-08-29 18:50] mikeharder commented on #700
I only saw this repro once when running many tests in parallel.  I will close this for now, but if it repros again we'll need to understand what's happening and how my tests can workaround it.

[2018-08-29 18:50] #700 closed

[2018-08-29 19:19] danroth27 commented on #708
@jtheisen I can certainly understand your frustration with the amount of change with the SPA templates. Our goal with the SPA templates is to keep them up to date with the current best practices for using the various SPA frameworks (React/Angular) with ASP.NET Core. But, the client-side world changes pretty quickly, which means the SPA templates have to change rapidly to keep up. To enable using o

[2018-08-29 19:19] #708 closed

[2018-08-29 23:08] ryanbrandenburg commented on #540
Yep, this is in release/2.2.

[2018-08-29 23:08] #540 closed

[2018-08-29 23:15] ryanbrandenburg commented on #465
@jongalloway your link is broken now.

[2018-08-29 23:17] ryanbrandenburg commented on #107
We should run "Keros for web" against the output of our templates as part of our CI process.

[2018-08-29 23:39] ryanbrandenburg commented on #712
3 and 4 were merged into 2.2.0-preview2. Assigning to @danroth27 to decide on 1 and 2.

[2018-08-30 00:05] danroth27 commented on #712
@DamianEdwards I lean towards putting the navbar links consistently *on the left* and bringing back Home, About and Contact. This would keep some consistency with our earlier templates and reduce the amount of documentation churn. Having the Page1 and Page2 links that don't go anywhere makes the template feel broken. Thoughts?

[2018-08-30 09:19] Razzeee opened #717 "Print errors from npm build tasks"
Hey there,

it's quiet annoying, that npm build errors don't get shown in the output.

[code]

So I mostly resort to running `ng start` when it feels like there might be an error that I'm not able to figure out without any help.

Way nicer, would be to let the dotnet build process relay these build infos.

[2018-08-30 09:40] dmitry-pavlov opened #718 "Typo in template: "route." instead of "routes.""
When you create a default ASP.NET Core Web Application and then add new area with scaffolding it generates "route." instead of "routes."

[2018-08-30 17:12] ryanbrandenburg commented on #712
I would really prefer to not bring back About and Contact. We just removed them. "Home" and "Privacy" seem like fine values there if we don't like "Page1" and "Page2".

[2018-08-30 17:45] mkArtakMSFT commented on #718
This issue was moved to aspnet/Scaffolding#863

[2018-08-30 17:45] #718 closed

[2018-08-30 18:11] Eilon commented on #712
I like @ryanbrandenburg 's suggestion. I'd rather have fewer pages and make do with what we have. Making the links actually work seems reasonable.

[2018-08-30 18:14] ryanbrandenburg commented on #712
To be clear, the "Page1" and "Page2" links both work, they just lead you to `/`, so it might appear that nothing happened.

[2018-08-30 18:29] mkArtakMSFT commented on #712
To make it more explicit that the links actually work, what if we change the links and add querystring parameters for the page name `/?page=page1` and `?page=page2`. This would remove the confusion.

[2018-08-30 18:43] Eilon commented on #712
Naah I don't like the query string, that also just looks like a bug.

@ryanbrandenburg thanks for the clarification. I think having it actually navigate to Home and Privacy would be good.

[2018-08-30 22:37] ryanbrandenburg opened #720 "Consider moving SPA template packages to number post-fix naming scheme"
The "Regular" project templates have a 2.2 post-fix, but SPA packages do not. Let's see what the costs and benefits of making these two the same are.

[2018-08-30 22:40] ryanbrandenburg opened #721 "Make template package description say only installable with dotnet new --install"
As per https://github.com/aspnet/Universe/pull/1365#pullrequestreview-151204050

[2018-08-31 16:11] mkArtakMSFT commented on #666
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-31 16:11] #666 closed

[2018-08-31 16:45] mkArtakMSFT commented on #717
Thanks for contacting us, @Razzeee.
@SteveSandersonMS do you know how we can make this happen?

[2018-09-03 09:00] SteveSandersonMS commented on #717
We're invoking NPM just using an MSBuild `<Exec>` task, which already does emit all the console output that it gets back from the child process. As such I think we *do* emit any errors to the output.

[2018-09-03 09:08] SteveSandersonMS commented on #717
Oh, my guess is that you're not talking about publishing at all, but rather talking about errors during the normal development cycle. In that case these aren't NPM errors, but in fact are Angular CLI build errors.

In development, we run the Angular CLI build as part of the app startup, not as part of the .NET build, because the idea is that you can keep editing the Angular files and they get reco

[2018-09-03 09:42] Razzeee commented on #717
Yes, I'm talking about the development cycle.

I did some more digging and found that our logging is just setup wrong. So I'm very sorry for bringing this up at all.

[2018-09-03 09:42] #717 closed

[2018-09-03 10:55] Amine-Smahi commented on #712
![image](https://user-images.githubusercontent.com/24621701/44983192-43977f00-af70-11e8-819e-cb5e61d50838.png)
The button classe is missing in angular project

[2018-09-03 11:06] Amine-Smahi opened #722 "Unnecessary file on angular template"
In .NET Core 2.2 preview1 the default angular template comes with a counter.component.spec.ts file witch is useless

![image](https://user-images.githubusercontent.com/24621701/44983591-9a518880-af71-11e8-8a3e-4a1e6cd0ff58.png)

[2018-09-03 22:39] Amine-Smahi commented on #712
@Eilon @mkArtakMSFT @danroth27

[2018-09-03 23:17] Amine-Smahi opened #723 "How to Scaffold Identity UI in ASP.NET Core 2.2 preview1"
In ASP.NET Core 2.1 we had the chance to use scaffold using visual studio like this

![image](https://user-images.githubusercontent.com/24621701/45003154-48dbe480-afd7-11e8-9085-a67371374fb1.png)

But now in ASP.NET Core 2.2 preview1 the new scaffold item is missing in visual studio

![image](https://user-images.githubusercontent.com/24621701/45003175-88a2cc00-afd7-11e8-8892-995109ee7ae8.png)

[2018-09-04 07:08] mkArtakMSFT commented on #723
This issue was moved to aspnet/Scaffolding#867

[2018-09-04 07:08] #723 closed

[2018-09-04 16:15] ryanbrandenburg commented on #712
@Amine-Smahi we already [submitted a fix](https://github.com/aspnet/Templating/blob/release/2.2/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/app/counter/counter.component.html#L7) for that one but thanks for the feedback!

[2018-09-04 18:28] mkArtakMSFT commented on #52
Hi.

Thanks for your feature proposal.
While this may be a good idea, this is not a priority for us for the near future.
If, however, we'll see a good community interest in this issue, we'll reconsider it in the future.

[2018-09-04 18:28] #52 closed

[2018-09-04 20:48] ryanbrandenburg commented on #722
This `spec` file is not useless, it provides tests (run by `ng test` from within ClientApp). It follows what's generated by the CLI and the guidance from the [Angular docs](https://angular.io/guide/testing#test-file-name-and-location). In fact, to reflect what's generated by the Angular CLI when you do `ng generate component <componentName>` we should add `.spec.ts` files on the other components t

[2018-09-04 20:48] #722 closed

[2018-09-04 21:21] ryanbrandenburg opened #724 "Bring F# templates in line with other templates"
We need to make the F# templates match their C# counterparts. It should mostly just be a matter of copying cshtml files.

[2018-09-06 21:58] ryanbrandenburg commented on #497
@mkArtakMSFT can we triage aspnet/BasicMiddleware#323 so we have a better idea of when we'll be able to do this?

[2018-09-06 22:02] ryanbrandenburg commented on #444
Talked to @phenning offline, he says he should be able to get started on this in the next few days or so.

[2018-09-06 22:10] ryanbrandenburg commented on #371
@mkArtakMSFT/@Eilon Do we want to actually port this back to 2.1 like the title says or should this now target 2.2?

[2018-09-06 22:44] ryanbrandenburg commented on #32
@mkArtakMSFT where is the internal OneNote page @kichalla mentioned [here](https://github.com/aspnet/jquery-validation-unobtrusive/wiki/Release-checklist)? I searched and couldn't find it.

[2018-09-06 22:45] ryanbrandenburg commented on #32
Also, we can remove anything having to do with the AJAX CDN from that checklist right?

[2018-09-06 22:53] ryanbrandenburg opened #725 "Template tests should baseline SPA templates"
Add

- angular
- react
- reactredux

to the baseline tests.

[2018-09-06 22:57] ryanbrandenburg commented on #725
We might as well include F# in these tests while we're at it. It would be VERY nice to do some kind of deduplication so that most of all of them aren't identical copies of bootstrap and jquery files.

[2018-09-07 11:35] guardrex opened #726 "Swap "webapp" for "razor" in template list"
Related: https://github.com/aspnet/Templating/issues/325

In the list of templates provided by `dotnet new list`/`dotnet new --help`, the Razor Pages template shows with the **razor** name. We're documenting **webapp** everywhere in aspnet/Docs. Therefore, we have a mismatch between what the docs call for devs to type and what the template list shows.

Would it be possible to swap them? ... Make t

[2018-09-07 11:58] Joshlo opened #727 "__RequestVerificationToken not generated when selecting API template"
Hi,

When creating a new "ASP.NET Core Web Application" and using the "API" template, if you then wants to add Razor Pages, then you get a 400 badrequest error every time you want to post a form, due to __RequestVerificationToken

 input doesn't gets generated in the html.

I haven't been able to find any differences compared to creating an "ASP.NET Core Web Application" and selecting the "Razor p

[2018-09-07 12:40] Joshlo commented on #727
Found the issue.
was missing @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers on the page/layout

[2018-09-07 12:40] #727 closed

[2018-09-07 16:42] mkArtakMSFT commented on #726
Yes, `webapp` is indeed an alias for `razor`.
The ask, though is reasonable.
@ryanbrandenburg, let's do this in `preview3`.

[2018-09-07 16:46] Rick-Anderson commented on #726
Any change you could go back to the 2.1 version of the razor templates with Index/about/contact in lieu of the new version with page1, page2 and no layout.

[2018-09-07 16:58] mkArtakMSFT opened #728 "Change the default `password reset` to off"

[2018-09-07 20:32] ryanbrandenburg opened #730 "Minified css files are wrong"
The script we used to generate minified css files had a mistake in it and garbage (an error message from npm) got written into site.min.css files instead.

We need to re-generate these files with the correct data.

[2018-09-07 20:39] ryanbrandenburg opened #732 "Verify generated content with a linter or similar"
Right now this is only our site.min.css files. We should (as part of our tests) verify that the contents are at least valid css.

[2018-09-07 20:40] ryanbrandenburg commented on #732
Fixed by #731.

[2018-09-07 21:37] ryanbrandenburg commented on #730
Fixed by #731.

[2018-09-07 21:38] ryanbrandenburg commented on #730
To work around this edit the reference to `~/css/site.min.css` in your `_Layout.cshtml` file to `~/css/site.css`.

[2018-09-07 21:57] ryanbrandenburg commented on #726
@Rick-Anderson what exactly are you asking there, you just want us to revert all the work we did for 2.2 template visuals?

[2018-09-07 22:10] Rick-Anderson commented on #726
The 2.2 Razor Pages templates are radically different from 2.1 templates- is that correct? Is there a good reason for the change? That's a major impact to our documentation pages.

[2018-09-07 22:29] ryanbrandenburg commented on #732
Something like `npx csslinter %(AllOurCSSFiles)` would do the trick.

[2018-09-07 22:53] danroth27 commented on #726
@Rick-Anderson Yes, that is expected. As part of updating from Bootstrap 3 to Bootstrap 4 we decided to do a UI refresh on our templates. We understand that this has a major impact on the docs. This kind of change isn't something we should do frequently, but with the move to Boostrap 4 it seemed appropriate.

[2018-09-07 22:57] Rick-Anderson commented on #726
@danroth27 thanks. They look much simpler than the previous templates so that should be a win for everyone - once we get them documented. I'll get the work scheduled.

[2018-09-10 01:01] dubeg opened #734 "Angular 6's dev server with HMR"
I have trouble setting up UseProxyToSpaDevelopmentServer with the angular dev server with HMR set up. It seemed to work before updating the Angular app to version 6.2.1. Before, it was version 5.x.x, I think.

I followed the instructions from the angular-cli's [document](https://github.com/angular/angular-cli/wiki/stories-configure-hmr), however I met some problems when trying it out.

Here's what

[2018-09-10 16:49] mkArtakMSFT commented on #734
Thanks for contacting us, @dubeg.
@SteveSandersonMS, can you please look into this? Thanks!

[2018-09-10 16:51] Eilon commented on #371
Definitely not 2.1.

[2018-09-10 17:47] SteveSandersonMS commented on #734
If you're using `UseProxyToSpaDevelopmentServer` then you shouldn't also configure Angular CLI to write the `dist` directory to disk. This will mean it no longer matters if you also have `UseSpaStaticFiles` (since there wouldn't be any files for it to server, it would have no effect).

For a more complete Angular 6 integration, please have a look at our ASP.NET Core 2.2 template for Angular 6: htt

[2018-09-10 18:29] dubeg commented on #734
@SteveSandersonMS

Oh, thank you. I have a last question then; [it seems that `ng serve` stopped deleting the `/dist/` folder by default](https://github.com/angular/angular-cli/issues/4366#issuecomment-387663799) (this is probably the change from v5 to v6 that broke my workflow).

The old flag `delete-output-path` doesn't work with `ng serve` anymore.

So.. either I add the delete statement in pac

[2018-09-10 18:55] ryanbrandenburg opened #735 "Generate package names in scripts"
Right now have the version of generated packages in our "run templates" scripts. This keeps going out of date and requiring us to update it by hand when it break. Lets instead get the Custom-Hive.ps1 functions to intelligently use the value from version.props.

[2018-09-10 19:26] ryanbrandenburg commented on #730
Fixed by aspnet/Templating#731.

[2018-09-10 19:26] #730 closed

[2018-09-10 19:40] ryanbrandenburg commented on #32
A reminder that I need to know where the OneNote is before I can use it.

[2018-09-10 19:50] ryanbrandenburg commented on #728
By this are your referring to [these](https://github.com/aspnet/Templating/blob/release/2.2/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json#L150)?
If so it's still unclear to me what the correct `"defaultValue":` is. Is there more context about this somewhere?

[2018-09-10 20:07] Eilon commented on #32
Can you email Kiran? And then change the wiki to be an actual link?

[2018-09-10 22:01] ryanbrandenburg commented on #32
Did so. I created a Coherence-Signed wiki page to link to instead, no need to have to leave GitHub.

[2018-09-12 15:05] scottaddie opened #739 "React & Redux template: componentWillMount is deprecated"
Moved from https://github.com/aspnet/Docs/issues/8503. Originally opened by @Carlcro. Related info here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html.

[2018-09-13 19:56] mkArtakMSFT commented on #728
@javiercn, can you please handle this? Thanks!

[2018-09-13 19:58] ryanbrandenburg commented on #550
This should be resolved in the next release. Thanks for the report!

[2018-09-13 19:58] #550 closed

[2018-09-13 21:42] #724 closed

[2018-09-13 23:40] ryanbrandenburg commented on #67
- I'm going to spin this off into it's own issue as it seems like it might require a bit of design.
- The crossorigin thing seems to have been sorted unless you want to point me at a line where it's missed.
- Looks like Privacy was the only remaining offender here, I'll have a PR out in a bit.
- Seems reasonable. I'll try it out.
- I'll play around with that and see how it looks.
- This seems to h

[2018-09-13 23:41] ryanbrandenburg opened #741 "Start setting lang element on pages"
We should start setting the `<lang>` html element on our pages using the current culture as per https://github.com/aspnet/Templating/issues/67#issue-265503099.

[2018-09-17 17:44] #728 closed

[2018-09-17 19:00] aspnet-hello opened #743 "Test failure: RazorPagesTemplate_IndividualAuth_Works_NetCore"
This test [fails](http://aspnetci/viewLog.html?buildId=555541&buildTypeId=Releases_21Public_Win2012) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact ryanbran

[2018-09-17 19:00] aspnet-hello commented on #743
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-17 19:00] aspnet-hello commented on #743
MvcTemplate_IndividualAuth_Works_NetCore [failed with about the same error](http://aspnetci/viewLog.html?buildId=555541&buildTypeId=Releases_21Public_Win2012) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-17 19:59] danroth27 commented on #67
@ryanbrandenburg This all sounds fine, except for the void elements. Let's leave them as closed.

[2018-09-17 22:39] mkArtakMSFT commented on #743
@javiercn, please look into this.

[2018-09-17 22:48] javiercn commented on #743
@mkArtakMSFT This error doesn't have anything to do with Identity and is a version mismatch in the assemblies used by the application I believe.

I would imagine that either the bits on the machine are incorrectly setup or that there is a bug producing the metapackage.

@natemcmaster Any idea about what in our infrastructure could be causing this?

[2018-09-17 23:08] mkArtakMSFT commented on #734
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-17 23:08] #734 closed

[2018-09-18 17:07] javiercn commented on #743
@ryanbrandenburg This doesn't have to do with Identity. Someone upgraded an underlying dependency and probably broke the shared framework.

[2018-09-18 19:06] Eilon commented on #741
Using the current culture? Or hard-coding to `en`? I think both options are problematic because even though the template by default is in fact in English, once the developer starts modifying the app, it might be setting the current culture to a more desired culture, but that's not necessarily true either.

My preference would be to leave it out unless we're certain we can do something meaningful.

[2018-09-18 23:17] ryanbrandenburg commented on #741
That's a good point, if someone is using client-side localization we would be lying. Given that I vote that we don't change anything. End-users can easily add it if it makes sense for their site.

[2018-09-19 17:10] ryanbrandenburg opened #746 "Improve SPA template startup time"
When a SPA template launches it can take a really long time to restore the NPM package, compile the JavaScript and generally be ready to use. It would be really nice (though possibly impossible) to improve the turnaround time here.

[2018-09-19 17:11] ryanbrandenburg commented on #746
I'm under the impression the answer here is "There's nothing to be done." But considering how slow they are I think it's worth spending the time to confirm that.

[2018-09-19 18:42] mkArtakMSFT commented on #746
@SteveSandersonMS, do you have any ideas about what we can do regarding this? Any suggestions?

[2018-09-19 21:23] Rick-Anderson opened #747 "2FA with login provider"
Copy from https://github.com/aspnet/Docs/issues/8583 by @jasonshave

Just some feedback around 2FA and these providers.

I wasn't able to get the mult-factor page to display if I used an external provider login. I had to add:

`if (result.RequiresTwoFactor)
            {
                return RedirectToPage("./LoginWith2fa", new { ReturnUrl = returnUrl });
            }`

...and also change this:

[2018-09-20 15:06] SteveSandersonMS commented on #746
Yes, [we have a long-term plan to solve this](https://blazor.net/).

Apologies, couldn't resist. Less flippantly, I don't have a good suggestion, as virtually all the setup time comes down to restoring NPM packages. We could make more of an effort to use `yarn` for people who have that installed on their machines, but that's not standard for Node environments so it wouldn't benefit everyone, nor i

[2018-09-20 21:09] mkArtakMSFT commented on #747
Thanks for contacting us, @jasonshave.
@javiercn, can you please look into this? Thanks!

[2018-09-20 21:12] mkArtakMSFT commented on #746
Ok, thanks guys. Seems like the only thing I can do is close this for now.

[2018-09-20 21:12] #746 closed

[2018-09-20 22:53] aspnet-hello opened #748 "Test failure: MvcTemplate_NoAuth_Works_NetFramework_ForFSharpTemplate"
This test [fails](http://aspnetci/viewLog.html?buildId=557861&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact ryanbrandenbu

[2018-09-20 22:53] aspnet-hello commented on #748
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-20 22:53] aspnet-hello commented on #748
MvcTemplate_WithIndividualAuth_NoHttpsSetToTrue_UsesHttps_NetFramework [failed with about the same error](http://aspnetci/viewLog.html?buildId=557861&buildTypeId=Lite_UniverseTest) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-20 23:05] ryanbrandenburg commented on #741
Seeing as there are no objections I'll close.

[2018-09-20 23:05] #741 closed

[2018-09-20 23:34] ryanbrandenburg commented on #67
This is all done now. Thanks for the report!

[2018-09-20 23:34] #67 closed

[2018-09-21 04:05] aspnet-hello commented on #748
MvcTemplate_NoAuth_NoHttps_Works_NetFramework_ForFSharpTemplate [failed with about the same error](http://aspnetci/viewLog.html?buildId=558150&buildTypeId=Lite_UniverseTest) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-21 16:50] mkArtakMSFT commented on #748
@ryanbrandenburg, can you please look into this? Thanks!

[2018-09-21 16:57] #578 closed

[2018-09-21 17:07] mkArtakMSFT commented on #483
Talked to @danroth27 offline regarding this and we're moving this out to a future release as we have not enough resources to handle this in the current milestone.

[2018-09-21 18:48] ryanbrandenburg commented on #748
This is the same thing as aspnet/Home#3544.

[2018-09-22 00:03] aspnet-hello commented on #748
There were 14 failures [with about the same error](http://aspnetci/viewLog.html?buildId=558745&buildTypeId=Lite_UniverseTest) on master:
- MvcTemplate_NoAuth_Works_NetFramework_ForDefaultTemplate
- RazorPagesTemplate_NoAuth_Works_NetFramework
- MvcTemplate_NoAuth_Works_NetFramework_ForFSharpTemplate
- MvcTemplate_WithIndividualAuth_NoHttpsSetToTrue_UsesHttps_NetFramework
- RazorPagesTemplate_NoAut

[2018-09-23 05:03] aspnet-hello commented on #748
There were 14 failures [with about the same error](http://aspnetci/viewLog.html?buildId=559515&buildTypeId=Lite_UniverseTest) on master:
- MvcTemplate_NoAuth_NoHttps_Works_NetFramework_ForDefaultTemplate
- AngularTemplate_NoHttps_Works_NetFramework
- EmptyWebTemplate_Works_NetFramework
- RazorPagesTemplate_WithIndividualAuth_NoHttpsSetToTrue_UsesHttps_NetFramework
- WebApiTemplate_Works_NetFramewo

[2018-09-24 15:49] scottaddie opened #750 "Adding component to React Redux ASP.NET Core React template"
Moved from https://github.com/aspnet/Docs/issues/8471. Originally opened by @KevinBurton.

[2018-09-24 18:33] aspnet-hello commented on #225
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:33] #225 closed

[2018-09-24 18:33] aspnet-hello commented on #224
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:33] #224 closed

[2018-09-25 04:28] aspnet-hello commented on #748
There were 14 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560636&buildTypeId=Lite_UniverseTest) on master:
- EmptyWebTemplate_Works_NetFramework
- RazorPagesTemplate_NoAuth_NoHttps_Works_NetFramework
- MvcTemplate_WithIndividualAuth_NoHttpsSetToTrue_UsesHttps_NetFramework
- RazorPagesTemplate_WithIndividualAuth_NoHttpsSetToTrue_UsesHttps_NetFramework
- RazorPagesTempl

[2018-09-25 22:47] #726 closed

[2018-09-25 22:48] #371 closed

[2018-09-26 00:08] aspnet-hello commented on #748
There were 14 failures [with about the same error](http://aspnetci/viewLog.html?buildId=561382&buildTypeId=Lite_UniverseTest) on master:
- MvcTemplate_NoAuth_Works_NetFramework_ForFSharpTemplate
- AngularTemplate_NoHttps_Works_NetFramework
- WebApiTemplate_Works_NetFramework
- RazorPagesTemplate_NoAuth_NoHttps_Works_NetFramework
- RazorPagesTemplate_WithIndividualAuth_NoHttpsSetToTrue_UsesHttps_Ne

[2018-09-26 18:48] monirkohi2006 commented on #555
I would like to note that this problem still exist and I was able to resolve it by adding <"homepage": "http://server_name/project_name",> to package.json file in the ClientApp folder.

![image](https://user-images.githubusercontent.com/32991357/46101860-d7c8c080-c181-11e8-9dfd-6fd73187b7e4.png)

[2018-09-26 19:51] #739 closed

[2018-09-26 22:00] javiercn commented on #747
@HaoK What is the actual flow supposed to be here? I don't think this has changed in the past release other than being put in the default UI

[2018-09-26 22:27] blowdart commented on #747
No. This is how it should be. External logins are protected by whatever the external login provider provides. We don't then layer anything else on top. Consider, for example, Google, my Google login demands a hardware key. I should not then be subjected to a second 2fa prompt by whatever web site I'm logging into wants. The current behaviour is fine. It's by design.

[2018-09-26 22:28] blowdart commented on #747
Tagging @jasonshave

[2018-09-26 22:33] javiercn commented on #747
Thank you for your feedback. We're closing this issue as the behavior discussed seems to be by design.

[2018-09-26 22:33] #747 closed

[2018-09-27 19:04] seancpeters opened #753 ".NET Framework 2.1 Web project doesn't restore"
Create a new project in Visual Studio with settings:
- On the new project dialog, select: "ASP.NET Core Web Application". Click ok.
- On the second screen, select: ".NET Framework", "ASP.NET Core 2.1", "Web Application".  Click ok.

The project creates, and attempts to restore. The error list is as follows:
![image](https://user-images.githubusercontent.com/20912881/46168387-3313b500-c24d-11e8-827

[2018-09-27 20:06] Eilon commented on #753
@natemcmaster - ideas?

[2018-09-27 20:53] seancpeters commented on #753
Strange, I'm now getting only subsets of those errors.

For a .NET Framework ASP.NET Core 2.1 Web app with no auth, here's the .csproj:
[code]
And the errors:
![image](https://user-images.githubusercontent.com/20912881/46173933-86413400-c25c-11e8-8003-f5c60ad3de4f.png)

And for a .NET Framework ASP.NET Core 2.1 Web app with individual auth, here's the .csproj file:
[code]
And the errors:
![image](

[2018-09-27 21:41] seancpeters commented on #753
I've just made a new no auth project with the same issue, in a new directory, directly off my c:\ dir, and checked that there is no Directory.Build.props or .targets file in play. I ran restore with /bl (attached in a zip - so I can upload it here)
[msbuild.zip] https://github.com/aspnet/Templating/files/2426010/msbuild.zip
and got this output:
[code]

[2018-09-27 23:18] natemcmaster commented on #753
I tried, still can't reproduce. No clue what's going on. It almost seems as if NuGet has a bug, but I don't think much would have changed between 2.2.100-preview1-009345 and 2.1. Also, our unit tests would have caught something as bad as this.

Can you try clearing your NuGet caches? Maybe there was some sort of corruption there.

[2018-09-27 23:36] jasonshave commented on #747
This makes sense. Didn't think of that scenario :) Thanks!

[2018-09-28 16:36] mkArtakMSFT commented on #753
Closing as there are no pending actions here.

[2018-09-28 16:36] #753 closed

[2018-10-02 04:51] ngohungphuc opened #755 "Release date for angular 6 template ?"
I'm looking around and still that the built in template of VS only support angular 5. Could someone tell me the release date of angular 6 template ?

[2018-10-02 16:52] mkArtakMSFT commented on #755
Correct. The Angular6 work is planned to go out as part of 2.2 release which will be some time later this year.

[2018-10-02 16:52] #755 closed

[2018-10-03 01:56] tkumark opened #758 "[VS2017]Angular-CLI 6 not working on ASP.NET Core with Angular 5.2 project"
I create default Asp.net Core Angular project. Is it possible to used Angular -CLI 6 with Angular 5.2. I did try a bit with by updated the version of typescript and angular cli version in package.json and added angualr.json but still ran it not issues.

[2018-10-03 09:43] mauricedb opened #759 "Remove the package-lock.json from the two React templates"
Please remove the `package-lock.json`. That lock the NPM dependencies like React to exact versions and they should just take the latest in the permissible SemVer range. That is what Create React App does as well. Additionally this suggest using NPM but lot sof people will use Yarn instead and need a `yarn.lock` file instead. That way the appropriate lock file will be generated as appropriate.

[2018-10-03 15:45] mkArtakMSFT commented on #759
Thanks for contacting us, @mauricedb.
@ryanbrandenburg, I remember there was a specific reason we've included the `package-lock.json` in the template. Do you remember what it was?

[2018-10-03 15:51] mkArtakMSFT commented on #758
Thanks for contacting us, @tkumark.
As far as I know, ASP.NET Core has no limitations in terms of the mentioned compatibility. The https://github.com/angular/angular-cli would be a better place to ask this question.

@SteveSandersonMS, please correct me if I'm wrong.

[2018-10-03 16:55] SteveSandersonMS commented on #758
@mkArtakMSFT I agree with your comments.

@tkumark The easiest way to use Angular 6 with ASP.NET Core will be to use the updated Angular template that will ship in ASP.NET Core 2.2. In the meantime you could compare your implementation with [our sources](https://github.com/aspnet/Templating/tree/master/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp) to figure out the differen

[2018-10-03 17:12] Eilon commented on #759
Also tagging @SteveSandersonMS .

[2018-10-03 17:45] SteveSandersonMS commented on #759
The reason we include `package-lock.json` is that, if we didn't, the template could become broken at any moment. This is what used to happen in the early days of the SPA templates before they were officially released.

Since our templates ship inside VS, we can't publish updates at a very fine-grained level of frequency. Customers expect that what we ship should continue working for many months, e

[2018-10-03 17:47] SteveSandersonMS commented on #759
BTW if you want, you can of course delete your `package-lock.json` files at any time, so that you get the latest semver-specified dependencies.

[2018-10-03 18:44] ryanbrandenburg commented on #759
What @SteveSandersonMS said. I'm generally against including generated files in our templates, but in this case it's a necessary evil.

[2018-10-03 18:44] #759 closed

[2018-10-03 18:52] mauricedb commented on #759
Makes sense, agreed.

CRA generates the lock file as needed but only has dependencies the team controls. In this case there are a number of extra dependencies that update at different rates and might not be as well tested as the core React packages.

[2018-10-03 19:07] kasajian opened #760 "/Properties/launchSettings.json should be removed from .gitignore in template content files"
The following files should be updated and /Properties/launchSettings.json should be removed:

        Templating/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/React-CSharp/.gitignore
        Templating/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/.gitignore
        Templating/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/.gitignore

The jus

[2018-10-03 19:12] ryanbrandenburg commented on #748
This was resolved by the work done in aspnet/Home#3544.

[2018-10-03 19:12] #748 closed

[2018-10-04 02:11] chris-herring opened #762 "How to prevent service worker caching a route"
I'm using the React Redux template and API calls within the app work fine and are not being cached by the service worker. However I have a route to download a file that I need to use window.open() to trigger and the service worker causes it to return the 404 react router route I have defined. I've tried hitting it via both a MVC route and a Web API route and both result in the same issue.

How can

[2018-10-04 13:47] SteveSandersonMS commented on #762
This sounds like a question about how to configure Create-React-App's built-in service worker. For information about that, please see Create-React-App (CRA) docs. Note that as far as I know, currently CRA deliberately [doesn't make this very configurable](https://github.com/facebook/create-react-app/issues/2237), so you might need to raise questions with the CRA community if you're having trouble.

[2018-10-04 16:41] #758 closed

[2018-10-04 17:13] mkArtakMSFT commented on #762
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-10-04 17:13] #762 closed

[2018-10-04 22:47] ryanbrandenburg commented on #32
This is blocked pending a decision about how we want to handle the release. I need that information from @Eilon and/or @mkArtakMSFT.

[2018-10-05 10:32] SteveSandersonMS commented on #760
@ryanbrandenburg I agree. These SPA templates should be the same as our other ASP.NET Core templates in terms of whether `launchSettings.json` is gitignored or not.

[2018-10-05 16:12] mkArtakMSFT commented on #750
@KevinBurton, did you get your question answered on StackOverflow? Should this issue be closed or do you still need help from us?

[2018-10-05 20:33] mkArtakMSFT commented on #32
@ryanbrandenburg, please go ahead with the release per the wiki page. I've synced up with @danroth27. We're good to go!

[2018-10-06 03:16] KevinBurton commented on #750
Not yet thank you.

On Fri, Oct 5, 2018 at 11:12 AM Artak <notifications@github.com> wrote:

[2018-10-09 17:28] mkArtakMSFT commented on #750
It would be useful to have a small repro project.

[2018-10-10 00:54] seancpeters opened #767 "ASP.NET Core Web App | .NET Framework | ASP.NET Core 2.1 | Web Application template issue"
When I create a new project in VS with this configuration:
- ASP.NET Core Web App
- .NET Framework
- ASP.NET Core 2.1
- Web Application

The package versions cause a NuGet restore error:
[code]

Here is a .csproj file from the project with this issue:
[code]

I cleared all my NuGet caches just before creating this project and encountering the issue, to avoid a false positive.

Note: I receive the

[2018-10-10 01:50] Eilon commented on #767
@natemcmaster - any idea?

[2018-10-10 02:13] natemcmaster commented on #767
Looks like the same issue we discussed in https://github.com/aspnet/Templating/issues/753. I haven't been able to reproduce this on my own.

[2018-10-10 02:14] seancpeters commented on #767
@natemcmaster - I agree, it does seem similar, but I am consistently reproducing this error.

[2018-10-10 02:17] natemcmaster commented on #767
Just tried it on my laptop. No repro  ¯\\\_(ツ)\_/¯. I wonder if there is something running on your box that messes with the NuGet cache.

[2018-10-10 14:44] gfox1984 opened #768 "Need some samples to implement pre-rendering (isomorphism) in React"
From what I read on the Internet, the template for the react + redux app from [the old repository](https://github.com/aspnet/JavaScriptServices/tree/master/templates) used to implement pre-rendering on server side.

It is now impossible to find any example of a react app that uses pre-rendering on Asp.Net core (2.1).

Please include this to the react + redux template, or create a new project that

[2018-10-10 15:48] gfox1984 opened #769 "Add ESLint configuration to React + Redux project"
# Issue description

The default project created with "dotnet new reactredux" contains  a number of ESLint warnings (eg: "Component definition is missing display name" in App.js) causing most of the files to be highlighted in green or red in Visual Studio (2017 Version 15.8.6).

Please review and correct the warning and errors OR add a working configuration file for ESLint that works better with t

[2018-10-10 16:57] mkArtakMSFT commented on #769
Thanks for contacting us, @gfox1984.
@ryanbrandenburg, can you please look into this? Let's try to resolve what's possible during 2.2.

[2018-10-10 17:01] mkArtakMSFT commented on #768
Thanks for contacting us, @gfox1984.
The new template is well aligned with how the `create-react-app` tool generates the project. At the moment, the tool doesn't have support for prerendering. We'll consider supporting it after the CLI will be updated to support pre-rendering.

[2018-10-10 17:01] #768 closed

[2018-10-10 17:12] ryanbrandenburg opened #770 "Learn More button on Cookie Consent partial doesn't work"
[Customer reports](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/701586/?triage=true) that the button doesn't work. We should investigate and resolve.

[2018-10-10 17:12] mkArtakMSFT commented on #767
@seancpeters, did you try to clean the NuGet cache a is suggested in the referenced issue?
@natemcmaster, you can sync up with @seancpeters and see what's going on his machine.

[2018-10-10 18:19] seancpeters commented on #767
Yes, I cleared my nuget cache just before repro'ing. I have just tried again:
- Clear all nuget cachge
- Create new project with the same configuration as mentioned above.
Same error occurs.

But, after messing around with my nuget sources, I have found a configuration where the error does not occur.

[2018-10-10 18:19] #767 closed

[2018-10-10 19:12] #721 closed

[2018-10-10 19:12] #478 closed

[2018-10-10 19:12] #422 closed

[2018-10-10 19:12] #298 closed

[2018-10-10 21:54] KevinBurton commented on #750
I need the steps needed to add a component.

On Wed, Oct 10, 2018 at 12:27 PM Artak <notifications@github.com> wrote:

[2018-10-10 23:36] ryanbrandenburg commented on #497
@mkArtakMSFT still can't move on this item until aspnet/BasicMiddleware#323 is done, can we triage it?

[2018-10-11 07:08] gfox1984 commented on #768
How about creating a new template whose purpose would be to demonstrate pre-rendering in a simple react + redux app? I haven't been able to find any example on the internet that used the official release of Asp.Net core 2.1 (the only few examples where for RC, and they were advising you to use the now defunct aspnetcore-spa generator...)

[2018-10-11 09:10] tpetrina commented on #750
It is rather simple. In a fresh project, add a new file named `MyComponent.js` to `/ClientApp/src/components` with the following content:

[code]

And in the `Home.js` file add `import MyComponent from './MyComponent';` as the second line. After `</h1>` add `<MyComponent />` and it should work.

If you have something nontrivial, we need your code to see what you did differently. Especially since y

[2018-10-11 15:09] gfox1984 opened #772 "Tests fail when running "npm test" on React + Redux starter project"
Tested with .NET Core SDK 2.1.403:

1. Create a new React + Redux app using "`dotnet new reactredux`"
2. Open the project in Visual Studio 2017 (15.8.6)
3. Run "`npm run test`" inside ClientApp

The test in `App.test.js` fails, see below:

[code]

[2018-10-11 16:46] mkArtakMSFT commented on #772
Thanks for contacting us, @gfox1984.
@ryanbrandenburg, can you please handle this? Thanks!
@gfox1984, would you be interested in submitting a PR to fix this?

[2018-10-11 17:27] mkArtakMSFT opened #773 "Update `unshiftio/url-parse` dependency"
We have the dependency here: https://github.com/aspnet/Templating/blob/master/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json

[2018-10-11 17:59] javiercn commented on #124
@blowdart What should we do here?

[2018-10-11 17:59] mkArtakMSFT commented on #497
yeah, that one will most probably land in 3.0. So pushing this out.

[2018-10-11 18:01] blowdart commented on #124
Size up the fix, and if it @mkArtakMSFT says there's bandwidth, fix it.

[2018-10-11 18:03] javiercn commented on #124
@blowdart I'm asking for your input on the behavio**u**r you expect here.

[2018-10-11 18:07] mkArtakMSFT commented on #772
https://github.com/aspnet/Templating/issues/552

[2018-10-11 18:11] mkArtakMSFT commented on #743
@javiercn, @ryanbrandenburg are there any pending actions in here?

[2018-10-11 18:17] javiercn commented on #743
@mkArtakMSFT I'm going through this right now. I don't think so, I'll close once I confirm.

[2018-10-11 18:18] javiercn commented on #743
Yeah, this is fine to close.

[2018-10-11 18:18] #743 closed

[2018-10-11 18:42] blowdart commented on #124
Add a view which says "An email has been sent to validate your account" or something of that ilk and redirect there.

Fix the external login flow so it verifies emails if enabled.

[2018-10-11 22:29] javiercn commented on #342
Closing this as we are likely not doing it.

[2018-10-11 22:29] #342 closed

[2018-10-11 23:47] KevinBurton commented on #750
Yet all the components in the template are defined with .tsx and .ts.
Getting all the types right seems to be where the bulk of the work is.
Finding the right combination for the component (tsx), the state (ts) and
the dispatch actions (ts) has some how eluded me so far on all but the
simplest components. A good annotated example of an added component that
“reacts” to state changes, accesses state

[2018-10-12 06:58] gfox1984 commented on #772
Yeah actually my issue seems to be a duplicate of #539. I also noticed that App.test.js is now different in the master branch. So I'll give it another try when 2.2.0 is released. You may close this ticket.

[2018-10-12 08:48] SteveSandersonMS commented on #750
@KevinBurton It sounds like you're using the older (pre-ASP.NET Core 2.1) templates. The latest React+Redux template is closer to the original create-react-app (CRA) output and hence is `.js`/`.jsx` only. This is discussed elsewhere on the issue tracker here if you want to search to find more discussion about it.

If you want to continue using the older template with `.tsx`, then it already contai

[2018-10-12 10:46] tpetrina commented on #750
@KevinBurton as @SteveSandersonMS says you are using an older version of templates. I can help you in that regard, but that template is considered archived and not to be used. If you want to use TypeScript with CRA and ASP.NET Core, you have to jump through some hoops.

[2018-10-12 11:39] KevinBurton commented on #750
Thank you. I was just using the template that was available with VS 2017. I
wasn’t aware that it was “old”. How do I get the new version?

On Fri, Oct 12, 2018 at 5:46 AM Toni Petrina <notifications@github.com>
wrote:

[2018-10-12 14:19] tpetrina commented on #750
Which version of .NET Core are you running? Can you run in console:

```dotnet --version```

And also ```dotnet new reactredux -o C:\temp\rrtest``` to see what is actually created?

[2018-10-12 16:50] KevinBurton commented on #750
PS C:\Users\Kevin> dotnet --version
2.1.200
PS C:\Users\Kevin>

This also creates .tsx components with .ts store and state (uses TypeScript)

On Fri, Oct 12, 2018 at 9:19 AM Toni Petrina <notifications@github.com>
wrote:

[2018-10-12 21:53] ryanbrandenburg commented on #32
The only remaining work on this is tracked in another issue.

[2018-10-12 21:53] #32 closed

[2018-10-12 22:14] ryanbrandenburg commented on #527
This is relatively easy in a Mondo-repo, we need only have a well-known folder where site.css and others live and a target that copies them to the right places in the project before it builds. If we wanted to get fancier we could define "snippets" and have some search-replace syntax (Similar to what we do with *.csproj.in files today). I would say that snippets could be a separate issue after we g

[2018-10-14 12:33] iJzFan commented on #768
@gfox1984 Here is a react prerendering template.
[ReactCoreTemplate](https://github.com/JiarongGu/ReactCoreTemplate)

[2018-10-15 17:50] ryanbrandenburg commented on #773
Done! If we could figure out how it is that you see those warnings on GitHub and set it up so I see them too that would be super helpful.

[2018-10-15 17:50] #773 closed

[2018-10-15 19:42] ryanbrandenburg opened #780 "Test for console errors/warnings in templates"
Multiple times now we've missed Errors and warnings that show up in the console of our templates in different circumstances. If we were to add the capacity to confirm no warnings or errors were logged to our functional tests it would likely catch a lot of future mistakes.

[2018-10-15 19:50] simpert commented on #242
I vote to *NOT* use Create react app. It is like a zillion lines of code and who really wants that in a simple boilerplate template. Bring back the much simplified typescript react app template which allowed hacking on very easily I mean after all it provided the webpack.config in the root. I understand wanting to create template off the backs of the react creators but would it be feasible to offe

[2018-10-15 20:14] simpert commented on #242
@SteveSandersonMS please view my comment. I think aspnet users would greatly appreciate a Typescript based template as at least an option then the massive CRA based template as another. I understand the CRA choosing many build tools for you and for getting started with react is very simple. I don't understand why one needs a zillion lines of code to get started with like the CRA starts you off. wi

[2018-10-15 20:53] ryanbrandenburg opened #781 "All tags with an integrity attribute should have "crossorigin="anonymous"""
Fixed by #779.

[2018-10-15 21:47] javiercn commented on #781
What's the reasoning behind this?

[2018-10-15 21:49] ryanbrandenburg commented on #781
Without it we get errors like:
`Subresource Integrity: The resource 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css' has an integrity attribute, but the resource requires the request to be CORS enabled to check the integrity, and it is not. The resource has been blocked because the integrity cannot be enforced.
`

[2018-10-16 06:08] tpetrina commented on #242
While in principle I agree with you, who will create that webpack and maintain it? I don't even want to know about webpack just like I don't care about msbuild script used for building my C# apps. It should be stable and transparent. And I feel that the owners of ASP.NET templates don't want to own it. Which is not necessarily bad.

You can still use the old template, but is it up to date with the

[2018-10-16 18:06] #781 closed

[2018-10-16 20:56] #760 closed

[2018-10-16 22:33] mkArtakMSFT commented on #780
@danroth27, while this may not be a priority from the planning perspective, I would like us to treat this as such, as this will allow us to handle issues ahead of time and not merge PRs which would introduce warnings for new projects.

[2018-10-16 22:36] ryanbrandenburg opened #784 "npm ERR! peer dep missing"
To my knowledge the messages [as seen here](https://github.com/aspnet/Release/issues/322#issuecomment-430387094) have been this way for at least a couple releases, but it would be nice to either add these dependencies or silence the warnings depending on which is cleaner/better.

[2018-10-16 22:37] ryanbrandenburg commented on #784
CC @SteveSandersonMS, do you have a bit more history or knowledge of these?

[2018-10-17 00:06] danroth27 commented on #780
Makes sense.

[2018-10-17 05:11] dougbu opened #785 "Broken link in MVC template's privacy banner"
The "Learn more" link in the MVC template on the privacy banner goes to https://{public IP}:5001/?page=%2FPrivacy and that is the home page with an ignored query string. Shouldn't link go to https://{public IP}:5001/Home/Privacy?

Found while verifying: aspnet/Release#322

[2018-10-17 05:38] dougbu opened #786 "Published apps from MVC, Razor and WebApp projects are incomplete"
#### Repro steps
1. `dotnet new mvc --output mvc`
2. `cd mvc`
3. `dotnet publish`
4. `cd bin/Debug/netcoreapp2.2/publish/`
5. `dotnet mvc.dll`
##### Expected
Similar UI to what `dotnet run` in the project directory provides:
![image](https://user-images.githubusercontent.com/6431421/47064366-03910200-d194-11e8-84b8-a502be31680a.png)
##### Actual
Banners and so on are broken:
![image](https://user-

[2018-10-17 16:37] mkArtakMSFT commented on #786
Thanks @dougbu.
This is a known issue, which is tracked here: https://github.com/aspnet/Templating/issues/781

[2018-10-17 16:37] #786 closed

[2018-10-17 16:39] mkArtakMSFT commented on #785
Thanks @dougbu. This is a dupe of: https://github.com/aspnet/Templating/issues/770

[2018-10-17 16:39] #785 closed

[2018-10-17 16:42] mkArtakMSFT commented on #784
@ryanbrandenburg, why are the references missing? Are we downgrading any transitive dependency somewhere?

[2018-10-17 17:48] adrian109 opened #787 "ASP.NET Core 2.2+ Templates & LibMan"
Hi are there any plans to update the templates to use LibMan for bootstrap, jQuery, jQuery Validate and jQuery Ajax Unobtrusive ?

[2018-10-17 18:04] ryanbrandenburg commented on #784
More on peer dependencies in node/npm [here](https://nodejs.org/en/blog/npm/peer-dependencies/) but the basic idea is that if an npm package defines a peer dependency the referencing package provides it rather than being automatically included. The idea is to prevent dependency graphs like:
[code]
Again, our templates function like we want them to even with these messages, but we want to understan

[2018-10-17 19:27] dougbu opened #791 "Not accepting privacy policy prevents "Verification email sent" display"
When using Bootstrap 4 / .NET Core 2.2 Identity (Individual Auth) templates, "Send verification email" link does not display "Verification email sent" box unless Privacy has been accepted.
#### Repro steps
1. Open Visual Studio after installing latest .NET Core SDK
2. File --> New --> Project&hellip;
3. Click on ASP.NET Core Web Application
4. Click on Web Application or Web Application (Model-Vie

[2018-10-17 20:40] DamianEdwards commented on #712
@ryanbrandenburg here's the issue we were talking about IRL today. Let's get the "Page 1" and "Page 2 " links changed to "Home" and "Privacy" as discussed.

[2018-10-18 00:31] DamianEdwards opened #792 "Add template parameter for cookie consent UI to Web Application project template"
The cookie consent UI in the web application template should be an option in the web application template. I'd make it off by default at the cmd line, and on by default in VS. The option should be visualized in VS with a checkbox. Disabling the option should remove:
- `_CookieConsentPartial.cshtml`
- The `app.UseCookiePolicy()` line in `Startup.cs` (and associated `using`)
- The `services.Configur

[2018-10-18 16:44] mkArtakMSFT commented on #791
@javiercn, can you please look into this. We should fix this as part of 2.2 release.

[2018-10-18 16:48] mkArtakMSFT commented on #787
Thanks for contacting us, @adrian109.
We track this work as part of https://github.com/aspnet/Templating/issues/471.

[2018-10-18 16:48] #787 closed

[2018-10-18 17:34] javiercn commented on #791
@mkArtakMSFT This is by design. What Doug is referring to is the cookie policy, which governs non-essential cookies, like the temp data one. This was discussed at the time and we agreed that it is not guaranteed for the site to work if the cookie policy is not accepted.

This can be opted out by making the temp data cookie essential.
[code]

[2018-10-18 17:55] mkArtakMSFT commented on #444
Closing this as it seems there no action for us to be taken here.

[2018-10-18 17:55] #444 closed

[2018-10-19 00:01] mkArtakMSFT commented on #624
@ryanbrandenburg, please close this if it's not happening any more because of recent changes in infrastructure.

[2018-10-19 22:32] ryanbrandenburg commented on #770
Fixed by #790.

[2018-10-20 13:31] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=581392&buildTypeId=Lite_UniverseTest) on master at 3:43:02 AM:
- RazorPagesTemplate_IndividualAuth_Works_NetCore
- AngularTemplate_Works_NetCore
- RazorPagesTemplate_NoAuth_Works_NetCore
- MvcTemplate_NoAuth_Works_NetCore_ForDe

[2018-10-21 13:11] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=581689&buildTypeId=Lite_UniverseTest) on master at 3:22:09 AM:
- RazorPagesTemplate_IndividualAuth_UsingLocalDB_Works_NetCore
- RazorPagesTemplate_NoAuth_Works_NetCore
- EmptyWebTemplate_Works_NetCore
- AngularTemplate_Works_Ne

[2018-10-22 15:38] SteveSandersonMS commented on #784
Our NPM dependencies should be a superset of those used by the underlying SPA frameworks. For example, in the Angular template, we should have all the same dependencies as the equivalent Angular CLI project does, plus a few extras to support our enhancements.

As such I don't think we should have any missing peer dependencies, except if Angular CLI projects also do.

[2018-10-22 16:44] mkArtakMSFT commented on #750
@KevinBurton, you should be on at least 2.1.300 to get the new templates. Just update to the latest SDK (2.1.403).

[2018-10-22 16:44] #750 closed

[2018-10-22 19:48] #770 closed

[2018-10-23 01:31] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=582246&buildTypeId=Lite_UniverseTest) on master at 3:41:00 PM:
- ReactTemplate_Works_NetCore
- ReactReduxTemplate_Works_NetCore
- EmptyWebTemplate_Works_NetCore
- RazorPagesTemplate_IndividualAuth_Works_NetCore
- MvcTemplate_No

[2018-10-23 22:17] #791 closed

[2018-10-23 23:27] shirhatti opened #795 "2.2 net461 templates should not use in-process hosting model"
ANCM in-proc does not support in-proc. Currently a new 2.2 project targeting net461 fails to run in 15.9-preview4/16.0

[2018-10-24 01:31] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=582667&buildTypeId=Lite_UniverseTest) on master at 3:33:20 PM:
- MvcTemplate_NoAuth_Works_NetCore_ForDefaultTemplate
- WebApiTemplate_Works_NetCore
- RazorPagesTemplate_IndividualAuth_Works_NetCore
- MvcTemplate_IndividualAuth_

[2018-10-24 18:37] #795 closed

[2018-10-25 03:11] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=583243&buildTypeId=Lite_UniverseTest) on master at 5:10:31 PM:
- RazorPagesTemplate_NoAuth_Works_NetCore
- WebApiTemplate_Works_NetCore
- ReactTemplate_Works_NetCore
- RazorPagesTemplate_IndividualAuth_UsingLocalDB_Works_NetCor

[2018-10-25 17:00] ryanbrandenburg commented on #673
As per [this comment](https://github.com/aspnet/BuildTools/pull/824) we are still blocked on taking a 3.0 SDK.

[2018-10-25 17:01] ryanbrandenburg commented on #673
There will be another attempt to take 3.0 SDK once [this issue](https://github.com/dotnet/sdk/issues/2620) is resolved.

[2018-10-25 19:28] ryanbrandenburg commented on #769
Fixed in #796.

[2018-10-25 19:28] #769 closed

[2018-10-25 19:28] ryanbrandenburg commented on #552
Fixed in #796.

[2018-10-25 19:28] #552 closed

[2018-10-25 19:30] ryanbrandenburg commented on #772
We now run these tests as part of our functional tests and have seen no failures of this type. Closing as resolved. Please re-open with updated info if you still see this.

[2018-10-25 19:30] #772 closed

[2018-10-25 22:12] ryanbrandenburg commented on #712
Done in #807.

[2018-10-25 22:12] #712 closed

[2018-10-26 01:41] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=583626&buildTypeId=Lite_UniverseTest) on master at 3:42:40 PM:
- WebApiTemplate_Works_NetCore
- EmptyWebTemplate_Works_NetCore
- MvcTemplate_NoAuth_Works_NetCore_ForDefaultTemplate
- ReactReduxTemplate_Works_NetCore
- MvcTempla

[2018-10-26 09:50] kilianovski commented on #666
I created fresh reactredux template with `dotnet new` and I have this issue.

`dotnet --info` output:

[code]

[2018-10-26 09:52] kilianovski commented on #666
`/api/SampleData/WeatherForecasts?startDateIndex=0` returns me html that says _You need to enable JavaScript to run this app._

[2018-10-26 09:58] kilianovski commented on #666
Every fresh template created with `dotnet new` with options `react` and `reactredux` are brocken for me in this way.

[2018-10-26 18:46] #784 closed

[2018-10-28 01:01] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=584673&buildTypeId=Lite_UniverseTest) on master at 3:10:00 PM:
- RazorPagesTemplate_NoAuth_Works_NetCore
- MvcTemplate_NoAuth_Works_NetCore_ForDefaultTemplate
- RazorPagesTemplate_IndividualAuth_Works_NetCore
- ReactReduxTempla

[2018-10-29 13:21] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585124&buildTypeId=Lite_UniverseTest) on master at 3:24:08 AM:
- RazorPagesTemplate_NoAuth_Works_NetCore
- ReactTemplate_Works_NetCore
- ReactReduxTemplate_Works_NetCore
- EmptyWebTemplate_Works_NetCore
- MvcTemplate_Individual

[2018-10-29 22:02] ryanbrandenburg commented on #483
Is the work here just to add [this line](https://github.com/aspnet/Templating/blob/master/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/vs-2017.3.host.json#L17) to the spa templates, or is there more to this that I'm just not seeing?

[2018-10-30 01:31] aspnet-hello commented on #673
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 11 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585327&buildTypeId=Lite_UniverseTest) on master at 3:38:37 PM:
- RazorPagesTemplate_IndividualAuth_UsingLocalDB_Works_NetCore
- ReactTemplate_Works_NetCore
- MvcTemplate_IndividualAuth_Works_NetCore
- ReactReduxTemplate_Works_N

[2018-10-30 05:42] chris-herring opened #811 "Is there anyway to load settings in the client app?"
I need to load some configuration settings in the React Redux template into the SPA app. I've tried a .env file which works in development but I think the environment variables have to be loaded at build time and are therefore not configurable on the live server. I've been playing with a custom FileProvider but have had no success there either. Is there any method someone can point me to?

[2018-10-30 05:51] aspnet-hello opened #812 "Test failure: RazorPagesTemplate_NoAuth_Works_NetCore"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=585423&buildTypeId=Releases_22xPublic_Win2012) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC mkArtakMSFT

[2018-10-30 05:51] aspnet-hello commented on #812
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-30 05:51] aspnet-hello commented on #812
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 8 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585423&buildTypeId=Releases_22xPublic_Win2012) on 2.2 at 7:45:36 PM:
- RazorPagesTemplate_IndividualAuth_UsingLocalDB_Works_NetCore
- AngularTemplate_Works_NetCore
- EmptyWebTemplate_Works_NetCore
- MvcTemplate_NoAuth_Works_NetC

[2018-10-30 17:01] danroth27 commented on #483
@glennc @lisaguthrie Can you guys provide some guidance on the work needed here?

[2018-10-31 02:31] aspnet-hello commented on #812
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 12 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585865&buildTypeId=Releases_22xPublic_Win2012) on 2.2 at 4:19:22 PM:
- WebApiTemplate_Works_NetCore
- RazorPagesTemplate_IndividualAuth_UsingLocalDB_Works_NetCore
- MvcTemplate_NoAuth_Works_NetCore_ForDefaultTemplate
- AngularT

[2018-10-31 19:56] danroth27 opened #815 "Update React templates to use TypeScript"
[CRA](https://github.com/facebook/create-react-app) now has [support for TypeScript](https://github.com/facebook/create-react-app/pull/4837). We should update the templates to use it.

[2018-11-01 06:41] aspnet-hello commented on #812
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 12 failures [with about the same error](http://aspnetci/viewLog.html?buildId=586466&buildTypeId=Releases_22xPublic_Win2012) on 2.2 at 8:38:09 PM:
- MvcTemplate_NoAuth_Works_NetCore_ForDefaultTemplate
- EmptyWebTemplate_Works_NetCore
- AngularTemplate_Works_NetCore
- RazorPagesTemplate_IndividualAuth_Wor

[2018-11-01 17:13] danroth27 commented on #815
TS only.

[2018-11-02 17:22] ryanbrandenburg opened #819 "Use Node 10"
We seem to have updated out of the package which caused problems with node 10, we should upgrade our CI pipelines and korebuild.json

[2018-11-03 00:37] seancpeters opened #820 "Unhandled Rejection (SyntaxError): Unexpected token < in JSON at position 0 when running the template asp.net core 2.1 + react"
_From @Belka383 on November 2, 2018 22:41_

Hi!
I get an error when running the asp.net core 2.1 project template with react.

My actions in cmd:
1) setx ASPNETCORE_ENVIRONMENT Development /M

My actions in PowerShell:
1) `dotnet new react -o my-new-app`
2) `dotnet build `
3) `dotnet run `
4) open with browser localhost
5) **opening .../fetchdata**

The stack on which I work:
[code]

_Copied from

[2018-11-03 20:49] escalonn commented on #547
I'm encountering this. Windows 10, `dotnet --version` 2.1.403, `node -v` v10.13.0. Reproduction steps:

[code]

The `launchSettings.json` is putting the .NET app at 5000, and the Angular server at a different port which seems to be generated by SpaServices since it's not on my disk.

The Angular code gets its base URL for requests in `main.ts` based on the `base href`, `/`, i.e. the server the web

[2018-11-05 06:32] chris-herring commented on #811
No this it not about ASP.NET Core. This is trivial in ASP .NET Core using razor or whatever templating engine you use as you can easily inject server side variables into the HTML sent to the client. The issue is in this template which loads the static index.html page from disc without providing an entry point to modify it. create-react-app also supports this, it's only this template that does not.

[2018-11-05 18:37] mkArtakMSFT commented on #820
Thanks for contacting us, @Belka383.
@ryanbrandenburg, can you please look into this?

[2018-11-05 18:46] mkArtakMSFT commented on #811
Thanks for clarification, @chris-herring.
@rynowak, can you please look into this? Thanks!

[2018-11-06 04:49] rgwood opened #821 "API in Angular template does not work during local development"
Hi,

I was giving the Angular template that comes installed with .NET Core a try, and I ran into an issue when running it locally using `dotnet run`. I can open the Angular front-end, but it's not able to talk to the ASP.NET Core back-end API because it uses the wrong port.

### Steps to reproduce

[code]
The console will print something like:

[code]

Open http://localhost:50863/ in your local br

[2018-11-06 17:00] mkArtakMSFT commented on #821
Thanks for contacting us, @rgwood.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-11-06 22:35] aspnet-hello commented on #812
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 13 failures [with about the same error](http://aspnetci/viewLog.html?buildId=588931&buildTypeId=Lite_UniverseTest) on master at 12:10:54 PM:
- RazorPagesTemplate_IndividualAuth_Works_NetCore
- AngularTemplate_Works_NetFramework
- AngularTemplate_NoHttps_Works_NetFramework
- WebApiTemplate_Works_NetCore

[2018-11-07 01:21] Eilon commented on #70
@hishamco at this time we don't have plans to ship such a template, so I recommend starting out by writing a new template in your repo

[2018-11-07 18:07] ryanbrandenburg opened #822 "Functional tests are slow"
Our functional tests take 30 seconds to 3 minutes, and based on circumstantial evidence I don't think most of that time is spent in browser automation. We should profile the tests and see where we're spending time, and if it can be trimmed down.

This would be helpful for release turn-around, but even more so for local development, where a full build can take quite a while, making it hard to devel

[2018-11-07 19:11] ryanbrandenburg commented on #822
@sebastienros I'm told you have some infrastructure that makes it easy to profile tests, could you point me in that direction and maybe give me a bit of a primer?

[2018-11-07 19:38] sebastienros commented on #822
There isn't special features for tests. First thing would be to add more log to see in which granular component the time is spent (building, starting the app, or each request).

There is not much usage of profiling in this case, as in Perfview collection for instance, until we know which part of the functional test is the issue.

[2018-11-07 20:02] sebastienros commented on #822
If you can isolate the issue is in the server code that is run (and not the infrastructure that requests this code) then you will need to create an actual web application that can be pointed to, and we can profile on a stable environment.

My gut feeling is that the application is fast, because ASP.NET is fast, but the functional test infrastructure is where most of the time is spent. If it needs

[2018-11-07 20:11] ryanbrandenburg commented on #822
Talked to @sebastienros in person, he says (and after poking at it I agree) that we don't need anything complicated for this scenario, Console.WriteLine of a timer in likely offenders is the best way.

[2018-11-08 20:42] ryanbrandenburg commented on #812
The master problems seem to be caused by Razor. @pranavkm submitted a fix, hopefully it will get through soon.

[2018-11-08 20:51] ryanbrandenburg commented on #483
A reminder that I still need some clarification and guidance from @glennc and/or @lisaguthrie.

[2018-11-08 22:46] lisaguthrie commented on #483
More work required than just updating the template to support Docker. I ran a quick test creating an Angular project and then adding Docker support post-create (which _is_ possible) and F5 failed. I'm guessing the Dockerfile needs to be updated to be Angular/React-aware and ensure all the right bits end up in the Docker image, but someone would need to look into this further to confirm.

[2018-11-08 22:55] ryanbrandenburg commented on #820
@seancpeters I'm attempting to replicate this. In the mean time it would help me to know the following: Does this reproduce with a template created under 2.2? What does the page look like when this happens?

[2018-11-08 22:58] seancpeters commented on #820
@belka383 - Are you able to provide the info requested in the previous comment from @ryanbrandenburg?

[2018-11-08 23:11] aspnet-hello commented on #812
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=590193&buildTypeId=Releases_22xPublic_Win2012) on 2.2 at 11:31:28 AM:
- MvcTemplate_NoAuth_Works_NetFramework_ForFSharpTemplate

[2018-11-08 23:51] ryanbrandenburg commented on #821
Don't open your browser to `http://localhost:50863/`. That's the angular server directly, instead go to `https://localhost:5001`, that's the AspNet server, which should make sure all your endpoints are pointed at the right location.

I know it's kind of confusing to have `** NG Live Development Server is listening on localhost: 50863, open your browser on http://localhost:50863/ **` in the console

[2018-11-08 23:51] #821 closed

[2018-11-08 23:53] rgwood commented on #821
Whoops - that makes sense, thanks for clearing it up!

[2018-11-09 06:30] Meligy commented on #242
It's worth noting that with CRA 2.1 has official [documented](https://facebook.github.io/create-react-app/docs/adding-typescript) TypeScript support via Babel 7. It'll be awesome if we can have a template that uses that!

[2018-11-09 16:57] danroth27 commented on #815
@lflpowell Simply because we have limited resources. We simply cannot support every combination of client-side technologies, so we have to choose which combinations we think will provide the most value.

[2018-11-09 18:06] ryanbrandenburg commented on #483
Which Dockerfile? As far as I can tell there are no Dockerfiles in the aspnet/Templating repo, even for projects [which claim support](https://github.com/aspnet/Templating/blob/9d878dddf1e46b3eb7b11ef91c21fe317e61c005/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/vs-2017.3.host.json#L17). Is the work then to create DockerFiles for ALL the templates in this re

[2018-11-09 19:38] ryanbrandenburg commented on #820
@Belka383, I wasn't able to replicate, but I think I know the problem anyway. Did you go to `localhost:5001` or to `localhost:$SOMEVALUE` where $SOMEVALUE is `Starting create-react-app server on port $SOMEVALUE...` that you saw in the console output? The value from `Starting create-react-app` is the port for the react server, but for things to work properly you need to get served by the AspNetCore

[2018-11-09 19:38] #820 closed

[2018-11-09 19:44] ryanbrandenburg commented on #666
For everyone still having trouble with this, your problem is likely the same as aspnet/Templating#820. That is, you need to be hitting the port of the AspNetCore server instead of the one for react or angular directly.

[2018-11-09 19:56] ryanbrandenburg commented on #811
It's still not clear to me what the problem here is. If you just want to programatically construct your page instead of having it be the same every time check out what we did on the [Counter](https://github.com/aspnet/Templating/blob/master/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Counter.js#L12) or [FetchData](https://github.com/aspnet/Templ

[2018-11-09 23:33] ryanbrandenburg commented on #812
Previous failures were fixed by SDK changes/updates, latest failure was an agent problem since resolved.

[2018-11-09 23:33] #812 closed

[2018-11-10 11:34] eSPiYa opened #830 "Issue with Angular 7 on Docker"
Creating a new ASP.NET Core with Angular project then adding Docker support after, works fine by installing Node.js through the dockerfile:
[code]
Upgrading the Angular from 5 to 6 to 7 works with this setup. Deleting the ClientApp then re-create it with Angular 6(tested 6.2.7) works fine with Docker too. But re-creating the ClientApp with Angular 7(7.0.5), I can only see a page with "Cannot GET /

[2018-11-13 19:20] mkArtakMSFT commented on #830
Thanks for contacting us, @eSPiYa.
We haven't yet brought support for Angular 7 to our templates, but it's something we plan to handle as part of https://github.com/aspnet/Templating/issues/694.

[2018-11-13 19:21] #830 closed

[2018-11-13 22:06] mkArtakMSFT commented on #811
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-11-13 22:06] #811 closed

[2018-11-16 18:50] shirhatti opened #837 "Remove <AspNetCoreHostingModel> project property from 3.0 templates"
We've already changed the websdk defaults(https://github.com/aspnet/websdk/pull/407), so at this point it's redundant.

cc @Eilon

[2018-11-17 21:52] wysisoft commented on #124
Can you point me to the implementation of this so I can copy it into my project instead of upgrading my entire project?

[2018-11-21 12:59] cilerler opened #838 "What is the markdown syntax for templating"
I have a [.NET Core template](https://github.com/cilerler/burcin/blob/master/dist/.template.config/template.json) and wondering how I can hide partial content from markdown file based on the flags set?

As you may see below I tried what I do in CS project files but it didn't work.

## README.md

[code]

[2018-11-21 22:53] mkArtakMSFT commented on #838
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-11-21 22:54] mkArtakMSFT commented on #838
@ryanbrandenburg can you please answer this question when you'll get time? Thanks!

[2018-11-22 14:56] cilerler commented on #838
Based on answer @poke provided in [StackOverflow](https://stackoverflow.com/a/53432496/439130) adding code below into **template.json** solves the issue.

[code]

[2018-11-22 14:56] #838 closed

[2018-11-24 15:02] Belka383 commented on #820
Hi!

I create repository: https://github.com/Belka383/wsbareact.git
To repeat the error, you must:

1) git clone this repository;
2) open wsbareact;
3) dotnet build;
4) sd ClientApp and run npm install;
5) npm start;
6) open http://localhost:3000
7) open wsbareact.csproj in Visual Studio 2017 (version 15.9.2);
8) run wsbareact profile (not IIS Express);
9) open http://localhost:3000/fetch-data

Wh

[2018-11-24 15:14] Belka383 commented on #820
I use port 49917, which is discussed in the issue #1788, but again I get an error:
![image](https://user-images.githubusercontent.com/10748155/48969800-c5012980-f014-11e8-869d-22989b3cf6ae.png)

[2018-11-24 15:16] Belka383 commented on #820
@seancpeters , @ryanbrandenburg -  please give feedback

[2018-11-26 18:31] ryanbrandenburg commented on #820
@Belka383 it looks like you've made some modifications to the default templates:
[code]

After reverting those try these steps:
1. git clone this repository;
2. Navigate to wsbareact in the terminal.
3. `dotnet run`
4. open https://localhost:5001/fetch-data

The SpaServices stuff will do all your npm install and npm run, you don't need to manage that yourself (and it's likely to cause problems if

[2018-11-27 20:19] Korigoth commented on #694
any ETA for this ?

[2018-11-27 20:57] Belka383 commented on #820
@ryanbrandenburg
Hi, after the described actions I get the following error:
![image](https://user-images.githubusercontent.com/10748155/49111018-0822fd00-f2a0-11e8-943d-e9d82384398d.png)

[2018-11-27 21:03] ryanbrandenburg commented on #820
Sounds like your request header has Non-ASCII characters in it. Find out what they are and stop that from happening. Something like Wireshark can be useful for this kind if you're not sure where it might be coming from.

[2018-11-29 11:52] Dave3of5 commented on #81
Is there any update on this? It's been a while since I raised this. @brockallen do you have an example of hosting an API, IdentityServer and a Spa all within the same project that I can try ?

[2018-12-01 12:04] Belka383 commented on #820
@ryanbrandenburg @seancpeters Hi!
The problem disappeared after I reset the windows...
Семь бед - один RESET ;-)

[2018-12-04 13:32] nokturnal commented on #694
Also waiting for this, a rough ETA would be appreciated

[2018-12-04 13:33] Korigoth commented on #694
@nokturnal it seems it will be released with DotNetCore 3.0 as we see it's in the preview atm

[2018-12-04 13:36] nokturnal commented on #694
@Korigoth though not ideal, I appreciate the feedback. Thanks

[2018-12-10 22:46] ryanbrandenburg commented on #483
@glennc it's unclear what the requirements are on this issue.

CC @mkArtakMSFT.